{% load static %}
{% load i18n %}
{% load extras %}


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>

<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
 --><script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<script src="{% static 'js/jssh.js'%}"></script>
<title>Profile | Lifer</title>
<link rel="icon" href="/media/file_{{count}}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style>
	#ff{
      display:none;
      opacity:0;
      }
@media screen and (max-width: 680px){

.ficrtm{
  width: 100%;
    height: 95%;
    top:20px;
    padding-left: 5px;
    padding-right: 5px;

    position:fixed;
    background-color:white;overflow:auto;
}
}
@media screen and (min-width: 680px) and (max-width: 1100px){
  .ficrtm{
    width: 80%;
    height: 95%;
    top:20px;
   padding-left: 5px;
    padding-right: 5px;
    position:fixed;
    background-color:white;overflow:auto;
    margin-left:12%;
    margin-right:12%;
  
  }
}
@media screen and (min-width: 1100px) {

  .ficrtm{
    width: 50%;
    height: 95%;
    top:20px;
   padding-left: 5px;
    padding-right: 5px;

    position:fixed;
    background-color:white;overflow:auto;
    margin-left:20%;
    margin-right:20%;
  
  }    

}


</style>
<script>

function putlog(id){

	//alert(id.src);
$("#putlogo").attr("src",id.src);
$("#hidlogo").val(id.src);


}




$(document).ready(function(){


$(".focrtm").click(function(){
document.location='../hometour/';

});


$(".hoot").keyup(function(event){
	
	if(event.which==13){
		//alert($(this).val());
		$(this).val("");
	}
});

$('.like').click(function(){
	var abc = $(this).attr('value');
	var def = abc.split(".");
	//alert(abc);
      $.ajax({
               type: "POST",
               url: "../hit/",
               data: {'sluge':def[0],'slug': def[1] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       //alert(response.z);
                       $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          }); 
    });

$('.m').click(function(){
	var q = $(this).html();
	var chatid=q.split("_");
	chtid=chatid[1].split("\"");
	var naame = q.split("<td width=\"70%\"><div style=\"font-size:14px;\">");
	var naam = "";
 	naam=naame[1].split("</div>");


	
	      $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                       		

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          }); 
    });


	

	$('.comment').click(function(){
	var abc = $(this).attr('value');

	var d = abc.split(".");
	var def = $('.'+d[1]).val();
	 if(def!=""){
	 
      $.ajax({
               type: "POST",
               url: "../comment/",
               data: {'sluge': d[0] ,'slug': d[1] ,'coment': def , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {

               			var dataa = response;
               			//dataa=dataa.replace(/[\n+]/,"\n");
               			var dat=dataa.split("@#$");
						var str="";

						for(i=0;i<dat.length-1;i++){

							if(i%4==0){
						str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
							}
						if(i%4==1){

						str+=" <b>"+dat[i]+" :: </b>";
							}
						if(i%4==2){

						str+=dat[i]+"<br>";
							}
						

						}
						var pqr = $(".commentsss").html();
						$(".commentsss").html(pqr+str);
                       $("#textarea1").html(pqr+str);
                       
                       console.log(response.z+"abc");
                        // alert(response.z);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          });
          } 
    });
    $('.opine').click(function(){
	var abc = $(this).attr('value');

	var def = abc.split(".");



      $.ajax({
               type: "POST",
               url: "../opine/",
               data: {'sluge': def[0] ,'slug': def[1] ,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
               			//alert(response.z);
               			var dataa = response.z;
               			//dataa=dataa.replace(/[\n+]/,"\n");
               			var dat=dataa.split("@#$");
						var str="";

						for(i=0;i<dat.length-1;i++){

							if(i%4==0){
						str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
							}
						if(i%4==1){

						str+=" <b>"+dat[i]+" ::</b>";
							}
						if(i%4==2){

						str+=dat[i]+"<br>";
							}
						

						}
						$(".commentsss").html(str);
						$("#textarea1").html(str);
					 if(response.z!="NO"){
                       	
						 $("#c12").show();
							
						}
						else{
						$("#c12").hide();
							
						}
						$("#c12").scrollTop($("#textarea1").prop("scrollHeight"));
						
                       console.log(dataa);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          }); 
    });

});

</script>

</head>
<body style="background-color:rgb(213, 218, 226);">
 	 {% include 'nav.html' %}
<div style="width:100%;height:100%;background-color:black;opacity:0.5;position:fixed;top:0px;" class="focrtm"></div>

<div class="page">
	
<div style="background:url('/media/q3.jpg');background-size: 100% 100%;
    background-repeat: no-repeat;border-radius: 5px;" class="ficrtm"> 
   	  		<center>
   	  		 <h2 style="margin-bottom:-30px;" class="texts"><div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;"class="logtm">
   	  		  <img src="{%static 'cafe.jpg'%}" onclick="putlog(this)" style="width:80px;height:80px;"> 
   	  		</div> 
   	  		 {{t.trip_name}}</h2> <br><br>
   	  		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="texts">Welcome in {{t.trip_name}} </span></center> 
   	  		<center> <h4 class="texts">Restaurant &amp; Enjoy your meal...</h4> 
   	  		<div style="background-color: rgba(255,255,255,0.6);border:1px solid #26885B;width:60%;border-radius:10px;height:400px;overflow-y:auto;">
            <form method="post" action="" enctype="multipart/form-data">
               {% csrf_token %}
               <input name="traveller" style="display:none;background: rgba(255,255,255,0.6);" value="{{i.id}}">

   	  		 <table style="width:100%;"> 

   	  		 	

   	  		 {%for c in a%}  
   	  		 	<tr style="padding-left:30px;width:100%;"> 
   	  		 		<td width="15%" align="right"><div id="timg" ><img src="/media/file_{{c.id}}.jpg" style="width:100%;"></div></td>
   	  		 		<td width="50%" style="padding-left:15px;"><div style="font-size:14px;"><a href="../{{c.id}}" style="color: black;">{{c.first_name}} {{c.last_name}}</a></div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>

   	  		 		<td width="5%"></td>
   	  		 		 
   	  		 	</tr>  {%endfor%} </table></div><button type="submit" class="button1" style="margin-top:10px;height:30px;">Join the Trip</button>&nbsp;&nbsp; </form> <a href="../home"><button class="button1" style="margin-top:10px;height:30px;">Back</button></a></center>

   	  		 	 </div>

</div>

















{% include 'picframe.html'%}
</body>
