<form action="{% url 'polls:check' %}" method='post'>
{% csrf_token %}
<label>username</label>  <input type='text' name='user'/> <br/>
<label>password</label>  <input type='password' name='password'/> <br/>
<input type='submit'/>
</form>
<a href="{% url 'polls:signup' %}" >SIGNUP</a>
<a href="{% url 'polls:take_email' %}" >forgot password</a>

