{% load static %}



{% load i18n %}

{% load extras %}


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" 
 href="{%static 'css/css2t.css'%}"/>
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">


<style type="text/css">
	.coverpic{
		height:300px;background-color:;margin-top:45px;overflow:hidden;border-bottom:1px solid red;background:url('/static/interests/{{i.current_intrest}}.jpg') 100% fixed;background-size:cover;display:inline-block;
    
-webkit-filter: blur(12px);
-moz-filter: blur(12px);
-o-filter: blur(12px);
-ms-filter: blur(12px);z-index:1;
	}
	.frame5{
		box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
		border-radius:0px;
	}
</style>
<script type="text/javascript">
	
	$(function(){

		$(".myname").html($(".myname").html().toLowerCase());

		$(".myname").css("text-transform","capitalize");
		$(".ptoedit").click(function(){

			$(".stoedit").show();
			$(".goedit").hide();
		})
	});

</script>


<style type="text/css">]

#up1,#up2,#up3{
	background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}

.textarea{
	background-color: rgba(255,255,255,1);

}

</style>

<script>





$(document).ready(function(){
	$(".frame1").scroll(function(){
							$(".frame1").scrollTop({{i.cov_fix|first}});
					//s		$(window).scrollTop($(window).scrollTop()+5);

						}); 



var post=0;

$.ajax({
               type: "POST",
               url: "../studs/",
               data: {'id':'{{i.id}}','csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      
               		//console.log(response[0].pk);
                      // alert(response[1].fields.identity);
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });





	$(".frame1").scrollTop({{i.cov_fix|first}});
			

$(".frame1").css("cursor","hand");


var down=false;
var scrollTop=0;
var x = 0;







});


</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background-color:rgba(100,100,255,0.1);">
<div class="page" style="background:transparent;">
	<div style="display:inline-block;" class="adjust">
	<div class="coverpic" style="">
	</div>
	<div style="background-color:rgba(0,0,0,0.4);height:347px;" class="mynewdp"><br><br>
	<br>
		<center>
		<div style="width:190px;height:190px;background-color:white;padding:5px;border-radius:190px;overflow:hidden;">
		<img src="/media/file_p{{i.id}}_{{i.prof_pic|last}}.jpg" class="img-responsive"   onclick="port(this);" value="{{c.post_time}}" id="mydp" style="width:180px;height:180px;border-radius:180px;" id="mydp">
			
		</div>
	
		<br>
		<span style="color:white;font-size:25px;" class="myname">
			{{i.first_name}} {{i.last_name}} 

		</span>
		<center style="color:white;">
		<b> Interested in:</b>&nbsp;&nbsp;&nbsp;{{i.current_intrest}}<br>
		
	</center>
	<br>
	
		</center>
	</div>
<style type="text/css">
  .tabbtn{
    width:25%;margin:0px;height:35px;font-size:15px;background-color:rgba(1,76,66,1);border:none;color:white;border-bottom:2px solid black;border-top:2px solid rgb(1,76,66);transition:all 0.2s;
  }
  .tabbtn:hover{
    background: white;
    color:rgb(1,76,66);
    border-bottom: none;

}
    </style>

<style type="text/css">



</style>

<center>
	<div style="font-size:0px;margin-top:-5px;" class="adjust">
	<a href="../about/?q={{i.id}}" style="color:black;">
    <button style="background-color:transparent;color:rgb(1,76,66);border:2px solid rgb(1,76,66);border-bottom:none;"  class="tabbtn"><b>About</b></button>
  </a><a href="../friends/?q={{i.id}}" style="color:black;">
  <button style="" class="tabbtn"><b>Following</b></button>
  </a>
  <a href="../photo/?q={{i.id}}" style="color:black;"><button style="" class="tabbtn"><b>Photos</b></button></a>
  <a href="../allposts/" style="color:black;"><button style="" class="tabbtn"><b>All Posts</b></button></a>
	</div>
	<div style="font-size:17px;">
	<div style="width:100%;background-color:white;">
	{% if i.id == b %}<form class="sign2" style="color:black;display:inline;" method = "post" action=""> {% csrf_token %}<!-- 
<i class="fa fa-pencil ptoedit" aria-hidden="true" style="font-size:30px;color:black;float:right;margin-right:40px;cursor:pointer;"></i> -->
<img src="/media/newmedia/animaticons-download/pencil/animat-pencil-color.gif" style="width:60px;color:black;float:right;margin-right:40px;cursor:pointer;" class="fa fa-pencil ptoedit">	{% endif %}
<br>
	<table style="width:100%;margin-left:20px;">
		<tr {%if not i.year%} style="display:none;" class="stoedit"{%endif%}>
			<td><b>Year of Birth:</b></td>
			<td><span class="goedit">{{i.year}}</span>
			<input type="number" name="YOB" value="{{i.year}}" style="display:none;" class="stoedit"></td>
		</tr>
		<tr {%if not i.hometown%} style="display:none;" class="stoedit"{%endif%}>
			<td><b><b>City:</b></b></td>
			<td><span>{{i.hometown}}</span></td>
		</tr>
		<tr {%if not i.work%} style="display:none;" class="stoedit"{%endif%}>
			<td><b>Organization:</b></td>
			<td><span class="goedit">{{i.work}}</span><input type="text" value="{{i.work}}" style="display:none;" class="stoedit" name="organization"></td>
		</tr>
		<tr {%if not i.current_place%} style="display:none;" class="stoedit"{%endif%}>
			<td><b>Nearby:</b></td>
			<td><span >{{i.current_place}}</span>
        <input type="text" name="place" value="{{i.current_place}}" style="display:none;"></td>
		</tr>
		<tr >
			<td><b><b>Gender:</b></b></td>
			<td><span class="goedit">{%if i.male%}Male{%else%}Female{%endif%}</span>
			<span style="display:none;" class="stoedit">
				<input type="radio" name="male" value="1" {%if i.male%} checked="checked" {% endif %}> Male <input type="radio" value="0" name="male" {%if not i.male%} checked="checked" {% endif %}> Female
			</span></td>
		</tr>
		<tr >
			<td><b><b>Email:</b></b></td>
			<td><span>{{email}}</span></td>
		</tr>
		<tr {%if not i.work_as%} style="display:none;" class="stoedit"{%endif%}>
			<td><b><b>Studies:</b></b></td>
			<td><span class="goedit">{{i.work_as}}</span><input type="text" value="{{i.work_as}}" name="work" style="display:none;" class="stoedit"></td>
		</tr>
    <tr {%if not i.phone_number%} style="display:none;" class="stoedit"{%endif%}>
      <td><b><b>Contact:</b></b></td>
      <td><span class="goedit">{{i.phone_number}}</span><input type="text" value="{{i.phone_number}}" name="contact" style="display:none;" class="stoedit"></td>
    </tr>
		<tr>
			<td><b><b>Current Interest:</b></b></td>
			<td>{{i.current_intrest}}</td>
		</tr>
		
	</table>
	<br>
<button class="stoedit" id="submit" style="font-size:14px;display: none;float:right;margin-right:20px;">Submit Changes</button>
{% if i.id == b %}
</form>
{% endif %}
	<br>

	</div>

	
		



{% for t in trips %}



	








{% if t.trip_city_from == "Gaming" %}


<div class="frame5" style="padding:0px;">

  <div style="width:100%;height:100px;background-color:#058c7a;padding-top:8px;">
    <table style="width:100%;"><tr>
    <td style="width:77%;color:white;padding-left:12px;"><span style="font-size:22px;margin-left:8px;">{{t.trip_name|truncatechars:30}}</span>
      
   </td>
    <td style="width:23%;color:white;border-left:1px solid white;padding-left:8px;"><br>
      <span style="font-size:25px;">{{t.trip_from|date:"d"}}</span><br>
      <span style="font-size:15px;">{{t.trip_from|date:"F"}}</span><br>
      
    </td></tr>
    </table>
  </div>
<div style="width:100%;padding:0px;font-size:0px;">
  <div style="display:inline-block;width:40%;display:inline-block;float:left;padding:7px;max-height:200px;overflow:auto;">
     <table style="width:100%;">
        
        {%for k in t.trip_memb%}
        {% for j in a|gory:k%}
            <tr class="showcross_gaming_{{t.id}}_{{j.id}}">
            <td style="width:30%;display:inline-block;"><img src="/media/file_p{{j.id}}_{{j.prof_pic|last}}.jpg" class="hideimg_gaming_ hideimg_gaming_{{t.id}}"  style="width:32px;height:32px;border-radius:7px;"><img src='/media/cross.jpg' class="showcross_gaming_ showcross_gaming_{{t.id}}" title="Remove" style="display:none;width:32px;height:32px;border-radius:32px;" onclick="removeit_gaming_({{j.id}},{{t.id}})"></td>
            <td style="width:70%;"><a href="../{{j.id}}/" style="color:black;font-size:15px;">
            {{j.first_name}}</a><br>
            <span style="font-size:12px;">Age:{{j.year|age}} , {{j.current_intrest}}</span></td>
            </tr>
            {%endfor%}
          {%endfor%}
            
          </table>

  </div>
  <div style="display:inline-block;width:60%;padding-top:20px;padding-left:14px;border-left:1px solid rgba(0,0,0,0.2);">
     <center><span style="font-size:22px;">

     IP : {{t.trip_city}}
     </span>    
     <br><span style="font-size:16px;">Starting Time:{{t.trip_from|time:"f A"}}</span>  
        </center>
        <span style="font-size:13px;margin-left:15px;margin-bottom:15px;"><br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="rem_gaming_ rem_gaming_{{t.id}}">- {{t.remark}}</span>
        <textarea class="remedit_gaming_ remedit_gaming_{{t.id}}" style="display:none;">{{t.remark}}</textarea><br></span>
        <div style="font-size:12px;float:right;padding-right:15px;margin-top:15px;margin-bottom:15px;">
        {% if b not in t.trip_memb %}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendjoin_gaming_" value="{{t.id}}" onclick="hide(this)">Request</button>
        {%elif b == t.trip_memb|first%}
          

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendedit_gaming_ sendedit_gaming_{{t.id}}" value="{{t.id}}">Edit</button>
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;display:none;" class="showedit_gaming_ showedit_gaming_{{t.id}}" value="{{t.id}}">Submit</button>

        {%else%}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>
       
        {%endif%}
        <br>
         </div>
  
  </div>
</div>
</div>








{%elif t.trip_mode == "Cab" %}


<div class="frame5" style="padding:0px;">

  <div style="width:100%;height:100px;background-color:#058c7a;padding-top:8px;">
    <table style="width:100%;"><tr>
    <td style="width:36%;color:white;padding-left:12px;"><center>
      <span style="font-size:22px;margin-left:8px;">{{t.trip_city_from|split_text:"0"}}</span>
      <br><span style="font-size:13px;">{{t.trip_city_from|split_text:"1"}}</span></center>
   </td>
    <td style="width:5%;color:white;"> 
    <span style="font-size:13px;"> To </span>
    </td>
    <td style="width:36%;color:white;"><center>
      <span style="font-size:22px;">{{t.trip_city|split_text:"0"}}</span>
       <br><span style="font-size:13px;">{{t.trip_city|split_text:"1"}}</span></center>
    </td>
    <td style="width:23%;color:white;border-left:1px solid white;padding-left:8px;">
    <span style="font-size:14px;">{{t.trip_from|time:"f A"}}</span>
    <br>
      <span style="font-size:25px;">{{t.trip_from|date:"d"}}</span><br>
      <span style="font-size:15px;">{{t.trip_from|date:"F"}}</span><br>
      
    </td></tr>
    </table>
  </div>
<div style="width:100%;padding:0px;font-size:0px;">
  <div style="display:inline-block;width:40%;display:inline-block;float:left;padding:7px;max-height:200px;overflow:auto;">
     <table style="width:100%;">
        
        {%for k in t.trip_memb%}
        {% for j in a|gory:k%}
            <tr class="showcross_cabsharing_{{t.id}}_{{j.id}}">
            <td style="width:30%;display:inline-block;"><img src="/media/file_p{{j.id}}_{{j.prof_pic|last}}.jpg" class="hideimg_cabsharing_ hideimg_cabsharing_{{t.id}}"  style="width:32px;height:32px;border-radius:7px;"><img src='/media/cross.jpg' class="showcross_cabsharing_ showcross_cabsharing_{{t.id}}" title="Remove" style="display:none;width:32px;height:32px;border-radius:32px;" onclick="removeit_cabsharing_({{j.id}},{{t.id}})"></td>
            <td style="width:70%;"><a href="../{{j.id}}/" style="color:black;font-size:15px;">
            {{j.first_name}}</a><br>
            <span style="font-size:12px;">Age:{{j.year|age}} , {{j.current_intrest}}</span></td>
            </tr>
            {%endfor%}
          {%endfor%}
            
          </table>

  </div>
  <div style="display:inline-block;width:60%;padding-top:20px;padding-left:14px;border-left:1px solid rgba(0,0,0,0.2);">
     <center><span style="font-size:22px;">{{t.trip_name}}</span>      
        </center>
        <span style="font-size:13px;margin-left:15px;margin-bottom:15px;"><br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="rem_cabsharing_ rem_cabsharing_{{t.id}}">- {{t.remark}}</span>
        <textarea class="remedit_cabsharing_ remedit_cabsharing_{{t.id}}" style="display:none;">{{t.remark}}</textarea><br></span>
        <div style="font-size:12px;float:right;padding-right:15px;margin-top:15px;margin-bottom:15px;">
        {% if b not in t.trip_memb %}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendjoin_cabsharing_" value="{{t.id}}" onclick="hide(this)">Request</button>
        {%elif b == t.trip_memb|first%}
          

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendedit_cabsharing_ sendedit_cabsharing_{{t.id}}" value="{{t.id}}">Edit</button>
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;display:none;" class="showedit_cabsharing_ showedit_cabsharing_{{t.id}}" value="{{t.id}}">Submit</button>

        {%else%}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>
       
        {%endif%}
        <br>
         </div>
  
  </div>
</div>
</div>  





{%elif t.trip_city_from == "Film" %}


<div class="frame5" style="padding:0px;">

  <div style="width:100%;height:100px;background-color:#058c7a;padding-top:8px;">
    <table style="width:100%;"><tr>
    <td style="width:77%;color:white;padding-left:12px;"><span style="font-size:22px;margin-left:8px;">{{t.trip_city|truncatechars:30}}</span>
      
   </td>
    <td style="width:23%;color:white;border-left:1px solid white;padding-left:8px;"><br>
      <span style="font-size:25px;">{{t.trip_from|date:"d"}}</span><br>
      <span style="font-size:15px;">{{t.trip_from|date:"F"}}</span><br>
      
    </td></tr>
    </table>
  </div>
<div style="width:100%;padding:0px;font-size:0px;">
  <div style="display:inline-block;width:40%;display:inline-block;float:left;padding:7px;max-height:200px;overflow:auto;">
     <table style="width:100%;">
        
        {%for k in t.trip_memb%}
        {% for j in a|gory:k%}
            <tr class="showcross_movies_{{t.id}}_{{j.id}}">
            <td style="width:30%;display:inline-block;"><img src="/media/file_p{{j.id}}_{{j.prof_pic|last}}.jpg" class="hideimg_movies_ hideimg_movies_{{t.id}}"  style="width:32px;height:32px;border-radius:7px;"><img src='/media/cross.jpg' class="showcross_movies_ showcross_movies_{{t.id}}" title="Remove" style="display:none;width:32px;height:32px;border-radius:32px;" onclick="removeit_movies_({{j.id}},{{t.id}})"></td>
            <td style="width:70%;"><a href="../{{j.id}}/" style="color:black;font-size:15px;">
            {{j.first_name}}</a><br>
            <span style="font-size:12px;">Age:{{j.year|age}} , {{j.current_intrest}}</span></td>
            </tr>
            {%endfor%}
          {%endfor%}
            
          </table>

  </div>
  <div style="display:inline-block;width:60%;padding-top:20px;padding-left:14px;border-left:1px solid rgba(0,0,0,0.2);">
     <center><span style="font-size:22px;">

     {{t.trip_name}}
     </span>      
        </center>
        <span style="font-size:13px;margin-left:15px;margin-bottom:15px;"><br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="rem_movies_ rem_movies_{{t.id}}">- {{t.remark}}</span>
        <textarea class="remedit_movies_ remedit_movies_{{t.id}}" style="display:none;">{{t.remark}}</textarea><br></span>
        <div style="font-size:12px;float:right;padding-right:15px;margin-top:15px;margin-bottom:15px;">
        {% if b not in t.trip_memb %}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendjoin_movies_" value="{{t.id}}" onclick="hide(this)">Request</button>
        {%elif b == t.trip_memb|first%}
          

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendedit_movies_ sendedit_movies_{{t.id}}" value="{{t.id}}">Edit</button>
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;display:none;" class="showedit_movies_ showedit_movies_{{t.id}}" value="{{t.id}}">Submit</button>

        {%else%}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>
       
        {%endif%}
        <br>
         </div>
  
  </div>
</div>
</div> 



 



{%elif t.trip_city_from == "Quicky" %}


<div class="frame5" style="padding:0px;">

  <div style="width:100%;height:100px;background-color:#058c7a;padding-top:8px;">
    <table style="width:100%;"><tr>
    <td style="width:77%;color:white;padding-left:12px;"><span style="font-size:22px;margin-left:8px;">{{t.trip_name|truncatechars:30}}</span>
      
   </td>
    <td style="width:23%;color:white;border-left:1px solid white;padding-left:8px;"><br>
      <span style="font-size:25px;">{{t.trip_from|date:"d"}}</span><br>
      <span style="font-size:15px;">{{t.trip_from|date:"F"}}</span><br>
      
    </td></tr>
    </table>
  </div>
<div style="width:100%;padding:0px;font-size:0px;">
  <div style="display:inline-block;width:40%;display:inline-block;float:left;padding:7px;max-height:200px;overflow:auto;">
     <table style="width:100%;">
        
        {%for k in t.trip_memb%}
        {% for j in a|gory:k%}
            <tr class="showcross_quicky_{{t.id}}_{{j.id}}">
            <td style="width:30%;display:inline-block;"><img src="/media/file_p{{j.id}}_{{j.prof_pic|last}}.jpg" class="hideimg_quicky_ hideimg_quicky_{{t.id}}"  style="width:32px;height:32px;border-radius:7px;"><img src='/media/cross.jpg' class="showcross_quicky_ showcross_quicky_{{t.id}}" title="Remove" style="display:none;width:32px;height:32px;border-radius:32px;" onclick="removeit_quicky_({{j.id}},{{t.id}})"></td>
            <td style="width:70%;"><a href="../{{j.id}}/" style="color:black;font-size:15px;">
            {{j.first_name}}</a><br>
            <span style="font-size:12px;">Age:{{j.year|age}} , {{j.current_intrest}}</span></td>
            </tr>
            {%endfor%}
          {%endfor%}
            
          </table>

  </div>
  <div style="display:inline-block;width:60%;padding-top:20px;padding-left:14px;border-left:1px solid rgba(0,0,0,0.2);">
     <center><span style="font-size:22px;">

     {{t.trip_from|time:"f A"}}
     </span>      
        </center>
        <span style="font-size:13px;margin-left:15px;margin-bottom:15px;"><br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="rem_quicky_ rem_quicky_{{t.id}}">- {{t.remark}}</span>
        <textarea class="remedit_quicky_ remedit_quicky_{{t.id}}" style="display:none;">{{t.remark}}</textarea><br></span>
        <div style="font-size:12px;float:right;padding-right:15px;margin-top:15px;margin-bottom:15px;">
        {% if b not in t.trip_memb %}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendjoin_quicky_" value="{{t.id}}" onclick="hide(this)">Request</button>
        {%elif b == t.trip_memb|first%}
          

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendedit_quicky_ sendedit_quicky_{{t.id}}" value="{{t.id}}">Edit</button>
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;display:none;" class="showedit_quicky_ showedit_quicky_{{t.id}}" value="{{t.id}}">Submit</button>

        {%else%}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>
       
        {%endif%}
        <br>
         </div>
  
  </div>
</div>
</div> 





{%elif t.trip_city_from == "Cafe" %}


<div class="frame5" style="padding:0px;">

  <div style="width:100%;height:100px;background-color:#058c7a;padding-top:8px;">
    <table style="width:100%;"><tr>
    <td style="width:77%;color:white;padding-left:12px;"><span style="font-size:22px;margin-left:8px;">{{t.trip_name|truncatechars:30}}</span>
      
   </td>
    <td style="width:23%;color:white;border-left:1px solid white;padding-left:8px;"><br>
      <span style="font-size:25px;">{{t.trip_from|date:"d"}}</span><br>
      <span style="font-size:15px;">{{t.trip_from|date:"F"}}</span><br>
      
    </td></tr>
    </table>
  </div>
<div style="width:100%;padding:0px;font-size:0px;">
  <div style="display:inline-block;width:40%;display:inline-block;float:left;padding:7px;max-height:200px;overflow:auto;">
     <table style="width:100%;">
        
        {%for k in t.trip_memb%}
        {% for j in a|gory:k%}
            <tr class="showcross_rest_{{t.id}}_{{j.id}}">
            <td style="width:30%;display:inline-block;"><img src="/media/file_p{{j.id}}_{{j.prof_pic|last}}.jpg" class="hideimg_rest_ hideimg_rest_{{t.id}}"  style="width:32px;height:32px;border-radius:7px;"><img src='/media/cross.jpg' class="showcross_rest_ showcross_rest_{{t.id}}" title="Remove" style="display:none;width:32px;height:32px;border-radius:32px;" onclick="removeit_rest_({{j.id}},{{t.id}})"></td>
            <td style="width:70%;"><a href="../{{j.id}}/" style="color:black;font-size:15px;">
            {{j.first_name}}</a><br>
            <span style="font-size:12px;">Age:{{j.year|age}} , {{j.current_intrest}}</span></td>
            </tr>
            {%endfor%}
          {%endfor%}
            
          </table>

  </div>
  <div style="display:inline-block;width:60%;padding-top:20px;padding-left:14px;border-left:1px solid rgba(0,0,0,0.2);">
     <center><span style="font-size:22px;">
{%if k.trip_n_memb%}
     <img src="/media/veg.png" style="width:20px;"> Vegetarians Only 
{%else%}
     <img src="/media/nonveg.png" style="width:20px;"> Non-Vegetarians Only 
{%endif%}
     </span>      
        </center>
        <span style="font-size:13px;margin-left:15px;margin-bottom:15px;"><br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="rem_rest_ rem_rest_{{t.id}}">- {{t.remark}}</span>
        <textarea class="remedit_rest_ remedit_rest_{{t.id}}" style="display:none;">{{t.remark}}</textarea><br></span>
        <div style="font-size:12px;float:right;padding-right:15px;margin-top:15px;margin-bottom:15px;">
        {% if b not in t.trip_memb %}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendjoin_rest_" value="{{t.id}}" onclick="hide(this)">Request</button>
        {%elif b == t.trip_memb|first%}
          

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendedit_rest_ sendedit_rest_{{t.id}}" value="{{t.id}}">Edit</button>
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;display:none;" class="showedit_rest_ showedit_rest_{{t.id}}" value="{{t.id}}">Submit</button>

        {%else%}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>
       
        {%endif%}
        <br>
         </div>
  
  </div>
</div>
</div>  


{%else%}
  
<div class="frame5" style="padding:0px;">

  <div style="width:100%;height:100px;background-color:#058c7a;padding-top:8px;">
    <table style="width:100%;"><tr>
    <td style="width:36%;color:white;padding-left:12px;"><center>
      <span style="font-size:22px;margin-left:8px;">{{t.trip_city_from|split_text:"0"}}</span>
      <br><span style="font-size:13px;">{{t.trip_city_from|split_text:"1"}}</span></center>
   </td>
    <td style="width:5%;color:white;"> 
    <span style="font-size:13px;"> To </span>
    </td>
    <td style="width:36%;color:white;"><center>
      <span style="font-size:22px;">{{t.trip_city|split_text:"0"}}</span>
       <br><span style="font-size:13px;">{{t.trip_city|split_text:"1"}}</span></center>
    </td>
    <td style="width:23%;color:white;border-left:1px solid white;padding-left:8px;"><br>
      <span style="font-size:25px;">{{t.trip_from|date:"d"}}</span><br>
      <span style="font-size:15px;">{{t.trip_from|date:"F"}}</span><br>
      
    </td></tr>
    </table>
  </div>
<div style="width:100%;padding:0px;font-size:0px;">
  <div style="display:inline-block;width:40%;display:inline-block;float:left;padding:7px;max-height:200px;overflow:auto;">
     <table style="width:100%;">
        
        {%for k in t.trip_memb%}
        {% for j in a|gory:k%}
            <tr class="showcross_cotravelling_{{t.id}}_{{j.id}}">
            <td style="width:30%;display:inline-block;"><img src="/media/file_p{{j.id}}_{{j.prof_pic|last}}.jpg" class="hideimg_cotravelling_ hideimg_cotravelling_{{t.id}}"  style="width:32px;height:32px;border-radius:7px;"><img src='/media/cross.jpg' class="showcross_cotravelling_ showcross_cotravelling_{{t.id}}" title="Remove" style="display:none;width:32px;height:32px;border-radius:32px;" onclick="removeit_cotravelling_({{j.id}},{{t.id}})"></td>
            <td style="width:70%;"><a href="../{{j.id}}/" style="color:black;font-size:15px;">
            {{j.first_name}}</a><br>
            <span style="font-size:12px;">Age:{{j.year|age}} , {{j.current_intrest}}</span></td>
            </tr>
            {%endfor%}
          {%endfor%}
            
          </table>

  </div>
  <div style="display:inline-block;width:60%;padding-top:20px;padding-left:14px;border-left:1px solid rgba(0,0,0,0.2);">
     <center><span style="font-size:22px;">{{t.trip_name}}</span>      
        </center>
        <span style="font-size:13px;margin-left:15px;margin-bottom:15px;"><br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="rem_cotravelling_ rem_cotravelling_{{t.id}}">- {{t.remark}}</span>
        <textarea class="remedit_cotravelling_ remedit_cotravelling_{{t.id}}" style="display:none;">{{t.remark}}</textarea><br></span>
        <div style="font-size:12px;float:right;padding-right:15px;margin-top:15px;margin-bottom:15px;">
        {% if b not in t.trip_memb %}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendjoin_cotravelling_" value="{{t.id}}" onclick="hide(this)">Request</button>
        {%elif b == t.trip_memb|first%}
          

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendedit_cotravelling_ sendedit_cotravelling_{{t.id}}" value="{{t.id}}">Edit</button>
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;display:none;" class="showedit_cotravelling_ showedit_cotravelling_{{t.id}}" value="{{t.id}}">Submit</button>

        {%else%}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>
       
        {%endif%}
        <br>
         </div>
  
  </div>
</div>
</div>  


{%endif%}



{%endfor%}
















































<style type="text/css">
	.stay{
		margin: 0px;
	}
</style>
	

	</div>
	<hr style="width:100%;">
	</div>
{% include 'quicklink.html'%}
<div class="page">
	{% include 'nav.html'%}
</div>
{% include 'picframe.html'%}
{% include 'frame6.html'%}
{% include 'chatbox.html'%}

{% include 'hagga.html'%}
             
</body>