{% load static %}
{% load i18n %}
{% load extras %}



<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="c{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>


<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
 -->
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style type="text/css">
  .coverpic{
    height:300px;background-color:;margin-top:45px;overflow:hidden;border-bottom:none;background:url("/static/interests/{{m.intrest_name}}.jpg") fixed  no-repeat;background-size:cover;display:inline-block;z-index:1;
  }
  .frame5{
    box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius:0px;
  }
</style>
<script type="text/javascript">
$(function(){



$("#sbm").click(function(){
//alert("mysbm");
$(".detlay").fadeIn();
$(".details").fadeIn();

});
$(".detlay").click(function(){

$(".detlay").fadeOut();
$(".details").fadeOut();

});

$(".cls").click(function(){

$(".detlay").fadeOut();
$(".details").fadeOut();

});

});

</script>


<style>


.addsubmit{
  height:25px;
  width:90px;
  font-size:12px;
  position:relative;
  top:-65px;
  left:285px;
  border-radius:4px;
}

#fotos{
  height:25px;
  opacity:0; 
  font-size:27px;
  width:90px;
  position:relative;
  top:-42px;
  left:180px;
}

.addphoto{
  height:25px;
  width:90px;
  font-size:12px;
  border-radius:4px;
  position:relative;
  left:180px;
}


@media screen and (max-width: 780px) {

.addsubmit{

  left:68%;



}

.addphoto{
  left:35%;


}

#fotos{
  left:35%;


}



}



#up1,#up2,#up3{
  background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}

.textarea{
  background-color: rgba(255,255,255,1);

}

</style>

<script>
$(document).ready(function(){
  $('.likeband').click(function(){
  var abc = $(this).attr('value');
  var def = abc.split(".");
  //alert(abc);
      $.ajax({
               type: "POST",
               url: "../hitband/",
               data: {'slug':def[0],'sluge': def[1] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       //alert(response.z);
                       $(".UpdatedHits").html("<b style='font-size: 28px;'>"+response.z+"</b>");
                       $(".Hitit").html(response.k);

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          }); 
    });

$(".hoot").keyup(function(event){
  
  if(event.which==13){
    //alert($(this).val());
    $(this).val("");
  }
});





$('.m').click(function(){
  var q = $(this).html();
  var chatid=q.split("_");
  chtid=chatid[1].split(".");
  var naame = q.split("<td width=\"70%\"><div style=\"font-size:14px;\">");
  var naam = "";
  naam=naame[1].split("</div>");


  
        $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background-color:rgba(100,100,255,0.1);">
<div class="page" style="background:transparent;">
  <div style="display:inline-block;" class="adjust">
  <div class="coverpic" style=""><img src="/media/file_band_{{j.id}}.jpg" style="width:100%;">
  </div>
  <div style="background-color:rgba(0,0,0,0.3);height:347px;" class="mynewdp"><br><br>
  <br> <span style="color:white;position:absolute;bottom:0px;font-size:38px;margin-left:20px;">{{j.band_name}}</span>
<button  style="width:70px;right:130px;position:absolute;bottom:10px;" class="likeband" value="{{j.band_name}}.{{j.id}}">{% if i.id in j.band_hitters%}
  <strong class="Hitit">Unhit</strong>
  {% else %}
<strong class="Hitit">Hit</strong>
  {%endif%}</button>
{% if i.id not in j.band_memb %}
  <button style="width:80px;right:30px;position:absolute;bottom:10px;" id="sbm">Join Band</button>{% endif %}
 
  </div>  
  <div style="font-size:0px;margin-top:-5px;" class="adjust">
    <button style="width:100%;margin:0px;height:5px;font-size:15px;"></button>
  </div>
  <div style="font-size:17px;">
<br>  
    
  <div style="width:37.5%;height:500px;padding-left:10px;" class="mobout">
 <div style="background-color:rgba(255,255,255,0.5);box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);padding:10px 15px 10px 15px;">
         <center><b style="font-size:40px;" class="UpdatedHits"> {{j.band_hitters|length}}</b>
</b>Hits
</h4><br>
<b>Created By:</b>&nbsp;{{creator}}

</center>
<b>
<br>

<u>Team Members:</u>

  </b>
  <br>

  {% for m,n in dict1.items %}
  <b> {{n}} :</b>&nbsp;&nbsp;{{m}}<br>
  {%endfor%}



<b>Vacancies:
</b>
{% if j.band_V_guitar %}
<br>Guitar ({{j.band_V_guitar}} people required)
{%endif%}

{% if j.band_V_piano %}
<br>Piano ({{j.band_V_piano}} people required)
{%endif%}

{% if j.band_V_bass %}
<br>Bass ({{j.band_V_bass}} people required)
{%endif%}

{% if j.band_V_saxophone %}
<br>Saxophone ({{j.band_V_saxophone}} people required)
{%endif%}

{% if j.band_V_tabla %}
<br>Tabla ({{j.band_V_tabla}} people required)
{%endif%}

{% if j.band_V_violin %}
<br>Violin ({{j.band_V_violin}} people required)
{%endif%}

{% if j.band_V_singer %}
<br>Singer ({{j.band_V_singer}} people required)
{%endif%}

{% if j.band_V_flute %}
<br>Flute ({{j.band_V_flute}} people required)
{%endif%}

{% if j.band_V_drum %}
<br>Drum ({{j.band_V_drum}} people required)
{%endif%}

{% if j.band_V_other %}
<br>{{j.band_other}} ({{j.band_V_other}} people required)
{%endif%}

        </div><br>
        <div class="panel panel-default" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);">

       
      <div class="panel-heading">Nearby People of {{m.intrest_name}}</div>
     
      <style type="text/css">
        #up1 a{
          color: white;
        }
        #t tr td div a{
          color:black;
        }
      </style>
       <table id="t" style="width:100%;">

    {%for c,d in zip%}
      
        <tr id="t1" class="m" style="padding-left:10px;cursor:pointer;">
      <td width="25%" style="padding-left:10px;"><div id="timg" ><img src="/media/file_{{c.id}}.thumbnail"  style="width:100%;"></div></td><td width="70%"><div style="font-size:14px;"><a href="../{{c.id}}">{{c.first_name}} {{c.last_name}}</a></div><div id="n" style="font-size:12px;float:left;opacity:0.5;color: blue;"><b> {{d|floatformat}}m Away</b> </div></div></td><td width="18%" style="padding-right: 4px;"><img src="/static/image/dot.png" style="width: 8px; display: inline;" id="" class="dotchat dotchat{{c.id}}">
<!-- {% if c.id in i.f_list%}
      <span class="glyphicon glyphicon-user" title="Your Friend" style="color: black;"></span>{% endif %} --></td>
    </tr>
    {%endfor%}

<style type="text/css"> 
.m:hover{
background-color:  rgba(75,172,238,0.4);
  }</style>
  </table>
         </div>
  </div>
  <div style="display:inline-block;height:600px;float:right;padding-left:15px;" class="mobfull">
  {% include 'interestframe.html'%}    
  </div>
  </div>
  <hr style="width:100%;">
  </div>
  <script type="text/javascript">
$(function(){
var hmm=0;
var exhmm;
$(".teamopen").click(function(){
 if(hmm==0)
 {
 hmm=1;
 $(this).siblings(".opener").slideDown();
   exhmm=$(this).siblings(".opener");
   exxhmm=this;
$(this).css("background-color","rgb(70,150,160)");
$(this).css("color","white");

 }
 else
 {

 exhmm.slideUp(1000); 
//  $(exhmm).css("background-color","rgba(255,255,255,0.5)");
// $(exhmm).css("color","black");

 $(exxhmm).css("background-color","rgba(255,255,255,0)");
$(exxhmm).css("color","black");
 if(exhmm[0]!=$(this).siblings(".hfri")[0])
{ $(this).siblings(".opener").slideDown();
$(this).css("background-color","rgb(70,150,160)");
$(this).css("color","white");
}
 else{
  hmm=0;

 }
 exhmm=$(this).siblings(".opener");
   exxhmm=this;


 }
  });
  });
  </script>
  <div style="height:700px;overflow:auto;" class="panel panel-default quicklink">
     <div class="panel-heading">Quick Links to Interests</div>
  <div class="panel-body">
  <img src="/media/Cricket.png" style="width:35px;height:35px;margin-right:12px;">Cricket<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Football.png" style="width:35px;height:35px;margin-right:12px;">Football<hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Guitar.png" style="width:35px;height:35px;margin-right:12px;">Guitar<hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Travel.png" style="width:35px;height:35px;margin-right:12px;">Travelling<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Study.png" style="width:35px;height:35px;margin-right:12px;">Study<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Singing.png" style="width:35px;height:35px;margin-right:12px;">Singing<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Chatting.png" style="width:35px;height:35px;margin-right:12px;">Chatting<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Dating.png" style="width:35px;height:35px;margin-right:12px;">Dating<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/MusicBand.png" style="width:35px;height:35px;margin-right:12px;">Music Band<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Entrepreneurship.png" style="width:35px;height:35px;margin-right:12px;">Entrepreneurship<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Restaurant.png" style="width:35px;height:35px;margin-right:12px;">Restaurant<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Movie.png" style="width:35px;height:35px;margin-right:12px;">Movie<hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Cricket.png" style="width:35px;height:35px;margin-right:12px;">Cricket<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Football.png" style="width:35px;height:35px;margin-right:12px;">Football<hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Guitar.png" style="width:35px;height:35px;margin-right:12px;">Guitar<hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Travel.png" style="width:35px;height:35px;margin-right:12px;">Travelling<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Study.png" style="width:35px;height:35px;margin-right:12px;">Study<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Singing.png" style="width:35px;height:35px;margin-right:12px;">Singing<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Chatting.png" style="width:35px;height:35px;margin-right:12px;">Chatting<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Dating.png" style="width:35px;height:35px;margin-right:12px;">Dating<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/MusicBand.png" style="width:35px;height:35px;margin-right:12px;">Music Band<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Entrepreneurship.png" style="width:35px;height:35px;margin-right:12px;">Entrepreneurship<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Restaurant.png" style="width:35px;height:35px;margin-right:12px;">Restaurant<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Movie.png" style="width:35px;height:35px;margin-right:12px;">Movie<hr style="margin-top:5px;margin-bottom:5px;"><img src="/media/Cricket.png" style="width:35px;height:35px;margin-right:12px;"><a href="http://10.42.0.12:8800/open_intrest/?q=Cricket">Cricket</a><hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Football.png" style="width:35px;height:35px;margin-right:12px;"><a href="http://10.42.0.12:8800/open_intrest/?q=Football">Football</a><hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Guitar.png" style="width:35px;height:35px;margin-right:12px;"><a href="http://10.42.0.12:8800/open_intrest/?q=Guitar">Guitar</a><hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Travel.png" style="width:35px;height:35px;margin-right:12px;">Travelling<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Study.png" style="width:35px;height:35px;margin-right:12px;">Study<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Singing.png" style="width:35px;height:35px;margin-right:12px;"><a href="http://10.42.0.12:8800/open_intrest/?q=Singing">Singing</a><hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Chatting.png" style="width:35px;height:35px;margin-right:12px;"><a href="http://10.42.0.12:8800/open_intrest/?q=Chat">Chatting</a><hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Dating.png" style="width:35px;height:35px;margin-right:12px;"><a href="http://10.42.0.12:8800/open_intrest/?q=Dating">Dating</a><hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/MusicBand.png" style="width:35px;height:35px;margin-right:12px;">Music Band<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Entrepreneurship.png" style="width:35px;height:35px;margin-right:12px;">Entrepreneurship<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Restaurant.png" style="width:35px;height:35px;margin-right:12px;">Restaurant<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Movie.png" style="width:35px;height:35px;margin-right:12px;">Movie<hr style="margin-top:5px;margin-bottom:5px;">
    

    </div>
</div>
<div class="page">
  {% include 'nav.html'%}
</div>
{% include 'picframe.html'%}
{% include 'frame6.html'%}
{% include 'chatbox.html'%}


<div class="detlay" style="background-color:black;height:100%;width:100%;position:fixed;top:0px;opacity:0.65;display:none;"></div>

<div class="page">
<div class="details" style="background-color:white;height:100%;width:650px;z-index:8;position:fixed;top:2px;max-width: 650px;
 margin-left:200px;border-radius:5px;display:none;">
<center>
<img src="{% static 'mband.jpg'%}" style="height: 100px;">
<h2 style="margin-bottom: 0px;"><b>
{{j.band_name}}</b></h2>
<i>Select your Position</i>
<br>
<h3>
Positions Available 
</h3>
<div style="border:1px solid black;width:60%;border-radius:10px;height:380px;overflow-y:scroll;overflow-x:hidden; ">
<table style="width:100%;padding-top: 8px;">

{% for item,key in dict2.items %}
{% if key %}

<tr style="padding-left:30px;width:100%;">
<td style="width:5%;" align="right"></td><td style="width:55%;padding-left:15px;"><div style="font-size:18px;">{{item}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
<td width="25%">{{key}} Places </td>
<td style="width:8%;" style="padding-top: 3px;">

<button class="button6" style="margin-top: 10px;width: 100%;height: 25px;margin-right: 10px;" value="{{item}}" onclick="joinit(this)">Join</button></td>
<td style="width:2%;" style="padding-top: 3px;">&nbsp;
</td>
</tr>
{%endif%}
{% endfor %}

<script type="text/javascript">
  function joinit(abc){
    $(".bandjoin").val(abc.value);
    $(".joined").click();

  }
</script>
</table></div>
</center>
 </div>
</div>
<form action="../joinband/" style="display: none;" method="post">{%csrf_token%}
  <input type="text" value="band" name="kind">
  <input type="text" class="bandjoin" name="instrument">

  <input type="text" value="{{j.id}}" name="identity">
  <button class="joined">Join</button>

  </form>


</body>
</html>



