{% load static %}
{% load widget_tweaks %}
{% load i18n %}

<div style="width:100%;height:100%;background-color:black;opacity:0.5;position:fixed;top:0px;display:none;" class="focrtm" ></div>

<div class="page"> <div style="background:url('/media/bb1.jpg');background-size: 100% 100%;
    background-repeat: no-repeat;border-radius: 5px;" class="ficrtm"> 

<form method="post" action="" enctype="multipart/form-data">
               {% csrf_token %}
<center><h4 style="margin-bottom:6px;" class="texts"><b>Create new Musical Band in <span class="teamgrp"></span></b></h4></center>
<input type="text" name="b_name" style="width:100%;background-color: rgba(255,255,255,0.6);color: black;border-radius:0px;box-shadow:0px;margin-bottom:3px;border:none;" placeholder="Band's Name">
<textarea type="text" name="b_des" style="width:100%;border-radius:0px;height:100px;background-color: rgba(255,255,255,0.6);color: black;border:none;" placeholder="About your Band(optional)">
</textarea><b class="texts">
Band members Required for:</b><br>
<table style="color: white;" class="texts"><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="guitar" ></td><td width="80%">Guitar</td><td width="10%"> <select  style="color: black;" name="guitar"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="piano"></td><td width="80%">Piano/Keyboard</td><td width="10%"> <select style="color: black;"  name="piano"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="singer" ></td><td width="80%">Singing</td><td width="10%"> <select style="color: black;"  name="singer"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="bass" ></td><td width="80%">Bass</td><td width="10%"> <select style="color: black;"  name="bass"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="violin"></td><td width="80%">Violin</td><td width="10%"> <select style="color: black;"  name="violin"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="drum"></td><td width="80%">Drum</td><td width="10%"> <select style="color: black;"  name="drum"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="flute"></td><td width="80%">Flute</td><td width="10%"> <select style="color: black;"  name="flute"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="saxophone"></td><td width="80%">Saxophone</td><td width="10%"> <select style="color: black;"  name="saxophone"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="tabla" ></td><td width="80%">Tabla</td><td width="10%"> <select style="color: black;"  name="tabla"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr>
</tr><tr><td width="10%">
<input type="checkbox" name="intrument" value="other"></td><td width="80%"><input type="text" style="color:black;width:100px;height:25px;margin-right:10px; margin-top: 5px;" name="b_other" placeholder="Others.."></td><td width="10%"> <select style="color: black;"  name="other"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</table>
<br>
<b class="texts">Select photo for the Band:</b> <input type="file" name="files" style="display:inline;"><br><br>
<input class="teamg" type="hidden" name="team_group" >
<br><center><button class="button1" style="width:150px;">Create Band</button></form>
<button class="button1 back1" onclick="return false" style="width:150px; ">Back</button></center></div>



</div>


 <div class="page">




<div style="background:url('/media/bb1.jpg');background-size: 100% 100%;
    background-repeat: no-repeat;border-radius: 5px;" class="fijntm">
   <center>
    <h3 class="texts"> View Band </h3>
    <p style="color: white;"> Perform with your Local Friends
    </p> 
    </center> 
    <h4  style="color: rgb(180,180,255);"><center>Available Bands in Your Area</center></h4> 
    <center>
        <table style="width:600px;border:1px solid black;">
     <tr style="color:black;background-color: rgba(255,255,255, 0.8);"><b>
      <td style="font-size:17px;width:15%;"></td>
      <td style="font-size:17px;width:35%;padding-left:10px;">Band Name</center></td>
      <td style="width:15%;font-size:17px">Hits</center></td>
      <td style="width:15%;font-size:17px">Vacancy</center></td>
      <td style="width:15%;font-size:17px">Join!!!</center></td></tr> 
      </table>
     </b>
     <div style="overflow:auto;height:400px;">
  <table style="width:600px;" >
      
    
     {% for c in bands %} 
      <tr style="color:black;background-color: rgba(255,255,255, 0.6);">
        <td align="right"  style="width:15%;"><img src="{%static 'team.jpg'%}" style="height:70px;width:70px;"></td>
        <td style="width:35%;padding-left:10px;"><a href="" style="color: black;">{{c.band_name}}</a>
          </td>
      <td style="width:15%;">{{c.band_hits}} Hits</td>        
        <td style="width:15%;">{{c.band_V_guitar|add:c.band_V_piano|add:c.band_V_singer|add:c.band_V_other|add:c.band_V_drum|add:c.band_V_violin|add:c.band_V_bass|add:c.band_V_flute|add:c.band_V_tabla|add:c.band_V_saxophone}}</td>
        <td style="width:15%;"><a href="../band/?q={{c.band_name}}" style="color: black;" target="_blank"><button>View Band</button></td>
      </tr>
      {%endfor%}
      
        </div>
      </table>

      <button class="button1 back1 " style="margin-top: 10px;border-radius: 7px;">Back</button></center></div></div>
