{% load static %}

{% load i18n %}

{% load extras %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="en">
<head>



 


<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/cssin.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>

<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
 --><script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>

<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style>
	#ff{
      display:none;
      opacity:0;
      }
      #nav1,#nav2,#nav3,#nav4,.rod,.top{
      	background-color: rgb(22,57,76);
      }
      .rod{
      	background-color: rgb(22,57,76);
      	
      }
      
</style>

<script>















$(document).ready(function(){



var imge = new Image();
imge.src="/static/athletics.jpg";
 imge.onload = function() {





var hi=$("#is").css("height");

var wi=$("#is").css("width");
var hhigh=parseInt(hi.split("px")[0]);
var wide=parseInt(wi.split("px")[0]);
//alert(wide);
if(hhigh>470 && wide>800)
{
hi="470px"; 
hhigh=470; 
}
$(".rod").css("top",(hhigh+10)+"px");
$(".ver").css("top",(hhigh)+"px");
$(".pagever").css("top",(hhigh+10)+"px");
$(".info").css("top",(hhigh)+"px");
$(".news").css("top",(hhigh)+"px");

$(".naam").css("top",(hhigh-60)+"px");
$(".i1").css("top",(hhigh-60)+"px");
$(".i2").css("top",(hhigh-60)+"px");

var top=$("#sbm").css("top");
//alert(top);
$(window).scroll(function(){

if($(window).scrollTop()>(hhigh-120)){
var wtop=$(window).scrollTop();
     $(".i1").css("position","fixed");
       $(".i1").css("top","60px");
 $(".i2").css("position","fixed");
       $(".i2").css("top","60px");
     $(".naam").css("position","fixed");
       $(".naam").css("top","60px");

    $("#coverf").css("position","fixed");

    $("#coverf").css("top",(-hhigh+120)+"px");
        $("#coverf").show();
//   
$(".rod").css("position","fixed");
       $(".rod").css("top","120px");
   
           
}
if($(window).scrollTop()<(hhigh-120)){

     $(".i1").css("position","absolute");
       $(".i1").css("top",(hhigh-60)+"px");
 $(".i2").css("position","absolute");
       $(".i2").css("top",(hhigh-60)+"px");
     $(".naam").css("position","absolute");
       $(".naam").css("top",(hhigh-60)+"px");
         $("#coverf").hide();
$(".rod").css("position","absolute");

$(".rod").css("top",(hhigh+10)+"px");
     
}


});


};



$(".hoot").keyup(function(event){
	
	if(event.which==13){
		//alert($(this).val());
		$(this).val("");
	}
});

$('.like').click(function(){
	var abc = $(this).attr('value');
	var def = abc.split(".");
	//alert(abc);
      $.ajax({
               type: "POST",
               url: "../hit/",
               data: {'sluge':def[0],'slug': def[1] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       //alert(response.z);
                       $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });

$('.m').click(function(){
	var q = $(this).html();
	var chatid=q.split("_");
	chtid=chatid[1].split("\"");
	var naame = q.split("<td width=\"70%\"><div style=\"font-size:14px;\">");
	var naam = "";
 	naam=naame[1].split("</div>");


	
	      $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                       		

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });


	

	$('.comment').click(function(){
	var abc = $(this).attr('value');

	var d = abc.split(".");
	var def = $('.'+d[1]).val();
	 if(def!=""){
	 
      $.ajax({
               type: "POST",
               url: "../comment/",
               data: {'sluge': d[0] ,'slug': d[1] ,'coment': def , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {

               			var dataa = response;
               			//dataa=dataa.replace(/[\n+]/,"\n");
               			var dat=dataa.split("@#$");
						var str="";

						for(i=0;i<dat.length-1;i++){

							if(i%4==0){
						str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
							}
						if(i%4==1){

						str+=" <b>"+dat[i]+" :: </b>";
							}
						if(i%4==2){

						str+=dat[i]+"<br>";
							}
						

						}
						var pqr = $(".commentsss").html();
						$(".commentsss").html(pqr+str);
                       $("#textarea1").html(pqr+str);
                       
                       console.log(response.z+"abc");
                        // alert(response.z);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });
          } 
    });
    $('.opine').click(function(){
	var abc = $(this).attr('value');

	var def = abc.split(".");



      $.ajax({
               type: "POST",
               url: "../opine/",
               data: {'sluge': def[0] ,'slug': def[1] ,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
               			//alert(response.z);
               			var dataa = response.z;
               			//dataa=dataa.replace(/[\n+]/,"\n");
               			var dat=dataa.split("@#$");
						var str="";

						for(i=0;i<dat.length-1;i++){

							if(i%4==0){
						str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
							}
						if(i%4==1){

						str+=" <b>"+dat[i]+" ::</b>";
							}
						if(i%4==2){

						str+=dat[i]+"<br>";
							}
						

						}
						$(".commentsss").html(str);
						$("#textarea1").html(str);
					 if(response.z!="NO"){
                       	
						 $("#c12").show();
							
						}
						else{
						$("#c12").hide();
							
						}
						$("#c12").scrollTop($("#textarea1").prop("scrollHeight"));
						
                       console.log(dataa);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });

});

</script>
<script type="text/javascript">
$(function(){



$("#sbm").click(function(){
//alert("mysbm");
$(".detlay").fadeIn();
$(".details").fadeIn();

});
$(".detlay").click(function(){

$(".detlay").fadeOut();
$(".details").fadeOut();

});

$(".cls").click(function(){

$(".detlay").fadeOut();
$(".details").fadeOut();

});

});

</script>


<meta charset="utf-8">
 
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="{% static 'jquery-ui.js' %}"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#id_trip_form" ).datepicker();
  });
  </script>



</head>
<body style="background-color:rgb(255,255,255);">

<div style="width:100%;height:470px;overflow:hidden;" id="coverfoto">
<!-- <img src="/media/file_band_j.id.jpg" style="width:100%;" id="is">
 -->
<img src="/media/file_band_{{j.id}}.jpg" style="width:100%;" id="is">


</div>


<br><br>
<style> 




  .ver
{
    background: url(/media/back.png) repeat fixed 100% 200%;
}








</style>



 <div class="page">

    <div class="info" style="top:0px;">
      <br>
      <div class="frame4" style="margin-top:15px;padding-left: 0px;">
        <div class="top" style="color:white;"><h4><b>Live athletics</b></h4></div>
       			<div  id="xxml" style="padding:8px;width:100%;border-radius:0px 0px 7px 7px;border: none;">
						<center><h4><b style="font-size: 28px;">{{j.band_hits}}
</b>Hits
</h4>
<b>Created By:</b>&nbsp;{{creator}}

</center>
<b>
<br>

<u>Team Members:</u>

  </b>
  <br>

  {% for m,n in dict1.items %}
  <b> {{n}} :</b>&nbsp;&nbsp;{{m}}<br>
  {%endfor%}



<b>Vacancies:
</b>
{% if j.band_V_guitar %}
<br>Guitar ({{j.band_V_guitar}} people required)
{%endif%}

{% if j.band_V_piano %}
<br>Piano ({{j.band_V_piano}} people required)
{%endif%}

{% if j.band_V_bass %}
<br>Bass ({{j.band_V_bass}} people required)
{%endif%}

{% if j.band_V_saxophone %}
<br>Saxophone ({{j.band_V_saxophone}} people required)
{%endif%}

{% if j.band_V_tabla %}
<br>Tabla ({{j.band_V_tabla}} people required)
{%endif%}

{% if j.band_V_violin %}
<br>Violin ({{j.band_V_violin}} people required)
{%endif%}

{% if j.band_V_singer %}
<br>Singer ({{j.band_V_singer}} people required)
{%endif%}

{% if j.band_V_flute %}
<br>Flute ({{j.band_V_flute}} people required)
{%endif%}

{% if j.band_V_drum %}
<br>Drum ({{j.band_V_drum}} people required)
{%endif%}

{% if j.band_V_other %}
<br>{{j.band_other}} ({{j.band_V_other}} people required)
{%endif%}






</div>
</div>	<div class="frame4" style="padding:0px;margin-top: 10px;">
					<div  id="xxml" style="padding:8px;width:100%;border-radius:0px 0px 7px 7px;border: none;">

<b><br>

About:
	</b>
	<br><p style="text-align: justify;
    text-justify: inter-word;">
    {{j.band_descript}}
	</p>

</div>
              
      </div>

      

 


    </div>

    <div class="news" style="margin-top:0px;">
    <br>
  <br><br>
			<div class="frame5" style="padding:0px;">
	
					<iframe width="100%" height="480" src="https://www.youtube.com/embed/t6Q80YRD2-E" frameborder="0" allowfullscreen></iframe></div>

					{% for c in f %}
	
			<div class="frame5">
			<img src="{% static 'cric.jpg' %}" class="img-responsive" style="border-radius:50px;width:50px; height:50px; float:left; margin-right:10px;">
			<b>{{j.band_name}}</b> shared a picture.
			<br>
			<div class="time">

				September 7 at 10:16am<br><br><br>
			</div> 
			{% if c.Hit >= 1 %}
			{{c.say}}
			<br><br>
			<img src="/media/file_{{count}}.{{c.Hit}}" class="img-responsive" style="width:400px;" id="{{c.Hit}}"  onclick="port(this);" >
			{%else%}
			{{c.say}}
			{%endif%}
			<br><b id="{{c.Hit}}hits">{{c.hits}} Hits </b><b> {{c.comments}} Opines</b><br>

			

			

			<!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
	              {% csrf_token %} --> 
				<button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{count}}.{{c.Hit}}"><b class="hit"><span class="glyphicon glyphicon-heart">&nbsp;Hit</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>


			<b class="opine" id="{{c.Hit}}abc" value="{{count}}.{{c.Hit}}"><span onclick="comm(this.id)" id='{{c.Hit}}' value="{{c.Hit}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b id="share"><span id="share"><span class="glyphicon glyphicon-share"></span>Share</b></a><br>
			<div  class="commentbox" id="commentbox{{c.Hit}}" style="background-color:#F0F0F0;width:90%;height:auto;"><img src="/media/file_{{count}}" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

			
			<textarea class="{{c.Hit}} hoot" id="{{c.Hit}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

			<div class="commentsss"></div>


			<button class="comment" value="{{count}}.{{c.Hit}}" id="{{c.Hit}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

			 </div></div>

		{% endfor %}


    </div>
  </div>
</div>

<div style="width:100%;height:470px;overflow-y:hidden;display:none;" id="coverf" >
<img src="/media/file_band_{{j.id}}.jpg" style="width:100%;" >

</div>
<div style="width:100%;height:10px;position:absolute;background-color: rgb(22,57,76);" class="rod"></div>

<i style="position:absolute;color:white;left:5%;font-size:40px;transition:all 0.5s;
   text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;" class="naam">{{j.band_name}}</i>


          



<button class="button1 i1" style="text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;box-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;background-color:transparent;position:absolute;margin-top:0px;border-color:white;right:10%;"  id="sbm"><b><strong>Join Band</strong></b></button>
<button class="button1 i2" style="text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;box-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;;background-color:transparent;position:absolute;margin-top:0px;border-color:white;right:30%;
"><b><strong>Hit</strong></b></button>
 

{% include 'nav.html' %}
{% include 'frame6.html' %}
  </div>
  {% include 'chatbox.html' %}
 


</div>
<div class="cshide" style="display:none;">{{ csrf_token }}</div>
<div class="detlay" style="background-color:black;height:100%;width:100%;position:fixed;top:0px;opacity:0.65;display:none;"></div>

<div class="page">
<div class="details" style="background-color:white;height:100%;width:650px;z-index:8;position:fixed;top:2px;max-width: 650px;
 margin-left:200px;border-radius:5px;display:none;">
<center>
<img src="{% static 'mband.jpg'%}" style="height: 100px;">
<h2 style="margin-bottom: 0px;"><b>
{{j.band_name}}</b></h2>
<i>Select your Position</i>
<br>
<h3>
Positions Available
</h3>
<div style="border:1px solid black;width:60%;border-radius:10px;height:380px;overflow-y:scroll;overflow-x:hidden; ">
<table style="width:100%;padding-top: 8px;">

{% for item,key in dict2.items %}
{% if key %}

<tr style="padding-left:30px;width:100%;">
<td style="width:15%;" align="right"><img src="/static/guit.jpg"  style="width:100%;height: 30px;"></td><td style="width:50%;padding-left:15px;"><div style="font-size:18px;">{{item}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
<td width="25%">{{key}} Places </td>
<td style="width:8%;" style="padding-top: 3px;">

<button class="button6" style="margin-top: 10px;width: 100%;height: 25px;margin-right: 10px;">Join</button></td>
<td style="width:2%;" style="padding-top: 3px;">&nbsp;
</td>
</tr>
{%endif%}
{% endfor %}

<!-- <tr style="padding-left:30px;width:100%;">
<td style="width:15%;" align="right"><img src="/static/guit.jpg"  style="width:100%;height: 30px;"></td><td style="width:50%;padding-left:15px;"><div style="font-size:18px;">Piano</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
<td width="25%">1 Places </td>
<td style="width:8%;" style="padding-top: 3px;">

<button class="button6" style="margin-top: 10px;width: 100%;height: 25px;margin-right: 10px;">Join</button></td>
<td style="width:2%;" style="padding-top: 3px;">&nbsp;
</td>
</tr>

<tr style="padding-left:30px;width:100%;">
<td style="width:15%;" align="right"><img src="/static/guit.jpg"  style="width:100%;height: 30px;"></td><td style="width:50%;padding-left:15px;"><div style="font-size:18px;">Drum</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
<td width="25%">3 Places </td>
<td style="width:8%;" style="padding-top: 3px;">

<button class="button6" style="margin-top: 10px;width: 100%;height: 25px;margin-right: 10px;">Join</button></td>
<td style="width:2%;" style="padding-top: 3px;">&nbsp;
</td>
</tr>

<tr style="padding-left:30px;width:100%;">
<td style="width:15%;" align="right"><img src="/static/guit.jpg"  style="width:100%;height: 30px;"></td><td style="width:50%;padding-left:15px;"><div style="font-size:18px;">Vocals</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
<td width="25%">3 Places </td>
<td style="width:8%;" style="padding-top: 3px;">

<button class="button6" style="margin-top: 10px;width: 100%;height: 25px;margin-right: 10px;">Join</button></td>
<td style="width:2%;" style="padding-top: 3px;">&nbsp;
</td>
</tr>

<tr style="padding-left:30px;width:100%;">
<td style="width:15%;" align="right"><img src="/static/guit.jpg"  style="width:100%;height: 30px;"></td><td style="width:50%;padding-left:15px;"><div style="font-size:18px;">																																																																																																																																																																																																																													</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
<td width="25%">1 Places </td>
<td style="width:8%;" style="padding-top: 3px;">

<button class="button6" style="margin-top: 10px;width: 100%;height: 25px;margin-right: 10px;">Join</button></td>
<td style="width:2%;" style="padding-top: 3px;">&nbsp;
</td>
</tr>

<tr style="padding-left:30px;width:100%;">
<td style="width:15%;" align="right"><img src="/static/guit.jpg"  style="width:100%;height: 30px;"></td><td style="width:50%;padding-left:15px;"><div style="font-size:18px;">Guitar</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
<td width="25%">2 Places </td>
<td style="width:8%;" style="padding-top: 3px;">

<button class="button6" style="margin-top: 10px;width: 100%;height: 25px;margin-right: 10px;">Join</button></td>
<td style="width:2%;" style="padding-top: 3px;">&nbsp;
</td>
</tr>

<tr style="padding-left:30px;width:100%;">
<td style="width:15%;" align="right"><img src="/static/guit.jpg"  style="width:100%;height: 30px;"></td><td style="width:50%;padding-left:15px;"><div style="font-size:18px;">Guitar</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
<td width="25%">2 Places </td>
<td style="width:8%;" style="padding-top: 3px;">

<button class="button6" style="margin-top: 10px;width: 100%;height: 25px;margin-right: 10px;">Join</button></td>
<td style="width:2%;" style="padding-top: 3px;">&nbsp;
</td>
</tr> -->

</table></div>
</center>
 </div>
</div>


</body>
