


{% load static %}
{% load i18n %}
{% load extras %}




<!DOCTYPE html>
<html>
<head>
<style type="text/css">
  .panel-heading{
    background-color:rgb(0,86,134);color:white;
  }
  .viewform{
  position:fixed;;background-color:white;border-radius:9px;box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);z-index:3;padding:0px;display:none;
}
.viewout{
  width:40%;height:350px;background-color:#058c7a;
}
@media screen and (min-width: 1100px) {
.viewform{
top:130px;height:350px;width:700px;margin-left:200px; 
}
.viewout{
}
}

@media screen and (max-width: 1100px) and (min-width: 680px) {
.viewform{
top:130px;height:auto;width:70%;margin-left:15%;
}
.viewout{
display: none;
}
}



@media screen and (max-width: 680px) {
.viewform{
top:130px;height:350px;width:100%;margin-left:0px;

}
.viewout{
  display: none;
}
}
 
</style>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">


<link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/dist/bootstrap-clockpicker.min.css">

<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.js"></script>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
 -->

<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="{% static 'jquery-ui.js' %}"></script>


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style type="text/css">
 .coverpic{
    background-color:;margin-top:45px;overflow:hidden;border-bottom:none;background:url("/static/interests/{{m.intrest_name}}.jpg") fixed  no-repeat;background-size:cover;display:inline-block;z-index:1;
  }

  @media screen and (min-width:680px){
    .coverpic{
      height:300px;
    }

    .mynewdp{
      background-color:rgba(0,0,0,0.3);height:347px;
    }
  }
  @media screen and (max-width:680px){
    .coverpic{
      height:180px;

    }
    .mynewdp{
      background-color:rgba(0,0,0,0.3);height:227px;
    }
  }
  .frame5{
    box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius:0px;
  }
</style>
<style>


.addsubmit{
  height:25px;
  width:90px;
  font-size:12px;
  position:relative;
  top:-65px;
  left:285px;
  border-radius:4px;
}

#fotos{
  height:25px;
  opacity:0; 
  font-size:27px;
  width:90px;
  position:relative;
  top:-42px;
  left:180px;
}

.addphoto{
  height:25px;
  width:90px;
  font-size:12px;
  border-radius:4px;
  position:relative;
  left:180px;
}


@media screen and (max-width: 780px) {

.addsubmit{

  left:68%;



}

.addphoto{
  left:35%;


}

#fotos{
  left:35%;
}


}



#up1,#up2,#up3{
  background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}

.textarea{
  background-color: rgba(255,255,255,1);

}

</style>

<script>

$(document).ready(function(){




      $(".sendmsg").click(function(){

    var iid=$(this).val();
  //  alert(iid);

      $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':iid,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       var naam =[];
                
    var id1=[];
    id1.push($(".sendmsg").val());

                       naam.push(response.naam) ;
                       chatdel(naam,id1,rep);
                      },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });

$(window).scroll(function(){

if($(window).scrollTop()>350){
$(".nbpeople").css("position","fixed");
$(".nbpeople").css("top","40px");
$(".nbpeople").css("width","290px");
$(".myalter").slideDown();

}
else{
$(".nbpeople").css("position","initial");
$(".nbpeople").css("width","37.5%");
$(".myalter").slideUp();

}

});


  $(".frame1").scrollTop({{i.cov_fix|first}});
  

  $(".frame1").scroll(function(){
              $(".frame1").scrollTop({{i.cov_fix|first}});
          //s   $(window).scrollTop($(window).scrollTop()+5);

            }); 



$("body,html").scrollTop(120);


  $(".sendmsg").click(function(){
    var iid=$(this).val();
      $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':iid,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       var rep=response.z;
                       var naam =[];
                     var id1=[];
             id1.push($(".sendmsg").val());

                       naam.push(response.naam) ;
                       chatdel(naam,id1,rep);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
});


  $(".sendedit").click(function(){
    var iid=$(this).attr("value");
    $(".hideimg"+iid).hide();
    $(".showcross"+iid).show();
    $(".sendedit"+iid).hide();
    $(".showedit"+iid).show();
    $(".rem"+iid).hide();
    $(".remedit"+iid).show();
      
});
  $(".showedit").click(function(){
         //   var hid=$(this);
            var iid=$(this).val();
        $.ajax({
               type: "GET",
               url: "../cab_edit/",
               data: {'trip_id':iid,"remark":$(".remedit"+iid).val(),'memb_remove':''},
               dataType: "json",
               success: function(response) {
                $(".remedit"+iid).hide();
                $(".rem"+iid).html("- "+$(".remedit"+iid).val());
                $(".rem"+iid).show();
                $(".showcross"+iid).hide();
                
               $(".hideimg"+iid).show();
                $(".showedit"+iid).fadeOut();
                
                $(".sendedit"+iid).fadeIn();
                
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 


       }); 

          $(".sendjoin").click(function(){
            var hid=$(this);
            var iid=$(this).val();
        $.ajax({
               type: "GET",
               url: "../cab_request/",
               data: {'trip_id':iid,},
               dataType: "json",
               success: function(response) {
                  hid.fadeOut();
                  document.location="../cab_sharing/?place_from=";
                       //alert(response.z);
    
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 


       }); 



$(".hoot").keyup(function(event){
  
  if(event.which==13){
    //alert($(this).val());
    $(this).val("");
  }
});





$('.m').click(function(){
  var q = $(this).html();
  var chatid=q.split("_");
  chtid=chatid[1].split(".");
  var naame = q.split("<td width=\"70%\"><div style=\"font-size:14px;\">");
  var naam = "";
  naam=naame[1].split("</div>");


  
        $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });
});
</script>
</head>
<style type="text/css">
  /*@media screen and (min-width: 680px){
    .myalter{
    width:62%;  
    }
    
  }

  @media screen and (max-width: 680px){
    .myalter{
    width:100%;  
    }
    */

</style>
<body style="background-color:rgba(100,100,255,0.1);">
<div class="page" style="background:transparent;">
  <div style="display:inline-block;" class="adjust">
  
  <div class="coverpic" style=""><img src="/static/interests/{{m.intrest_name}}.jpg" style="width:100%;">
  </div>
  <div style="" class="mynewdp"><br><br>
  <br><div style="position:absolute;bottom:0px;background-color:rgba(0,0,0,0);width:100%;">
    
    <span style="color:white;font-size:38px;margin-left:20px;" class="texts hidemobe">Cab Sharing</span>
    {%if not your_trips%}
    {%if i.current_intrest != "Cab_Sharing"%}
  <button type="button" class="btn btn-primary" style="right:200px;position:absolute;bottom:10px;height:38px;background-color:#279c76;"  onclick="showajax('Make Cab Sharing as your Interest First..');" >Share Your Cab</button>
 
    <a href='../add_as_interest/?q={{m.intrest_name}}' style="color:black;">
    
  <button type="button" class="btn btn-primary" style="right:30px;position:absolute;bottom:10px;height:38px;background-color:#279c76;">Make as Interest</button>
 </a>
{%else %}
    
  <button type="button" class="btn btn-primary viewbutton" style="right:30px;position:absolute;bottom:10px;height:38px;background-color:#279c76;">Share Your Cab</button>
 {%endif%}
 {%endif%}
  </div> 
  </div>  
  <div style="font-size:0px;margin-top:-5px;" class="adjust">
    <button style="width:100%;margin:0px;height:5px;font-size:15px;"></button>
  </div>
  <div style="font-size:17px;">
<br>  
    
  <div style="width:290px;height:500px;padding-left:10px;" class="mobout nbpeople">
  <div class="myalter" style="background-color:transparent;margin-top:7px;margin-bottom:12px;font-size:18px;padding:3px;padding-bottom:5px;">
    <img src="/media/Cricket.png" style="width:30px;"> {{m.intrest_name}}
     {%if i.current_intrest != "Travelling"%}
    <a href='../add_as_interest/?q={{m.intrest_name}}' style="color:black;">
    <button class="btn btn-primary" style="float:right;margin-right:10px;background-color:#279c76;">Make C.I.</button></a>{%endif%}
  </div>
 
         <div class="panel panel-default" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);">
      <div class="panel-heading"  style="background-color:rgb(1,76,66);color:white;">Nearby People of {{m.intrest_name}}</div>
     
      <style type="text/css">
        #up1 a{
          color: white;
        }
        #t tr td div a{
          color:black;
        }
      </style>

      <script type="text/javascript">
function removeit(id1,id2){

 $.ajax({
               type: "GET",
               url: "../cab_edit/",
               data: {'trip_id':id2,'memb_remove':id1,'remark':$(".remedit"+id2).html()},
               dataType: "json",
               success: function(response) {
                      // alert(response.z);

                      if(response.z=="trip_deleted"){
                         document.location="../cab_sharing/?place_from=";
                  
                    }
                    else{
                       $(".showcross"+id2+"_"+id1).fadeOut();
                     }    // $('.hid').html(response.z);
                    //$(".invite"+id).hide();
                       },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 



}
        
        $(function(){

          $(".inviting").click(function(){

            var id=$(this).attr("value");
        $.ajax({
               type: "GET",
               url: "../invitesportee/",
               data: {'invited':id},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                    $(".invite"+id).hide();
                       },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 

          });

        });
      </script>
    <div class="myautoscroll" id="quickbody" style="height:450px;">
       <table id="t" style="width:100%;">

       {% include 'pnear.html'%}


<style type="text/css"> 
.myrang:hover .invit{
display: block;
}

.m:hover{
background-color:  rgba(75,172,238,0.4);
  }</style>
  </table></div>
         </div>
  </div>
  <div style="display:inline-block;height:600px;float:right;padding-left:15px;" class="mobfull">
 <div style="font-size:30px;" class="showmobe">Cab Sharing</div><br>
 
<!-- 
  BADA LOOP -->
  {% for t in your_trips %}
  <div class="frame5" style="padding:0px;">

  <div style="width:100%;height:100px;background-color:#058c7a;padding-top:8px;">
    <table style="width:100%;"><tr>
    <td style="width:36%;color:white;padding-left:12px;"><center>
      <span style="font-size:22px;margin-left:8px;">{{t.trip_city_from|split_text:"0"}}</span>
      <br><span style="font-size:13px;">{{t.trip_city_from|split_text:"1"}}</span></center>
   </td>
    <td style="width:5%;color:white;"> 
    <span style="font-size:13px;"> To </span>
    </td>
    <td style="width:36%;color:white;"><center>
      <span style="font-size:22px;">{{t.trip_city|split_text:"0"}}</span>
       <br><span style="font-size:13px;">{{t.trip_city|split_text:"1"}}</span></center>
    </td>
    <td style="width:23%;color:white;border-left:1px solid white;padding-left:8px;">
    <span style="font-size:14px;">{{t.trip_from|time:"f A"}}</span>
    <br>
      <span style="font-size:25px;">{{t.trip_from|date:"d"}}</span><br>
      <span style="font-size:15px;">{{t.trip_from|date:"F"}}</span><br>
      
    </td></tr>
    </table>
  </div>
<div style="width:100%;padding:0px;font-size:0px;">
  <div style="display:inline-block;width:40%;display:inline-block;float:left;padding:7px;max-height:200px;overflow:auto;">
     <table style="width:100%;">
        
        {%for k in t.trip_memb%}
        {% for j in a|gory:k%}
            <tr class="showcross{{t.id}}_{{j.id}}">
            <td style="width:30%;display:inline-block;"><img src="/media/file_p{{j.id}}_{{j.prof_pic|last}}.jpg" class="hideimg hideimg{{t.id}}"  style="width:32px;height:32px;border-radius:7px;"><img src='/media/cross.jpg' class="showcross showcross{{t.id}}" title="Remove" style="display:none;width:32px;height:32px;border-radius:32px;" onclick="removeit({{j.id}},{{t.id}})"></td>
            <td style="width:70%;"><a href="../{{j.id}}/" style="color:black;font-size:15px;">
            {{j.first_name}}</a><br>
            <span style="font-size:12px;">Age:{{j.year|age}} , {{j.current_intrest}}</span></td>
            </tr>
            {%endfor%}
          {%endfor%}
            
          </table>

  </div>
  <div style="display:inline-block;width:60%;padding-top:20px;padding-left:14px;border-left:1px solid rgba(0,0,0,0.2);">
     <center><span style="font-size:22px;">{{t.trip_name}}</span>      
        </center>
        <span style="font-size:13px;margin-left:15px;margin-bottom:15px;"><br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="rem rem{{t.id}}">- {{t.remark}}</span>
        <textarea class="remedit remedit{{t.id}}" style="display:none;">{{t.remark}}</textarea><br></span>
        <div style="font-size:12px;float:right;padding-right:15px;margin-top:15px;margin-bottom:15px;">
        {% if i.id not in t.trip_memb %}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>

        {%if not your_trips%}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendjoin" value="{{t.id}}" onclick="hide(this);">Request</button>{%endif%}
        {%elif i.id == t.trip_memb|first%}
          

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendedit sendedit{{t.id}}" value="{{t.id}}">Edit</button>
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;display:none;" class="showedit showedit{{t.id}}" value="{{t.id}}">Submit</button>

        {%else%}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>
       
        {%endif%}
        <br>
         </div>
  
  </div>
</div>
</div>  
{% endfor %}

 {% for t in trips %}
  <div class="frame5" style="padding:0px;">

  <div style="width:100%;height:100px;background-color:#058c7a;padding-top:8px;">
    <table style="width:100%;"><tr>
    <td style="width:36%;color:white;padding-left:12px;"><center>
      <span style="font-size:22px;margin-left:8px;">{{t.trip_city_from|split_text:"0"}}</span>
      <br><span style="font-size:13px;">{{t.trip_city_from|split_text:"1"}}</span></center>
   </td>
    <td style="width:5%;color:white;"> 
    <span style="font-size:13px;"> To </span>
    </td>
    <td style="width:36%;color:white;"><center>
      <span style="font-size:22px;">{{t.trip_city|split_text:"0"}}</span>
       <br><span style="font-size:13px;">{{t.trip_city|split_text:"1"}}</span></center>
    </td>
    <td style="width:23%;color:white;border-left:1px solid white;padding-left:8px;"> <span style="font-size:14px;">{{t.trip_from|time:"f A"}}</span>
    <br>
      <span style="font-size:25px;">{{t.trip_from|date:"d"}}</span><br>
      <span style="font-size:15px;">{{t.trip_from|date:"F"}}</span><br>
      
    </td></tr>
    </table>
  </div>
<div style="width:100%;padding:0px;font-size:0px;">
  <div style="display:inline-block;width:40%;display:inline-block;float:left;padding:7px;max-height:200px;overflow:auto;">
     <table style="width:100%;">
        {%for k in t.trip_memb%}
        {% for j in a|gory:k%}
            <tr class="showcross{{t.id}}_{{j.id}}">
            <td style="width:30%;display:inline-block;"><img src="/media/file_p{{j.id}}_{{j.prof_pic|last}}.jpg" class="hideimg hideimg{{t.id}}"  style="width:32px;height:32px;border-radius:7px;"><img src='/media/cross.jpg' class="showcross showcross{{t.id}}" title="Remove" style="display:none;width:32px;height:32px;border-radius:32px;" onclick="removeit({{j.id}},{{t.id}})"></td>
            <td style="width:70%;"><a href="../{{j.id}}/" style="color:black;font-size:15px;">
            {{j.first_name}}</a><br>
            <span style="font-size:12px;">Age:{{j.year|age}} , {{j.current_intrest}}</span></td>
            </tr>
            {%endfor%}
          {%endfor%}
            
          </table>
  </div>
  <div style="display:inline-block;width:60%;padding-top:20px;padding-left:14px;border-left:1px solid rgba(0,0,0,0.2);">
     <center><span style="font-size:22px;">{{t.trip_name}}</span>      
        </center>
        <span style="font-size:13px;margin-left:15px;margin-bottom:15px;"><br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="rem rem{{t.id}}">- {{t.remark}}</span>
        <textarea class="remedit remedit{{t.id}}" style="display:none;">{{t.remark}}</textarea><br></span>
        <div style="font-size:12px;float:right;padding-right:15px;margin-top:15px;margin-bottom:15px;">
         {% if i.id not in t.trip_memb %}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>

        {%if not your_trips%}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendjoin" value="{{t.id}}" onclick="hide(this);">Request</button>{%endif%}
        {%elif i.id == t.trip_memb|first%}
          

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendedit sendedit{{t.id}}" value="{{t.id}}">Edit</button>
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;display:none;" class="showedit showedit{{t.id}}" value="{{t.id}}">Submit</button>
        {%else%}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>
        
        {%endif%}
        <br>
         </div>
  
  </div>
</div>
</div>  
{% endfor %}

  {% for t in near_trips %}
  {% if t not in trips%}
  <div class="frame5" style="padding:0px;">

  <div style="width:100%;height:100px;background-color:#058c7a;padding-top:8px;">
    <table style="width:100%;"><tr>
    <td style="width:36%;color:white;padding-left:12px;"><center>
      <span style="font-size:22px;margin-left:8px;">{{t.trip_city_from|split_text:"0"}}</span>
      <br><span style="font-size:13px;">{{t.trip_city_from|split_text:"1"}}</span></center>
   </td>
    <td style="width:5%;color:white;"> 
    <span style="font-size:13px;"> To </span>
    </td>
    <td style="width:36%;color:white;"><center>
      <span style="font-size:22px;">{{t.trip_city|split_text:"0"}}</span>
       <br><span style="font-size:13px;">{{t.trip_city|split_text:"1"}}</span></center>
    </td>
    <td style="width:23%;color:white;border-left:1px solid white;padding-left:8px;"> <span style="font-size:14px;">{{t.trip_from|time:"f A"}}</span>
    <br>
      <span style="font-size:25px;">{{t.trip_from|date:"d"}}</span><br>
      <span style="font-size:15px;">{{t.trip_from|date:"F"}}</span><br>
      
    </td></tr>
    </table>
  </div>
<div style="width:100%;padding:0px;font-size:0px;">
  <div style="display:inline-block;width:40%;display:inline-block;float:left;padding:7px;max-height:200px;overflow:auto;">
     <table style="width:100%;">
        {%for k in t.trip_memb%}
        {% for j in a|gory:k%}
            <tr class="showcross{{t.id}}_{{j.id}}">
            <td style="width:30%;display:inline-block;"><img src="/media/file_p{{j.id}}_{{j.prof_pic|last}}.jpg" class="hideimg hideimg{{t.id}}"  style="width:32px;height:32px;border-radius:7px;"><img src='/media/cross.jpg' class="showcross showcross{{t.id}}" title="Remove" style="display:none;width:32px;height:32px;border-radius:32px;" onclick="removeit({{j.id}},{{t.id}})"></td>
            <td style="width:70%;"><a href="../{{j.id}}/" style="color:black;font-size:15px;">
            {{j.first_name}}</a><br>
            <span style="font-size:12px;">Age:{{j.year|age}} , {{j.current_intrest}}</span></td>
            </tr>
            {%endfor%}
          {%endfor%}
            
          </table>
  </div>
  <div style="display:inline-block;width:60%;padding-top:20px;padding-left:14px;border-left:1px solid rgba(0,0,0,0.2);">
     <center><span style="font-size:22px;">{{t.trip_name}}</span>      
        </center>
        <span style="font-size:13px;margin-left:15px;margin-bottom:15px;"><br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="rem rem{{t.id}}">- {{t.remark}}</span>
        <textarea class="remedit remedit{{t.id}}" style="display:none;">{{t.remark}}</textarea><br></span>
        <div style="font-size:12px;float:right;padding-right:15px;margin-top:15px;margin-bottom:15px;"> {% if i.id not in t.trip_memb %}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>

        {%if not your_trips%}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendjoin" value="{{t.id}}" onclick="hide(this);">Request</button>{%endif%}
        {%elif i.id == t.trip_memb|first%}
          

        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendedit sendedit{{t.id}}" value="{{t.id}}">Edit</button>
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;display:none;" class="showedit showedit{{t.id}}" value="{{t.id}}">Submit</button>
        {%else%}
        <button style="color:white;border:none;background-color:#058c7a;padding:6px;border-radius:7px;width:90px;outline:none;" class="sendmsg" id="sendmsg" value="{{t.trip_memb|first}}" >Message</button>
        
        {%endif%}

        <br>
         </div>
  
  </div>
</div>
</div>  
{% endif %}
{% endfor %}

{% include 'interestframe.html'%}    
  </div>
</div>
</div>
{% include 'quicklink.html'%}
<style type="text/css">
.othertm{
width:32px;height:32px;border-radius:32px;margin-right:5px;box-shadow: 0 0 10px rgba(0,0,0,0.8); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.8); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8); -o-box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
  </style>
<div class="page">

<div style="" class="viewform">
  <table style="width:100%;margin:0px;"><tr>
    <td style="height:370px;" class="viewout"></td>
    <td style="width:60%;height:370px;padding-left:15px;background-color: white;">
      <button style="border:none;outline:none;background:transparent;border-bottom:2px solid #058c7a;width:120px;color:#058c7a;padding-bottom:8px;"><b>Cab Sharing</b></button><br><center>
        <span class="input input--nao" style="margin-top:-10px;">
          <input class="input__field input__field--nao place_from" type="text" id="pac-input2" placeholder=""  name="place_from" required="required" />
          <label class="input__label input__label--nao" for="input-1">
            <span class="input__label-content input__label-content--nao">Cab From</span>
          </label>
          <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
          </svg>
        </span>
        <span class="input input--nao" style="margin-top:-20px;">
          <input class="input__field input__field--nao place_to" type="text" id="pac-input1" placeholder=""  name="place_to"  required="required"/>
          <label class="input__label input__label--nao" for="input-1">
            <span class="input__label-content input__label-content--nao">Cab To</span>
          </label>
          <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
          </svg>
        </span>
     
               <span class="input input--nao" style="margin-top:-20px;">
          
             <div class="input-group clockpicker">
      <input type="text" class="form-control time" placeholder="Time (in Hrs.)">
      <span class="input-group-addon" required="required">
        <span class="glyphicon glyphicon-time"></span>
      </span>
    </div>
      
          
        </span>


       <span style="padding-left:0px;">
         <!--datepicker-->
       
         <input type="text" name="date" style="border:none;outline:none;border-bottom:2px solid rgba(0,0,0,0.16);cursor:pointer;width:350px;" placeholder="Date" style="margin-left:32px;" data-type="date" class="dapick1 date"  required="required">
<style type="text/css">
  @import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
.ui-datepicker,
.ui-datepicker-material-header {
  font-family: 'Roboto';
}

.ui-datepicker-material-header {
  display: block;
  background-color: #284B72;
  color: white;
  text-align: center;
  width: 325px;
}
.ui-datepicker-material-header .ui-datepicker-material-day {
  background-color: #1F3A58;
  padding: 10px;
  font-size: 1rem;
}
.ui-datepicker-material-header .ui-datepicker-material-date {
  padding: 20px;
}
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-month,
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-day-num,
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-year {
  padding: 5px;
}
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-month {
  font-size: 2rem;
  text-transform: uppercase;
}
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-day-num {
  font-size: 4.5rem;
}
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-year {
  font-size: 1.8rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.4);
}

.ui-datepicker {
  padding: 0;
  border: none;
  box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
  width: 325px;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-widget-header {
  border: 0;
}

.ui-datepicker-header {
  text-align: center;
  background: white;
  padding-bottom: 15px;
  font-weight: 300;
}
.ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker-header .ui-datepicker-next,
.ui-datepicker-header .ui-datepicker-title {
  border: none;
  outline: none;
  margin: 5px;
}

.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
  border: none;
  outline: none;
  background: #b4cbe5;
}

.ui-datepicker-calendar .ui-state-default {
  background: none;
  border: none;
  text-align: center;
  height: 33px;
  width: 33px;
  line-height: 36px;
}
.ui-datepicker-calendar .ui-state-highlight {
  color: #284B72;
}
.ui-datepicker-calendar .ui-state-active {
  border-radius: 50%;
  background-color: #284B72;
  color: white;
}
.ui-datepicker-calendar thead th {
  color: #999999;
  font-weight: 200;
}

.ui-datepicker-buttonpane {
  border: none;
}
.ui-datepicker-buttonpane .ui-state-default {
  background: white;
  border: none;
}
.ui-datepicker-buttonpane .ui-datepicker-close,
.ui-datepicker-buttonpane .ui-datepicker-current {
  background: white;
  color: #284B72;
  text-transform: uppercase;
  border: none;
  opacity: 1;
  font-weight: 200;
  outline: none;
}
.ui-datepicker-buttonpane .ui-datepicker-close:hover,
.ui-datepicker-buttonpane .ui-datepicker-current:hover {
  background: #b4cbe5;
}

</style>
       
<div id="material-header-holder" style="display:none">
  <div class="ui-datepicker-material-header">
    <div class="ui-datepicker-material-day">
    </div>
    <div class="ui-datepicker-material-date" style="display:none;">
      <div class="ui-datepicker-material-month" style="display:none;">
      </div>
      <div class="ui-datepicker-material-day-num" style="display:none;">
      </div>
      <div class="ui-datepicker-material-year" style="display:none;">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var headerHtml = $("#material-header-holder .ui-datepicker-material-header");

var changeMaterialHeader = function(header, date) {
  var year   = date.format('YYYY');
  var month  = date.format('MMM');
  var dayNum = date.format('D');
  var isoDay = date.isoWeekday();
  
  var weekday = new Array(7);
  weekday[1] = "Monday";
  weekday[2] = "Tuesday";
  weekday[3] = "Wednesday";
  weekday[4] = "Thursday";
  weekday[5] = "Friday";
  weekday[6] = "Saturday";
  weekday[7]=  "Sunday";

  $('.ui-datepicker-material-day', header).text(weekday[isoDay]);
  $('.ui-datepicker-material-year', header).text(year);
  $('.ui-datepicker-material-month', header).text(month);
  $('.ui-datepicker-material-day-num', header).text(dayNum);
};


$(".dapick1").on("focus", function() {
  $(".ui-datepicker").prepend(headerHtml);
});

$(".dapick1").datepicker({
  showButtonPanel: true,
  closeText: 'OK',
  onSelect: function(date, inst) {
    changeMaterialHeader(headerHtml,moment(date, 'MM/DD/YYYY'));
  },
});

changeMaterialHeader(headerHtml, moment());
$('input').datepicker('show');
</script>
        


       </span>
      
        <span class="input input--nao" style="margin-top:-7px;">
          <textarea style="border:2px solid rgba(0,0,0,0.16);width:100%;"  placeholder="Some Details..." name="remark" id="remark"></textarea>
        </span>
          <input type="hidden" id="fromlat" name="from_lat">

  <input type="hidden" id="fromlong" name="from_long">

  <input type="hidden" id="tolat" name="to_lat">

  <input type="hidden" id="tolong" name="to_long">

<script>

      function initAutocomplete() {
        var input = document.getElementById('pac-input2');
        var input1 = document.getElementById('pac-input1');
        var searchBox = new google.maps.places.SearchBox(input);
     var searchBox1 = new google.maps.places.SearchBox(input1);
    
       
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();
         $("#fromlat").val(places[0].geometry.location.lat());

          $("#fromlong").val(places[0].geometry.location.lng());
          if (places.length == 0) {
            return;
          }


        });
        searchBox1.addListener('places_changed', function() {
          var places = searchBox1.getPlaces();
           $("#tolat").val(places[0].geometry.location.lat());

          $("#tolong").val(places[0].geometry.location.lng());

         
          if (places.length == 0) {
            return;
          }

        });

      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArqXH6o_NM52R7ipu84PKLNoM7uvAuyh0&libraries=places&callback=initAutocomplete"
         async defer></script>

        <span class="input input--nao" style="margin-top:-7px;"></center><center>
          <button style="border:none;outline:none;background-color:#058c7a;color:white;width:200px;padding-top:10px;padding-bottom:10px;font-size:15px;border-radius:7px;" onclick="subform();"><center>Submit</center></button></center>
        </span>


    </td>
  </tr></table>
</div>
</form>
</div>
<script type="text/javascript">
  function subform(){
    var from=$(".place_from").val();
   var fto=$(".place_to").val();
   var fromlat=$("#fromlat").val().split(".")[0]+"."+$("#fromlat").val().split(".")[1].substring(0,4);
   var fromlong=$("#fromlong").val().split(".")[0]+"."+$("#fromlong").val().split(".")[1].substring(0,4);
   var tolat=$("#tolat").val().split(".")[0]+"."+$("#tolat").val().split(".")[1].substring(0,4);
   var tolong=$("#tolong").val().split(".")[0]+"."+$("#tolong").val().split(".")[1].substring(0,4);
    $.ajax({
               type: "GET",
               url: "../cab_sharing/",
               data: {'place_from':from,'place_to':$(".place_to").val(),'date':$(".date").val(),'max_memb':'4','from_lat':fromlat,'from_long':fromlong,'to_lat':tolat,'to_long':tolong,'remark':$("#remark").val(),'time':$('.time').val()},
               dataType: "json",
               success: function(response) {
            document.location="../cab_sharing/?place_from="
                               
         },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });
  }
</script>

<div class="page">
  {% include 'nav.html'%}
</div>
{% include 'picframe.html'%}
{% include 'frame6.html'%}
{% include 'chatbox.html'%}
<div style="background-color:rgba(0,0,0,0.2);position:fixed;top:0px;width:100%;height:100%;display:none;" class="backform">
  <span style="color: white;font-size:20px;float: right;margin-right: 5px;position: absolute;top: 5px;">X</span>
</div>

<style type="text/css">
  .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}


/* Nao */
.input--nao {
  overflow: hidden;
  padding-top: 1em;
}

.input__field--nao {
  padding: 0.5em 0em 0.25em;
  width: 100%;
  background: transparent;
  color: #9da8b2;
  font-size: 1.25em;
}

.input__label--nao {
  position: absolute;
  top: 0.95em;
  font-size: 0.85em;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
  transition: transform 0.2s 0.15s, color 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.graphic--nao {
  stroke: #92989e;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
  color: #058c7a;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
  stroke: #058c7a;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}


</style>

    <script>
    ( function( window ) {

'use strict';

// class helper functions from bonzo https://github.com/ded/bonzo

function classReg( className ) {
  return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
}

// classList support for class management
// altho to be fair, the api sucks because it won't accept multiple classes at once
var hasClass, addClass, removeClass;

if ( 'classList' in document.documentElement ) {
  hasClass = function( elem, c ) {
    return elem.classList.contains( c );
  };
  addClass = function( elem, c ) {
    elem.classList.add( c );
  };
  removeClass = function( elem, c ) {
    elem.classList.remove( c );
  };
}
else {
  hasClass = function( elem, c ) {
    return classReg( c ).test( elem.className );
  };
  addClass = function( elem, c ) {
    if ( !hasClass( elem, c ) ) {
      elem.className = elem.className + ' ' + c;
    }
  };
  removeClass = function( elem, c ) {
    elem.className = elem.className.replace( classReg( c ), ' ' );
  };
}

function toggleClass( elem, c ) {
  var fn = hasClass( elem, c ) ? removeClass : addClass;
  fn( elem, c );
}

var classie = {
  // full names
  hasClass: hasClass,
  addClass: addClass,
  removeClass: removeClass,
  toggleClass: toggleClass,
  // short names
  has: hasClass,
  add: addClass,
  remove: removeClass,
  toggle: toggleClass
};

// transport
if ( typeof define === 'function' && define.amd ) {
  // AMD
  define( classie );
} else {
  // browser global
  window.classie = classie;
}

})( window );

      (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
          // in case the input is already filled..
          if( inputEl.value.trim() !== '' ) {
            classie.add( inputEl.parentNode, 'input--filled' );
          }

          // events:
          inputEl.addEventListener( 'focus', onInputFocus );
          inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
          classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
          if( ev.target.value.trim() === '' ) {
            classie.remove( ev.target.parentNode, 'input--filled' );
          }
        }
      })();
    </script>
<style type="text/css">
  .showcross{
    cursor: pointer;
  }
</style>
<script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/dist/bootstrap-clockpicker.min.js"></script>
<script type="text/javascript">
$(function(){
$(".input-group-addon").click(function(){
   $(".clockpicker-button").html("OK");


});

$(".form-control").click(function(){
   $(".clockpicker-button").html("OK");


});


});
$('.clockpicker').clockpicker()
  .find('input').change(function(){
    console.log(this.value);
  });
var input = $('#single-input').clockpicker({
  placement: 'bottom',
  align: 'left',
  autoclose: true,
  'default': 'now'
});

$('.clockpicker-with-callbacks').clockpicker({
    donetext: 'Done',
    init: function() { 
      console.log("colorpicker initiated");
      $(".clockpicker-button").html("OK");

    },
    beforeShow: function() {
      console.log("before show");
      $(".clockpicker-button").html("OK");

    },
    afterShow: function() {
      console.log("after show");
      $(".clockpicker-button").html("OK");

    },
    beforeHide: function() {
      console.log("before hide");
      $(".clockpicker-button").html("OK");

    },
    afterHide: function() {
      console.log("after hide");
      $(".clockpicker-button").html("OK");

    },
    beforeHourSelect: function() {
      console.log("before hour selected");
      $(".clockpicker-button").html("OK");

    },
    afterHourSelect: function() {
      console.log("after hour selected");
      $(".clockpicker-button").html("OK");

    },
    beforeDone: function() {
      console.log("before done");
      $(".clockpicker-button").html("OK");

    },
    afterDone: function() {
      console.log("after done");
      $(".clockpicker-button").html("OK");

    }
  })
  .find('input').change(function(){
    console.log(this.value);
    $(".clockpicker-button").html("OK");

  });

// Manually toggle to the minutes view
$('#check-minutes').click(function(e){
  // Have to stop propagation here
  e.stopPropagation();
  input.clockpicker('show')
      .clockpicker('toggleView', 'minutes');
});
if (/mobile/i.test(navigator.userAgent)) {
  $('input').prop('readOnly', true);
}
</script>

</body>
</html>