
<style type="text/css">
	.full
{
	width: 100%;
	height: auto;
	padding-bottom: 9px;
	padding-top: 9px;
}
#textarea11{
  
}

.online1,.online2,.online3{
  margin-right: 6px;
}
#chatbox1,#chatbox2,#chatbox3{
	background: rgba(255,255,255,0.6);
}

</style>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<script type="text/javascript">
	$('.m').click(function(){
	var q = $(this).html();
	var chatid=q.split("_");
	chtid=chatid[1].split(".");
	var naame = q.split("<div style=\"font-size:14px;\">");
	var naam = "";
 	naam=naame[1].split("</div>");


	
	      $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                       		

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
            
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          }); 
    });
function refreshchat(abc){
 


 if(abc.indexOf("g")<0 && abc.indexOf("t")<0 )

{

 $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':abc,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
           
                       var rep=response.z;
                       

                     
                        $("#dutta").html(rep);
                     


                        $("#dutta").scrollTop($("#dutta").prop("scrollHeight"));
                       		

                       
                     

                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          }); 

}


if(abc.indexOf("g")<0 && abc.indexOf("t")>=0 )

{

//alert(abc);
abc=abc.split("_")[1];

     $.ajax({
               type: "POST",
               url: "../teamcht/",
               data: {'sluge':abc,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
 $("#dutta").html(rep);
                     


                        $("#dutta").scrollTop($("#dutta").prop("scrollHeight"));
                                     

                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
 

}


if(abc.indexOf("g")>=0 && abc.indexOf("t")<0 ){
abc=abc.split("_")[1];
    $.ajax({
               type: "POST",
               url: "../groupcht/",
               data: {'sluge':abc,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
            $("#dutta").html(rep);
                     


                        $("#dutta").scrollTop($("#dutta").prop("scrollHeight"));
                          

                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
 

}


}

$('.n').click(function(){
	//alert();
	var q = $(this).html();
	var chatid=q.split("_");
	var chtid=chatid[1].split(".");
	//alert(chtid[0]);
	
	var naame = q.split("margin-left: 5px;'>");
	var naam = q;
 	//naam=naame[1].split("</span>");


	
	      $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       

                       $("#ishita").html(naam);
                        $("#dutta").html(rep);
                        $("#idutta").html(chtid[0]);
                       $("#chatmobi").fadeIn();
                      // chatdel(naam,chtid,rep);
                        $("#dutta").scrollTop($("#dutta").prop("scrollHeight"));
                       		

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          }); 
    });


</script>

	<div id="chatbox1" class="chatboxes fbchatmsg">
		<div id="up1" class="up">
      <span class="online1" style="display:none;"><img src="/static/image/dot.png" style="width:12px;"></span>
      <div id="nm1"></div>
	
    <button class="bton">X</button>
    
    </div>
    <div class="msgscroll msgscroll1">Scroll Down to Load New Message..</div>
		<div id="textarea11" class="textarea" style="padding-right: 10px;
">
		

		<table id="c7">
    

    </table>
		</div>
		<div id="type">
		<button id="chatnow1" class="cb1" style="float:right;width:37px;background-color:white;border:none;height:36px;"
 title="Send Message"><img src="/media/icons/navigation.png" style="width:20px;"></span>
    </button> 
    <button style="float:right;background-color:grey;border:none;height:36px;"  title="Send an image" class="cpic1">  <span class="glyphicon glyphicon-paperclip" style="color:white;"></span>
    </button>
   
  <textarea id="msg" type="text" placeholder="Type Your message here" style="float:left;width:209px;overflow:auto;margin:0px;position:fixed;bottom:0px;height:30px;font-size:11px;background-color:white;font-weight:1000;"></textarea>
		<div id="chatid1" style="display: none;"></div>

		</div>
	</div>
  <div id="chatbox2" class="chatboxes fbchatmsg">
			<div id="up2" class="up">
        <span class="online2" style="display:none;"><img src="/static/image/dot.png" style="width:12px;"></span>
     <div id="nm2"></div>
			<div id="chatid2" style="display:none;"></div>


    
<button  class="bton">X</button></div>
<div class="msgscroll msgscroll2">Scroll Down to Load New Message..</div>
			<div id="textarea2" class="textarea" style="padding-right: 10px;
">
			
		<table id="c7"></table></div>
			<div id="type" style="">
      <button id="chatnow2" class="cb2" style="float:right;width:37px;background-color:white;border:none;height:36px;" title="Send Message">  <img src="/media/icons/navigation.png" style="width:20px;"></span>
  </button>
       <button style="float:right;background-color:grey;border:none;height:36px;" title="Send an image"  class="cpic2"><span class="glyphicon glyphicon-paperclip" style="color:white;"></span></button>
 
  <textarea id="msg2" type="text" placeholder="Type Your message here" style="float:left;width:209px;overflow:auto;margin:0px;position:fixed;bottom:0px;height:30px;font-size:11px;background-color:white;font-weight:1000;">
</textarea>
    </div>

	</div>
	<div id="chatbox3" class="chatboxes fbchatmsg">


		<div id="up3" class="up">
      <span class="online3" style="display:none;"><img src="/static/image/dot.png" style="width:12px;"></span>
     
      <div id="nm3"></div>
		<div id="chatid3" style="display:none;"></div>
    
<button  class="bton">X</button></div>
<div class="msgscroll msgscroll3">Scroll Down to Load New Message..</div>
		<div id="textarea3"  class="textarea" style="padding-right: 10px;
">
		
		<table id="c7"></table></div>
		<div id="type" style="">
    <button id="chatnow3" class="cb3" style="float:right;width:37px;background-color:white;border:none;height:36px;" title="Send Message"><img src="/media/icons/navigation.png" style="width:20px;">
</button>
    <button style="float:right;background-color:grey;border:none;height:36px;"  title="Send an image" class="cpic3"><span class="glyphicon glyphicon-paperclip" style="color:white;"></span></button>
   
  <textarea id="msg3" type="text" placeholder="Type Your message here" style="float:left;width:209px;overflow:auto;margin:0px;position:fixed;bottom:0px;height:30px;font-size:11px;background-color:white;font-weight:1000;">
</textarea>
    </div>
	</div>
<style type="text/css">
 #msg::-webkit-scrollbar {
    display: none;
     }
}

#msg::-webkit-scrollbar-track {
  display: none;
    }

#msg::-webkit-scrollbar-thumb {
    display: none;}

 #msg2::-webkit-scrollbar {
    display: none;
     }
}

#msg2::-webkit-scrollbar-track {
  display: none;
    }

#msg2::-webkit-scrollbar-thumb {
    display: none;}
 #msg3::-webkit-scrollbar {
    display: none;
     }
}

#msg3::-webkit-scrollbar-track {
  display: none;
    }

#msg3::-webkit-scrollbar-thumb {
    display: none;}

    </style>
	<div id="overflow">
		<div id="up4" class="up"><div id="nm4">Overflow</div><button style="color:black;left:91%;height:20px;font-size:12px;position:absolute;border:none;background-color:transparent;color:white;">X</button></div>
		<div id="textarea4" style="background-color:white;height:auto;"  class="textarea"><table id="c7"></table></div>
		</div>
</div>

<style>
.dropdownc1 {
    position: relative;
    display: inline-block;
}

.dropdownc1-content {
  cursor:pointer;
    display: none;
    position: absolute;
    left:-100px;
    background-color: #f9f9f9;
    min-width: 130px;
    top:15px;
    padding: 0px 0px;
    border:1px solid grey;
    border-radius: 6px;
    transition: all 0.7s;
}

.dropdownc1:hover .dropdownc1-content {
    display: block;
}
.dropdownc1-content .dropdrm1:hover{
  background-color: rgba(100,186,180,1);
  color: white;

} 
.dropdownc2 {
    position: relative;
    display: inline-block;
}

.dropdownc2-content {
  cursor:pointer;
    display: none;
    position: absolute;
    left:-100px;
    background-color: #f9f9f9;
    min-width: 130px;
    top:15px;
    padding: 0px 0px;
    border:1px solid grey;
    border-radius: 6px;
    transition: all 0.7s;
}

.dropdownc2:hover .dropdownc2-content {
    display: block;
}
.dropdownc2-content .dropdrm2:hover{
  background-color: rgba(100,186,180,1);
  color: white;

} 

.dropdownc3 {
    position: relative;
    display: inline-block;
}

.dropdownc3-content {
  cursor:pointer;
    display: none;
    position: absolute;
    left:-100px;
    background-color: #f9f9f9;
    min-width: 130px;
    top:15px;
    padding: 0px 0px;
    border:1px solid grey;
    border-radius: 6px;
    transition: all 0.7s;
}

.dropdownc3:hover .dropdownc3-content {
    display: block;
}
.dropdownc3-content .dropdrm3:hover{
  background-color: rgba(100,186,180,1);
  color: white;

} 
</style>


<form name="chatform" method="POST" action="../send_image/" enctype="multipart/form-data" style="display:none;" id="updpform1">
              {%csrf_token%}

              <input type="file" name="files" id="chatfoto"/>
              <input type="text" name="to" id="chattochat">
              
            </form>



<form name="upform1" method="POST" action="../send_image/" enctype="multipart/form-data" style="display:none;" id="updpform1">
              {%csrf_token%}

              <input type="file" name="files" id="cfoto1"/>
              <input type="text" name="to" id="tochat1">
              
            </form>
<form name="upform2" method="POST" action="../send_image/" enctype="multipart/form-data" style="display:none;" id="updpform2">
 {%csrf_token%}
             


              <input type="file" name="files" id="cfoto2"/>
              <input type="text" name="to" id="tochat2">
              
            </form>
<form name="upform3" method="POST" action="../send_image/" enctype="multipart/form-data" style="display:none;" id="updpform3">
            
 {%csrf_token%}

              
              <input type="file" name="files" id="cfoto3"/>
              <input type="text" name="to" id="tochat3">
              
            </form>


<form name="teamupform1" method="POST" action="../send_team_image/" enctype="multipart/form-data" style="display:none;" id="updpform1">
              {%csrf_token%}

              <input type="file" name="files" id="tcfoto1"/>
              <input type="text" name="to" id="ttochat1">
              
            </form>
<form name="teamupform2" method="POST" action="../send_team_image/" enctype="multipart/form-data" style="display:none;" id="updpform2">
 {%csrf_token%}
             


              <input type="file" name="files" id="tcfoto2"/>
              <input type="text" name="to" id="ttochat2">
              
            </form>
<form name="teamupform3" method="POST" action="../send_team_image/" enctype="multipart/form-data" style="display:none;" id="updpform3">
            
 {%csrf_token%}

              
              <input type="file" name="files" id="tcfoto3"/>
              <input type="text" name="to" id="ttochat3">
              
            </form>




<div class="ac1" style="display:none;"></div>

<div class="ac2" style="display:none;"></div>

<div class="ac3" style="display:none;"></div>

<div class="bc1" style="display:none;"></div>

<div class="bc2" style="display:none;"></div>

<div class="bc3" style="display:none;"></div>



<style type="text/css">
.chatboxess {
   
    overflow: hidden;
   
    outline: none;
   height: 20px;
       max-height:120px;
    overflow:auto;
    resize: none;
    
}
</style>
<script type="text/javascript">
var observe;
if (window.attachEvent) {
    observe = function (element, event, handler) {
        element.attachEvent('on'+event, handler);
    };
}
else {
    observe = function (element, event, handler) {
        element.addEventListener(event, handler, false);
    };
}
</script>
