{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
 -->
 <script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>New City | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

    </style>
    <title>Places Searchbox</title>
    <style>
      #target {
        width: 345px;
      }
    </style>
   <script>
    $(function(){
// $("#chnge").click(function(){
//                  var chang=$("#chng").val();
//         chang=chang.split("\n").join("<br>");
//         var patt=/\[[0-9]+\]/;
//         while(patt.test(chang)){chang=chang.replace(patt,"");}
        
//         $("#chng").val(chang);
//       //alert(chang);
//       document.forms["create_intrest"].submit();
//console.log(chang);

 //    });
    


    });



   getLocation();
var x = document.getElementById("demo");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
  
$("#lat").val(position.coords.latitude);
  $("#long").val( position.coords.longitude);
  
}

function initAutocomplete() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 25.262, lng: 82.989},
    zoom: 16,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // Create the search box and link it to the UI element.
  var input = document.getElementById('pac-input');
  var searchBox = new google.maps.places.SearchBox(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  markers.push(myMark = new google.maps.Marker({
        map: map,
        title: 'Current',
        draggable:true,
        animation: google.maps.Animation.DROP,
        position: {lat: parseFloat($("#lat").val()),lng:  parseFloat($("#long").val())}
      }));
google.maps.event.addListener(myMark, 'dragend', function(evt){

  $("#lat").val(evt.latLng.lat().toFixed(5));
  $("#long").val(evt.latLng.lng().toFixed(5));
  
    document.getElementById('current').innerHTML=" ";
});

google.maps.event.addListener(myMark, 'dragstart', function(evt){
    document.getElementById('current').innerHTML = '<p>Currently dragging marker...</p>';
});
  // [START region_getplaces]
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    // Clear out the old markers.
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
    markers = [];

    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    places.forEach(function(place) {
 
      // Create a marker for each place.
      markers.push(myMarker = new google.maps.Marker({
        map: map,
        title: place.name,
        draggable:true,
        animation: google.maps.Animation.DROP,
        position: place.geometry.location
      }));
      $("#lat").val(place.geometry.location.lat().toFixed(5));
  $("#long").val(place.geometry.location.lng().toFixed(5));
  
google.maps.event.addListener(myMarker, 'dragend', function(evt){

  $("#lat").val(evt.latLng.lat().toFixed(5));
  $("#long").val(evt.latLng.lng().toFixed(5));
  
    document.getElementById('current').innerHTML=" ";
});

google.maps.event.addListener(myMarker, 'dragstart', function(evt){
    document.getElementById('current').innerHTML = '<p>Currently dragging marker...</p>';
});

map.setCenter(myMarker.position);
myMarker.setMap(map);


      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });
  // [END region_getplaces]
}

$(function(){

$("#sbm").click(function(){

$(".detlay").fadeIn();
$(".details").fadeIn();
$(".fchh").val($('.controls').val());
//console.log()
return false;

});
$(".detlay").click(function(){

$(".detlay").fadeOut();
$(".details").fadeOut();

});

$(".cls").click(function(){

$(".detlay").fadeOut();
$(".details").fadeOut();

});

});

    </script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArqXH6o_NM52R7ipu84PKLNoM7uvAuyh0&libraries=places&callback=initAutocomplete"
         async defer></script> 
         <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>
  <body>

<div class="page">
  <div style="border:none;width:1100px;height:500px;padding:2px;border-radius:7px;padding-right:2px;">
   <input id="pac-input" class="controls" type="text" placeholder="Search Box" value="Varanasi" style="background: rgba(255,255,255,0.6);">
    

  <div id="map"></div>
 
  </div>

</div><center>
  <button style="font-size:17px;" id="sbm" onclick="return false;">Next</button>
  
</center>
  <form name="create_intrest" method="post" action="" enctype="multipart/form-data">
  
          {% csrf_token %}

  

   <table style="display:none;white-space:nowrap;" class="newgrp">
 
  <tr><td>Selected Area :</td><td>Lat.<input type="text" style="width:50px;background: rgba(255,255,255,0.6);" id="lat" value="25.262" name="city_lat" readonly="readonly"> &nbsp;&nbsp;Long.<input type="text" style="width:50px;background: rgba(255,255,255,0.6);" id="long" value="82.989" name="city_long" readonly="readonly"></td></tr>
    </table><br>
  <div id="current"></div></div>
  
<div class="detlay" style="background-color:black;height:100%;width:100%;position:fixed;top:0px;opacity:0.65;display:none;"></div><div class="page">
<div class="details" style="background-color:white;height:100%;width:650px;z-index:8;position:fixed;top:0px;max-width:650px;margin-left:200px;border-radius:5px;display:none;">
 <div class="cls" style="float:right;margin-right:3px;cursor:pointer;">X</div>
<center>
 <br><br> <h4>Enter Place Details</h4>
 <br><br>
  <input type="text" style="width:95%;background: rgba(255,255,255,0.6);border:none;outline:none;border-bottom:1px solid black;"placeholder="Place's Name" name="city_name" class="fchh" required="required"><br>
  <textarea style="width:95%;height:240px;margin-top:3px;border:1px solid black;" name="city_descript" placeholder="Description" required="required"></textarea>
 <br>Select Photo for Place :</td><td><input type="file" name="files" style="display:inline;" required="required"><br>
  
  <br><br><button type="submit" onclick="" id="chnge">Add Place</button>
</center>
 </div>
</div>


</form>
  </div>



   </body>
</html>




