
{% load static %}
{% load i18n %}
{% load extras %}

<!DOCTYPE html>
<html>
<head>
<style type="text/css">
  .panel-heading{
    background-color:rgb(0,86,134);color:white;
  }
</style>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">

<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>



<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
 -->

<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{m.intrest_name}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style type="text/css">
  .coverpic{
    background-color:;margin-top:45px;overflow:hidden;border-bottom:none;background:url("/static/interests/{{m.intrest_name}}.jpg") fixed  no-repeat;background-size:cover;display:inline-block;z-index:1;
  }

  @media screen and (min-width:680px){
    .coverpic{
      height:300px;
    }

    .mynewdp{
      background-color:rgba(0,0,0,0.3);height:347px;
    }
  }
  @media screen and (max-width:680px){
    .coverpic{
      height:180px;

    }
    .mynewdp{
      background-color:rgba(0,0,0,0.3);height:227px;
    }
  }
  .frame5{
    box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius:0px;
  }
</style>
<style>


.addsubmit{
  height:25px;
  width:90px;
  font-size:12px;
  position:relative;
  top:-65px;
  left:285px;
  border-radius:4px;
}

#fotos{
  height:25px;
  opacity:0; 
  font-size:27px;
  width:90px;
  position:relative;
  top:-42px;
  left:180px;
}

.addphoto{
  height:25px;
  width:90px;
  font-size:12px;
  border-radius:4px;
  position:relative;
  left:180px;
}


@media screen and (max-width: 780px) {

.addsubmit{

  left:68%;



}

.addphoto{
  left:35%;


}

#fotos{
  left:35%;
}


}



#up1,#up2,#up3{
  background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}

.textarea{
  background-color: rgba(255,255,255,1);

}

</style>

<script>

$(document).ready(function(){

$(window).scroll(function(){

if($(window).scrollTop()>350){
$(".nbpeople").css("position","fixed");
$(".nbpeople").css("top","40px");
$(".nbpeople").css("width","300px");
$(".myalter").slideDown();

}
else{
$(".nbpeople").css("position","initial");
$(".nbpeople").css("width","37.5%");
$(".myalter").slideUp();

}

});


 






  $(".sendmsg").click(function(){
    var iid=$(".sendmsg").val();
      $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':iid,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       var rep=response.z;
                       var naam =[];
                     var id1=[];
             id1.push($(".sendmsg").val());

                       naam.push(response.naam) ;
                       chatdel(naam,id1,rep);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 


  });

$(".hoot").keyup(function(event){
  
  if(event.which==13){
    //alert($(this).val());
    $(this).val("");
  }
});





$('.m').click(function(){
  var q = $(this).html();
  var chatid=q.split("_");
  chtid=chatid[1].split(".");
  var naame = q.split("<td width=\"70%\"><div style=\"font-size:14px;\">");
  var naam = "";
  naam=naame[1].split("</div>");


  
        $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<style type="text/css">
  /*@media screen and (min-width: 680px){
    .myalter{
    width:62%;  
    }
    
  }

  @media screen and (max-width: 680px){
    .myalter{
    width:100%;  
    }
    */

  }
  .btun {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btun:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}



.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

</style>
<body style="background-color:rgba(100,100,255,0.1);">
<div class="page" style="background:transparent;">
  <div style="display:inline-block;" class="adjust">
  
  <div class="coverpic" style=""><img src="/static/interests/{{m.intrest_name}}.jpg" style="width:100%;">
  </div>
  <div style="" class="mynewdp"><br><br>
  <br><div style="position:absolute;bottom:0px;background-color:rgba(0,0,0,0);width:100%;">
    
    <span style="color:white;font-size:38px;margin-left:20px;" class="texts">{{m.intrest_name}}</span>
{% if i.current_intrest != m.intrest_name %}

    <a href='../add_as_interest/?q={{m.intrest_name}}' style="color:black;">

  <button type="button" class="btun" style="right:30px;position:absolute;bottom:0px;">Make as Interest</button>
 </a>
 {% endif %}

  </div> 
  </div>  
  <div style="font-size:0px;margin-top:-5px;" class="adjust">
    <button style="width:100%;m
    argin:0px;height:5px;font-size:15px;"></button>
  </div>
  <div style="font-size:17px;">
<br>  
    
    
  <div style="width:290px;height:500px;padding-left:10px;" class="mobout nbpeople">
  <div class="myalter" style="background-color:transparent;margin-top:7px;margin-bottom:12px;font-size:18px;padding:3px;padding-bottom:5px;">
    <img src="/media/Cricket.png" style="width:30px;"> {{m.intrest_name}}
  {% if i.current_intrest != m.intrest_name %}

    <a href='../add_as_interest/?q={{m.intrest_name}}' style="color:black;">
   
    <button class="btun" style="float:right;width:80px;margin-top:-5px;">Make C.I.</button>

    </a>
 {% endif %}
  </div>
 
        <div class="panel panel-default" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);">
      <div class="panel-heading"  style="background-color:rgb(1,76,66);color:white;">Nearby People of {{m.intrest_name}}</div>
     
      <style type="text/css">
        #up1 a{
          color: white;
        }
        #t tr td div a{
          color:black;
        }
      </style>

      <script type="text/javascript">

        
        $(function(){

          $(".inviting").click(function(){


            var id=$(this).attr("value");
        $.ajax({
               type: "GET",
               url: "../invitesportee/",
               data: {'invited':id},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                    $(".invite"+id).hide();
                       },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 

          });

        });
      </script>
      <style type="text/css">

div.myautoscroll {
  
       overflow: hidden;
  
    }
    div.myautoscroll:hover {
        overflow: auto;
    }
    div.myautoscroll  {
        padding-right: 6px;
    }
    div.myautoscroll:hover  {
        padding-right: 0px;
    }
    #t tr{
      transition:all 0.8s;
    }
    #t tr:hover{

        background-color: rgba(20,200,100,0.35);

      }
      </style>
    <div id="slimscroll" style="max-height:450px;overflow-y:auto;">
         <table id="t" style="width:100%;">
        {% include 'pnear.html'%}

<style type="text/css"> 
.myrang:hover .invit{
display: block;
}

.m:hover{
background-color:  rgba(75,172,238,0.4);
  }</style>
  </table></div>
         </div>
  </div>
  <div style="display:inline-block;height:600px;float:right;padding-left:15px;" class="mobfull">
  {% include 'interestframe.html'%}    
  </div>
  </div>
  <hr style="width:100%;">
  </div>
  <script type="text/javascript">
$(function(){
var hmm=0;
var exhmm;
$(".teamopen").click(function(){
 if(hmm==0)
 {
 hmm=1;
 $(this).siblings(".opener").slideDown();
   exhmm=$(this).siblings(".opener");
   exxhmm=this;
$(this).css("background-color","rgb(70,150,160)");
$(this).css("color","white");

 }
 else
 {

 exhmm.slideUp(1000); 
//  $(exhmm).css("background-color","rgba(255,255,255,0.5)");
// $(exhmm).css("color","black");

 $(exxhmm).css("background-color","rgba(255,255,255,0)");
$(exxhmm).css("color","black");
 if(exhmm[0]!=$(this).siblings(".hfri")[0])
{ $(this).siblings(".opener").slideDown();
$(this).css("background-color","rgb(70,150,160)");
$(this).css("color","white");
}
 else{
  hmm=0;

 }
 exhmm=$(this).siblings(".opener");
   exxhmm=this;


 }
  });
  });
  </script>
    {% include 'quicklink.html'%}

<div class="page">
  {% include 'nav.html'%}
</div>
{% include 'picframe.html'%}
{% include 'frame6.html'%}
{% include 'chatbox.html'%}

</body>
</html>



