{% load static %}
{% load i18n %}
{% load extras %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="en">
<head>

 


<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/cssin.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
 --><script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>

<title>{{j.city_name}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style>
  #ff{
      display:none;
      opacity:0;
      }
      #nav1,#nav2,#nav3,#nav4,.rod,.top{
        background-color: rgb(22,57,76);
      }
      .rod{
        background-color: rgb(22,57,76);
        
      }
      
</style>

<script>


function giverate(id){

  //console.log(id.id);
var counter=1;

for(i=1;i<6;i++)

{
document.getElementById("star"+i).className = "glyphicon glyphicon-star-empty";
}



for(i=1;i<=parseInt(id.id.split("star")[1]);i++)

{
document.getElementById("star"+i).className = "glyphicon glyphicon-star";
}

$("#myrate").val(id.id.split("star")[1]);
//alert(id.id.split("star")[1]);

}




$(document).ready(function(){



var imge = new Image();
imge.src="/static/cricket.jpg";
 imge.onload = function() {





var hi=$("#is").css("height");

var wi=$("#is").css("width");
var hhigh=parseInt(hi.split("px")[0]);
var wide=parseInt(wi.split("px")[0]);
//alert(wide);
if(hhigh>470 && wide>800)
{
hi="470px"; 
hhigh=470; 
}
$(".rod").css("top",(hhigh+10)+"px");
$(".ver").css("top",(hhigh)+"px");
$(".pagever").css("top",(hhigh+10)+"px");
$(".info").css("top",(hhigh)+"px");
$(".news").css("top",(hhigh)+"px");

$(".naam").css("top",(hhigh-60)+"px");
$(".i1").css("top",(hhigh-60)+"px");
$(".i2").css("top",(hhigh-60)+"px");

var top=$("#sbm").css("top");
//alert(top);
$(window).scroll(function(){

if($(window).scrollTop()>(hhigh-120)){
var wtop=$(window).scrollTop();
     $(".i1").css("position","fixed");
       $(".i1").css("top","60px");
 $(".i2").css("position","fixed");
       $(".i2").css("top","60px");
     $(".naam").css("position","fixed");
       $(".naam").css("top","60px");

    $("#coverf").css("position","fixed");

    $("#coverf").css("top",(-hhigh+120)+"px");
        $("#coverf").show();
//   
$(".rod").css("position","fixed");
       $(".rod").css("top","120px");
   
           
}
if($(window).scrollTop()<(hhigh-120)){

     $(".i1").css("position","absolute");
       $(".i1").css("top",(hhigh-60)+"px");
 $(".i2").css("position","absolute");
       $(".i2").css("top",(hhigh-60)+"px");
     $(".naam").css("position","absolute");
       $(".naam").css("top",(hhigh-60)+"px");
         $("#coverf").hide();
$(".rod").css("position","absolute");

$(".rod").css("top",(hhigh+10)+"px");
     
}


});


};





$(".hoot").keyup(function(event){
  
  if(event.which==13){
    //alert($(this).val());
    $(this).val("");
  }
});

$('.like').click(function(){
  var abc = $(this).attr('value');
  var def = abc.split(".");
  //alert(abc);
      $.ajax({
               type: "POST",
               url: "../hit/",
               data: {'sluge':def[0],'slug': def[1] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       //alert(response.z);
                       $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });

$('.m').click(function(){
  var q = $(this).html();
  var chatid=q.split("_");
  chtid=chatid[1].split("\"");
  var naame = q.split("<td width=\"70%\"><div style=\"font-size:14px;\">");
  var naam = "";
  naam=naame[1].split("</div>");


  
        $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                          

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });


  

  $('.comment').click(function(){
  var abc = $(this).attr('value');

  var d = abc.split(".");
  var def = $('.'+d[1]).val();
   if(def!=""){
   
      $.ajax({
               type: "POST",
               url: "../comment/",
               data: {'sluge': d[0] ,'slug': d[1] ,'coment': def , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {

                    var dataa = response;
                    //dataa=dataa.replace(/[\n+]/,"\n");
                    var dat=dataa.split("@#$");
            var str="";

            for(i=0;i<dat.length-1;i++){

              if(i%4==0){
            str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
              }
            if(i%4==1){

            str+=" <b>"+dat[i]+" :: </b>";
              }
            if(i%4==2){

            str+=dat[i]+"<br>";
              }
            

            }
            var pqr = $(".commentsss").html();
            $(".commentsss").html(pqr+str);
                       $("#textarea1").html(pqr+str);
                       
                       console.log(response.z+"abc");
                        // alert(response.z);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });
          } 
    });
    $('.opine').click(function(){
  var abc = $(this).attr('value');

  var def = abc.split(".");



      $.ajax({
               type: "POST",
               url: "../opine/",
               data: {'sluge': def[0] ,'slug': def[1] ,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                    //alert(response.z);
                    var dataa = response.z;
                    //dataa=dataa.replace(/[\n+]/,"\n");
                    var dat=dataa.split("@#$");
            var str="";

            for(i=0;i<dat.length-1;i++){

              if(i%4==0){
            str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
              }
            if(i%4==1){

            str+=" <b>"+dat[i]+" ::</b>";
              }
            if(i%4==2){

            str+=dat[i]+"<br>";
              }
            

            }
            $(".commentsss").html(str);
            $("#textarea1").html(str);
           if(response.z!="NO"){
                        
             $("#c12").show();
              
            }
            else{
            $("#c12").hide();
              
            }
            $("#c12").scrollTop($("#textarea1").prop("scrollHeight"));
            
                       console.log(dataa);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });
    getweather();

});



function getweather(){



var url="http://www.omdbapi.com/?t=fan&y=&plot=short&r=json";
  $.get(url,function(data){


$("#xxml").html($("#xxml").html()+"Date Of Release: "+data.Released+"<br> Runtime : "+data.Runtime+" <br>Genre : "+data.Genre+" <br>Director : "+data.Director+"<br>Writer : "+data.Writer+" <br>Actors : "+data.Actors+"<br>Language : "+data.Language+"<br>Country : "+data.Country+"<br>Awards : "+data.Awards+"<br>");

//console.log(data.main.grnd_level);"Min. Temp.:"+data.main.temp_min+"Max Temp.:"+data.main.temp_max+
  });
}

</script>

 <script>






$(function(){

$("#sbm").click(function(){

$(".detlay").fadeIn();
$(".details").fadeIn();

});
$(".detlay").click(function(){

$(".detlay").fadeOut();
$(".details").fadeOut();

});

$(".cls").click(function(){

$(".detlay").fadeOut();
$(".details").fadeOut();

});

});



</script>

<meta charset="utf-8">
 
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="{% static 'jquery-ui.js' %}"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#id_trip_form" ).datepicker();
  });
  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>


</head>
<body style="background-color:rgb(255,255,255);">

<div style="width:100%;height:470px;overflow:hidden;" id="coverfoto">
 
<img  src="{% static 'fan.jpg'%}" style="width: 100%;" id="is">
 






</div>


<br><br>
<style> 




  .ver
{
    background: url(/media/back.png) repeat fixed 100% 200%;
}








</style>



 <div class="page">

    <div class="info" style="top:0px;">
      <br><br><br>
      <div class="frame4">
        <div class="top" style="color:white;"><h4><b>Movie Detail</b></h4></div>

        <div id="xxml" style="padding:6px;border: none;">
          
                 <span class="glyphicon glyphicon-star-empty" id="star1" onclick='giverate(this);' style="font-size: 25px;"></span>
<span class="glyphicon glyphicon-star-empty" id="star2" onclick='giverate(this);' style="font-size: 25px;"></span>
<span class="glyphicon glyphicon-star-empty" id="star3" onclick='giverate(this);'  style="font-size: 25px;"></span>
<span class="glyphicon glyphicon-star-empty" id="star4"  onclick='giverate(this);' style="font-size: 25px;"></span>
<span class="glyphicon glyphicon-star-empty" id="star5" onclick='giverate(this);' style="font-size: 25px;"></span>
<br>


        </div>

              
      </div>
 



    </div>

    <div class="news" style="margin-top:000px;">
    <br>
  
    <!-- <div class="frame5" style="background-color:#EFEFEF;height:165px;">

      <b>Expresses Yourself</b>

      <form name="upform" method="post" action="../upload/" enctype="multipart/form-data" style="display:none;">
               {% csrf_token %}
              
              <input type="file" name="files" multiple id="foto"/>
              
            </form>
  
      <br>
  
      <form id="abc" name="myform" method="post" action="../uploadpost/" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea placeholder="Share something ...." class="say" name="say" style="margin-left:5%; margin-bottom:2%; margin-top:4%; border-radius:5px;height: 58px; width: 362px;"></textarea><br>
           <button class="button11" style="height:35px;width:120px;font-size:15px;position:relative;left:130px;">Add Photo</button>
<input id="fotos" type="file" name="files" style=" opacity:0; font-size:27px;width:120px;position:relative;top:-52px;left:130px;"  multiple/>
     

                

                <button class="button11" style="height:35px;width:120px;font-size:15px;position:relative;top:-81px;left:255px;" type="submit">Share</button>&nbsp;
           
          </form>
           <br>
    
      <div class="time">
        
      </div> 
    </div>
 -->
          {% for c in f %}
  
            {% for thing in a|gory:c.identity %}
          <div class="frame5" style="background-color:rgba(255,255,255,0.3);">
      <img src="/media/file_p{{c.identity}}_{{thing.prof_pic|last}}.thumbnail" class="img-responsive" style="border-radius:5px;width:50px; height:50px; float:left; margin-right:5px;">
      
          
      <b style="font-size: 18px;">{{ thing.first_name }} {{ thing.last_name }}</b> shared a picture.
        {% endfor %}
      
      <br>
      <div class="time">

        {{c.post_time}}<br><br>
      </div> 
      {% if c.photos >= 1 %}
      {% if "#" in c.say %}
      <script type="text/javascript">
      var bol="{{c.say}}";
      if(bol.indexOf("&#")>-1){
      var j = bol.split("&#");
      var z="";
      for(i =0;i<j.length;i++){
        if(j[i].indexOf("#")>-1){
        var l=j[i].split("#");
      
      var d=l[1].split(" ");
      d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
      j[i]=d.join(" ");
      }
      

      }
      z=j.join("&#");
      
      document.write(z);
    }
    else{
      var l=bol.split("#");
      
      var d=l[1].split(" ");
      document.write(l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>"+d[1]);
    }
    
      </script>
      {%else%}
      {{c.say}}
      {%endif%}
      <br><br>
      <img src="/media/file_{{c.identity}}_{{c.photos}}.jpg" class="img-responsive" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" >
      {%else%}
      {% if "#" in c.say %}
      <script type="text/javascript">
      var bol="{{c.say}}";
      if(bol.indexOf("&#")>-1){
      var j = bol.split("&#");
      var z="";
      for(i =0;i<j.length;i++){
        if(j[i].indexOf("#")>-1){
        var l=j[i].split("#");
      
      var d=l[1].split(" ");
      d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
      j[i]=d.join(" ");
      }
      

      }
      z=j.join("&#");
      
      document.write(z);
    }
    else{
      var l=bol.split("#");
      
      var d=l[1].split(" ");
      document.write(l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>"+d[1]);
    }
    
      </script>
      {%else%}
      {{c.say}}
      {%endif%}
      {%endif%}
      <br><b id="hits{{c.identity}}.{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b>   <b id="com{{c.identity}}l{{c.photos}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.comments}} Opines</b><br>

      

      

      <!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} --> 
        <button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if count in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      



      





      <b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='ram{{c.identity}}k{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="share" value="sharem{{c.identity}}m{{c.photos}}"><span id="share"><span class="glyphicon glyphicon-share"></span>Share</b></a><br>
      <div  class="commentbox" id="commentboxram{{c.identity}}k{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;"><img src="/media/file_{{count}}.jpg" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

      
      
      
      <textarea class="{{c.identity}}d{{c.photos}} hoot" id="{{c.identity}}d{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

      <div class="commentsss"></div>


      <button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.identity}}d{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

       </div></div>
    {% endfor %}
    </div>
  </div>
</div>


<input type="hidden" id="myrate">

<div style="width:100%;height:470px;overflow-y:hidden;display:none;" id="coverf" >
<img src="{% static 'fan.jpg'%}" style="width:100%;" >

</div>
<div style="width:100%;height:10px;position:absolute;background-color: rgb(22,57,76);" class="rod"></div>

<i style="position:absolute;color:white;left:5%;font-size:40px;transition:all 0.5s;
   text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;" class="naam">FAN</i>

<button class="button1 i1"  id="sbm" style="text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;box-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;background-color:transparent;position:absolute;margin-top:0px;border-color:white;right:10%;"><b><strong>Go for Movie</strong></b></button>
<button class="button1 i2" style="text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;box-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;;background-color:transparent;position:absolute;margin-top:0px;border-color:white;right:30%;
"><b><strong>Photos</strong></b></button>
 

<div class='page'>{% include 'nav.html' %}
</div>
{% include 'frame6.html' %}
  </div>
  {% include 'chatbox.html' %}
 


</div>
<div class="cshide" style="display:none;">{{ csrf_token }}</div>

<div class="foot" style="display:none;"></div>

<style type="text/css">
  
.details{

  /*background:url('/static/fan.jpg');
  */
  height:250px;
  z-index:8;
  position:fixed;
  top:110px;
  max-width: 650px;
 border-radius:5px;
 display:none;
background:url("/media/sc1.jpg"); 

}



@media screen and (max-width:680px){
  .details{
    width: 100%;
    margin: 0px;
  }

}

@media screen and (min-width:1100px){

.details{
   width:650px;
 margin-left:200px;
 
}
}

@media screen and (min-width:680px) and  (max-width:1100px) {

.details{
   width:90%;
 margin-left:5%;
 
}
}
</style>


<div class="detlay" style="background-color:black;height:100%;width:100%;position:fixed;top:0px;opacity:0.65;display:none;"></div><div class="page">
<div class="details" style="">
<center><h2 style="text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;color: white;" >
Watch FAN with others</h2>
<form method="post" action=""> {% csrf_token %}
<b>Cinema Hall Name</b><br><input type="text" style="width: 200px;" name="theatre"><br>
<b>Select Date</b><br><select style="width:100px" name="day"><option value="">Date</option>
<option value="1">1</value>
  <option value="2">2</value>
  <option value="3">3</value>
  <option value="4">4</value>
  <option value="5">5</value>
  <option value="6">6</value>
  <option value="7">7</value>
  <option value="8">8</value>
  <option value="9">9</value>
  <option value="10">10</value>
  <option value="11">11</value>
  <option value="12">12</value>
  <option value="13">13</value>
  <option value="14">14</value>
  <option value="15">15</value>
  <option value="16">16</value>
  <option value="17">17</value>
  <option value="18">18</value>
  <option value="19">19</value>
  <option value="20">20</value>
  <option value="21">21</value>
  <option value="22">22</value>
  <option value="23">23</value>
  <option value="24">24</value>
  <option value="25">25</value>
  <option value="26">26</value>
  <option value="27">27</value>
  <option value="28">28</value>
  <option value="29">29</value>
  <option value="30">30</value>
  <option value="31">31</value>

</select>
   <select style="width:100px" name="month"><option>Month</option>
    <option value="1">January</value>
  <option value="2">February</value>
  <option value="3">March</value>
  <option value="4">April</value>
  <option value="5">May</value>
  <option value="6">June</value>
  <option value="7">July</value>
  <option value="8">August</value>
  <option value="9">September</value>
  <option value="10">October</value>
  <option value="11">November</value>
  <option value="12">December</value>
  
   </select>
   <select style="width:100px" name="year"><option>Year</option>
   <option value="2016">2016</value>
  <option value="2017">2017</value>
  <option value="2018">2018</value>
    

   </select><br>
<b>
Select no of Members</b>
<br>
<select style="width:100px" name="memb"><option>--Select--</option>
<option value="1">1</value>
  <option value="2">2</value>
  <option value="3">3</value>
  <option value="4">4</value>
  <option value="5">5</value>
  <option value="6">6</value>
  <option value="7">7</value>
  <option value="8">8</value>
  <option value="9">9</value>
  <option value="10">10</value>
  <option value="11">11</value>
  <option value="12">12</value>
  <option value="13">13</value>
  <option value="14">14</value>
  <option value="15">15</value></select>
<br><BR><button class="button1">Go for Movie</button>
</form>
   
</center>
 </div>
</div>



</body>