
{% load static %}



{% load i18n %}

{% load extras %}


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" 
 href="{%static 'css/css2t.css'%}"/>
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style type="text/css">
	.coverpic{
		height:300px;background-color:;margin-top:45px;overflow:hidden;border-bottom:1px solid red;background:url('/media/intrest/{{i.current_intrest}}.thumbnail') 100% fixed;background-size:cover;display:inline-block;

-webkit-filter: blur(12px);
-moz-filter: blur(12px);
-o-filter: blur(12px);
-ms-filter: blur(12px);z-index:1;
	}
	.frame5{
		box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
		border-radius:0px;
	}
</style>
<script type="text/javascript">
	
	$(function(){

$(window).scrollTop(350);

		$(".myname").html($(".myname").html().toLowerCase());

		$(".myname").css("text-transform","capitalize");
	});


</script>

</script>

<style>


.addsubmit{
  height:25px;
  width:90px;
  font-size:12px;
  position:relative;
  top:-65px;
  left:285px;
  border-radius:4px;
}

#fotos{
  height:25px;
  opacity:0; 
  font-size:27px;
  width:90px;
  position:relative;
  top:-42px;
  left:180px;
}

.addphoto{
  height:25px;
  width:90px;
  font-size:12px;
  border-radius:4px;
  position:relative;
  left:180px;
}


@media screen and (max-width: 780px) {

.addsubmit{

  left:68%;



}

.addphoto{
  left:35%;


}

#fotos{
  left:35%;


}



}



#up1,#up2,#up3{
	background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}

.textarea{
	background-color: rgba(255,255,255,1);

}

</style>

<script>





$(document).ready(function(){


$(window).scroll(function(){

if($(window).scrollTop()>350){
$(".nbpeople").css("position","fixed");
$(".nbpeople").css("top","50px");
$(".nbpeople").css("width","290px");
$(".seeallp").slideDown();

}
else{
$(".nbpeople").css("position","initial");
$(".nbpeople").css("width","37.5%");
$(".seeallp").slideUp();

}

});





var post=0;

$.ajax({
               type: "POST",
               url: "../studs/",
               data: {'id':'{{i.id}}','csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      
               		//console.log(response[0].pk);
                      // alert(response[1].fields.identity);
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });








var down=false;
var scrollTop=0;
var x = 0;







});



</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background-color:rgba(100,100,255,0.1);">
<div class="page" style="background:transparent;">
	<div style="display:inline-block;" class="adjust">
	<div class="coverpic" style="">
	</div>
	<div style="background-color:rgba(0,0,0,0.4);height:347px;" class="mynewdp"><br><br>
	<br>

		<center>
		<div style="width:190px;height:190px;background-color:white;padding:5px;border-radius:190px;overflow:hidden;">
		<img src="/media/file_p{{count}}_{{i.prof_pic|last}}.jpg" class="img-responsive"   onclick="port(this);" value="{{c.post_time}}" id="mydp" style="width:180px;height:180px;border-radius:180px;" id="mydp">
			
		</div>
			<img src="/media/icons/photo-camera.png" style="color:white;color:16px;cursor:pointer;width:25px;" class="notm"  onclick="chdp();">

       <b style="color:white;cursor:pointer;" class="notm"   onclick="chdp();"> Change</b>

		<br>
		<span style="color:white;font-size:25px;" class="myname texts">
			{{title | truncatechars:45 }}
		</span>
		<center style="color:white;">
		<b> Interested in:</b>&nbsp;&nbsp;&nbsp;{{i.current_intrest}}<br>
		
	</center>
	<br>
	
		</center>

	</div>
	<style type="text/css">
  .tabbtn{
    width:25%;margin:0px;height:35px;font-size:15px;background-color:rgba(1,76,66,1);border:none;color:white;border-bottom:2px solid rgba(1,56,46,1);border-top:2px solid rgb(1,76,66);transition:all 0.2s;border-right:1px solid rgba(1,56,46,1);
  }
  .tabbtn:hover{
    background: white;
    color:rgb(1,76,66);
    border-bottom: none;

}
    </style>
  <div style="font-size:0px;margin-top:-5px;" class="adjust">
	
  <a href="../about/?q={{i.id}}" style="color:black;">
    <button style=""  class="tabbtn"><b>About</b></button>
  </a><a href="../friends/?q={{i.id}}" style="color:black;">
  <button style="" class="tabbtn"><b>Following</b></button>
  </a>
  <a href="../photo/?q={{i.id}}" style="color:black;"><button style="" class="tabbtn"><b>Photos</b></button></a>
  <a href="../prof/" style="color:black;"><button style="" class="tabbtn"><b>My Posts</b></button></a>
	</div>
	<div style="font-size:17px;">
	<div style="width:100%;">
	<br></div>
	
		
	<div style="width:290px;height:500px;padding-left:10px;" class="mobout nbpeople">
	<!-- <div style="display:none;padding-left:15px;" class="seeallp" ><a href="../allposts/" style="color:black;"><button  class="">See All Posts</button></a></div>
 -->
  <div class="myalter seeallp" style="background-color:transparent;margin-top:7px;margin-bottom:12px;font-size:18px;padding:3px;padding-bottom:5px;display:none;">
    <img src="/media/file_{{counter}}.thumbnail" style="font-size:12px;width:30px;height:30px;border-radius:6px;"> {{i.first_name|truncatechars:15}}
    <a href='../prof/' style="color:black;">
    <button class="btun" style="float:right;width:80px;margin-top:-5px;">Prof. Post</button></a>
  </div>
 

          <div class="panel panel-default" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);">
      <div class=""  style="background-color:rgb(1,76,66);color:white;padding:10px;">Nearby People of {{m.intrest_name}}</div>
     
      <style type="text/css">
        #up1 a{
          color: white;
        }
        #t tr td div a{
          color:black;
        }
      </style>

      <script type="text/javascript">

        
        $(function(){

          $(".inviting").click(function(){

            var id=$(this).attr("value");
        $.ajax({
               type: "GET",
               url: "../invitesportee/",
               data: {'invited':id,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                    $(".invite"+id).hide();
                       },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 

          });

        });
      </script>
      <div id="slimscroll" style="max-height:450px;overflow-y:auto;">
       <table id="t" style="width:100%;">

         {% include 'pnear.html'%}


<style type="text/css"> 
.myrang:hover .invit{
display: block;
}

.m:hover{
background-color:  rgba(75,172,238,0.4);
  }</style>
  </table></div>
         </div>
  </div>
	<div style="display:inline-block;height:700px;float:right;padding-left:15px;" class="mobfull">
		
<div class="frame5" style="background-color:rgba(255,255,255,0.5);height:165px;overflow-y:hidden; ">

			<b>Express Yourself</b>

			<form name="upform" method="post" action="../upload/" enctype="multipart/form-data" style="display:none;">
               {% csrf_token %}
              
              <input type="file" name="files" multiple id="foto"/>
              
            </form>
	
			<br>
	
			<form id="abc" name="myform" method="post" action="../uploadpost/" enctype="multipart/form-data">
	              {% csrf_token %}
	              <textarea placeholder="Share something ...." class="say" name="say" style="margin-left:5%; margin-bottom:2%; margin-top:4%; border-radius:5px;height: 58px; width: 90%;color: black;"></textarea><br>
	   

 <button class="button1 addphoto" style="width: auto;background-color:rgb(1,76,66);" class="addphoto" id="addphoto">Add Photo</button>
<input id="fotos" type="file" name="files" id="fotos">
	                <button class="button1 addsubmit" style="background-color:rgb(1,76,66);" type="submit" id="addsubmit">Share</button>&nbsp;
	      <br>  <b style="color: green;position: relative;top: -105px;display: none;left: 40px;" class="showgreen"><img src="{% static 'green.png' %}" style="width: 10px;height: 10px;" > File Selected</b>     

	        </form>
	         <br>
		</div>

<div class="postall">
		{% include 'homeframe.html'%}
		</div>		<script type="text/javascript">
			$(function(){
				$(".allposts").click(function(){
					if($(".allposts button").html()=="All Posts"){
					$(".postall").html("Ajax call...");
					$(".allposts button").html("Profile Posts");
                }
                	else if($(".allposts button").html()=="Profile Posts"){
					$(".postall").html("Ajax call for Profile...");
					$(".allposts button").html("All Posts");
                }
				});
			});
		</script>
	</div>
	</div>
	<hr style="width:100%;">
	</div>
	
  {% include 'quicklink.html'%}
<div class="page">
	{% include 'nav.html'%}
</div>
{% include 'picframe.html'%}
{% include 'frame6.html'%}
{% include 'chatbox.html'%}
<div style="display:none">

<form name="editcover" method="post" action="../cover/" enctype="multipart/form-data">
	        {% csrf_token %}
<input type="file" name="files" id="cfoto"/>
<button type="submit" style="opacity:0.5" id="coverF">Upload Cover</button></form>

<form name="upform" method="post" action="../upload/" enctype="multipart/form-data" style="display:none;">
   {% csrf_token %}
  
  <input type="file" name="files" id="foto"/>
</form>
</div>

</body>