
<style type="text/css">
	@media screen and (min-width:1100px){
		.pccht{
			display: table;


		}
		.mobcht{
			display: none;
		}
}
	@media screen and (max-width:1100px){
		.pccht{
			display: none;


		}
		.mobcht{
			display: table;
		}
}
	


</style>


{% load static %}

{% load i18n %}

{% load extras %}

<div class="frame6" style="background-color: #F5F5F5;overflow-x: hidden;overflow-y: auto;">
	<div class="pccht" style="background:transparent;padding-top:2px;padding-left:0px;padding-bottom: 3em;">
		<table id="t" class="chatters" style="display:table;width: 250px;">
 
		{%for c in a%}
			{% if c.id in e %}
		
				<tr id="t1" class="m chat{{c.id}}" style="padding-left:10px;padding-bottom:6px;">
					<td width="5%" style="padding-left:2px;">
				<img src="{% static 'image/dot.png' %}" style="width:100%;display:none;" id="" class="dotchat dotchat{{c.id}}">
				</td>
			<td width="25%" style="padding-left:2px;padding-bottom:6px;">

			<div id="timg" ><img src="/media/file_{{c.id}}.thumbnail"  style="width:35px;height: 35px;"></div>
			</td>
			<td width="70%" style="padding-bottom:6px;border-bottom:1px solid rgba(0,0,0,0.06);"><div style="font-size:14px;"><b>{{c.first_name}} {{c.last_name}}</b> </div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} &nbsp;<span class="lasttime{{c.id}}">
			{% with time=c.logout|timesince%}{{time|truncatechars:"10"}}{%endwith%}
			</span> </div></td>	</tr>
			{% endif %}
		{%endfor%}


	</table>
	<br><br><br>
	<div id="search"><input type="text" class="box" id="chtsrch" style="width:210px;border-radius-top:10px;height:100%;" placeholder="Search" onclick=""></div></div>


<table class="mobcht" style="width:100%;background-color: white;border-collapse: collapse;">

		{%for c in a%}
			{% if c.id in e %}
		
<tr style="width: 100%;" class="n mobchatt"  value="{{c.id}}"><td style="width: 20%;padding:20px;"><span id="" style="margin-left:20px;float: right;margin-right:3px;"><img src="/media/file_{{c.id}}.thumbnail"  style="width:55px;height:55px;border-radius:55px"></span></td><td style="width: 80%;padding:20px;padding-left: 0px;"><span style='font-size:14px;'>{{c.first_name}} {{c.last_name}}<br><span style="font-size:13px;">{{c.logout|timesince}}</span></span>
<!-- <img src="{% static 'image/dot.png' %}" style="width:10px;display:none;float: right;" class="dotchat dotchat{{c.id}}">
 -->
			
		</td></tr>
			{%endif%}
		{%endfor%}
	

</table>
	</div>
