
{% load static %}


{% load i18n %}

{% load extras %}



<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" 
 href="{%static 'css/css2t.css'%}"/>
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style>
.friends{
	width:200px;
	border-radius: 0px;box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	font-size: 13px;
}
.friends a{
	color: black;
}
.frbtn{
	position: relative;
	top: -105px;
	left: 255px;
	height: 35px;
	width:35px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	transition: all 1s;
}
.frbtn:hover{
	background-color: rgba(255,255,255,0.6);
	color: blue;
}

.button1{
	font-size: 14px;
	border-radius: 5px;
	margin-right: 10px;
}


	#ff{
      display:none;
      opacity:0;
      }
}
#current{
	padding-bottom: 20px;
}
</style>



<style type="text/css">
	.coverpic{
		height:300px;background-color:;margin-top:45px;overflow:hidden;border-bottom:1px solid red;background:url('/static/interests/{{i.current_intrest}}.jpg') 100% fixed;background-size:cover;display:inline-block;
-webkit-filter: blur(12px);
-moz-filter: blur(12px);
-o-filter: blur(12px);
-ms-filter: blur(12px);z-index:1;
	}
	.frame5{
		box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
		border-radius:0px;
	}
</style>
<script type="text/javascript">
	
	$(function(){

		$(".myname").html($(".myname").html().toLowerCase());

		$(".myname").css("text-transform","capitalize");
	});

</script>


<style>


.addsubmit{
  height:25px;
  width:90px;
  font-size:12px;
  position:relative;
  top:-65px;
  left:285px;
  border-radius:4px;
}

#fotos{
  height:25px;
  opacity:0; 
  font-size:27px;
  width:90px;
  position:relative;
  top:-42px;
  left:180px;
}

.addphoto{
  height:25px;
  width:90px;
  font-size:12px;
  border-radius:4px;
  position:relative;
  left:180px;
}


@media screen and (max-width: 780px) {

.addsubmit{

  left:68%;



}

.addphoto{
  left:35%;


}

#fotos{
  left:35%;


}



}



#up1,#up2,#up3{
	background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}

.textarea{
	background-color: rgba(255,255,255,1);

}

</style>

<script>





$(document).ready(function(){



var post=0;

$.ajax({
               type: "POST",
               url: "../studs/",
               data: {'id':'{{i.id}}','csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      
               		//console.log(response[0].pk);
                      // alert(response[1].fields.identity);
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });












});


</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background-color:rgba(100,100,255,0.1);">
<div class="page" style="background:transparent;">
	<div style="display:inline-block;" class="adjust">
	<div class="coverpic" style="">
	</div>
	<div style="background-color:rgba(0,0,0,0.4);height:347px;" class="mynewdp"><br><br>
	<br>
		<center>
		<div style="width:190px;height:190px;background-color:white;padding:5px;border-radius:190px;overflow:hidden;">
		<img src="/media/file_p{{count}}_{{i.prof_pic|last}}.jpg" class="img-responsive"   onclick="port(this);" value="{{c.post_time}}" id="mydp" style="width:180px;height:180px;border-radius:180px;" id="mydp">
			
		</div>
	
		<br>
		<span style="color:white;font-size:25px;" class="myname">
			{{i.first_name}} {{i.last_name}} 

		</span>
		<center style="color:white;">
		<b> Interested in:</b>&nbsp;&nbsp;&nbsp;{{i.current_intrest}}<br>
		
	</center>
	<br>
	
		</center>
	</div>

<style type="text/css">
  .tabbtn{
    width:25%;margin:0px;height:35px;font-size:15px;background-color:rgba(1,76,66,1);border:none;color:white;border-bottom:2px solid black;border-top:2px solid rgb(1,76,66);transition:all 0.2s;
  }
  .tabbtn:hover{
    background: white;
    color:rgb(1,76,66);
    border-bottom: none;

}
    </style>
<center>

	<div style="font-size:0px;margin-top:-5px;" class="adjust">
	
			<a href="../about/?q={{i.id}}" style="color:black;">
		<button style=""  class="tabbtn"><b>About</b></button>
	</a><a href="../friends/?q={{i.id}}" style="color:black;">
	<button style="background-color:transparent;color:rgb(1,76,66);border:2px solid rgb(1,76,66);border-bottom:none;" class="tabbtn"><b>Following</b></button>
	</a>
	<a href="../photo/?q={{i.id}}" style="color:black;"><button style="" class="tabbtn"><b>Photos</b></button></a>
	<a href="../allposts/" style="color:black;"><button style="" class="tabbtn"><b>All Posts</b></button></a>	
	</div>
	<div style="font-size:17px;">
	<div style="width:100%;">
	<br></div>
	
		

<style type="text/css">
	.stay{
		margin: 0px;
	}
</style>
		<center><div id="current" style="background-color:white;border-radius:4px;box-shadow: 0 0 10px rgba(0,0,0,0.8); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.8); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8); -o-box-shadow: 0 0 10px rgba(0,0,0,0.8);" >
<div style="width:100%;height:35px;background-color:#058c7a;color:white;padding-left:20px;border-top-left-radius:4px;border-top-right-radius:4px;padding-top:8px;"><span style="float:left;margin-left:20px;"><b>Following ({{i.f_list|length}})</b></span> </div>
<br>
{% if h %}
<div  class="getfollow">
		{% for c in h %}
			
			<div style="" class="friends" style="height:250px;overflow:visible;">
				<div style="width: 100%;height: 90px;overflow: hidden;">
					<div style="width: 100%;height: 90px;overflow: hidden;">
			
						<img src="/media/intrest/{{c.current_intrest}}.thumbnail" style="width: 100%;">
					</div>
					<a href="..//">
				<button class="frbtn">
					<span class="glyphicon glyphicon-user"></span>
				</button></a>
		
			</div>
			<center>
				<div style="width: 54px;height: 54px;border-radius: 54px;padding: 2px;background-color: white;position: relative;top:-27px; box-shadow: 0 0 16px #B2B2B2;">
					
						<img src="/media/file_p{{c.id}}_{{c.prof_pic|last}}.thumbnail" style="width: 50px;height:50px;border-radius:50px;">
					
				</div>
			<div style="position: relative;top:-27px;">
				<b style="font-size: 15px;"><a href="../{{c.id}}">{{c.first_name}} {{c.last_name}}</a></b><br>
				
				<b>Interested in:</b><a href="../open_intrest/?q={{c.current_intrest}}">{{c.current_intrest}}</a><br>
				<button onclick="follow({{c.id}},this)" class="follow_{{c.id}} btun" style="margin-top:2px;">{%if c.id in e%}Un{%endif%}Follow</button></div>
			</center>

		</div>
		

		{% endfor %}
		</div>
<br>
<span style="float:right;margin-right:20px;"><a style="color:black;cursor:pointer;" class="followmore" value="{{h|length}}">View More...<br></a></span>
		{% else %}
Not Following Anyone...
{% endif%}		<br>
		<br>
		
		</div></center>



 {% if i.id == my_id %}
 <br><br>
<center><div id="current" style="background-color:white;border-radius:4px;box-shadow: 0 0 10px rgba(0,0,0,0.8); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.8); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8); -o-box-shadow: 0 0 10px rgba(0,0,0,0.8);" >
<div style="width:100%;height:35px;background-color:#058c7a;color:white;padding-left:20px;border-top-left-radius:4px;border-top-right-radius:4px;padding-top:8px;"><span style="float:left;margin-left:20px;"><b>Suggestions</b></span> </div>
<br>
<div class="getsuggest">
{% for c in b %}
			
			<div style="" class="friends" style="height:250px;overflow:visible;">
				<div style="width: 100%;height: 90px;overflow: hidden;">
					<div style="width: 100%;height: 90px;overflow: hidden;">
			
						<img src="/media/intrest/{{c.current_intrest}}.thumbnail" style="width: 100%;">
					</div>
					<a href="..//">
				<button class="frbtn">
					<span class="glyphicon glyphicon-user"></span>
				</button></a>
		
			</div>
			<center>
				<div style="width: 54px;height: 54px;border-radius: 54px;padding: 2px;background-color: white;position: relative;top:-27px; box-shadow: 0 0 16px #B2B2B2;">
					
						<img src="/media/file_p{{c.id}}_{{c.prof_pic|last}}.thumbnail" style="width: 50px;height:50px;border-radius:50px;">
					
				</div>
			<div style="position: relative;top:-27px;">
				<b style="font-size: 15px;"><a href="../{{c.id}}">{{c.first_name}} {{c.last_name}}</a></b><br>
				
				<b>Interested in:</b><a href="../open_intrest/?q={{c.current_intrest}}">{{c.current_intrest}}</a><br>
				<button onclick="follow({{c.id}},this)" class="follow_{{c.id}} btun" style="margin-top:3px;">{%if c.id in e%}Un{%endif%}Follow</button></div>
			</center>

		</div>
		

	
		{% endfor %}
</div>
		<br>


<span style="float:right;margin-right:20px;"><a style="color:black;cursor:pointer;" class="suggestmore" value="6">Suggest More...<br></a></span>

		
		
		</div></center>

	{% endif %}
	
		</div>
	<hr style="width:100%;">
	</div>
{% include 'quicklink.html'%}
<div class="page">
	{% include 'nav.html'%}
</div>
{% include 'picframe.html'%}
{% include 'frame6.html'%}
{% include 'chatbox.html'%}
<script type="text/javascript">
	$(function(){

		var f_list=$(".f_list").html().split("_");

f_list.pop();
for (var i = 0; i < f_list.length; i++) {
	f_list[i]=parseInt(f_list[i]);
}
		$(".followmore").click(function(){

			var from=$(this).attr("value");
			$.ajax({
               type: "GET",
               url: "../scroll_following/",
               data: {'from':from,"me":"{{count}}"},
               dataType: "json",
               success: function(response) {

               		for (var i = 0; i < response.length; i++) {
               		//	console.log(response[i]);
			var frnds = document.createElement("div");    
			frnds.className="friends";
			frnds.style.height="250px";

			frnds.innerHTML="<div style='width: 100%;height: 110px;overflow: hidden;'><div style='width: 100%;height: 110px;overflow: hidden;'><img src='/media/intrest/"+response[i].fields.current_intrest+".thumbnail' style='width: 100%;'></div></div><center><div style='width: 54px;height: 54px;border-radius: 54px;padding: 2px;background-color: white;position: relative;top:-27px; box-shadow: 0 0 16px #B2B2B2;'><img src='/media/file_"+response[i].pk+".thumbnail' style='width: 50px;height:50px;border-radius:50px;'></div><div style='position: relative;top:-27px;'><a href='../"+response[i].pk+"'><b style='font-size: 15px;'>"+response[i].fields.first_name+"</b></a><br><b>Interested in:</b><a href='../open_intrest/?q="+response[i].fields.current_intrest+"'>"+response[i].fields.current_intrest+"</a><br></div></center>";
			var frndsbtn = document.createElement("button");    
			frndsbtn.className="frndsbtn";
			frndsbtn.className+=" btun";
			frndsbtn.style.marginTop="2px";
			$(frndsbtn).attr("value",response[i].pk);
			console.log(f_list);
			console.log(response[i].pk);
			if(f_list.indexOf(response[i].pk)!=-1){

			frndsbtn.innerHTML="Unfollow";
			}
			else{
				console.log(f_list.indexOf(response[i].pk));
			frndsbtn.innerHTML="Follow";	
			}
			
			frnds.appendChild(frndsbtn);
          $(".getfollow").append(frnds);
         
			}
			if(response.length<12){
				$(".followmore").hide();
			}
			else{
			$(".followmore").attr("value",parseInt($(".suggestmore").attr("value"))+12);
			}
			$(".frndsbtn").click(function(){

				follow($(this).attr("value"),this);
			});

           
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });   






			//alert("hello");
			
       
		});


$(".suggestmore").click(function(){

			var from=$(this).attr("value");
			$.ajax({
               type: "GET",
               url: "../scroll_suggestions/",
               data: {'from':from,"me":"{{count}}"},
               dataType: "json",
               success: function(response) {

               		for (var i = 0; i < response.length; i++) {
               		//	console.log(response[i]);
			var frnds = document.createElement("div");    
			frnds.className="friends";
			frnds.style.height="250px";

			frnds.innerHTML="<div style='width: 100%;height: 110px;overflow: hidden;'><div style='width: 100%;height: 110px;overflow: hidden;'><img src='/media/intrest/"+response[i].fields.current_intrest+".thumbnail' style='width: 100%;'></div></div><center><div style='width: 54px;height: 54px;border-radius: 54px;padding: 2px;background-color: white;position: relative;top:-27px; box-shadow: 0 0 16px #B2B2B2;'><img src='/media/file_"+response[i].pk+".thumbnail' style='width: 50px;height:50px;border-radius:50px;'></div><div style='position: relative;top:-27px;'><a href='../"+response[i].pk+"'><b style='font-size: 15px;'>"+response[i].fields.first_name+"</b></a><br><b>Interested in:</b><a href='../open_intrest/?q="+response[i].fields.current_intrest+"'>"+response[i].fields.current_intrest+"</a><br></div></center>";
			var frndsbtn = document.createElement("button");    
			frndsbtn.className="frndsbtn";
			frndsbtn.className+=" btun";
			frndsbtn.style.marginTop="2px";
			$(frndsbtn).attr("value",response[i].pk);
			console.log(f_list);
			console.log(response[i].pk);
			if(f_list.indexOf(response[i].pk)!=-1){

			frndsbtn.innerHTML="Unfollow";
			}
			else{
				console.log(f_list.indexOf(response[i].pk));
			frndsbtn.innerHTML="Follow";	
			}
			
			frnds.appendChild(frndsbtn);
          $(".getsuggest").append(frnds);
         
			}
			if(response.length<12){
				$(".suggestmore").hide();
			}
			else{
				$(".suggestmore").attr("value",parseInt($(".suggestmore").attr("value"))+12);
			}
			$(".frndsbtn").click(function(){

				follow($(this).attr("value"),this);
			});

           
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });   



       
		});



	});

	function follow(abc,pqrs){

 $.ajax({
               type: "GET",
               url: "../sendrequest/"+abc,
               data: {},
               dataType: "json",
               success: function(response) {
                   //   $(".mygrp"+id).fadeOut(1000);
                   $(pqrs).html(response.z);

                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });   


			}
</script>

<div class="f_list" style="display:none;">{%for  j in e %}{{j}}_{%endfor%}</div> 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>     
</body>