{% load static %}
{% load i18n %}<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
    <title>Places | Zeeley</title>
    <link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
    </style>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>
  <body>
    <input id="pac-input" class="controls" type="text" placeholder="FROM" style="margin-left: 20px;">
    <input type="text" id="pac-input1" class="controls" type="text" placeholder="TO" style="margin-left: 10px;">
 

    <div id="map" style="display: none;"></div>
    <script>

      function initAutocomplete() {
        var input = document.getElementById('pac-input');
        var input1 = document.getElementById('pac-input1');
        var searchBox = new google.maps.places.SearchBox(input);
     var searchBox1 = new google.maps.places.SearchBox(input1);
    
       
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();
         $(".lat").html("<b>Lat :</b> "+places[0].geometry.location.lat());

          $(".long").html("<b>Long :</b> "+places[0].geometry.location.lng());
          if (places.length == 0) {
            return;
          }


        });
        searchBox1.addListener('places_changed', function() {
          var places = searchBox1.getPlaces();
         $(".lat").html("<b>Lat :</b> "+places[0].geometry.location.lat());

          $(".long").html("<b>Long :</b> "+places[0].geometry.location.lng());
          if (places.length == 0) {
            return;
          }

        });

      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArqXH6o_NM52R7ipu84PKLNoM7uvAuyh0&libraries=places&callback=initAutocomplete"
         async defer></script><br><br>
         <div class="lat"></div><br>

         <div class="long"></div>
 </body>
</html>