{% load static %}
{% load i18n %}

{% load extras %}


<!DOCTYPE html>
<html>
<head>
<audio id="audio" src="http://www.soundjay.com/button/beep-07.wav" autostart="false" ></audio>
    <script>
    </script>
<link rel="stylesheet" type="text/css" href="{%static 'css/cssh.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">

<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/csshm.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/cssht.css'%}/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<script src="{% static 'js/jssh.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width" />

<style>

.fijntm{
  position:fixed;
  
  background-color:white;
  
  display:none;




}

body
{
    background: url(/media/back.png) no-repeat fixed 100% 100%;
}
textarea{
  background-color: rgba(255,255,255,0.5);
}
.him{
background-color: rgba(255,255,255,0.5);
}

.f4w{
  background: transparent;
}
#ff{
      display:none;
      opacity:0;
      }
    @media screen and (max-width: 680px){

.fijntm{
    width: 90%;
  margin-left:5%;
  margin-right:5%;
  height: 90%;
  top: 15px;
  display: none;
 padding-right: 10px;
 padding-left: 10px;
}

  #hag{

width: 100%;

  }
.ficrtm{
    width: 100%;
    height: 95%;
    top:20px;

    position:fixed;
    background-color:white;overflow:auto;display:none;
    padding-left:5px;
     padding-right:5px; 
  
  }
  .frame4{
  margin-top: 5px;
  width: 98%; 
  position: inline;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  overflow: hidden;
  /*border: 1px solid rgba(0, 86, 134, 1); 
*/}

    }

@media screen and (min-width: 680px) and (max-width: 1100px){
    .ficrtm{
    width: 70%;
    height: 95%;
    top:20px;


    position:fixed;
    background-color:white;overflow:auto;display:none;
    margin-left:15%;
    margin-right:15%;
    padding-left:5px;padding-right:5px; 


  
  }
#hag{

width: 80%;

  }
 .fijntm{
    width: 60%;
  margin-left:15%;
  margin-right:10%;
  height: 90%;
  top: 15px;
  display: none;
 padding-right: 10px;
 padding-left: 10px;
}


}

@media screen and (min-width: 1100px) {
  .pdleft{
    padding-right: 50px;
    padding-left: 50px;
  }
#hag{

width: 70%;

  }
  .ficrtm{
    width: 50%;
    height: 95%;
    top:20px;


    position:fixed;
    background-color:white;overflow:auto;display:none;
    margin-left:20%;
    margin-right:20%;



  
  }

 .fijntm{
    width: 60%;
  margin-left:10%;
  margin-right:10%;
  height: 90%;
  top: 15px;
  display: none;
 padding-right: 10px;
 padding-left: 10px;
}
 
  .himt{
    width: 205px;
  }
  .info{
    margin-left: -30px;
  }


      .news{
        margin-left: 310px;
      }

}
.addsubmit{
  height:25px;
  width:90px;
  font-size:12px;
  position:relative;
  top:-65px;
  left:280px;
  border-radius:4px;
}

#fotos{
  height:25px;
  opacity:0; 
  font-size:27px;
  width:90px;
  position:relative;
  top:-42px;
  left:180px;
}

.addphoto{
  height:25px;
  width:90px;
  font-size:12px;
  border-radius:4px;
  position:relative;
  left:180px;
}


@media screen and (max-width: 780px) {

.addsubmit{

  left:65%;



}

.addphoto{
  left:35%;


}

#fotos{
  left:35%;


}



}



      
      .info{
        margin-top: -2px;
        padding: 0px;
        background-color: rgba(0,0,0,0);
      }
      .shim:hover{
        background: rgba(123, 173, 243, 1);
        color: white;

transition:all 1s;
      }
      .frame4{
          background-color: rgba(0,0,0,0);
     
      }
      #f4w{
        background-color: transparent;
     padding: 0px;  
      }
      .him{margin: 0px;
        border: 3px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255,255,255,0.4); 
      }
      

</style>

<script> 

function creatm(maand){

 $(".ficrtm").fadeIn(1500); 
   $(".focrtm").fadeIn(1000);
   var k =(maand.value).split(".");
   $(".teamgrp").html(k[1]);
   $(".teamg").val(k[0]);
   
  
//console.log();

}
function jointm(maand){

  $(".fijntm").fadeIn(1500); 
      $(".focrtm").fadeIn(1000); 
      var k =(maand.value).split(".");
    $(".teamgrp").html(k[1]);



    $.ajax({
               type: "POST",
               url: "",
               data: {'typed':k[0] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       $(".vwtm").html(response.z);
                       
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });
  
//console.log();

}

function cljntm(maand){

  $(".ficljntm").fadeIn(1500); 
      $(".focrtm").fadeIn(1000); 
      var k =(maand.value).split(".");
     $(".teamgrp").html(k[1]);

     $.ajax({
               type: "POST",
               url: "",
               data: {'typedd':k[0] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       $(".clgtm").html(response.z);
                       
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });

  
//console.log();

}



$(document).ready(function(){ 

$(".back").click(function(){
  $(".ficrtm").fadeOut();
     $(".fijntm").fadeOut();
     $(".ficljntm").fadeOut(); 
     $(".focrtm").fadeOut();

});
$(".back1").click(function(){
  $(".ficrtm").fadeOut();
     $(".fijntm").fadeOut();
     $(".ficljntm").fadeOut(); 
     $(".focrtm").fadeOut();

});

  
    $(".focrtm").click(function(){
     $(".ficrtm").fadeOut();
     $(".fijntm").fadeOut();
     $(".ficljntm").fadeOut(); 
     $(".focrtm").fadeOut();

     
      });


  $("#jcrtm").click(function(){
   $(".jficrtm").fadeIn(1500); 
   $(".jfocrtm").fadeIn(1000);
    }); 
  $(".jfocrtm").click(function(){
   $(".jficrtm").fadeOut(); 
   $(".jfocrtm").fadeOut(); 
  }); 


    }); 

function putlog(id){

// alert(id.src);
//  $("#putlogo").attr("src",id.src); $("#hidlogo").val(id.src);
var k = id.src.split("static/");
//alert (k[1]);
 $("#putlogo").attr("src","{%static '"+k[1]+"'%}"); 
 $("#hidlogo").val(k[1]);

}
function directchat(){


  var q = $("#teamchat").val();
  //alert(q);
  
        $.ajax({
               type: "POST",
               url: "../teamcht/",
               data: {'sluge':q,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       var naam=[];
                       var chtiid=[];
                       naam.push(response.naam);
                       chtiid.push("t_"+q);
                       chatdel(naam,chtiid,rep);
                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    }



</script>


<script>
$(document).ready(function(){

$("#zeeley").keyup(function(){

$(".zsrch").show();

var typed=$("#zeeley").val();
//alert(typed);
if(typed!=""){
$.ajax({
               type: "POST",
               url: "../searching/",
               data: {'typed':typed , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       $("#resrch").html(response.z);
                       $("#zeeley1").val(response.s);
                       
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); }
else{
  $("#resrch").html("");
}


});


$(".hoot").keyup(function(event){
  
  if(event.which==13){
    //alert($(this).val());
    $(this).val("");
  }
});

$('.like').click(function(){
  var abc = $(this).attr('value');
  var def = abc.split(".");
  //alert(abc);
      $.ajax({
               type: "POST",
               url: "../hit/",
               data: {'sluge':def[0],'slug': def[1] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       //alert(response.z);
                       //alert(abc);
                       //$("#hits"+abc).html(response.z+" Hits");
                       document.getElementById("hits"+abc).innerHTML="&nbsp;&nbsp;&nbsp;&nbsp;"+response.z+" Hits";
                       $("#"+def[0]+"hit"+def[1]).html("<span class='glyphicon glyphicon-heart'>&nbsp;"+response.k);

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });


$('.share').click(function(){
  var abc = $(this).attr('value');
  var def = abc.split("m");
  //alert(abc);
      $.ajax({
               type: "POST",
               url: "../share/",
               data: {'sluge':def[1],'slug': def[2] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       alert(response.z);
                       
                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });



$('.m').click(function(){
  var q = $(this).html();
  var chatid=q.split("_");
  chtid=chatid[1].split(".");
  var naame = q.split("<td width=\"70%\"><div style=\"font-size:14px;\">");
  var naam = "";
  naam=naame[1].split("</div>");


  
        $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                          

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });



$('.chtgrp').click(function(){
  var q = $(this).val();
 


  
        $.ajax({
               type: "POST",
               url: "../groupcht/",
               data: {'sluge':q,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       var naam=[];
                       var chtiid=[];
                       naam.push(response.naam);
                       chtiid.push("g_"+q);
                       chatdel(naam,chtiid,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                          

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });

  

  $('.comment').click(function(){
  var abc = $(this).attr('value');
  alert(abc);
  var d = abc.split("d");
  var def = $('.'+abc).val();
  //alert(def);
   if(def!=""){
   
      $.ajax({
               type: "POST",
               url: "../comment/",
               data: {'sluge': d[0] ,'slug': d[1] ,'coment': def , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {

                    var dataa = response.z;
                    var n = response.n;
                    //dataa=dataa.replace(/[\n+]/,"\n");
                    var dat=dataa.split("@#$");
            var str="";

            for(i=0;i<dat.length-1;i++){

              if(i%4==0){
            str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
              }
            if(i%4==1){

            str+=" <b>"+dat[i]+" :: </b>";
              }
            if(i%4==2){

            str+=dat[i]+"<br>";
              }
            

            }
            var pqr = $(".commentsss").html();
            $(".commentsss").html(pqr+str);
                       $("#textarea1").html(pqr+str);
                       $("#com"+d[0]+"l"+d[1]).html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+n+" Opines");
                       
                       console.log(response.z+"abc");
                        // alert(response.z);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });
          } 
    });


    $('.opine').click(function(){
  var abc = $(this).attr('value');

  var def = abc.split(".");



      $.ajax({
               type: "POST",
               url: "../opine/",
               data: {'sluge': def[0] ,'slug': def[1] ,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                    //alert(response.z);
                    var dataa = response.z;
                    //dataa=dataa.replace(/[\n+]/,"\n");
                    var dat=dataa.split("@#$");
            var str="";

            for(i=0;i<dat.length-1;i++){

              if(i%4==0){
            str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
              }
            if(i%4==1){

            str+=" <b>"+dat[i]+" ::</b>";
              }
            if(i%4==2){

            str+=dat[i]+"<br>";
              }
            

            }
            $(".commentsss").html(str);
            $("#textarea1").html(str);
           if(response.z!="NO"){
                        
             $("#c12").show();
              
            }
            else{
            $("#c12").hide();
              
            }
            $("#c12").scrollTop($("#textarea1").prop("scrollHeight"));
            
                       console.log(dataa);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });

});

</script>

</head>

<body>
<div style="position: absolute;top: 0px;">


</div>
    <div class="page">
<div class='page'>{% include 'nav.html' %}
</div>

  <div class="info" style="top:3.5em;position:fixed;height:100%;">
    

    <div class="frame4" style="color:black;border-radius:7px;height:100%;background-color: transparent;"><div id="f4w" style="border: none;">


<!-- <div class="him" style="height:80px;" onclick="openin();">
<img src="/media/file_{{count}}"  style="width:87px;height:87px;margin-top:-10px;margin-left:-8px;">
<div class="himt">&nbsp;<b style="font-size:18px;">{{title}}</b>
<br>&nbsp;<b>Interested in:</b>Cricket
</div>
</div>
 -->





{%for c in gr%}






















<div class="him" onclick="openin();"  style="border-radius: 0px;margin: 0px;border-bottom:none;padding: 0px;">
<div  style="border-radius: 0px;margin: 0px;border-bottom:none;padding: 3px;" class="shim">


<img src="/media/file_g{{c.cg_memb_id|first}}_{{c.id}}.thumbnail" class="himg" style="border-radius: 4px;"><div class="himt" style="width: 205px;">&nbsp;&nbsp;<span><b>{{c.cg_name}}</b></span></div>

<div class="himt" style="width: 20px;"><b>{{c.cg_memb_id|length}}</b></div>
<button style="color: black;" class="chtgrp" value="{{c.id}}"><span class="glyphicon glyphicon-comment"></span></button>

</div>
<div class="hfri" style="display:none;">
<hr style="margin-top:7px;margin-bottom:2px;color:black;background-color:black;opacity: 0;">
 <button class="button1 crtm" style="height:40px;width:140px;font-size:13px;position:relative;" value="{{c.cg_name}}" onclick="creatm(this)">Make a Quick Interest</button>
 <button class="button1 jntm" style="height:40px;width:140px;font-size:14.2px;position:relative;left:10px;" value="{{c.cg_name}}" onclick="jointm(this)">Join an Interest</button>
<table id="t" style="width:100%;">

{%for k in c.cg_memb_id%}

{% for thing in a|gory:k %}
{% if thing.current_intrest == i.current_intrest %}

<tr id="t1" class="m" style="padding-left:10px;width:100%;">
<td width="25%"><div id="timg" ><img src="/media/file_{{k}}.thumbnail"  style="width:100%;"></div></td><td width="70%"><div style="font-size:14px;">
          <b>{{ thing.first_name }} {{thing.lastname}}</b>
        </div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{thing.current_intrest}}{% endif %}{% endfor %} </div></div></td><td width="5%"></td>
</tr>
{%endfor%}
</table>
  </div>

</div>
{%endfor%}


    <!-- <table id="t6">

        <tr id="t1" class="m6" style="padding-left:10px;">
    <img src="/media/file_{{count}}" class="img-responsive" style="width:80px;height:80px;" onclick="port(this);">{{title}}
    </tr><br><br>
    {%for c in a%}
      {% if c.id in e %}
        <tr id="t1" class="m6" style="padding-left:10px;"><td width="5%">
          <td width="25%"   style="padding-right:10px;"><div id="timgh" ><img src="/media/file_{{c.id}}"  style="width:100%;"></div></td>
       -->  <!-- <img src="{% static 'image/dot.png'%}" style="width:100%;"> -->
        <!-- </td>
      <td width="70%"   style="padding-left:10px;"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
    </tr>
      {%endif%}
    {%endfor%}
      {%for c in a%}
      {% if c.id in e %}
        <tr id="t1" class="m6" style="padding-left:10px;"><td width="5%">
          <td width="25%"   style="padding-right:10px;"><div id="timgh" ><img src="/media/file_{{c.id}}"  style="width:100%;"></div></td>
<img src="{% static 'image/dot.png'%}" style="width:100%;"></td>
      <td width="70%"   style="padding-left:10px;"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
    </tr>
      {%endif%}
    {%endfor%}
 --> 


<!--  </table>
 -->
    </div>
    
</div>
    
      </div>
  
  
  <div class="news" style="top:3.5em;">
    <div class="frame5" style="background-color:rgba(255,255,255,0.3);height:165px;border:none;">

      <b>Expresses Yourself</b>

      <form name="upform" method="post" action="../upload/" enctype="multipart/form-data" style="display:none;">
      {% csrf_token %}

      <input type="file" name="files" multiple id="foto"/>

      </form>

      <br>
  
      <form id="abc" name="myform" method="post" action="../uploadpost/" enctype="multipart/form-data">
                {% csrf_token %}
                
  <textarea placeholder="Share something ...." class="say" name="say" style="margin-left:5%; margin-bottom:2%; margin-top:4%; border-radius:5px;height: 58px; width: 90%;color: black;"></textarea><br>
     

 <button class="button1 addphoto" style="" class="addphoto" id="addphoto">Add Photo</button>
<input id="fotos" type="file" name="files" id="fotos">
     

                

                  <button class="button1 addsubmit" type="submit" id="addsubmit">Share</button>&nbsp;
          
          </form>
           <br>
    
      <div class="time">
        
      </div> 
    </div>


    {% for c in f %}
      
      {% if c.profile_picture%}
      {% for thing in a|gory:c.identity %}
            <div class="frame5" style="background-color:rgba(255,255,255,0.3);">
      <img src="/media/file_p{{c.identity}}_{{thing.prof_pic|last}}.thumbnail" class="img-responsive" style="border-radius:5px;width:50px; height:50px; float:left; margin-right:5px;">
      

      <b style="font-size: 18px;">
          {{ thing.first_name }} {{ thing.last_name }}</b> changed {%if thing.male%}his{%elif thing.female%}her{%endif%} profile picture.
        {% endfor %}
      
      <br>
      <div class="time">

        {{c.post_time}}<br><br>
      </div> 
      {% if c.photos >= 1 %}
      {{c.say}}
      <br><br>
      <img src="/media/file_p{{c.identity}}_{{c.photos}}.jpg" class="img-responsive" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" >
      {%else%}
      {{c.say}}
      {%endif%}
      <br><b id="hits{{c.identity}}.{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b><b id="com{{c.identity}}l{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.comments}} Opines</b><br>

      

      

      <!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} --> 
        <button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}"  class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if count in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      



      





      <b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='ram{{c.identity}}k{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="share" value="sharem{{c.identity}}m{{c.photos}}" ><span id="share"><span class="glyphicon glyphicon-share"></span>Share</b></a><br>
      <div  class="commentbox" id="commentboxram{{c.identity}}k{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;"><img src="/media/file_{{count}}.jpg" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

      <!-- {% if c.comnt %}

        {{ c.comnt|first }}

      {% endif %} -->
      
      
      <textarea class="{{c.identity}}d{{c.photos}} hoot" id="{{c.identity}}d{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

      <div class="commentsss"></div>


      <button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.identity}}d{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

       </div></div>
            {% elif c.cover_picture%}
            {% for thing in a|gory:c.identity %}
            <div class="frame5" style="background-color:rgba(255,255,255,0.3);">
      <img src="/media/file_p{{c.identity}}_{{thing.prof_pic|last}}.thumbnail" class="img-responsive" style="border-radius:5px;width:50px; height:50px; float:left; margin-right:5px;">
      
          
      <b style="font-size: 18px;">{{ thing.first_name }} {{ thing.last_name }}</b> changed {%if thing.male%}his{%elif thing.female%}her{%endif%} coverphoto.
        {% endfor %}
      
      <br>
      <div class="time">

        {{c.post_time}}<br><br>
      </div> 
      {% if c.photos >= 1 %}
      {{c.say}}
      <br><br>
      <img src="/media/file_c{{c.identity}}_{{c.photos}}.jpg" class="img-responsive" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" >
      {%else%}
      {{c.say}}
      {%endif%}
      <br><b id="hits{{c.identity}}.{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b>   <b id="com{{c.identity}}l{{c.photos}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.comments}} Opines</b><br>

      

      

      <!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} --> 
        <button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if count in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      



      





      <b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='ram{{c.identity}}k{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="share" value="sharem{{c.identity}}m{{c.photos}}"><span id="share"><span class="glyphicon glyphicon-share"></span>Share</b></a><br>
      <div  class="commentbox" id="commentboxram{{c.identity}}k{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;"><img src="/media/file_{{count}}.jpg" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

      <!-- {% if c.comnt %}

        {{ c.comnt|first }}

      {% endif %} -->
      
      
      <textarea class="{{c.identity}}d{{c.photos}} hoot" id="{{c.identity}}d{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

      <div class="commentsss"></div>


      <button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.identity}}d{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

       </div></div>
            {% else %}
            {% for thing in a|gory:c.identity %}
          <div class="frame5" style="background-color:rgba(255,255,255,0.3);">
      <img src="/media/file_p{{c.identity}}_{{thing.prof_pic|last}}.thumbnail" class="img-responsive" style="border-radius:5px;width:50px; height:50px; float:left; margin-right:5px;">
      
          
      <b style="font-size: 18px;">{{ thing.first_name }} {{ thing.last_name }}</b> shared a picture.
        {% endfor %}
      
      <br>
      <div class="time">

        {{c.post_time}}<br><br>
      </div> 
      {% if c.photos >= 1 %}
      {% if "#" in c.say %}
      <script type="text/javascript">
      var bol="{{c.say}}";
      if(bol.indexOf("&#")>-1){
      var j = bol.split("&#");
      var z="";
      for(i =0;i<j.length;i++){
        if(j[i].indexOf("#")>-1){
        var l=j[i].split("#");
      
      var d=l[1].split(" ");
      d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
      j[i]=d.join(" ");
      }
      

      }
      z=j.join("&#");
      
      document.write(z);
    }
    else{
      var l=bol.split("#");
      
      var d=l[1].split(" ");
      document.write(l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>"+d[1]);
    }
    
      </script>
      {%else%}
      {{c.say}}
      {%endif%}
      <br><br>
      <img src="/media/file_{{c.identity}}_{{c.photos}}.jpg" class="img-responsive" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" >
      {%else%}
      {% if "#" in c.say %}
      <script type="text/javascript">
      var bol="{{c.say}}";
      if(bol.indexOf("&#")>-1){
      var j = bol.split("&#");
      var z="";
      for(i =0;i<j.length;i++){
        if(j[i].indexOf("#")>-1){
        var l=j[i].split("#");
      
      var d=l[1].split(" ");
      d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
      j[i]=d.join(" ");
      }
      

      }
      z=j.join("&#");
      
      document.write(z);
    }
    else{
      var l=bol.split("#");
      
      var d=l[1].split(" ");
      document.write(l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>"+d[1]);
    }
    
      </script>
      {%else%}
      {{c.say}}
      {%endif%}
      {%endif%}
      <br><b id="hits{{c.identity}}.{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b>   <b id="com{{c.identity}}l{{c.photos}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.comments}} Opines</b><br>

      

      

      <!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} --> 
        <button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if count in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      



      





      <b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='ram{{c.identity}}k{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="share" value="sharem{{c.identity}}m{{c.photos}}"><span id="share"><span class="glyphicon glyphicon-share"></span>Share</b></a><br>
      <div  class="commentbox" id="commentboxram{{c.identity}}k{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;"><img src="/media/file_{{count}}.jpg" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

      
      
      
      <textarea class="{{c.identity}}d{{c.photos}} hoot" id="{{c.identity}}d{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

      <div class="commentsss"></div>


      <button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.identity}}d{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

       </div></div>
            {%endif%}

     

    {% endfor %}





    

    
</div>


<div class="adsectn" style="height: auto;width: 258px;padding-top: 0px;padding-bottom: 30px;padding-left:0px;position: fixed;margin-left: 812px;top:4.2em;">
  


<!-- ads here  -->

</div>

</div>
</div>



  </div>
  </div>
{% include 'frame6.html' %}

{% include 'chatbox.html' %}


<div id="overlay"></div>
<div id="over">
<div id="picframe">
    <center><img src=""></center>
  
</div>
<div id="picframe1">
    <div id="c1"><!-- 
      <div style="float:right;" id="c6">X</div> -->
      <img src="/media/file_{{count}}.jpg" id="cimg"><a href="../prof/" id="c1a"><b>{{title}}</b></a><br>
      <div id="c11">
          Sept
        </div>
        <br><br><br>
      <a  style="color:black;">102 Hits 56 Opines 10 Shares</a><br>
        <a class="hit" style="color:black;"><span class="glyphicon glyphicon-heart">&nbsp;<b>Hits</b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="opine"  style="color:black;"><span class="opine"  onclick="comm(this.id);"  id='6'><span class="glyphicon glyphicon-align-justify"></span>&nbsp;<b>Opine</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="share"  style="color:black;"><span id="share"><span class="glyphicon glyphicon-share"></span><b>Share</b></a><br>
      
      <div id="c12" style="display:none;"><div id="textarea1"><img src="/media/file_{{count}}.jpg" style="height:32px;width:32px;"></div></div> 

      <div id="type1">
        <br>
        <textarea style="border-radius:5px;height: 55px; width: 100%;" class="box3 porten" placeholder="Write your Opinion here" id="msg1"></textarea>
      </div>
      <button class="button1" style="float:right; margin-top:3px;width:80px;height:35px;font-size:15px;" id="opene">Opine</button>
          
    </div> 
  </div>

</div>

<div class="google"><input type="text" placeholder="Search Any Person here..." style="background: rgba(255,255,255,0.6);" class="gbox">
<button class="button1 gg" style="width:9%;height:35px;"><span class="glyphicon glyphicon-search"></span></button></div>

<div class="cshide" style="display:none;">{{ csrf_token }}</div>





<div style="width:100%;height:100%;background-color:black;opacity:0.5;position:fixed;top:0px;display:none;" class="focrtm" ></div>

<div class="page"> <div style="" class="ficrtm"> <center><h3> Make a Quick Interest </h3>

Make a Quick Interest so that other members can join you on this.

<br><br>

<table>




<tr>
<form  method="post" action="../make_quick/" enctype="multipart/form-data" style="display:none;">
               {% csrf_token %}
  <td colspan="2" style="padding: 0px;">
  <input type="text" style="width:500px;height:40px;border:1px solid black;padding-left: 5px;" placeholder="Give a name to your quick interest..." name="q_int">  
<br>(For Example-Going to Lanka,Going to LC etc.)<BR>
<!-- <input type="text" style="width:500px;height:40px;border:1px solid black;padding-left: 5px;" placeholder="Enter Starting time...">  
<br>(In hh:mm:ss Format)<br>
<input type="text" style="width:500px;height:40px;border:1px solid black;padding-left: 5px;" placeholder="Enter Ending time...">  
<br>(In hh:mm:ss Format) -->

  </td>
  <td>
    {{form}}
  </td>

</tr>
<!-- <input class="teamg" type="hidden" name="team_group" >
 -->

 </table>



 <br>
<br>

<button class="button1">Submit</button>
</form>
<button class="button1 back1" onclick="return false" style="width:150px;">Back</button>


</center>
 </div>

</div>


 <div class="page">
  <div style="" class="fijntm">
  <center>
    <h3> Join other people </h3>
     Have fun with your local Friends
     
    </center> 
    <h4><center>Available Quick Interests in Your groups</center></h4> 
    <center>
        <table style="width:100%;border:1px solid black;">
     <tr style="color:white;background-color: rgba(123, 173, 243, 1);"><b>
      
      <td style="font-size:17px;width:40%;padding-left:25px;">Quick Int. Name</td>
      <td style="width:15%;font-size:17px">From</td>
      <td style="width:15%;font-size:17px">To</td>
      <td style="width:30%;font-size:17px;padding-right:10px;">View Members</td>
      </table>
     </b></tr> 
     <div style="overflow:auto;height:400px;">

     {% for c in quick %}

  <table style="width:100%;" >
         
  <form  method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="t_chosen" style="display:none;" value="{{c.id}}">
          <tr>
        <!-- <td align="right" style="width:10%;padding-left:px;"><img src="{%static '{{c._}}'%}" style="height:70px;width:70px;"></td> -->
        <td style="width:40%;padding-left:0px;"><a href="../city/?q={{c.trip_city}}">{{c.quick_name}}</a>
          </td>
        <td style="width:15%;padding-left:0px;">{{c.quick_from}}</td>
        <td style="width:15%;padding-right:0px;">{{c.quick_to}}</td>
        <td style="width:30%;padding-right:10px;"><center><button id="jcrtm">View Members</button></center></td>
      </tr>
        </form>
      </table>

      {% endfor %}<br><br>
<button class="button1 back1" onclick="return false" style="width:150px;">Back</button>
      </center></div></div>
      <div style="width:100%;height:100%;background-color:black;opacity:0.5;position:fixed;top:0px;display:none;" class="jfocrtm"></div> 
      
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');
</script>

</body>

</html>





