{% load static %}
{% load i18n %}
{% load extras %}


{% for c in b %}
	
			      {% for thing in a|gory:c %}
          <div class="frame5" style="background-color:rgba(255,255,255,0.3);">
      <img src="/media/file_p{{thing.identity}}_{{thing.prof_pic|last}}.thumbnail" class="img-responsive" style="border-radius:5px;width:50px; height:50px; float:left; margin-right:5px;">
      
          
      <b style="font-size: 18px;">{{ thing.first_name }} {{ thing.last_name }}</b> shared a picture.
        {% endfor %}{% endfor %}