<html>
<head>
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>

<script>
$(function(){
var url="/media/saved.txt";
$.get(url,function(data){

var array=data.split("<td align=\"left\" valign=\"top\">");
console.log(array);
for(i=1;i<array.length;i=i+7){
$(".xx").html($(".xx").html()+"\n"+array[i]);
}
});

});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div class="xx"></div>

</body>
</html>