{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" 
 href="{%static 'css/css2t.css'%}"/>
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<script type="text/javascript">
 
$(document).ready(function(){

$(".checktag").click(function(){

  var password=$("#tagname").val();
  


 $.ajax({
               type: "POST",
               url: "../checktag/",
               data: {'new_tag':password, 'csrfmiddlewaretoken': '{{csrf_token}}'},
               dataType: "json",
               success: function(response) {
                      
                if(response.z=="true"){
                  $(".chktag").html("<b style='color:green;'>"+password+" is Available !!</b>");

              $(".chksub").show();
                }
                else{
                    $(".chktag").html("<b style='color:red;'>"+password+" is Not Available !! Try Again...</b>");
              $(".chksub").hide();
                }

                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
   

});


$(".chksub").click(function(){

  var password=$("#tagname").val();
  
  

 $.ajax({
               type: "POST",
             url: "../checktag/",
               data: {'new_tag':password, 'csrfmiddlewaretoken': '{{csrf_token}}'},
               dataType: "json",
               success: function(response) {
                      
            if(response.z=="true"){
                  $(".chktag").html("<b style='color:green;'>"+password+" is Available !!</b>");

              $(".chksub").show();

document.forms["hashtag"].submit();
                }
                else{
                    $(".chktag").html("<b style='color:red;'>"+password+" is Not Available !! Try Again...</b>");
              $(".chksub").hide();
                }

                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
   

});




  function checkpass(){
    var password=$("#cpwd").val();
    if(password.length<8){
      alert("Password length should be greater tha 8 Characters!!");
      return false;
    }
    else{
      return true;
    }

  }


$("#cpwd").keyup(function(){
if($("#cpwd").val()==$("#npwd").val())
{if($("#cpwd").val()!="")
{
  $("#chkpwd").html("Passwords Match!!!");
  $("#chkpwd").css("color","green");
  $("#showpwd").fadeIn();
}
}
else{
  $("#chkpwd").html("Passwords do not Match!!!");
  $("#chkpwd").css("color","red");
  $("#showpwd").fadeOut();


}
});

$("#pswd").click(function(){
  $(".newpwd").show();
  $(".newpwd").css("top","70px");
  $(".overpwd").fadeIn(500);

});

$("#tname").click(function(){
  $(".tgname").show();
  $(".tgname").css("top","70px");
  $(".overpwd").fadeIn(500);

});

$(".overpwd").click(function(){
  $(".tgname").fadeOut(1000);
  $(".overpwd").fadeOut(500);

});


$(".overpwd").click(function(){
  $(".newpwd").fadeOut(1000);
  $(".overpwd").fadeOut(500);

});
});
</script>
<style type="text/css">
.newboxx{
    width:220px;height:30px;border:1px solid rgba(0,0,0,0.20);padding-left:10px;border-radius:15px;padding-right:8px;font-size:13px;padding-top:1px;padding-bottom:1px;  outline: 0;
  }
  
  .newboxx:hover, .newboxx:focus 
  {
        border:2px solid rgba(75,172,238,0.5);

  }
  .newbtn1
  {
    border:1px solid rgb(75,172,238); padding:0px 20px 0px 20px; border-radius:15px;font-size:20px;transition: all 0.6s;height:30px;margin-left: 125px;

  color: white;
  background-color:rgb(75,172,238);

  }
  .newbtn1:hover,.newbtn1:active 
  {
    background:transparent;color:rgb(75,172,238);
  }
</style>
<title>New Band | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style type="text/css">
  @media screen and (min-width: 1100px){
    .tgname{
width:600px;margin-left:250px;
    }
    .newpwd{
      width:600px;margin-left:250px;
    }
.setit{
  width:750px;
  margin-left:300px;
}
.setright{
  float:right;display:inline-block;
}
}
  @media screen and (max-width: 1100px)and (min-width: 785px){
     .tgname{
width:80%;margin-left:10%;
    }
    .newpwd{
      width:80%;margin-left:10%;
    }
.setit{
  width:100%;
  margin-left:0px;
  padding-left:20px;
}

.setright{
  float:right;display:inline-block;
}
}
@media screen and (max-width: 785px){
   .tgname{
width:90%;margin-left:5%;
    }
    .newpwd{
width:90%;margin-left:5%;
    }
.setit{
  width:100%;
  margin-left:0px;

  padding-left:20px;
}

.setright{
  float:none;display:block;
  border:none;
}
}
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background-color: white;">
<br><br>
<h1 style="color:rgb(75,172,238);font-size:32;margin-left:20px;">Create New Musical Band</h1>
<hr style="border:1px solid rgb(75,172,238);">
<div class="page" style="margin-top:-40px;">
  <div class="setit" style="height:auto;font-size:18px;margin-top:60px;">
  <div style="width:500px;display:inline-block;">
  <div align="left" style="font-size:15px;margin-top:6px;margin-bottom:12px;"><br>Please fill some information of your Band on Zeeley:</div>
  <form method="post" action="" enctype="multipart/form-data">
               {% csrf_token %}  
  <table style="width:100%;">
    <tr>
      <td style="width:50%;padding:5px 0px 5px 0px;font-size:15px;">
        Name of your Band<span style="color:red;font-size:12px;">*</span>
      </td>
      <td style="width:50%;padding:5px 0px 5px 0px;">
      <input type="text" name="b_name" placeholder="Band's Name" class="newboxx"  required="required" >
      </td>
    </tr>
    <tr>
      <td style="width:50%;padding:5px 0px 5px 0px;font-size:15px;">
        Brief desc.(optional)
      </td>
      <td style="width:50%;padding:5px 0px 5px 0px;">
          <textarea type="text" name="b_des" class="newboxx" placeholder="About your Band(optional)" style="height:120px;"></textarea>
       
      </td>
    </tr>
    <tr>
      <td style="width:50%;padding:5px 0px 5px 0px;font-size:15px;">
        Members Required
      </td><td></td></tr>
      </table>
      <table>
      <tr>
      <td style=";padding:5px 0px 5px 0px;">
         <input style="color: black;" type="checkbox" name="intrument" value="guitar" ></td><td width="80%">Guitar</td><td width="10%"> <select  style="color: black;" name="guitar"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="piano"></td><td width="80%">Piano/Keyboard</td><td width="10%"> <select style="color: black;"  name="piano"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="singer" ></td><td width="80%">Singing</td><td width="10%"> <select style="color: black;"  name="singer"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="bass" ></td><td width="80%">Bass</td><td width="10%"> <select style="color: black;"  name="bass"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="violin"></td><td width="80%">Violin</td><td width="10%"> <select style="color: black;"  name="violin"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="drum"></td><td width="80%">Drum</td><td width="10%"> <select style="color: black;"  name="drum"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="flute"></td><td width="80%">Flute</td><td width="10%"> <select style="color: black;"  name="flute"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="saxophone"></td><td width="80%">Saxophone</td><td width="10%"> <select style="color: black;"  name="saxophone"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input style="color: black;" type="checkbox" name="intrument" value="tabla" ></td><td width="80%">Tabla</td><td width="10%"> <select style="color: black;"  name="tabla"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr>
<tr>
<td width="10%">
<input type="checkbox" name="intrument" value="other"></td><td width="80%"><input type="text" style="color:black;width:100px;height:25px;margin-right:10px; margin-top: 5px;" name="b_other" placeholder="Others.." class="newboxx"></td><td width="10%"> <select style="color: black;"  name="other"><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr>
</table><table><tr>
      <td style="width:50%;padding:5px 0px 5px 0px;font-size:15px;">
        Select photo
      </td>
      <td style="width:50%;padding:5px 0px 5px 0px;font-size:15px;" ><br>
        <input type="file" name="files" style="display:inline;" required="required"><br><br>
<input class="teamg" type="hidden" name="team_group" >
      </td>
    </tr>
   
  </table><button class="newbtn1">Submit</button>

  </form> 
  </div>
  <div style="width:250px;border-left:1px solid rgba(0,0,0,0.3);padding-left:20px;" class="setright">
  
  </div>
<div class="page">
  {% include 'nav.html'%}
</div>
{% include 'picframe.html'%}
{% include 'frame6.html'%}
{% include 'chatbox.html'%}
  
</body>
</html>