 {% load static %}
{% load widget_tweaks %}
{% load i18n %}



<html>
<head>

<script src="https://apis.google.com/js/platform.js" async defer></script>

<meta name="google-signin-client_id" content="1072347151689-aac1oo9g1ts5isu39lgrkktnu4vhff8t.apps.googleusercontent.com"/>

<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}
</script> 
<!-- <a href="#" onclick="signOut();">Sign out</a> -->


<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->


<!-- function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
} -->














<meta name="description" content="Zeeley is a social network where you can connect with nearby people having exactly the same interest as you." />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
<script type="text/javascript" src="{% static 'jquery-1.9.1.js' %}"></script>

<script   src="https://code.jquery.com/jquery-1.10.2.js"   integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>
<script type="text/javascript">

localStorage.setItem('location', 'on');

  var w = window,
  d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    h = w.innerHeight|| e.clientHeight|| g.clientHeight;
    if(x>680){
      url = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js';
      $.getScript(url); 
  
    }
function validateForm(){
//alert("called");
//alert($(".emails").val().indexOf("@"));
if($(".emails").val().indexOf("@")==-1 || $(".emails").val().indexOf(".")==-1 ){
  $(".showerr").css("color","red");
  $(".showerr").html("*Enter Correct Email..");
  return false;
}
else if($(".passwords").val().length<8){
   $(".showerr").css("color","red");
  $(".showerr").html("*Password length should be at least 8 characters...");
  
  return false;
}
else{
 // alert("wrong"); 
  return true;
}

}
</script>
<title>Welcome | Zeeley</title>
<link rel="icon" href="3{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style type="text/css">
  
.page{

  margin: 0px auto 0px auto;
  

  }
body{
/*background-image : url("12.jpg"); 
*/
font-family: 'Open Sans', sans-serif !important; 

/*overflow-y:hidden;*/
overflow-x: hidden;
margin-left: 0px;
}

*{

  margin-left: 0px;
  padding: 0px;
}



  
@media screen and (min-width:1100px){
.page{

max-width: 680px;


}

}

@media screen and (min-width:1100px){
.page{

max-width: 1100px;

}
}



* {
  font-weight: light;
  -webkit-font-smoothing: antialiased;
}

html {
  background-color: black;
}


form h1 {
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  }
form button {
  margin-top: 35px;
  background-color: transparent;
  border: 1px solid white;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 15px;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

#fb{
  margin-top: 35px;
  background-color: transparent;
  border: 1px solid white;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;

}
 @media screen and (max-width: 1100px){
    .notonmob{
      display: none;
    }
  }


.myh1{
  
  margin-top: -100%;
  transition: all 1.5s;
}
.myh2{
   margin-left: -100%;
  transition: all 2s;
}
</style>

<script type="text/javascript">
  function statusChangeCallback(response) {
     if (response.status === 'connected') {
      $("body").html("Loading...");
FB.api('/me?fields=id,name,email,birthday,gender,picture.width(450).height(450),hometown,location', function(response) {
var first = response.name.split(" ");
var first_name = first.shift();
first= first.join(" ");
var last_name = first;
var birthday = response.birthday;
var month,date,year;
if(birthday){
  month=parseInt(birthday.split("/")[0]);
  date=parseInt(birthday.split("/")[1]);
  year=parseInt(birthday.split("/")[2]);
}
else{
month=01;
date=01;
year=1970;
}
var cemail=response.email;
if(!cemail){
  cemail="";
}
$.ajax({
               type: "POST",
               url: "../fblogin/",
               data: {'prof_pic':response.picture.data.url,'gmail':cemail,'fbid': response.id,'male': response.gender,'first_name':first_name,'last_name':last_name,'date':date,'month':month,'year':year, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                                   FB.logout(function(response) {
  

});
document.location=response.z;
},
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 


});
 } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }
    function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '931709773593928',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5', // use graph api version 2.5
  });

  FB.Event.subscribe('auth.statusChange', function(response) {
  checkLoginState();
  });
  
  

  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

function mylogin(){
  FB.login(function(response) {
}, {scope: 'email,public_profile', return_scopes: true});
return false;
}


</script>

<script>
$(window).load(function(){
  $(".fbbtn").click(function(){
mylogin();
  });

$(".waitload").fadeOut();
$(".toload").fadeIn();
});
  // This is called with the results from from FB.getLoginStatus().
  var check=0;
var lastScrollTop = 0;


  function scrolling(){
console.log("Going Down");

 var w = window,
  d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    h = w.innerHeight|| e.clientHeight|| g.clientHeight;
check=1;
var getint =(parseInt($(window).scrollTop()/h)+1)*h;

   $("body").animate({
          scrollTop: getint+"px"
        }, 650,function(){ check=0; lastScrollTop =$(window).scrollTop();});
  //  if(getint==h){
  //   $(".pnear").delay(700).fadeIn();
   
  //   $(".pnearby").delay(900).fadeIn();
  // $(".pnearimg").delay(1000).fadeIn();
  
  //  }
   if(getint==h){
    //$(".myh1").delay(700).fadeIn();
    $(".myh1").css("margin-top","0px");
   //$(".myh2").delay(700).fadeIn();
   
    $(".myh2").css("margin-left","0px");
   
   }

 lastScrollTop =$(window).scrollTop();

  }

function upscrolling(){
console.log("Going Up");
 var w = window,
  d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    h = w.innerHeight|| e.clientHeight|| g.clientHeight;
var getint =(parseInt($(window).scrollTop()/h))*h;

check=1;
   $("body").animate({
          scrollTop: getint+"px"
        }, 650,function(){ check=0;lastScrollTop =$(window).scrollTop();});
lastScrollTop =$(window).scrollTop();
 

  }


function topscroll(){
console.log("Going Up");
 var w = window,
  d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    h = w.innerHeight|| e.clientHeight|| g.clientHeight;


check=1;
   $("body").animate({
          scrollTop: "0px"
        }, 1000,function(){ check=0;lastScrollTop =$(window).scrollTop();});
lastScrollTop =$(window).scrollTop();
 

  }
  function nextscroll(nexty){
console.log("Going Down");

 var w = window,
  d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    h = w.innerHeight|| e.clientHeight|| g.clientHeight;
check=1;
var getint =nexty*h;

   $("body").animate({
          scrollTop: getint+"px"
        }, 650,function(){ check=0; lastScrollTop =$(window).scrollTop();});
   if(getint==h){
    $(".pnear").delay(700).fadeIn();
   
    $(".pnearby").delay(900).fadeIn();
  $(".pnearimg").delay(1000).fadeIn();
  
   }
   if(getint==2*h){
    //$(".myh1").delay(700).fadeIn();
    $(".myh1").css("margin-top","0px");
   //$(".myh2").delay(700).fadeIn();
   
    $(".myh2").css("margin-left","0px");
   
   }

 lastScrollTop =$(window).scrollTop();

  }


  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {






      FB.api('/me?fields=id,name,email,birthday,gender,picture.width(450).height(450),hometown,location', function(response) {
 
$("body").html("<center style='position:absolute;top:50%;left:50%;margin-left:-80px;margin-top:-80px;'><img src='/media/3dot.gif'><br><span style='font-size:45px;'>Loading</span></center>");

var first = response.name.split(" ");

var first_name = first.shift();
first= first.join(" ");
var last_name = first;


var birthday = response.birthday;


var month,date,year;

if(birthday){
  month=parseInt(birthday.split("/")[0]);

  date=parseInt(birthday.split("/")[1]);

  
  year=parseInt(birthday.split("/")[2]);

}


else{

month=01;
date=01;
year=1970;

}
var cemail=response.email;
if(!cemail){
  
  cemail="";
}

 $.ajax({
               type: "POST",
               url: "../fblogin/",
               data: {'prof_pic':response.picture.data.url,'gmail':cemail,'fbid': response.id,'male': response.gender,'first_name':first_name,'last_name':last_name,'date':date,'month':month,'year':year, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                                   FB.logout(function(response) {
  

});

                    document.location=response.z;

                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 


});
      // Logged into your app and Facebook.
   
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  
  FB.init({
    appId      : '931709773593928',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5', // use graph api version 2.5
  });
   

  FB.Event.subscribe('auth.statusChange', function(response) {
  // do something with response

 checkLoginState();


});

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  




</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->


<script type="text/javascript">
  
$(function(){

$(".logon").click(function(){
// alert($(".logon").html());
 if($(".logon").html()=="<center>Sign Up</center>"){
 $(".newsignin").fadeOut();
 $(".newsignup").delay(500).fadeIn();
$(".logon").html("<center>Sign In</center>");
}

 else{
 $(".newsignup").fadeOut();
 $(".newsignin").delay(500).fadeIn();
$(".logon").html("<center>Sign Up</center>");
}

});




  
$(window).scroll(function(event){
  if(check==0){
   var st = $(this).scrollTop();
   if (st > lastScrollTop){
   console.log(st+" > "+lastScrollTop+"So down .");
    
scrolling();
console.log(st);

   }
    if (st < lastScrollTop){

   console.log(st+" < "+lastScrollTop+"So Up .");
upscrolling();
console.log(st);
   }
 }
   
});

});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body id="body">
<div class="toload" style="">
<div class="flipping">
  <div style="width: 100%;height:100%;position: absolute;top: 0px;background:white;overflow-y:auto;">
  <div style="width:100%;background-color:white;height:60px;box-shadow: 0 0 10px rgba(0,0,0,1); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.9); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.9); -o-box-shadow: 0 0 10px rgba(0,0,0,0.9);color:black;font-size:25px;float:bottom;padding-top:20px;color:rgb(75,172,238);" class="weltoze">

  Welcome to Zeeley

  <button style="width:120px;color:rgb(75,172,238);background-color:transparent;border:none;float:right;outline:none;font-size:16px;border-left:1px solid black;" onclick="nextscroll(3);" class="notonmob">
    <center>How it Works</center>
  </button>

  <button style="width:80px;background-color:transparent;border:none;color:rgb(75,172,238);float:right;outline:none;font-size:16px;" class="logon"><center>Sign Up</center></button>
  </div>
<style type="text/css">
   @media screen and (min-width:680px){
    .weltoze{
      padding-left:40px;
    }
.newsignin{
  width:500px;
  margin-top:110px;
}
.newsignup{
  width:500px;
  margin-top:110px;
}

   }
   @media screen and (max-width:680px){
        .weltoze{
      padding-left:8px;
    }
.newsignin{
  width:100%;
  padding-left:15px;
  padding-right: 15px;
  margin-top:40px;
}
.newsignup{
 
  width:100%;
  padding-left:15px;
  padding-right: 15px;
  margin-top:40px;
}

   }
   
   .success{
  color: green;
}
.error{
  color: red;
}
</style>
    <center>

<!-- <div style="height:300px;margin-top:-170px;margin-right:10px;">


<canvas id="myCanvas"></canvas>
    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js"></script>
    <script type="text/javascript">
var myName = "Zeeley";

var red = [0, 100, 63];
var orange = [40, 100, 60];
var green = [75, 100, 40];
var blue = [196, 77, 55];
var purple = [280, 50, 60];
var letterColors = [red, orange, green, blue, purple];

drawName(myName, letterColors);

if(10 < 3)
{
    bubbleShape = 'square';
}
else
{
    bubbleShape = 'circle';
}

bounceBubbles();
    </script>


</div>
 -->


  <div style="height:auto;font-size:20px;overflow:auto;" class="newsignin">
  <b style="float:left;">Login to Zeeley</b><br>
  <div align="left" style="font-size:17px;margin-top:6px;margin-bottom:12px;padding-right:70px;">
  {% if messages %}
{% for message in messages %}
    <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> --><span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span><!-- </li> --><br><br>

 {% endfor %}
 {% else %}

  Please enter your sign in details. Sign up here if you are not registered yet.</div>
{% endif %}
<form class="sign2" style="color:black;" method = "post" action="/login/"> {% csrf_token %}
  <table style="width:100%;">
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        <b>Email</b><span style="color:red;font-size:12px;">*</span>
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
        <input type="text" name="usernam" style="" class="newboxx" placeholder="Email ID" required="required">
      </td>
    </tr>
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        <b>Password</b><span style="color:red;font-size:12px;">*</span>
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
          <input type="password" name="pass" style="" class="newboxx dropbtn" placeholder="Enter password" id="city"  required="required">
        </div>
        
      </td>
    </tr>
    <tr>
      <td>
        <button class="" style="background-color:rgb(75,172,238);color:white;float:right;width:160px;padding: 15px;border-radius: 8px; "><b>Login</b></button>
  </form>
      </td>
      <td>
      <!--   <button title="Login Using Facebook" style="background-color:#43609C;overflow:hidden;padding:6px;height:38px;border:none;width:200px;margin-left:13px;padding-top:12px;border-radius:5px;" class="fbbtn adjbtn" id="fb" onclick="return false;">  <i class="fbbtn fa fa-facebook" aria-hidden="true" style="margin-right:12px;background-color:white;color:#43609C;font-size:20px;padding:3px 4px 2px 4px;border-radius:3px;margin-top:-7px;" onclick="return false;"></i><b>Login</b></button>      -->

<div  title="Login Using Facebook" class="btn-fb-login fbbtn" onclick="return false;" style="margin-top:35px;margin-left:15px;">
    <span class="icon icon-fb"></span>
    <span class="title">Login with Facebook</span>
  </div>
      </td>
    </tr>
    </table>
      
  
   
   
  </div>
</center>
    <center>
  <div style="height:auto;font-size:20px;display:none;overflow:auto;" class="newsignup">
  <b style="float:left;">SignUp for Zeeley</b><br>
  <div align="left" style="font-size:17px;margin-top:6px;margin-bottom:12px;padding-right:70px;" class="showerr">Please enter your sign up details. Sign in here if you are already registered.</div>
<form method="post" action=""  onsubmit="return validateForm()" class="sign1" style="float:left;display:inline;">{% csrf_token %}
   <table style="width:100%;float:left;">
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        Name<span style="color:red;font-size:12px;">*</span>
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
        <input type="text" name="first_name" style="" class="newboxx" placeholder="Name" required="required">
        <input type="hidden" name="last_name" style="" class="newboxx" placeholder="" required="required">
      </td>
    </tr>
    
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        Email<span style="color:red;font-size:12px;">*</span>
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
        <input type="text" name="email" style="" class="newboxx emails" placeholder="Email ID" required="required">
      </td>
    </tr>
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        Password<span style="color:red;font-size:12px;">*</span>
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
          <input type="password" name="password" style="" class="newboxx dropbtn passwords" placeholder="Enter password" id="city" required="required">
        </div>
        
      </td>
    </tr>
    <tr>
      <td>
        Gender : 
      </td>
      <td>
        <input type="radio" name="male" value="male" checked="checked">Male <input type="radio" name="male" value="female">Female 
      </td>
    </tr>
    <tr>
      <td>
        <button class="" style="background-color:rgb(75,172,238);color:white;float:right;width:120px;padding: 15px;border-radius: 8px; "><b>Sign Up</b></button>
  
      </td>
      <td>
      <!--   <button title="Login Using Facebook" style="background-color:#43609C;overflow:hidden;padding:6px;height:38px;border:none;width:180px;margin-left:13px;border-radius:15px;" class="fbbtn adjbtn" id="fb" onclick="return false;">  <i class="fbbtn fa fa-facebook" aria-hidden="true" style="margin-right:12px;background-color:white;color:#43609C;font-size:20px;padding:3px 4px 2px 4px;border-radius:3px;margin-top:-7px;" onclick="return false;"></i><b>Login</b></button> -->

<div  title="Login Using Facebook" class="btn-fb-login fbbtn" onclick="return false;" style="margin-top:35px;margin-left:15px;">
    <span class="icon icon-fb"></span>
    <span class="title">Login with Facebook</span>
  </div>
      </td>
    </tr>
    </table>
      </form>
  
   
   
  </div>
</center>

<style type="text/css">
   .newboxx{
    width:220px;height:30px;border:1px solid rgba(0,0,0,0.20);padding-left:10px;border-radius:15px;padding-right:8px;font-size:13px;padding-top:1px;padding-bottom:1px;  outline: 0;
  }
  
  .newboxx:hover, .newboxx:focus 
  {
        border:2px solid rgba(75,172,238,0.5);

  }
  
</style> 
<div  onclick="nextscroll(1);"  style="position:absolute;bottom:50px;left:0px;right:0px;margin-left:auto;margin-right:auto;border:1px solid black;background-color:transparent;width:50px;height:50px;border-radius:50px;padding:10px;cursor: pointer;" class="notonmob"><center>
<span class="glyphicon glyphicon-chevron-down" style="font-size:27px;background:transparent;"></span></center></div>

  </div>
  <div style="width:100%;height:100%;position:absolute;top:0px;background-color:rgba(0,0,0,0.85);display:none;" class="overlay"></div>
  <div class="page">
  <style type="text/css">
    @media screen and (min-width:1100px){
    .signall{
      width:600px;
      margin-left:250px;
      height:450px;
  
    }

.adjbtn{
  width:180px;
}
 }
  .sign1 .question input[type="text"] {
  appearance: none;
  background-color: transparent;
  border: 1px solid white;
  line-height: 0;
  font-size: 17px;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
     
  
     
@media screen and (max-width:680px){
    .signall{
      width:99%;
      margin-left:0.5%;
      height:500px;
    }
    .adjbtn{
      width: 100%;
    }
    .sign2 button{
      width: 100%;
    }
       .sign1 .question input[type="text"] {
      width: 280px;
  
  }
}     
@media screen and (max-width:1100px) and (min-width:680px){
    .signall{
  width:80%;
      margin-left:10%;
      height:450px;

   }
      .sign1 .question input[type="text"] {
      width: 100%;
  
  }

.adjbtn{
  width:180px;
}
    } 
  </style>

  
     



<script type="text/javascript">
  $(function(){
    $(".adjfb").click(function(){
      mylogin();
    });
  });
</script>  
       </div></div>

  </div>
</div>

<div style="width:100%;background-color:grey;height:100%;position:absolute;top:100%;" class="notonmob">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <style type="text/css">
      .carousel{
        height: 100%;
      }
      @media screen and (min-width: 680px){

      .cricket{
     
  background:white; }
      .movie{
        
  background:white;}
.travel{

  background:white;}
.b01{

  background:white;
}
.date{
  background:white;
}  
      }
      

    </style>
  

    <!-- Wrapper for slides -->
    <div class="carousel-inner notonmob" role="listbox" style="height:100%;">
<!--       <div class="item notonmob cricket" style="background-size:cover;height:100%;background:url('/media/form/cricbacks.jpg');width:100%;">
     


<img src="/media/form/blackcric.png" style="position:absolute;height:535px;top:-50px;right:-150px;">
<img src="/media/form/blackcric.png" style="position:absolute;height:535px;bottom:-50px;left:-120px;">
<div style="position:absolute;height:530px;bottom:-50px;left:167px;width:372px;color:white;">
<br>
<img src="/media/form/batball.png">
</div>
<img src="/media/form/blackcric.png" style="position:absolute;height:535px;bottom:-380px;right:-150px;">

      </div>
 -->
      <div class="item notonmob active movie" style="background-size:cover;height:100%;background:url('/media/form/cricback.jpg') no-repeat 
      ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">

              </div>
    
      <div class="item notonmob travel" style="background-size:cover;height:100%;background:url('/media/form/movie.jpg') no-repeat 
      ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">

            </div>
   <!--   <div class="item notonmob b01" style="background-size:cover;height:100%;">

            </div>
     <div class="item notonmob date" style="background-size:cover;height:100%;">

            </div>
    --> 
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>


<div style="width:100%;background-color:white;height:100%;position:absolute;top:200%;"  class="notonmob">


<br><br><center>
<h1 style="color:rgb(75,172,238);font-size:40px;">Let's start it.</h1>
<br><br></center>
<br><br>
<center>
<button style="width:65px;height:65px;border-radius:65px;border:2px solid rgb(75,172,238);color:rgb(75,172,238);background:transparent;"><center><b style="font-size:25px">1</b></center></button>
<div style="display:inline-block;width:250px;height:0px;border:1px solid rgb(75,172,238);"></div>
<button style="width:65px;height:65px;border-radius:65px;border:2px solid rgb(75,172,238);color:rgb(75,172,238);background:transparent;"><center><b style="font-size:25px">2</b></center></button>
<div style="display:inline-block;width:250px;height:0px;border:1px solid rgb(75,172,238);"></div>

<button style="width:65px;height:65px;border-radius:65px;border:2px solid rgb(75,172,238);color:rgb(75,172,238);background:transparent;"><center><b style="font-size:25px">3</b></center></button>
<br><table style="width:975px;color:black;margin-top:20px;"><tr>
  <td style="width:315px;padding-left:50px;padding-right:50px;">
  <center>Create a free account, or log in using Facebook.
  </center></td>
  <td style="width:315px;padding-left:25px;padding-right:25px;"><center>Join the Groups of your City,  College, Street, Hostel, School or Deptt. etc.</center></td>
  <td style="width:315px;padding-left:50px;padding-right:50px;"><center>Choose your Current Interest and Connect with the people.</center></td>
</tr></table>
<br><br>
<button style="" class="newbtn1" onclick="topscroll();"> Get Started </button>
</center>

<div style="width:100%;height:120px;background-color:rgb(75,172,238);color:white;position:absolute;bottom:0px;font-size:18px;">
<br>
  <center>
  <a href="https://www.facebook.com/zeeley1" target="_blank">
  <button style="background:white;height:50px;width:50px;border-radius:50px;color:rgb(75,172,238);border:none;margin-bottom:7px;"  class="newbtn1" >
    <i class="fa fa-facebook" aria-hidden="true" style="font-size:25px;"></i>
  </button></a>
  <a href="https://twitter.com/zeeleyonline" target="_blank">
 <button style="background:white;height:50px;width:50px;border-radius:50px;color:rgb(75,172,238);border:none;margin-left:3px;margin-bottom:7px;" class="newbtn1" >
<i class="fa fa-twitter" aria-hidden="true"></i>  </button></a>
<a href="" target="_blank">
 <button style="background:white;height:50px;width:50px;border-radius:50px;color:rgb(75,172,238);border:none;margin-left:3px;margin-bottom:7px;" class="newbtn1" >
<i class="fa fa-pinterest-p" aria-hidden="true"></i>  </button></a>
<a href="" target="_blank">
 <button style="background:white;height:50px;width:50px;border-radius:50px;color:rgb(75,172,238);border:none;margin-left:3px;margin-bottom:7px;"  class="newbtn1" >
 <i class="fa fa-google-plus" aria-hidden="true"></i>  </button></a>

  <br>
<b style="margin-top:12px;">Zeeley &copy;2016</b></center>
</div>
<div class="g-signin2" data-onsuccess="onSignIn"></div>

</div>

<style type="text/css">
  .newbtn1{
    border:1px solid rgb(75,172,238); color:rgb(75,172,238);padding:10px; background:transparent;border-radius:6px;font-size:20px;transition: all 0.6s;

  }
.newbtn1:hover {
color: white;
background-color:rgb(75,172,238);
}
</style>













</div>


  <style type="text/css">
  .btn-fb-login {
  width: 180px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NmJiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzNGU4NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #486bb5), color-stop(100%, #334e87));
  background-image: -moz-linear-gradient(top, #486bb5 0%, #334e87 100%);
  background-image: -webkit-linear-gradient(top, #486bb5 0%, #334e87 100%);
  background-image: linear-gradient(to bottom, #486bb5 0%, #334e87 100%);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.btn-fb-login:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NmJiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIzM2I2YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #486bb5), color-stop(100%, #233b6c));
  background-image: -moz-linear-gradient(top, #486bb5 0%, #233b6c 100%);
  background-image: -webkit-linear-gradient(top, #486bb5 0%, #233b6c 100%);
  background-image: linear-gradient(to bottom, #486bb5 0%, #233b6c 100%);
}
.btn-fb-login .icon {
  background: url(http://s.cdpn.io/6035/fb_login_sprite.png) no-repeat;
  width: 11px;
  height: 22px;
  display: inline-block;
  float: left;
  margin: 3px 10px;
}
.btn-fb-login .title {
  font-size: 0.8125em;
  color: #fff;
  line-height: 30px;
  float: left;
  padding: 0 10px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.fb-login {
  display: none;
  width: 100%;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NmJiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzNGU4NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #486bb5), color-stop(100%, #334e87));
  background-image: -moz-linear-gradient(top, #486bb5 0%, #334e87 100%);
  background-image: -webkit-linear-gradient(top, #486bb5 0%, #334e87 100%);
  background-image: linear-gradient(to bottom, #486bb5 0%, #334e87 100%);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2), 0 0 25px rgba(0, 0, 0, 0.3);
}
.fb-login .login-form {
  width: 155px;
  margin: 10px;
}
.fb-login .title {
  font-size: 0.875em;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px 0;
  margin: 0 0 10px 0;
}
</style>

</body>
</html>


