

{% load static %}


{% load i18n %}

{% load extras %}
<style type="text/css">
  
  .delpost{
    cursor: pointer;
  }
  .delpost:hover{
    color: white;

  }
</style>

<script type="text/javascript">
$(function(){


document.getElementById('fotos').onchange = function () {
 
 var fname =this.value;
 var fnam =fname.split(".");
 var fna=fnam.length;
var n = fnam[fna-1].localeCompare("jpg"); if(n!=0){ n = fnam[fna-1].localeCompare("jpeg"); } if(n!=0){ n = fnam[fna-1].localeCompare("png"); } if(n!=0){ n = fnam[fna-1].localeCompare("tif"); } if(n!=0){ n = fnam[fna-1].localeCompare("tiff"); } if(n!=0){ n = fnam[fna-1].localeCompare("bmp"); }   

 if(n!=0)
 { 

alert("Please Select a  Valid Image File  ");
this.value="";
}
else{

$(".showgreen").show();
}

};


});


var loaded=0;

  $(window).scroll(function(){

//alert("Chutiya kata???");
var diff =$(document).height()-$(window).scrollTop();
//
if (diff<900 ) {

  for (var i = 0; i < 3; i++) {
loaded+=1;
    $('.count'+[loaded]).show();
  $('.thumb'+[loaded]).attr("src",$('.thumb'+[loaded]).attr("value"));
  $('.img'+[loaded]).attr("src",$('#img'+[loaded]).html());
  $('.imgthumb'+[loaded]).attr("src",$('.imgthumb'+[loaded]).attr("value"));
  
    

  }



  


}
});



</script>





    {% for c in f %}
      
      {% if c.profile_picture%}
            <div class="frame5 me5{{c.identity}}_{{c.photos}}" style="background-color:rgba(255,255,255,0.3);">
{%if c.identity == i.id or i.id == 320%}

            <span class="glyphicon glyphicon-trash delpost" title="Delete Post" style="float:right;margin-right: 5px;" value="{{c.identity}}_{{c.photos}}"></span>

{% endif %}
  <a href="/{{c.identity}}/">
      <img src="/media/file_p{{c.identity}}_{{c.creator.prof_pic|last}}.thumbnail" class="img-responsive" style="border-radius:5px;width:50px; height:50px; float:left; margin-right:5px;"></a>
     
     

      <b style="font-size: 17px;font-weight: 600;">
          <a href="../{{c.creator.id}}" style="color:black;">{{ c.creator.first_name }} {{ c.creator.last_name }}</a></b> changed {%if c.creator.male%}his{%elif c.creator.female%}her{%endif%} profile picture.
        
      
      <br>
      <div class="time">

        {{c.post_time}}<br><br>
      </div> 
      {% if c.photos >= 1 %}
      {{c.say}}
      <br><br>
      <div style="max-height:400px;overflow:hidden;">
      
      <img src="/media/file_p{{c.identity}}_{{c.photos}}.jpg" class="img-responsive" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" value="{{c.post_time}}" ></div>
      {%else%}
      {{c.say}}
      {%endif%}
      <br><b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b><b id="com{{c.identity}}l{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.comments}} Opines</b><br>

      

      

      <!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} --> 
        <button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}"  class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if count in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      



      





      <b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='ram{{c.identity}}k{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="share" value="sharem{{c.identity}}m{{c.photos}}" ><span id="share"><img src="/media/icons/share.png" style="width:20px;"</span>Share</b></a><br>
      <div  class="commentbox" id="commentboxram{{c.identity}}k{{c.photos}}" style="background-color:#C9CDD0;width:96%;">
      <div class="commentsss" id="cmmt" style="margin-top:2px;" ></div>


      <button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.identity}}d{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button><img src="/media/file_{{count}}.jpg" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:8px;">

      <!-- {% if c.comnt %}

        {{ c.comnt|first }}

      {% endif %} -->
      
      
      <textarea class="{{c.identity}}d{{c.photos}} hoot" id="{{c.identity}}d{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:16%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>


       </div></div>
            {% elif c.cover_picture%}

           


            <div class="frame5 me5{{c.identity}}_{{c.photos}}" style="background-color:rgba(255,255,255,0.3);">
            {%if c.identity == i.id or i.id == 320 %}

            <span class="glyphicon glyphicon-trash delpost" title="Delete Post" style="float:right;margin-right: 5px;" value="{{c.identity}}_{{c.photos}}"></span>

{% endif %}


<a href="/{{c.identity}}/">
      <img src="/media/file_p{{c.identity}}_{{c.creator.prof_pic|last}}.thumbnail" class="img-responsive" style="border-radius:5px;width:50px; height:50px; float:left; margin-right:5px;"></a>
      
         
         
      <b style="font-size: 18px;"><a href="../{{c.creator.id}}" style="color:black;">{{ c.creator.first_name }} {{ c.creator.last_name }}</a></b> changed {%if c.creator.male%}his{%elif c.creator.female%}her{%endif%} coverphoto.
        
      
      <br>
      <div class="time">

        {{c.post_time}}<br><br>
      </div> 
      {% if c.photos >= 1 %}
      {{c.say}}
      <br><br>
      <div style="max-height:400px;overflow:hidden;">
      
      <img src="/media/file_c{{c.identity}}_{{c.photos}}.jpg" class="img-responsive" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" value="{{c.post_time}}" ></div>
      {%else%}
      {{c.say}}
      {%endif%}
      <br><b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b>   <b id="com{{c.identity}}l{{c.photos}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.comments}} Opines</b><br>

      <!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} --> 
        <button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if count in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      



      





      <b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='ram{{c.identity}}k{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="share" value="sharem{{c.identity}}m{{c.photos}}"><span id="share"><img src="/media/icons/share.png" style="width:20px;"</span>Share</b></a><br>
      <div  class="commentbox" id="commentboxram{{c.identity}}k{{c.photos}}" style="background-color:#C9CDD0;width:96%;">
      <div class="commentsss" id="cmmt" style="margin-top:2px;" ></div>


      <button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.identity}}d{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button><img src="/media/file_{{count}}.jpg" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:8px;">

      <!-- {% if c.comnt %}

        {{ c.comnt|first }}

      {% endif %} -->
      
      
      <textarea class="{{c.identity}}d{{c.photos}} hoot" id="{{c.identity}}d{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:16%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>
      
       </div></div>
            {% else %}
            
          <div class="frame5 me5{{c.identity}}_{{c.photos}}" style="background-color:rgba(255,255,255,0.3);">
          {%if c.identity == i.id or i.id == 320 %}

            <span class="glyphicon glyphicon-trash delpost" title="Delete Post" style="float:right;margin-right: 5px;" value="{{c.identity}}_{{c.photos}}"></span>

{%endif%}<a href="/{{c.identity}}/">

      <img src="/media/file_p{{c.identity}}_{{c.creator.prof_pic|last}}.thumbnail" class="img-responsive" style="border-radius:5px;width:50px; height:50px; float:left; margin-right:5px;"></a>
      
          
      <b style="font-size: 17px;font-weight: 600;"><a href="../{{c.creator.id}}" style="color:black;">{{ c.creator.first_name }} {{ c.creator.last_name }}</a></b> shared a post.
        
      
      <br>
      <div class="time">

        {{c.post_time}}<br><br>
      </div> 
      {% if c.photos >= 1 %}
      {% if "#" in c.say %}
      <script type="text/javascript">
      var bol="{{c.say}}";
      var pqrs=bol.split("#");
      var first=pqrs[0];
      pqrs[0]="";
      bol=pqrs.join("");
      bol=first+"#"+bol;
      if(bol.indexOf("&#")>-1){
      var j = bol.split("&#");
      var z="";
      for(i =0;i<j.length;i++){
        if(j[i].indexOf("#")>-1){
        var l=j[i].split("#");
      
      var d=l[1].split(" ");
      d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
      j[i]=d.join(" ");
      }
      

      }
      z=j.join("&#");
      
      document.write(z);
    }
    else{
      var l=bol.split("#");
     var pqrs=bol.split("#");
      var first=pqrs[0];
      pqrs[0]="";
      bol=pqrs.join("");
      bol=first+"#"+bol;
      for(var i=1;i<l.length;i++){
        var d=l[i].split(" ");
        d[0]="<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
        l[i]=d.join(" ");
      }
        z=l.join("");
        document.write(z);
    }
    
      </script>
    
      {%else%}
      {{c.say}}
      {%endif%}
      <br><br><div style="max-height:400px;overflow:hidden;">
      
      <img src="/media/file_{{c.identity}}_{{c.photos}}.jpg" class="img-responsive" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" value="{{c.post_time}}"></div>
      {%else%}
      {% if "#" in c.say %}
      <script type="text/javascript">
      var bol="{{c.say}}";
      if(bol.indexOf("&#")>-1){
      var j = bol.split("&#");
      var z="";
      for(i =0;i<j.length;i++){
        if(j[i].indexOf("#")>-1){
        var l=j[i].split("#");
      
      var d=l[1].split(" ");
      d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
      j[i]=d.join(" ");
      }
      

      }
      z=j.join("&#");
      
      document.write(z);
    }
    else{
      var l=bol.split("#");
      for(var i=1;i<l.length;i++){
        var d=l[i].split(" ");
        d[0]="<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
        l[i]=d.join(" ");
      }
        z=l.join("");
        document.write(z);
    }
    
      </script>
    
      {%else%}
      {{c.say}}
      {%endif%}
      {%endif%}
      <br><b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b>   <b id="com{{c.identity}}l{{c.photos}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.comments}} Opines</b><br>

      

      

      <!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} --> 
        <button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if count in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      



      





      <b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='ram{{c.identity}}k{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="share" value="sharem{{c.identity}}m{{c.photos}}"><span id="share"><img src="/media/icons/share.png" style="width:20px;"</span>Share</b></a><br>
      <div  class="commentbox" id="commentboxram{{c.identity}}k{{c.photos}}" style="background-color:#C9CDD0;width:96%;">
      <div class="commentsss" id="cmmt" style="margin-top:2px;" ></div>

      <button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.identity}}d{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>
<img src="/media/file_{{count}}.jpg" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:8px;">

      

      
      
      <textarea class="{{c.identity}}d{{c.photos}} hoot" id="{{c.identity}}d{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:16%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>


      

       </div></div>
            {%endif%}

     

    {% endfor %}






    {% for c in other %}
      
      {% if c.profile_picture%}
      
            <div class="frame5 me5{{c.identity}}_{{c.photos}} count{{forloop.counter}}" style="background-color:rgba(255,255,255,0.3);display: none;">
            {%if c.identity == i.id or i.id == 320 %}

            <span class="glyphicon glyphicon-trash delpost" title="Delete Post" style="float:right;margin-right: 5px;" value="{{c.identity}}_{{c.photos}}"></span>

{% endif %}
<a href="/{{c.identity}}/">
      <img src="" class="img-responsive thumb{{forloop.counter}}" style="border-radius:5px;width:50px; height:50px; float:left; margin-right:5px;"  value="/media/file_p{{c.identity}}_{{c.creator.prof_pic|last}}.thumbnail"></a>
      

      <b style="font-size: 18px;">
          <a href="../{{c.creator.id}}" style="color:black;">{{ c.creator.first_name }} {{ c.creator.last_name }}</a></b> changed {%if c.creator.male%}his{%elif c.creator.female%}her{%endif%} profile picture.
        
      
      <br>
      <div class="time">

        {{c.post_time}}<br><br>
      </div> 
      {% if c.photos >= 1 %}
      {{c.say}}
      <br><br><div style="max-height:400px;overflow:hidden;">
      
      <img src="" class="img-responsive img{{forloop.counter}}" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" value="{{c.post_time}}" ></div>
      <div id="img{{forloop.counter}}" style="display: none;">/media/file_p{{c.identity}}_{{c.photos}}.jpg</div>
      {%else%}
      {{c.say}}
      {%endif%}
      <br><b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b><b id="com{{c.identity}}l{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.comments}} Opines</b><br>

      

      

      <!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} --> 
        <button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}"  class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if count in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      



      





      <b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='ram{{c.identity}}k{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="share" value="sharem{{c.identity}}m{{c.photos}}" ><span id="share"><img src="/media/icons/share.png" style="width:20px;"</span>Share</b></a><br>
      <div  class="commentbox" id="commentboxram{{c.identity}}k{{c.photos}}" style="background-color:#C9CDD0;width:96%;">
      <div class="commentsss" id="cmmt" style="margin-top:2px;" ></div>


      <button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.identity}}d{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>
<img src="" class="img-responsive imgthumb{{forloop.counter}}" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:8px;" value="/media/file_{{count}}.jpg">

      <!-- {% if c.comnt %}

        {{ c.comnt|first }}

      {% endif %} -->
      
      
      <textarea class="{{c.identity}}d{{c.photos}} hoot" id="{{c.identity}}d{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:16%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

       </div></div>
            {% elif c.cover_picture%}
            <div class="frame5 me5{{c.identity}}_{{c.photos}} count{{forloop.counter}}" style="background-color:rgba(255,255,255,0.3);display: none;">
            {%if c.identity == i.id or i.id == 320 %}

            <span class="glyphicon glyphicon-trash delpost" title="Delete Post" style="float:right;margin-right: 5px;" value="{{c.identity}}_{{c.photos}}"></span>

{% endif %}
<a href="/{{c.identity}}/">

      <img src="" class="img-responsive thumb{{forloop.counter}}" style="border-radius:5px;width:50px; height:50px; float:left; margin-right:5px;" 
            value="/media/file_p{{c.identity}}_{{c.creator.prof_pic|last}}.thumbnail">
      </a>
          
      <b style="font-size: 18px;"><a href="../{{c.creator.id}}" style="color:black;">{{ c.creator.first_name }} {{ c.creator.last_name }}</a></b> changed {%if c.creator.male%}his{%elif c.creator.female%}her{%endif%} coverphoto.
        
      
      <br>
      <div class="time">

        {{c.post_time}}<br><br>
      </div> 
      {% if c.photos >= 1 %}
      {{c.say}}
      <br><br><div style="max-height:400px;overflow:hidden;">
      
      <img src="" class="img-responsive img{{forloop.counter}}" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" value="{{c.post_time}}" ></div>
            <div id="img{{forloop.counter}}" style="display: none;">/media/file_c{{c.identity}}_{{c.photos}}.jpg</div>

      {%else%}
      {{c.say}}
      {%endif%}
      <br><b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b>   <b id="com{{c.identity}}l{{c.photos}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.comments}} Opines</b><br>

      <!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} --> 
        <button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if count in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      



      





      <b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='ram{{c.identity}}k{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="share" value="sharem{{c.identity}}m{{c.photos}}"><span id="share"><img src="/media/icons/share.png" style="width:20px;"</span>Share</b></a><br>
      <div  class="commentbox" id="commentboxram{{c.identity}}k{{c.photos}}" style="background-color:#C9CDD0;width:96%;">
      <div class="commentsss" id="cmmt" style="margin-top:2px;" ></div>
<img src="/media/file_{{count}}.jpg" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:8px;">

      <!-- {% if c.comnt %}

        {{ c.comnt|first }}

      {% endif %} -->
      
      
      <textarea class="{{c.identity}}d{{c.photos}} hoot" id="{{c.identity}}d{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:16%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>


      <button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.identity}}d{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

       </div></div>
            {% else %}
          <div class="frame5 me5{{c.identity}}_{{c.photos}} count{{forloop.counter}}" style="background-color:rgba(255,255,255,0.3);display: none;">
          {%if c.identity == i.id or i.id == 320 %}

            <span class="glyphicon glyphicon-trash delpost" title="Delete Post" style="float:right;margin-right: 5px;" value="{{c.identity}}_{{c.photos}}"></span>

{% endif %}
<a href="/{{c.identity}}/">
      <img src="" class="img-responsive thumb{{forloop.counter}}" style="border-radius:5px;width:50px; height:50px; float:left; margin-right:5px;"       
       value="/media/file_p{{c.identity}}_{{c.creator.prof_pic|last}}.thumbnail">
      </a>
          
      <b style="font-size: 17px;font-weight: 600;"><a href="../{{c.creator.id}}" style="color:black;">{{ c.creator.first_name }} {{ c.creator.last_name }}</a></b> shared a post.
        
      
      <br>
      <div class="time">

        {{c.post_time}}<br><br>
      </div> 
      {% if c.photos >= 1 %}
      {% if "#" in c.say %}
      <script type="text/javascript">
      var bol="{{c.say}}";
      if(bol.indexOf("&#")>-1){
      var j = bol.split("&#");
      var z="";
      for(i =0;i<j.length;i++){
        if(j[i].indexOf("#")>-1){
        var l=j[i].split("#");
      
      var d=l[1].split(" ");
      d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
      j[i]=d.join(" ");
      }
      

      }
      z=j.join("&#");
      
      document.write(z);
    }
    else{
      var l=bol.split("#");
      
      var d=l[1].split(" ");
      document.write(l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>"+d[1]);
    }
    
      </script>
      {%else%}
      {{c.say}}
      {%endif%}
      <br><br><div style="max-height:400px;overflow:hidden;">
      
      <img src="" class="img-responsive img{{forloop.counter}}" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" value="{{c.post_time}}"></div>
      <div id="img{{forloop.counter}}" style="display: none;">/media/file_{{c.identity}}_{{c.photos}}.jpg</div>

      {%else%}
      {% if "#" in c.say %}
      <script type="text/javascript">
      var bol="{{c.say}}";
      if(bol.indexOf("&#")>-1){
      var j = bol.split("&#");
      var z="";
      for(i =0;i<j.length;i++){
        if(j[i].indexOf("#")>-1){
        var l=j[i].split("#");
      
      var d=l[1].split(" ");
      d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
      j[i]=d.join(" ");
      }
      

      }
      z=j.join("&#");
      
      document.write(z);
    }
    else{
      var l=bol.split("#");
      
      var d=l[1].split(" ");
      document.write(l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>"+d[1]);
    }
    
      </script>
      {%else%}
      {{c.say}}
      {%endif%}
      {%endif%}
      <br><b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b>   <b id="com{{c.identity}}l{{c.photos}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.comments}} Opines</b><br>

      

      

      <!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} --> 
        <button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if count in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      



      





      <b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='ram{{c.identity}}k{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="share" value="sharem{{c.identity}}m{{c.photos}}"><span id="share"><img src="/media/icons/share.png" style="width:20px;"</span>Share</b></a><br>
      <div  class="commentbox" id="commentboxram{{c.identity}}k{{c.photos}}" style="background-color:#C9CDD0;width:96%;">
      
      
      
      
<img src="" class="img-responsive imgthumb{{forloop.counter}}" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:8px;" value="/media/file_{{count}}.jpg"><textarea class="{{c.identity}}d{{c.photos}} hoot" id="{{c.identity}}d{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:16%; margin-bottom:4%; margin-top:-30px; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

      <div class="commentsss" id="cmmt" style="margin-top:2px;" ></div>


      <button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.identity}}d{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

       </div></div>
            {%endif%}

     

    {% endfor %}



