{% load static %}



{% load i18n %}

{% load extras %}


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" 
 href="{%static 'css/css2t.css'%}"/>
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style type="text/css">
  .coverpic{
    height:300px;background-color:;margin-top:45px;overflow:hidden;border-bottom:1px solid red;background:url('/media/file_c{{count}}_{{j}}.thumbnail') 100% fixed;background-size:cover;display:inline-block;filter: blur(15px);
-webkit-filter: blur(12px);
-moz-filter: blur(12px);
-o-filter: blur(12px);
-ms-filter: blur(12px);z-index:1;
  }
  .frame5{
    box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius:0px;
  }
</style>
<script type="text/javascript">
  
  $(function(){

    $(".myname").html($(".myname").html().toLowerCase());

    $(".myname").css("text-transform","capitalize");
  });

<script type="text/javascript">
  

  var imge = new Image();
imge.src="/media/file_p{{count}}_{{i.prof_pic|last}}.jpg";
 imge.onload = function() {
 var w = window,
  d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    h = w.innerHeight|| e.clientHeight|| g.clientHeight;

if(x>1100)
{//alert($("#mydp").css("height"));
var imgsize = (188-parseInt($("#mydp").css("height").split("px")[0]))/2;
$("#mydp").css("margin-top",imgsize+"px");

}
else if(w<680)
{//alert($("#mydp").css("height"));
var imgsize = (135-parseInt($("#mydp").css("height").split("px")[0]))/2;
$("#mydp").css("margin-top",imgsize+"px");

}
else{
var imgsize = (135-parseInt($("#mydp").css("height").split("px")[0]))/2;
$("#mydp").css("margin-top",imgsize+"px");

}

 }

</script>

</script>

<style>


.addsubmit{
  height:25px;
  width:90px;
  font-size:12px;
  position:relative;
  top:-65px;
  left:285px;
  border-radius:4px;
}

#fotos{
  height:25px;
  opacity:0; 
  font-size:27px;
  width:90px;
  position:relative;
  top:-42px;
  left:180px;
}

.addphoto{
  height:25px;
  width:90px;
  font-size:12px;
  border-radius:4px;
  position:relative;
  left:180px;
}


@media screen and (max-width: 780px) {

.addsubmit{

  left:68%;



}

.addphoto{
  left:35%;


}

#fotos{
  left:35%;


}



}



#up1,#up2,#up3{
  background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}

.textarea{
  background-color: rgba(255,255,255,1);

}

</style>

<script>





$(document).ready(function(){


$(window).scroll(function(){

if($(window).scrollTop()>350){
$(".nbpeople").css("position","fixed");
$(".nbpeople").css("top","50px");
$(".nbpeople").css("width","22.5%");
$(".seeallp").slideDown();

}
else{
$(".nbpeople").css("position","initial");
$(".nbpeople").css("width","37.5%");
$(".seeallp").slideUp();

}

});

  $(".frame1").scroll(function(){
              $(".frame1").scrollTop({{i.cov_fix|first}});
          //s   $(window).scrollTop($(window).scrollTop()+5);

            }); 



var post=0;

$.ajax({
               type: "POST",
               url: "../studs/",
               data: {'id':'{{i.id}}','csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      
                  //console.log(response[0].pk);
                      // alert(response[1].fields.identity);
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });





  $(".frame1").scrollTop({{i.cov_fix|first}});
      

$(".frame1").css("cursor","hand");


var down=false;
var scrollTop=0;
var x = 0;







});



</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background-color:rgba(100,100,255,0.1);">
<div class="page" style="background:transparent;">
  <div style="display:inline-block;" class="adjust">
  <div class="coverpic" style="">
  </div>
  <div style="background-color:rgba(0,0,0,0.4);height:347px;" class="mynewdp"><br><br>
  <div class="changecover" id="1234" onclick="cover();">
<b style="color:white;cursor:pointer;">&nbsp;&nbsp;Change Cover Photo</b>
<span class="glyphicon glyphicon-camera" style="font-size:30px;color:white;"></span>    

  </div> 

    <center>
    <div style="width:190px;height:190px;background-color:white;padding:5px;border-radius:190px;overflow:hidden;">
    <img src="/media/file_p{{count}}_{{i.prof_pic|last}}.jpg" class="img-responsive"   onclick="port(this);" value="{{c.post_time}}" id="mydp" style="width:180px;height:180px;border-radius:180px;" id="mydp">
      
    </div>
        <span class="glyphicon glyphicon-camera" style="font-size:20px;color:white;cursor:pointer;"  onclick="chdp();"></span>
        <span style="color:white;color:16px;cursor:pointer;"  onclick="chdp();"><b>Change</b></span>

    <br>
    <span style="color:white;font-size:25px;" class="myname">
      {{title | truncatechars:45 }}
    </span>
    <center style="color:white;">
    <b> Interested in:</b>&nbsp;&nbsp;&nbsp;{{i.current_intrest}}<br>
    
  </center>
  <br>
  
    </center>
  </div>
  <div style="font-size:0px;margin-top:-5px;" class="adjust">
  <a href="../about/?q={{i.id}}" style="color:black;">
    <button style="width:25%;margin:0px;height:35px;font-size:15px;">About</button>
  </a><a href="../friends/?q={{i.id}}" style="color:black;">
  <button style="width:25%;margin:0px;height:35px;font-size:15px;">Friends</button>
  </a>
  <a href="../photo/?q={{i.id}}" style="color:black;"><button style="width:25%;margin:0px;height:35px;font-size:15px;">Photos</button></a>
  <a href="../allposts/" style="color:black;"><button style="width:25%;margin:0px;height:35px;font-size:15px;">All Posts</button></a>
  </div>
  <div style="font-size:17px;">
  <div style="width:100%;">
  <br></div>
  
    
  <div style="width:37.5%;height:500px;padding-left:10px;" class="mobout nbpeople">
  <!-- <div style="display:none;padding-left:15px;" class="seeallp" ><a href="../allposts/" style="color:black;"><button  class="">See All Posts</button></a></div>
 -->
  <div class="myalter seeallp" style="background-color:transparent;margin-top:7px;margin-bottom:12px;font-size:18px;padding:3px;padding-bottom:5px;display:none;">
    <img src="/media/file_{{counter}}.thumbnail" style="width:30px;height:30px;border-radius:6px;"> {{i.first_name}}
    <a href='../allposts/' style="color:black;">
    <button class="btn btn-primary" style="float:right;margin-right:10px;background-color:#279c76;">Flip Post</button></a>
  </div>
 

        <div class="panel panel-default" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);">
      <div class=""  style="background-color:#279c76;color:white;height:40px;padding-top:9px;padding-left:9px;">Nearby People of {{m.intrest_name}}</div>
     
      <style type="text/css">
        #up1 a{
          color: white;
        }
        #t tr td div a{
          color:black;
        }
      </style>

      <script type="text/javascript">

        
        $(function(){

          $(".inviting").click(function(){

            var id=$(this).attr("value");
        $.ajax({
               type: "GET",
               url: "../invitesportee/",
               data: {'invited':id,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                    $(".invite"+id).hide();
                       },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 

          });

        });
      </script>
      <div style="overflow:auto;height:450px;">
       <table id="t" style="width:100%;">

    {%for c,d in zip%}
      
        <tr id="t1" class="myrang" style="padding-left:10px;cursor:pointer;border-bottom:1px solid rgba(0,0,0,0.06);">
      <td width="25%" style="padding-left:10px;"><div id="timg" ><img src="/media/file_{{c.id}}.thumbnail"  style="width:100%;"></div></td><td width="70%"><div style="font-size:14px;"><a href="../{{c.id}}">{{c.first_name}} {{c.last_name}}</a></div><div id="n" style="font-size:12px;float:left;opacity:0.5;color: blue;"><b>{{d|floatformat}}m Away</b> </div></div></td><td width="18%" style=""><button style="border-top-left-radius:14px;border-bottom-left-radius:14px;font-size:12px;background-color:#279c76;color:white;border:none;height:36px;margin-top:12px;" class="inviting invite{{c.id}}" value="{{c.id}}" title="Invite"><span class="glyphicon glyphicon-plus"></span><span class="invit">Invite</span></button><br><br>
      
      <!-- <img src="/static/image/dot.png" style="width: 8px; display: inline;" id="" class="dotchat dotchat{{c.id}}"> -->
<!-- {% if c.id in i.f_list%}
      <span class="glyphicon glyphicon-user" title="Your Friend" style="color: black;"></span>{% endif %} --></td>
    </tr>
    {%endfor%}

<style type="text/css"> 
.myrang:hover .invit{
display: block;
}

.m:hover{
background-color:  rgba(75,172,238,0.4);
  }</style>
  </table></div>
         </div>
  </div>
  <div style="display:inline-block;height:700px;float:right;padding-left:15px;" class="mobfull">
    
<div class="frame5" style="background-color:rgba(255,255,255,0.5);height:165px;overflow-y:hidden; ">

      <b>Express Yourself</b>

      <form name="upform" method="post" action="../upload/" enctype="multipart/form-data" style="display:none;">
               {% csrf_token %}
              
              <input type="file" name="files" multiple id="foto"/>
              
            </form>
  
      <br>
  
      <form id="abc" name="myform" method="post" action="../uploadpost/" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea placeholder="Share something ...." class="say" name="say" style="margin-left:5%; margin-bottom:2%; margin-top:4%; border-radius:5px;height: 58px; width: 90%;color: black;"></textarea><br>
     

 <button class="button1 addphoto" style="width: auto;" class="addphoto" id="addphoto">Add Photo</button>
<input id="fotos" type="file" name="files" id="fotos">
                  <button class="button1 addsubmit" type="submit" id="addsubmit">Share</button>&nbsp;
        <br>  <b style="color: green;position: relative;top: -105px;display: none;left: 40px;" class="showgreen"><img src="{% static 'green.png' %}" style="width: 10px;height: 10px;" > File Selected</b>     

          </form>
           <br>
    </div>

<div class="postall">
    {% include 'homefr.html'%}
    </div>    <script type="text/javascript">
      $(function(){
        $(".allposts").click(function(){
          if($(".allposts button").html()=="All Posts"){
          $(".postall").html("Ajax call...");
          $(".allposts button").html("Profile Posts");
                }
                  else if($(".allposts button").html()=="Profile Posts"){
          $(".postall").html("Ajax call for Profile...");
          $(".allposts button").html("All Posts");
                }
        });
      });
    </script>
  </div>
  </div>
  <hr style="width:100%;">
  </div>
  <div style="position:fixed;background:transparent;height:97%;overflow:hidden;box-shadow: none;border:none;padding-left:15px;padding-right:5px;padding-top:50px;" class="quicklink">
    <input type="text" style="width:245px;border-radius:9px;border:1px solid grey;padding-right:30px;padding-left:5px;height:30px;outline:none;" placeholder="Change Location" id="myloc">
    <button style="width:20px;height:30px;border-radius:15px;background-color:transparent;color:black;outline:none;border:none;margin-top:15px;position:relative;left:-35px;"><span class="glyphicon glyphicon-send" style="color:rgba(25,86,66,1);"></span></button>
    <br><br>
  {%if myteam%}
  <div class="panel panel-default" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);">
     
     <div class="" style="background-color:#279c76;color:white;height:40px;padding-top:9px;padding-left:9px;">Groups Chat</div>
    {% for k in myteam %}
      <div class="panel-body" id="teamchat" onclick="directchat({{k.id}});" value="{{k.id}}">

        <img src="/media/Travel.png" style="width:35px;height:35px;margin-right:12px;">My {{k.team_category}} team
        </div>
      {%endfor%}
    </div>
{%endif%}
  <div class="panel panel-default" style="
box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);" >
     <div class="" style="background-color:#279c76;color:white;height:40px;padding-top:9px;padding-left:9px;">Quick Links to Interests</div>
  <div class="panel-body" style="height:380px;overflow-y:auto;">

  <img src="/media/Travel.png" style="width:35px;height:35px;margin-right:12px;"><a href="../cotravelling" style="color:black;">Travelling</a><hr style="margin-top:5px;margin-bottom:5px;">

<img src="/media/Travel.png" style="width:35px;height:35px;margin-right:12px;"><a href="../cab_sharing" style="color:black;">Cab Sharing</a><hr style="margin-top:5px;margin-bottom:5px;">

<img src="/media/Restaurant.png" style="width:35px;height:35px;margin-right:12px;"><a href="../rest_share" style="color:black;">Restaurant</a><hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Movie.png" style="width:35px;height:35px;margin-right:12px;"><a href="../movie_share" style="color:black;">Movie</a><hr style="margin-top:5px;margin-bottom:5px;">

<img src="/media/Movie.png" style="width:35px;height:35px;margin-right:12px;"><a href="../pcgame_share" style="color:black;">PC Gaming</a><hr style="margin-top:5px;margin-bottom:5px;">

<img src="/media/Movie.png" style="width:35px;height:35px;margin-right:12px;"><a href="../quicky_share" style="color:black;">Quick Tasks</a><hr style="margin-top:5px;margin-bottom:5px;">

 <img src="/media/Cricket.png" style="width:35px;height:35px;margin-right:12px;"><a href="../open_intrest/?q=Cricket" style="color:black;">Cricket</a><hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Football.png" style="width:35px;height:35px;margin-right:12px;"><a href="../open_intrest/?q=Football" style="color:black;">Football</a><hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Guitar.png" style="width:35px;height:35px;margin-right:12px;"><a href="../open_intrest/?q=Guitar" style="color:black;">Guitar</a><hr style="margin-top:5px;margin-bottom:5px;">
  
  <img src="/media/Study.png" style="width:35px;height:35px;margin-right:12px;">Study<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Singing.png" style="width:35px;height:35px;margin-right:12px;"><a href="../open_intrest/?q=Singing" style="color:black;">Singing</a><hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Chatting.png" style="width:35px;height:35px;margin-right:12px;"><a href="../open_intrest/?q=Chat" style="color:black;">Chatting</a><hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Dating.png" style="width:35px;height:35px;margin-right:12px;"><a href="../open_intrest/?q=Dating" style="color:black;">Dating</a><hr style="margin-top:5px;margin-bottom:5px;">

  

  <img src="/media/Entrepreneurship.png" style="width:35px;height:35px;margin-right:12px;"><a href="../startups" style="color:black;">Entrepreneurship</a><hr style="margin-top:5px;margin-bottom:5px;">

  
  <img src="/media/MusicBand.png" style="width:35px;height:35px;margin-right:12px;">Music Band<hr style="margin-top:5px;margin-bottom:5px;">
    </div>
</div>


</div>
<div class="page">
  {% include 'nav.html'%}
</div>
{% include 'picframe.html'%}
{% include 'frame6.html'%}
{% include 'chatbox.html'%}
<div style="display:none">

<form name="editcover" method="post" action="../cover/" enctype="multipart/form-data">
          {% csrf_token %}
<input type="file" name="files" id="cfoto"/>
<button type="submit" style="opacity:0.5" id="coverF">Upload Cover</button></form>

<form name="upform" method="post" action="../upload/" enctype="multipart/form-data" style="display:none;">
   {% csrf_token %}
  
  <input type="file" name="files" id="foto"/>
</form>
</div>

</body>