{% load static %}
{% load i18n %}

{% load extras %}


<!DOCTYPE html>
<html>
<head>
<audio id="audio" src="http://www.soundjay.com/button/beep-07.wav" autostart="false" ></audio>
    <script>
    </script>
<link rel="stylesheet" type="text/css" href="{%static 'css/cssh.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/csshm.css'%}" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/cssht.css'%}/>
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<script src="{% static 'js/jssh.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width" />

<style>
.fijntm{
  position:fixed;
  top:30px;
  background-color:white;
  
  display:none;
}

body
{
    background: url(/media/back.png) no-repeat fixed 100% 100%;
}
textarea{
  background-color: rgba(255,255,255,0.5);
}
.him{
background-color: rgba(255,255,255,0.5);
}

.f4w{
  background: transparent;
}
#ff{
      display:none;
      opacity:0;
      }
    @media screen and (max-width: 680px){

.fijntm{
    width: 400px;
  margin-left:5%;
  margin-right:5%;
  height: 90%;
  }
.ficrtm{
  position:fixed;top:30px;background-color:white;height:92%;overflow:auto;display:none;margin-left:5%;margin-right:5%;
  width: 90%;
}
.ficljntm{
  position:fixed;top:30px;background-color:white;height:92%;overflow:auto;display:none;margin-left:5%;margin-right:5%;
  width: 90%;
}
  .frame4{
  margin-top: 5px;
  width: 98%; 
  position: inline;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  overflow: hidden;
  /*border: 1px solid rgba(0, 86, 134, 1); 
*/}

    }

@media screen and (min-width: 680px) and (max-width: 1100px){
.ficrtm{
  position:fixed;top:30px;background-color:white;height:92%;overflow:auto;display:none;margin-left:5%;margin-right:5%;
  width: 80%;
}
.ficljntm{
  position:fixed;top:30px;background-color:white;height:92%;overflow:auto;display:none;margin-left:5%;margin-right:5%;
  width: 80%;
}
.fijntm{
    width: 600px;
  margin-left:20%;
  margin-right:10%;
  height: 90%;
   }



}

@media screen and (min-width: 1100px) {
  .pdleft{
    padding-right: 50px;
    padding-left: 50px;
  }

  .ficrtm{
    position:fixed;top:30px;background-color:white;height:92%;overflow:auto;display:none;margin-left:12%;margin-right:15%;
  width: 70%;
  }
 .ficljntm{
    position:fixed;top:30px;background-color:white;height:92%;overflow:auto;display:none;margin-left:12%;margin-right:15%;
  width: 70%;
  }


 .fijntm{
    width: 600px;
  margin-left:20%;
  margin-right:10%;
  height: 90%;
 
  }
 
  .himt{
    width: 205px;
  }
  .info{
    margin-left: -30px;
  }


      .news{
        margin-left: 310px;
      }

}
.addsubmit{
  height:25px;
  width:90px;
  font-size:12px;
  position:relative;
  top:-65px;
  left:280px;
  border-radius:4px;
}

#fotos{
  height:25px;
  opacity:0; 
  font-size:27px;
  width:90px;
  position:relative;
  top:-42px;
  left:180px;
}

.addphoto{
  height:25px;
  width:90px;
  font-size:12px;
  border-radius:4px;
  position:relative;
  left:180px;
}


@media screen and (max-width: 780px) {

.addsubmit{

  left:65%;



}

.addphoto{
  left:35%;


}

#fotos{
  left:35%;


}



}



      
      .info{
        margin-top: -2px;
        padding: 0px;
        background-color: rgba(0,0,0,0);
      }
      .shim:hover{
        background: rgba(123, 173, 243, 1);
        color: white;

transition:all 1s;
      }
      .frame4{
          background-color: rgba(0,0,0,0);
     
      }
      #f4w{
        background-color: transparent;
     padding: 0px;  
      }
      .him{margin: 0px;
        border: 3px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255,255,255,0.4); 
      }
      

</style>

<script> 

function creatm(maand){

 $(".ficrtm").fadeIn(1500); 
   $(".focrtm").fadeIn(1000);
   var k =(maand.value).split(".");
   $(".teamgrp").html(k[1]);
   $(".teamg").val(k[0]);
   
  
//console.log();

}
function jointm(maand){

  $(".fijntm").fadeIn(1500); 
      $(".focrtm").fadeIn(1000); 
      var k =(maand.value).split(".");
    $(".teamgrp").html(k[1]);



    $.ajax({
               type: "POST",
               url: "",
               data: {'typed':k[0] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       $(".vwtm").html(response.z);
                       
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });
  
//console.log();

}

function cljntm(maand){

  $(".ficljntm").fadeIn(1500); 
      $(".focrtm").fadeIn(1000); 
      var k =(maand.value).split(".");
   $(".teamgrp").html(k[1]);

     $.ajax({
               type: "POST",
               url: "",
               data: {'typedd':k[0] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       $(".clgtm").html(response.z);
                       
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });

  
//console.log();

}



$(document).ready(function(){ 

$(".back").click(function(){
  $(".ficrtm").fadeOut();
     $(".fijntm").fadeOut();
     $(".ficljntm").fadeOut(); 
     $(".focrtm").fadeOut();

});

  
    $(".focrtm").click(function(){
     $(".ficrtm").fadeOut();
     $(".fijntm").fadeOut();
     $(".ficljntm").fadeOut(); 
     $(".focrtm").fadeOut();

     
      });


  $("#jcrtm").click(function(){
   $(".jficrtm").fadeIn(1500); 
   $(".jfocrtm").fadeIn(1000);
    }); 
  $(".jfocrtm").click(function(){
   $(".jficrtm").fadeOut(); 
   $(".jfocrtm").fadeOut(); 
  }); 


    }); 

function putlog(id){

// alert(id.src);
//  $("#putlogo").attr("src",id.src); $("#hidlogo").val(id.src);
var k = id.src.split("static/");
//alert (k[1]);
 $("#putlogo").attr("src","{%static '"+k[1]+"'%}"); 
 $("#hidlogo").val(k[1]);

}
function directchat(){


  var q = $("#teamchat").val();
  //alert(q);
  
        $.ajax({
               type: "POST",
               url: "../teamcht/",
               data: {'sluge':q,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       var naam=[];
                       var chtiid=[];
                       naam.push(response.naam);
                       chtiid.push("t_"+q);
                       chatdel(naam,chtiid,rep);
                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    }



</script>


<script>
$(document).ready(function(){


$(".hoot").keyup(function(event){
  
  if(event.which==13){
    //alert($(this).val());
    $(this).val("");
  }
});


$('.share').click(function(){
  var abc = $(this).attr('value');
  var def = abc.split("m");
  //alert(abc);
      $.ajax({
               type: "POST",
               url: "../share/",
               data: {'sluge':def[1],'slug': def[2] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       console.log(response.z);
                       
                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });

// $('.group_clicked').click(function(){
//   var abc = $(this).attr('value');
  
//   //alert(abc);
//       $.ajax({
//                type: "POST",
//                url: "",
//                data: {'sluge':abc, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
//                dataType: "json",
//                success: function(response) {
//                        console.log(response);
                       
//                       // alert('Company likes count is now ' + response.likes_count);
//                  },
//                   error: function(rs, e) {

//                    console.log(rs.responseText);
//                   }
//           }); 
//     });


$('.m').click(function(){
  var q = $(this).html();
  var chatid=q.split("_");
  chtid=chatid[1].split(".");
  var naame = q.split("<td width=\"70%\"><div style=\"font-size:14px;\">");
  var naam = "";
  naam=naame[1].split("</div>");


  
        $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                          

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });



$('.chtgrp').click(function(){
  var q = $(this).val();
 


  
        $.ajax({
               type: "POST",
               url: "../groupcht/",
               data: {'sluge':q,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       var naam=[];
                       var chtiid=[];
                       naam.push(response.naam);
                       chtiid.push("g_"+q);
                       chatdel(naam,chtiid,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                          

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });

  
  

});

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body>
<div style="position: absolute;top: 0px;">


</div>
  <div class="page">


{% include 'f4page.html'%}


  
  <div class="news" style="top:3.5em;">
   

   

{% include 'homeframe.html'%}




    

    
</div>


<div class="adsectn" style="height: auto;width: 258px;padding-top: 0px;padding-bottom: 30px;padding-left:0px;position: fixed;margin-left: 812px;top:4.2em;">
  


<!-- ads here  -->

</div>

</div>
</div>



  </div>
  </div>

{% include 'nav.html' %}
{% include 'frame6.html' %}

{% include 'chatbox.html' %}

{% include 'picframe.html' %}

<div class="google"><input type="text" placeholder="Search Any Person here..." style="background: rgba(255,255,255,0.6);" class="gbox">
<button class="button1 gg" style="width:9%;height:35px;"><span class="glyphicon glyphicon-search"></span></button></div>

<div class="cshide" style="display:none;">{{ csrf_token }}</div>

{% include 'page5.html' %}

</body>

</html>






