 

{% load static %}
{% load i18n %}
{% load extras %}
{% load widget_tweaks %}
<head>
  
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<script type="text/javascript">
$(function(){


document.getElementById('fotos').onchange = function () {
 
 var fname =this.value;
 var fnam =fname.split(".");
 var fna=fnam.length;
var n = fnam[fna-1].localeCompare("jpg"); if(n!=0){ n = fnam[fna-1].localeCompare("jpeg"); } if(n!=0){ n = fnam[fna-1].localeCompare("png"); } if(n!=0){ n = fnam[fna-1].localeCompare("tif"); } if(n!=0){ n = fnam[fna-1].localeCompare("tiff"); } if(n!=0){ n = fnam[fna-1].localeCompare("bmp"); }
 if(n!=0)
 { 

alert("Please Select a  Valid Image File  ");
this.value="";
}
else{

$(".showgreen").show();
}

};


});

var loaded=0;

  $(window).scroll(function(){

//alert("Chutiya kata???");
var diff =$(document).height()-$(window).scrollTop();
//
if (diff<900 ) {

  for (var i = 0; i < 3; i++) {
loaded+=1;
    $('.count'+[loaded]).show();
  $('.thumb'+[loaded]).attr("src",$('.thumb'+[loaded]).attr("value"));
  $('.img'+[loaded]).attr("src",$('#img'+[loaded]).html());
  $('.imgthumb'+[loaded]).attr("src",$('.imgthumb'+[loaded]).attr("value"));
  
    

  }



  


}
});
 
$(function(){

var readOnlyLength = $('.say').val().length;
  //alert(readOnlyLength);

 $('#output').text(readOnlyLength);

$('.say').on('keypress, keydown', function(event) {
    var $field = $(this);
   // $('#output').text(event.which + '-' + this.selectionStart);
    if ((event.which != 37 && (event.which != 39))
        && ((this.selectionStart < readOnlyLength)
        || ((this.selectionStart == readOnlyLength) && (event.which == 8)))) {
        return false;
    }
});                    


});
  
</script>

<div class="frame5" style="background-color:rgba(255,255,255,0.5);height:165px;overflow-y:hidden; ">

      <b>Express Yourself</b>

      <form name="upform" method="post" action="../raw_prof_pic/" enctype="multipart/form-data" style="display:none;" id="updpform">
               {% csrf_token %}
              
              <input type="file" name="files" id="foto"/>
              
            </form>
  
      <br>
  
      <form id="abc" name="myform" method="post" action="../uploadpost/" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea value="#{{m.tagword}} " class="say" name="say" style="margin-left:5%; margin-bottom:2%; margin-top:4%; border-radius:5px;height: 58px; width: 90%;color: black;">#{{m.tagword}} </textarea><br>
     

 <button class="button1 addphoto" style="background-color:rgb(1,76,66);width: auto;" class="addphoto" id="addphoto">Add Photo</button>
<input id="fotos" type="file" name="files" id="fotos">
                  <button class="button1 addsubmit" style="background-color:rgb(1,76,66);" type="submit" id="addsubmit">Share</button>&nbsp;
        <br>  <b style="color: green;position: relative;top: -105px;display: none;left: 40px;" class="showgreen"><img src="{% static 'green.png' %}" style="width: 10px;height: 10px;" > File Selected</b>     

          </form>
           <br>
    </div><br><br>

<div class="frame5" style="background-color:rgba(255,255,255,0.3);margin-top:-50px;">
Use <b style="color:blue;cursor:pointer;">#{{m.tagword}}</b> in Your Profile posts to post at this interest page. </div>



<div class="frame5 showmobe" style="background-color:rgba(255,255,255,0.3);margin-top:10px;">
Click on <span class="glyphicon glyphicon-th-large"></span> icon to See Nearby People..
 </div>

<div class="frame5 showmobe" style="background-color:rgba(255,255,255,0.3);margin-top:10px;">
Click on <span class="glyphicon glyphicon-pushpin"></span> icon to Search person or Interest..
 </div>


			{% for c in f %}
	
			      
          <div class="frame5" style="background-color:rgba(255,255,255,0.3);">
      <a href="/{{c.identity}}/"><img src="/media/file_p{{c.identity}}_{{c.creator.prof_pic|last}}.thumbnail" class="img-responsive" style="border-radius:5px;width:50px; height:50px; float:left; margin-right:5px;">
      </a>
          
      <b><a style="font-size: 16px;font-weight: 500;color:rgb(1,76,76)" href="../{{c.creator.id}}" >{{ c.creator.first_name }} {{ c.creator.last_name }}</a></b> shared a picture.
        
      
      <br>
      <div class="time">

        {{c.post_time}}<br><br>
      </div> 
      {% if c.photos >= 1 %}
      {% if "#" in c.say %}
     <script type="text/javascript">
      var bol="{{c.say}}";
      var pqrs=bol.split("#");
      var first=pqrs[0];
      pqrs[0]="";
      bol=pqrs.join("");
      bol=first+"#"+bol;
      if(bol.indexOf("&#")>-1){
      var j = bol.split("&#");
      var z="";
      for(i =0;i<j.length;i++){
        if(j[i].indexOf("#")>-1){
        var l=j[i].split("#");
      
      var d=l[1].split(" ");
      d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
      j[i]=d.join(" ");
      }
      

      }
      z=j.join("&#");
      
      document.write(z);
    }
    else{
      var l=bol.split("#");
     var pqrs=bol.split("#");
      var first=pqrs[0];
      pqrs[0]="";
      bol=pqrs.join("");
      bol=first+"#"+bol;
      for(var i=1;i<l.length;i++){
        var d=l[i].split(" ");
        d[0]="<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
        l[i]=d.join(" ");
      }
        z=l.join("");
        document.write(z);
    }
    
      </script>
    
      {%else%}
      {{c.say}}
      {%endif%}
      <br><br><div style="max-height:400px;overflow:hidden;">
      
      <img src="/media/file_{{c.identity}}_{{c.photos}}.jpg" class="img-responsive" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" value="{{c.post_time}}"></div>
      {%else%}
      {% if "#" in c.say %}
      <script type="text/javascript">
      var bol="{{c.say}}";
      if(bol.indexOf("&#")>-1){
      var j = bol.split("&#");
      var z="";
      for(i =0;i<j.length;i++){
        if(j[i].indexOf("#")>-1){
        var l=j[i].split("#");
      
      var d=l[1].split(" ");
      d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
      j[i]=d.join(" ");
      }
      

      }
      z=j.join("&#");
      
      document.write(z);
    }
    else{
      var l=bol.split("#");
      for(var i=1;i<l.length;i++){
        var d=l[i].split(" ");
        d[0]="<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
        l[i]=d.join(" ");
      }
        z=l.join("");
        document.write(z);
    }
    
      </script>
    
      {%else%}
      {{c.say}}
       {%endif%}
      {%endif%}
      <br>
      
      <b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}">{{c.hits}} Hits </b>   <b id="com{{c.identity}}l{{c.photos}}">, {{c.comments}} Opines</b><br>
      


      

      <!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} --> 
        <button class="like" style="background-color:Transparent;outline:none;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span class="glyphicon glyphicon-heart" {%if not count in c.hitters %} style="color:#FC4E03;"{% else %}  style="color:#330909;"{% endif %}></span>&nbsp;{%if count in c.hitters %}<span>Unhit</span>{%else%}<span style="">Hit</span>{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      



      





      <b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='ram{{c.identity}}k{{c.photos}}' value="{{c.photos}}" style=""><span style="color:rgb(75,172,238);" class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="share" value="sharem{{c.identity}}m{{c.photos}}"><span id="share" style=""><span class="glyphicon glyphicon-share" style=""></span> Share</b></a><br>
      <div  class="commentbox" id="commentboxram{{c.identity}}k{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;">

      <div class="commentsss"></div>


      <button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.identity}}d{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button><img src="/media/file_{{count}}.jpg" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

      
      
      
      <textarea class="{{c.identity}}d{{c.photos}} hoot" id="{{c.identity}}d{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

       </div></div>
		{% endfor %}


      {% for c in other %}
  
            
          <div class="frame5 count{{forloop.counter}}" style="background-color:rgba(255,255,255,0.3);">
          <a href="/{{c.identity}}/">
      <img src="" class="img-responsive thumb{{forloop.counter}}" style="border-radius:5px;width:50px; height:50px; float:left; margin-right:5px;" value="/media/file_p{{c.identity}}_{{c.creator.prof_pic|last}}.thumbnail" >
      
          </a>
      <b ><a style="font-size: 15px;font-weight: 500;color:rgb(1,76,76)" href="../{{c.creator.id}}" >{{ c.creator.first_name }} {{ c.creator.last_name }}</a></b> shared a picture.
        
      
      <br>
      <div class="time">

        {{c.post_time}}<br><br>
      </div> 
      {% if c.photos >= 1 %}
      {% if "#" in c.say %}
      <script type="text/javascript">
      var bol="{{c.say}}";
      var pqrs=bol.split("#");
      var first=pqrs[0];
      pqrs[0]="";
      bol=pqrs.join("");
      bol=first+"#"+bol;
      if(bol.indexOf("&#")>-1){
      var j = bol.split("&#");
      var z="";
      for(i =0;i<j.length;i++){
        if(j[i].indexOf("#")>-1){
        var l=j[i].split("#");
      
      var d=l[1].split(" ");
      d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
      j[i]=d.join(" ");
      }
      

      }
      z=j.join("&#");
      
      document.write(z);
    }
    else{
      var l=bol.split("#");
     var pqrs=bol.split("#");
      var first=pqrs[0];
      pqrs[0]="";
      bol=pqrs.join("");
      bol=first+"#"+bol;
      for(var i=1;i<l.length;i++){
        var d=l[i].split(" ");
        d[0]="<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
        l[i]=d.join(" ");
      }
        z=l.join("");
        document.write(z);
    }
    
      </script>
    
      {%else%}
      {{c.say}}
      {%endif%}
      <br><br><div style="max-height:400px;overflow:hidden;">
      
      <img src="/media/file_{{c.identity}}_{{c.photos}}.jpg" class="img-responsive" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" value="{{c.post_time}}"></div>
      {%else%}
      {% if "#" in c.say %}
      <script type="text/javascript">
      var bol="{{c.say}}";
      if(bol.indexOf("&#")>-1){
      var j = bol.split("&#");
      var z="";
      for(i =0;i<j.length;i++){
        if(j[i].indexOf("#")>-1){
        var l=j[i].split("#");
      
      var d=l[1].split(" ");
      d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
      j[i]=d.join(" ");
      }
      

      }
      z=j.join("&#");
      
      document.write(z);
    }
    else{
      var l=bol.split("#");
      for(var i=1;i<l.length;i++){
        var d=l[i].split(" ");
        d[0]="<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
        l[i]=d.join(" ");
      }
        z=l.join("");
        document.write(z);
    }
    
      </script>
    
      {%else%}
      {{c.say}}
      {%endif%}
      {%endif%}
      
      <br><b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}">{{c.hits}} Hits </b><b id="com{{c.identity}}l{{c.photos}}">, {{c.comments}} Opines</b><br>
      


      

      <!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} --> 
       <button class="like" style="background-color:Transparent;outline:none;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span class="glyphicon glyphicon-heart" {%if not count in c.hitters %} style="color:#FC4E03;"{% else %}  style="color:#330909;"{% endif %}></span>&nbsp;{%if count in c.hitters %}<span>Unhit</span>{%else%}<span>Hit</span>{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      



      





      <b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='ram{{c.identity}}k{{c.photos}}' value="{{c.photos}}" style=""><span style="color:rgb(75,172,238);" class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="share" value="sharem{{c.identity}}m{{c.photos}}"><span id="share" style=""><span class="glyphicon glyphicon-share" style=""></span> Share</b></a><br>
      <div  class="commentbox" id="commentboxram{{c.identity}}k{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;">

      <div class="commentsss"></div>


      <button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.identity}}d{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button><img class="img-responsive imgthumb{{forloop.counter}}" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;" value="/media/file_{{count}}.jpg">

      
      
      
      <textarea class="{{c.identity}}d{{c.photos}} hoot" id="{{c.identity}}d{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

       </div></div>
    {% endfor %}
