
{% load static %}

{% load i18n %}

{% load extras %}
<!DOCTYPE html>
<html>
  <head>
    
<style type="text/css">
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }



section {
    padding: 1em;
    text-align: center;
}




.grid {
    overflow: hidden;
    margin: 0;
    padding: 3em 0 0 0;
    width: 100%;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;

    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: -0.135em;
    width: 33.333%;
    height: 400px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}



/*---------------*/
/***** Layla *****/
/*---------------*/

figure.effect-layla {
    background: #18a367;
}

figure.effect-layla img {
    min-width: 100%;
    height: -webkit-calc(100% + 40px);
    height: calc(100% + 40px);
}

figure.effect-layla figcaption {
    padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
}

figure.effect-layla figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

figure.effect-layla h2 {
    padding-top: 26%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-layla p {
    padding: 0.5em 2em;
    text-transform: none;
    opacity: 0;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}


</style>

    <link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="c{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
    <link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
    <link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">

    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
    <script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/js2.js'%}"></script>
    <title>
      Interests | Zeeley
    </title>
    <link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <style>

      .interest
      {
        background-color: rgba(255,255,255,0.5);
        border: none;
      }
      .inti
      {
        background-color: rgba(255,255,255,0.1);
        border: none;
        cursor: pointer;
      }
      </style>
    <script type="text/javascript">
      $(function()
      {
        $(window).scrollTop(0);
      });
      $(document).ready(function(){
        $(".load").fadeOut(function(){

        $("#interest").show();
        $("#interest").css("opacity","1");

        $("#interest").css("margin-top","180px");  
        });
        
      });
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background: #ffffff;">
  <div class="frame" style="background-color:transparent;">
       <div class="ttle" style="width:100%;position:absolute;background: #E9EBEE;top:40px;box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);">
          <h3 style="margin-bottom: 8px;font-size:28px;color:black;"><b>&nbsp;&nbsp;&nbsp;&nbsp; Make a Current Interest !!</b></h3> 
          <B>
            <i style="color:blue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click on a Current Interest to Find people of your Interests:</i><br>
          </b><br>
          </div>
    <div class="page" style="background-color: transparent;">
    <center><h1 class="load"><i class="fa fa-spinner" aria-hidden="true"></i> Loading...</h1></center>
      <div id="interest" style="border: none;padding-left: 0px;background:transparent;opacity:0;margin-top:-100px;transition:all 1.5s;display:none;">
        <CENTER>
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../open_intrest/?q=Cricket'" >
            <img src="/media/intrest/Cricket.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Cricket</b><br><span style="font-size:14px;">{{ j |people:"Sports" }} people Available</span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
              <b>Cricket</b><br><span style="color:purple">{{ j |people:"Sports" }} people Available</span>
            </div>

            
            
          </div> 
          <style type="text/css">
          .inttext{
            transition:all 1s;margin-top:-150px;
          }
          .intblur{
            width:100%;height:100%;background-color:rgba(0,0,0,0.65);opacity:0.03px;position:relative;top:-120px;display:none;opacity: 0;
            transition:all 5s;font-size:18px;color:white;padding-top:50px;z-index: 0; 
          }
          .inti:hover .intblur{
            display: block;
            opacity: 1;
          }
          .inti:hover .inttext{
            margin-top: 0px;

           }
          </style>
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../open_intrest/?q=Football'" >
            <img src="/media/intrest/Football.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Football</b><br><span style="font-size:14px;">{{ j |people:"Sports" }} people Available</span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
              <b>Football</b><br><span style="color:purple">{{ j |people:"Sports" }} people Available </span>
            </div>
            
          </div> 
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../open_intrest/?q=Restaurant'" >
            <img src="/media/intrest/Restaurant.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Restaurant</b><br><span style="font-size:14px;">{{ j |people:"Food" }} people Available</span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
              <b>Restaurant</b><br><span style="color:purple">{{ j |people:"Food" }} people Available </span>
            </div>
            
          </div> 
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../open_intrest/?q=Cab_Sharing'" >
            <img src="/media/intrest/Cab_Sharing.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Cab Sharing</b><br><span style="font-size:14px;">{{ j |people:"Cab_Sharing" }} people Available </span></div>
           </div>

            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
              <b>Cab Sharing</b><br><span style="color:purple">{{ j |people:"Cab_Sharing" }} people Available </span>
            </div>
            
          </div> 
           <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../open_intrest/?q=Film'"  class="intimg">
            <img src="/media/image/movie.thumbnail"  class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Movie</b><br><span style="font-size:14px;">{{ j |people:"Entertainment" }} people Available </span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
            <b>Movie</b><br><span style="color:purple">{{ j |people:"Entertainment" }} people Available </span>
            </div>
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../open_intrest/?q=Pizza'" >
            <img src="/media/image/pizza.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Pizza</b><br><span style="font-size:14px;">{{ j |people:"Pizza" }} people Available </span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
            <b>Pizza</b><br><span style="color:purple">{{ j |people:"Pizza" }} people Available </span>
            </div>
          </div><div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../open_intrest/?q=Travelling'">
            <img src="/media/image/tour.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Travel</b><br><span style="font-size:14px;">{{ j |people:"Travel" }}  people Available</span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
            <b>Travel</b><br><span style="color:purple">{{ j |people:"Travel" }} people Available </span>
            </div>
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,1);"onclick="document.location='../open_intrest/?q=Quicky'" >
            <img src="/media/image/quick.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Quick Travel</b><br><span style="font-size:14px;">{{j|people:"Quicky"}} people Available</span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
            <b>Quick Travel</b><br><span style="color:purple">{{j|people:"Quicky"}} people Available </span>
            </div>
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../view_interest/?q=Sports'" >
            <img src="/media/image/sports.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Sports</b><br><span style="font-size:14px;">{{ j |people:"Sports" }} people Available</span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
              <b>Sports</b><br><span style="color:purple">{{ j |people:"Sports" }} people Available </span>
            </div>
            
          </div> 
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../view_interest/?q=Food'" >
            <img src="/media/image/food.thumbnail" class="intimg"> 
            <div style="" class="intblur">
              <div class="inttext"><b>Food</b><br><span style="font-size:14px;">{{ j |people:"Food" }} people Available </span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
            <b>Food</b><br><span style="color:purple">{{ j |people:"Food" }} people Available </span>
            </div>
          </div>
         
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../view_interest/?q=Music'">
            <img src="/media/image/guitar.thumbnail"  class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Music</b><br><span style="font-size:14px;">{{ j |people:"Music" }} people Available</span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
            <b>Music</b><br><span style="color:purple">{{ j |people:"Music" }} people Available </span>
            </div>
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../view_interest/?q=Love'">
            <img src="/media/image/love.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Love</b><br><span style="font-size:14px;">{{ j |people:"Love" }} people Available </span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
            <b>Love</b><br><span style="color:purple">{{ j |people:"Love" }} people Available </span>
            </div>
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../view_interest/?q=Party'">
            <img src="/media/image/party.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Party</b><br><span style="font-size:14px;">{{ j |people:"Party" }} people Available </span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
            <b>Party</b><br><span style="color:purple">{{ j |people:"Party" }} people Available </span>
            </div>
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../open_intrest/?q=Dance'">
            <img src="/media/image/dance.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Dance</b><br><span style="font-size:14px;">{{ j |people:"Dance" }} people Available </span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
            <b>Dance</b><br><span style="color:purple">{{ j |people:"Dance" }} people Available </span>
            </div>
          </div>
          
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../open_intrest/?q=Study'" >
            <img src="/media/image/study.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Study</b><br><span style="font-size:14px;">{{ j |people:"Study" }} people Available</span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
            <b>Study</b><br><span style="color:purple">{{ j |people:"Study" }} people Available </span>
            </div>
          </div>
          
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../add_as_interest/?q=Gaming'"  >
            <img src="/media/image/pcgame.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>PC Gaming</b><br><span style="font-size:14px;">000 people Available </span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
            <b>PC Gaming</b><br><span style="color:purple">000 people Available </span>
            </div>
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../view_interest/?q=Outdoor'">
            <img src="/media/image/outdoors.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Outdoors</b><br><span style="font-size:14px;">{{ j |people:"Outdoor" }} people Available </span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
            <b>Outdoors</b><br><span style="color:purple">{{ j |people:"Outdoor" }} people Available </span>
            </div>
          </div>
          
            
          

          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../add_as_interest/?q=Chat'">
            <img src="/media/image/chat.thumbnail" class="intimg">
            <div style="" class="intblur">
              <div class="inttext"><b>Chatting</b><br><span style="font-size:14px;">{{j|people:"Chat"}} people Available </span></div>
           </div>
            <div style="width:100%;height:420px;transition:all 1s;background-color:white;z-index:2;color:rgb(0,160,162);" class="integ">
            <b>Chatting</b><br><span style="color:purple">{{j|people:"Chat"}} people Available </span>
            </div>
          </div>
          
        </center>
      </div>
    </div>
  </div>
</div>
<div class="google">
  <input type="text" placeholder="Search Any Person here..." class="gbox">
  <button class="button1 gg" style="width:9%;height:35px;">
    <span class="glyphicon glyphicon-search"></span>
  </button>
</div>
<div class="cshide" style="display:none;">{{ csrf_token }}</div>
{% include 'nav.html'%}
{% include 'chatbox.html'%}

{% include 'picframe.html'%}

<div class="page">
<div style="position:fixed;top:2.5%;background-color:white;mwidth:700px;z-index:50;height:95%;padding:15px; box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);display:none;color:white;background-color:#056b5d;border-radius:5px;" class="qtpa">
<center>
  <h1 style="margin-top:-2000px;font-size:23px;transition:all 1s;" class="movelt">Set your Exact Location</h1><br>
</center>  
  <center><div class="movert" style="margin-bottom:-1000px;transition:all 1s;">
    <b style="float:left;">Current Location:</b>
    <div class="crntlo" style="margin-bottom:15px;"></div>
    <div style="font-size:17px;clear:both;">Drag and Drop Pink <img src="/media/newmedia/map.png" style="width:30px;"> Pin to Your Location in Map.</div></div>
    <br>
  <div style="border:none;width:600px;height:350px;padding:2px;border-radius:7px;padding-right:2px;color:black;">
   <input id="pac-input" class="controls" type="text" placeholder="Search Box" value="" style="background: rgba(255,255,255,0.6);"> 
    

  <div id="map"></div>
 
  </div>
</center>
<button class="bttun chngloc movert" style="margin-bottom:-1000px;float:right;margin-right:25px;">Change</button>

<button class="bttun skiploc movert" style="margin-bottom:-1000px;float:right;margin-right:25px;">Back</button>

</div>
</div>
  </div>



<input type="text" style="width:50px;background: rgba(255,255,255,0.6);display:none;" id="lat" value="{{i.latitude}}" name="city_lat" readonly="readonly"> 
<input type="text" style="width:50px;background: rgba(255,255,255,0.6);display:none;" id="long" value="{{i.longitude}}" name="city_long" readonly="readonly">


{% if il <= 2 %}

<script type="text/javascript">
  

$(function() {
var w = window,
  d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    h = w.innerHeight|| e.clientHeight|| g.clientHeight;
  
var loadl=1;
if(x>=1100){
$(".overqtp").show();
 
   $(".qtpa").show();
  $(".qtpa").css("margin-left","200px");
  $(".movelt").delay(500).animate({"margin-top":"0px"});
  $(".movert").delay(500).animate({"margin-bottom":"0px"});

 

}
 
  
});

</script>


{% endif %}




<script type="text/javascript">
 $(document).ready(function(){


var w = window,
  d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    h = w.innerHeight|| e.clientHeight|| g.clientHeight;

  url = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyArqXH6o_NM52R7ipu84PKLNoM7uvAuyh0&libraries=places&callback=initAutocompleted';
    //  $.getScript(url); 
$(".overqtp").click(function(){
  $(".overqtp").hide();
  $(".qtpa").css("margin-left","2000px");
  $(".qtpa").delay(1000).fadeOut();
  loadl=0;
  

 });


 $(".chngloc").click(function(){

  $.ajax({
               type: "POST",
               url: "../positionupdate/",
               data: {'lat':$("#lat").val(),'long':$("#long").val(),'csrfmiddlewaretoken': '{{csrf_token}}'},
               dataType: "json",
               success: function(response) {
                  
                  //   alert("Success");
             //     document.location="../";
               


  $(".overqtp").hide();
  $(".qtpa").css("margin-left","2000px");
  $(".qtpa").delay(1000).fadeOut();





                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 

  
  localStorage.setItem('location','off');

});


 });

 
 </script>
 
   <script>

function initAutocompleted() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: {{i.latitude}}, lng: {{i.longitude}}},
    zoom: 16,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // Create the search box and link it to the UI element.
  var input = document.getElementById('pac-input');
  var searchBox = new google.maps.places.SearchBox(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  markers.push(myMark = new google.maps.Marker({
        map: map,
        title: 'Current',
        draggable:true,
        animation: google.maps.Animation.DROP,
        position: {lat: parseFloat($("#lat").val()),lng:  parseFloat($("#long").val())}
      }));
google.maps.event.addListener(myMark, 'dragend', function(evt){

  $("#lat").val(evt.latLng.lat().toFixed(5));
  $("#long").val(evt.latLng.lng().toFixed(5));
  
    document.getElementById('current').innerHTML=" ";
});

google.maps.event.addListener(myMark, 'dragstart', function(evt){
    document.getElementById('current').innerHTML = '<p>Currently dragging marker...</p>';
});
  // [START region_getplaces]
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    // Clear out the old markers.
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
    markers = [];

    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    var markno=0;
    places.forEach(function(place) {
 
      // Create a marker for each place.
      markers=[];
 markno++;
 if(markno==1){

      markers.push(myMarker = new google.maps.Marker({
        map: map,
        title: place.name,
        draggable:true,
        animation: google.maps.Animation.DROP,
        position: place.geometry.location
      }));
    }
      $("#lat").val(place.geometry.location.lat().toFixed(5));
  $("#long").val(place.geometry.location.lng().toFixed(5));
  console.log(place.geometry.location.lat().toFixed(5)+","+place.geometry.location.lng().toFixed(5));
google.maps.event.addListener(myMarker, 'dragend', function(evt){

  $("#lat").val(evt.latLng.lat().toFixed(5));
  $("#long").val(evt.latLng.lng().toFixed(5));
  
    document.getElementById('current').innerHTML=" ";
});

google.maps.event.addListener(myMarker, 'dragstart', function(evt){
    document.getElementById('current').innerHTML = '<p>Currently dragging marker...</p>';
});

map.setCenter(myMarker.position);
myMarker.setMap(map);


      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });
  // [END region_getplaces]
}
</script>
 
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArqXH6o_NM52R7ipu84PKLNoM7uvAuyh0&libraries=places&callback=initAutocompleted"></script>

  <style>
     .qtpa{
      transition:all 1s;
      margin-left: 2500px;
     }

      #map {
        height: 100%;
      }
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

    </style>
<style type="text/css">
.bttun{
  margin-top: 10px;
  padding: 5px;
    font-size: 15px;
    width: 160px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #053e36;
    transition: all 0.8s;
    color: white;
}
.bttun:hover{

    background-color: rgb(228, 228, 223);
    color: #083e36;
    font-size: larger;
    font-weight: 700;
}
</style>

</body>