<!DOCTYPE html>
<html>
<head>
	<title>Localites | Zeeley</title>
	<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>

{%for p,q in b%}

{{p.first_name}} --->  {{q}}m

<br>

{%endfor%}
</body>
</html>