
{% load static %}
{% load i18n %}
{% load extras %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" 
 href="{%static 'css/css2t.css'%}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
 
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<body>
<br><br><br>
<script type="text/javascript">
$(function(){

$.get("http://maps.googleapis.com/maps/api/geocode/json?latlng={{i.latitude}},{{i.longitude}}&sensor=true",function(data){
  $("#myloc").val(data.results[0].formatted_address);
  $("#pac-input").val(data.results[0].formatted_address);
  $(".crntlo").html(data.results[0].formatted_address.substring(0,70)+"...");
});

});
</script>



   <script>

function initAutocompleted() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: {{i.latitude}}, lng: {{i.longitude}}},
    zoom: 16,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // Create the search box and link it to the UI element.
  var input = document.getElementById('pac-input');
  var searchBox = new google.maps.places.SearchBox(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  markers.push(myMark = new google.maps.Marker({
        map: map,
        title: 'Current',
        draggable:true,
        animation: google.maps.Animation.DROP,
        position: {lat: parseFloat($("#lat").val()),lng:  parseFloat($("#long").val())}
      }));
google.maps.event.addListener(myMark, 'dragend', function(evt){

  $("#lat").val(evt.latLng.lat().toFixed(5));
  $("#long").val(evt.latLng.lng().toFixed(5));
  
    document.getElementById('current').innerHTML=" ";
});

google.maps.event.addListener(myMark, 'dragstart', function(evt){
    document.getElementById('current').innerHTML = '<p>Currently dragging marker...</p>';
});
  // [START region_getplaces]
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    // Clear out the old markers.
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
    markers = [];

    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    var markno=0;
    places.forEach(function(place) {
 
      // Create a marker for each place.
      markers=[];
 markno++;
 if(markno==1){

      markers.push(myMarker = new google.maps.Marker({
        map: map,
        title: place.name,
        draggable:true,
        animation: google.maps.Animation.DROP,
        position: place.geometry.location
      }));
    }
      $("#lat").val(place.geometry.location.lat().toFixed(5));
  $("#long").val(place.geometry.location.lng().toFixed(5));
  console.log(place.geometry.location.lat().toFixed(5)+","+place.geometry.location.lng().toFixed(5));
google.maps.event.addListener(myMarker, 'dragend', function(evt){

  $("#lat").val(evt.latLng.lat().toFixed(5));
  $("#long").val(evt.latLng.lng().toFixed(5));
  
    document.getElementById('current').innerHTML=" ";
});

google.maps.event.addListener(myMarker, 'dragstart', function(evt){
    document.getElementById('current').innerHTML = '<p>Currently dragging marker...</p>';
});

map.setCenter(myMarker.position);
myMarker.setMap(map);


      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });
  // [END region_getplaces]
}


$(function(){
$(".chngloc").click(function(){

  $.ajax({
               type: "POST",
               url: "../positionupdate/",
               data: {'lat':$("#lat").val(),'long':$("#long").val(),'csrfmiddlewaretoken': '{{csrf_token}}'},
               dataType: "json",
               success: function(response) {
                  
                //    alert("Success");
                if("{{ z }}"=="new"){
                  document.location="../interest/";
                
                }
                else{
                  document.location="../";
                
                }
                   },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 

  
  localStorage.setItem('location','off');

});


url = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyArqXH6o_NM52R7ipu84PKLNoM7uvAuyh0&libraries=places&callback=initAutocompleted';
      $.getScript(url); 
   

 



});
    </script>

 

     <style>
     .qtpa{
      transition:all 1s;
     
      overflow: hidden;
     }

      #map {
        height: 100%;
      }
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 180px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

    </style>


<div class="page">
<div style="
padding:15px;color:black;border-radius:5px;" class="qtpa">
<center>
  <h1 style="font-size:23px;transition:all 1s;" class="movelt">Set your Exact Location</h1><br>
</center>  
  <center><div class="movert" style="transition:all 1s;">
    <b style="float:left;">Current Location:</b>
    <div class="crntlo" style="margin-bottom:15px;"></div>
    <div style="font-size:17px;clear:both;">Drag and Drop Pink<span  class="glyphicon glyphicon-map-marker" style="color:red;font-size:18px;"></span> Pin to Your Location in Map.</div></div>
    <br>
  <div style="border:none;width:100%;height:350px;padding:2px;border-radius:7px;padding-right:2px;color:black;">
   <input id="pac-input" class="controls" type="text" placeholder="Search Box" value="" style="background: rgba(255,255,255,0.6);"> 


  <div id="map" style="width:100%;"></div>
 
  </div>
</center>
<button class="bttun chngloc" style="float:right;margin-right:25px;">Change</button>

</div>
</div>

  </div>

<style type="text/css">
.bttun{
  margin-top: 10px;
  padding: 5px;
    font-size: 15px;
    width: 160px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #053e36;
    transition: all 0.8s;
    color: white;
}
.bttun:hover{

    background-color: rgb(228, 228, 223);
    color: #083e36;
    font-size: larger;
    font-weight: 700;
}
</style>

<input type="text" style="width:50px;background: rgba(255,255,255,0.6);display:none;" id="lat" value="{{i.latitude}}" name="city_lat" readonly="readonly"> 
<input type="text" style="width:50px;background: rgba(255,255,255,0.6);display:none;" id="long" value="{{i.longitude}}" name="city_long" readonly="readonly">


<div class="page">
  {% include 'nav.html'%}
</div>

{% include 'frame6.html'%}
{% include 'chatbox.html'%}

</body>
</html>
