{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArqXH6o_NM52R7ipu84PKLNoM7uvAuyh0&libraries=places&callback=initAutocomplete" async defer></script>
<script>
$(function(){





var w = window,
  d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    h = w.innerHeight|| e.clientHeight|| g.clientHeight;
var ismob;
if(x<=680){
ismob=1;
}
else{
ismob=0;
}
$(".ismob").val(ismob);
$(document).keyup(function(e) {
     if (e.keyCode == 27) { // escape key maps to keycode `27`
        // <DO YOUR WORK HERE>
 $(".overqtp").fadeOut();
 $(".locate").fadeOut();
 $(".arrw").fadeOut();

 $(".zeel").fadeOut();

 $(".wlcm").fadeOut();
  


    }
});

$(".zeel").click(function(){

 $(".overqtp").fadeOut();
 $(".locate").fadeOut();
 $(".arrw").fadeOut();

 $(".zeel").fadeOut();

 $(".wlcm").fadeOut();
  


});

$("html").click(function(){

$(".dropdown-content").hide();
});
$(".collval").click(function(){

$("#college").val($(this).html());
$("#collegedrop").hide();
});

$("#college").keyup(function(){
$("#collegedrop").show();
});

$(".streetval").click(function(){

$("#street").val($(this).html());
$("#streetdrop").hide();
});

$("#street").keyup(function(){
$("#streetdrop").show();
});

$(".deptval").click(function(){

$("#dept").val($(this).html());
$("#deptdrop").hide();
});

$("#dept").keyup(function(){
$("#deptdrop").show();
});

});



function initAutocomplete() {
var input = document.getElementById('city');

var searchBox = new google.maps.places.SearchBox(input);



searchBox.addListener('places_changed', function() {
var places = searchBox.getPlaces();
$("#citylat").val(places[0].geometry.location.lat());

$("#citylong").val(places[0].geometry.location.lng());
if (places.length == 0) {
return;
}
});


}
</script>
<style type="text/css">
  
  .newboxx{
    width:220px;height:30px;border:1px solid rgba(0,0,0,0.20);padding-left:10px;border-radius:15px;padding-right:8px;font-size:13px;padding-top:1px;padding-bottom:1px;  outline: 0;
  }
  
  .newboxx:hover, .newboxx:focus 
  {
        border:2px solid rgba(75,172,238,0.5);

  }
  .newbtn1
  {
    border:1px solid rgb(75,172,238); padding:0px 20px 0px 20px; border-radius:15px;font-size:20px;transition: all 0.6s;height:30px;margin-left: 125px;

  color: white;
  background-color:rgb(75,172,238);

  }
  .newbtn1:hover,.newbtn1:active 
  {
    background:transparent;color:rgb(75,172,238);
  }
  .dropbtn {
    cursor: pointer;
  }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 220px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
border-radius: 15px;
padding-top: 15px;
max-height: 200px;
overflow-y: auto;

}
.pac-container {
 
    background-color: #f9f9f9;
    width: 220px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
border-radius: 15px;
}
.pac-logo{
  background-color: white;

}
.pac-item {
    color: black;
    padding: 3px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
background-color: white;
  border:none;
}
.pac-item:hover {background-color: rgba(75,172,238,0.15);
 
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 3px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(75,172,238,0.15);
  color: blue;
}

.dropdown:hover .dropbtn {
    border:2px solid rgba(75,172,238,0.5);
}

</style>
<title>Welcome | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background-color: white;">
<h1 style="color:rgb(75,172,238);font-size:32;margin-left:20px;">Welcome to Zeeley</h1>
<hr style="border:1px solid rgb(75,172,238);">
<center>
  <div style="width:500px;height:auto;font-size:18px;margin-top:60px;">
  <b style="float:left;">Add some details</b><br>
  <div align="left" style="font-size:15px;margin-top:6px;margin-bottom:12px;">
  <div class="showmobe">Please Allow Location to See Nearby People<br></div>Add some important details to allow the nearby people to meet up with you on Zeeley:</div>
  <form action="" method="post">{% csrf_token %}
  <table style="width:100%;">
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        Age<span style="color:red;font-size:12px;">*</span>
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
        <input type="number" name="age"  min="0" style="" class="newboxx" placeholder="Age in yrs" required="required">
      </td>
    </tr>
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        Your city<span style="color:red;font-size:12px;">*</span>
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
          <input type="text" name="hometown" style="" class="newboxx dropbtn" placeholder="Select recommended Location" id="city" required="required">
        </div>
        
      </td>
    </tr>
    <tr style="display:none;">
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        School/College
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
      <div class="droopdown">
          <input type="text" name="organization" style="" id="college" class="newboxx" placeholder="Enter School/College">
          <div class="dropdown-content" id="collegedrop">
            <a href="#" class="collval">IIT BHU, Varanasi</a>
            <a href="#" class="collval">IIT Bombay</a>
            <a href="#" class="collval">IIT Delhi</a>
             <a href="#" class="collval">IIT BHU, Varanasi</a>
            <a href="#" class="collval">IIT Bombay</a>
            <a href="#" class="collval">IIT Delhi</a> <a href="#" class="collval">IIT BHU, Varanasi</a>
            <a href="#" class="collval">IIT Bombay</a>
            <a href="#" class="collval">IIT Delhi</a> <a href="#" class="collval">IIT BHU, Varanasi</a>
            <a href="#" class="collval">IIT Bombay</a>
            <a href="#" class="collval">IIT Delhi</a> <a href="#" class="collval">IIT BHU, Varanasi</a>
            <a href="#" class="collval">IIT Bombay</a>
            <a href="#" class="collval">IIT Delhi</a>
          </div>  
      </div>  
      </td>
    </tr>
    <tr style="display:none;">
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        What do you Study?
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
        <div class="droopdown">
          <input type="text" name="works_as" style="" class="newboxx" placeholder="Department/Class" id="dept">
          <div class="dropdown-content" id="deptdrop" style="z-index:10;">
            <a href="#" class="deptval">Computer Science</a>
            <a href="#" class="deptval">Electronics</a>
            <a href="#" class="deptval">Civil</a>
          </div>  
        </div>
        
      </td>
    </tr>
    <tr style="display:none;">
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        Street/Locality
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
        <div class="droopdown">
          <input type="text" name="currentplace" style="" class="newboxx" placeholder="Select Street/Hostel" id="street">
          <div class="dropdown-content" id="streetdrop" style="z-index:10;">
            <a href="#" class="streetval">SN Bose</a>
            <a href="#" class="streetval">Vishveswaraiya</a>
            <a href="#" class="streetval">DhanrajGiri</a>
          </div>  
        </div>
        
      </td>
    </tr>
    <tr style="">
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
      <button class="newbtn1">Next</button>
      </td>
    </tr>
  </table>
  <input type="hidden" name="lati" id="citylat" value="0">
  <input type="hidden" name="longi" id="citylong" value="0">
  <input type="hidden" class="ismob" name="mob">  
  </form>
  </div>
</center>


<script type="text/javascript">
function getLocation() {
$(".overqtp").fadeIn();
    if (navigator.geolocation) {
   navigator.geolocation.getCurrentPosition(showPosition, showError);
   
    } 
}
function showError(error) {
  $(".pnby").hide();
  $(".arrw").fadeOut();
 $(".overqtp").fadeOut();
 $(".zeel").fadeOut();

 $(".wlcm").fadeOut();


   $.ajax({
               type: "POST",
               url: "../positionupdate/",
               data: {'lat':"90",'long':"0",'csrfmiddlewaretoken': '{{csrf_token}}'},
               dataType: "json",
               success: function(response) {
                  
                  //   alert("Success");
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 

    }
function showPosition(position) {
  $(".overqtp").fadeOut();
 $(".locate").fadeOut();
 $(".arrw").fadeOut();

 $(".zeel").fadeOut();

 $(".wlcm").fadeOut();

  console.log(position.coords.latitude);

  console.log(position.coords.longitude);
   $.ajax({
               type: "POST",
               url: "../positionupdate/",
               data: {'lat':position.coords.latitude,'long':position.coords.longitude,'csrfmiddlewaretoken': '{{csrf_token}}'},
               dataType: "json",
               success: function(response) {
                  
                  //   alert("Success");
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 



}

  $(function(){
    var w = window,
  d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    h = w.innerHeight|| e.clientHeight|| g.clientHeight;
if(x>1100){
$(".wlcm").css("top","28px");

var welmsg=$(".welmsg").html();
$(".welmsg").html("");
var chars=welmsg.split("");
for (var i = 0; i < chars.length; i++) {
  
 var tab = document.createElement("span");    


  tab.innerHTML=chars[i];
  tab.style.display="none";

  $(".welmsg").append(tab);
 
$(tab).delay(1000+(55*(i+1))).fadeIn();
}
$(".zly1").show();
 $(".zly1").delay(1000+(55*(chars.length+1))).animate({"opacity":"1","margin-right":"0px"});
$(".zly2").delay(2000+(55*(chars.length+1))).fadeIn();

$(".allowlcn").click(function(){
getLocation();

});
}
else{
 getLocation();
 
}
  });



</script>

<div style="position:fixed;top:0px;width:100%;height:100%;background-color:rgba(0,0,0,0.35);" class="zeel">
<div style="color:white;font-size:20px;position:absolute;top:0px;right:20px;">X</div>
</div>
       <div class="page"><center>
         <div style="background-color: rgba(255,255,255,0.91);width:700px;position: fixed;top: 4000px;height:570px; left: 300px;border-radius: 7px;transition: all 1s;overflow: hidden;box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);" class="wlcm">
           <h1 style="font-size:26px;" class="welmsg">To See Nearby People ,Turn on the Location</h1>
           <center><img src="/media/intpng.png" style="transition:all 1s;margin-right:-100%;width:400px;opacity:0;" class="zly1"></center><br>
          <div style="font-size:20px;margin-top:50px;display:none;" class="zly2"> To Turn on Location, Click Here and Then Click Allow <input type="submit" name="" style="margin-left:15px;" class="newbtn1 allowlcn" value="Turn On"></div>
         </div>
         </center>
       </div> 
<img src="/media/allow.png" style="height:70px;position:fixed;top:20px;left:345px;display:none;" class="arrw">




</body>
</html>
