
{% load static %}
{% load i18n %}
{% load extras %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" 
 href="{%static 'css/css2t.css'%}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
 
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<script type="text/javascript">
  $(function(){

    fmsg();


$("html").click(function(){
   event.stopPropagation();


  $(".msgtable").show();


});
  });
</script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<body  style='background-color:rgba(100,100,255,0.1);'>

<br>
<br>
  <div style="position:fixed;width:100%;background-color:white;border-top-left-radius:8px;border-top-right-radius:8px;margin-top:5px;">
    <center><b>Messages</b></center>
    <hr style="margin-top: 0px;margin-bottom: 0px;border:1px solid rgba(0,0,0,0.19);width:100%;">
    </div><br>
  <div class="msgtable" style="height:auto;">
    <table class="pmsg" style="padding-left: 4px;
         padding-right: 2px;width: 100%;">
         <tr class="openchat chatting1" style="display:none;"></tr>
         <tr class="openchat chatting2" style="display:none;"></tr>
         <tr class="openchat chatting3" style="display:none;"></tr>
         <tr class="openchat chatting4" style="display:none;"></tr>
         <tr class="openchat chatting5" style="display:none;"></tr>
         <tr class="openchat chatting6" style="display:none;"></tr>
         <tr class="openchat chatting7" style="display:none;"></tr>
         <tr class="openchat chatting8" style="display:none;"></tr>
         <tr class="openchat chatting9" style="display:none;"></tr>
         <tr class="openchat chatting10" style="display:none;"></tr>
         <tr class="openchat chatting11" style="display:none;"></tr>
         <tr class="openchat chatting12" style="display:none;"></tr>
         <tr class="openchat chatting13" style="display:none;"></tr>
         <tr class="openchat chatting14" style="display:none;"></tr>
     <tr class="openchat chatting15" style="display:none;"></tr>
    </table>
    </div>   
<style type="text/css"> 
.myrang:hover .invit{
display: block;
}

.m:hover{
background-color:  rgba(75,172,238,0.4);
  }</style>


<div class="page">
  {% include 'nav.html'%}
</div>

{% include 'frame6.html'%}
{% include 'chatbox.html'%}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>


</body>
