
	{% load static %}

{% load i18n %}

<script type="text/javascript">
function showajax(message){
	var timer=0;
	//alert(message);
	$(".ajaxmsg").show();
$(".ajaxmsg").html("<center>"+message+"</center>");

	$(".ajaxmsg").css("top","150px");

var chint=setInterval(function(){

timer+=100;
if(timer>2400){

$(".ajaxmsg").css("top","1000px");
$(".ajaxmsg").fadeOut();
clearInterval(chint);
}
},100);

}
</script>

<div style="position:fixed;width:400px;margin-left:auto;margin-right:auto;top:-1800px;height:140px;background-color:white;left:0px;right:0px;transition:all 1s;font-size:19px;padding-left:15px;padding-right:15px;padding-top:30px;padding-bottom:30px;border-radius:9px;box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);" class="ajaxmsg"></div>

<style type="text/css">

 @media screen and (min-width: 680px){
.showmobe{
  display: none;
}
}
 @media screen and (max-width: 680px){
 .mobfor{
  height: 150px;
 }


 .hidemobe{
  display: none;
 }

 .showmobe{
  display: block;
 }
 }

 .btun {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  margin-right: 2px;
}

.btun:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.btun{
  padding:5px;font-size:15px;width:160px;border-radius:5px;border:none;
outline:none;cursor:pointer;background-color:#058c7a;
transition:all 0.8s;
color: white;

}
.btun:hover{
 background-color:rgba(61,123,109,1);
}
</style>


<div style="position:fixed;top:0px;left:0px;width:100%;height:100%;background-color:rgba(0,0,0,0.28);display:none;z-index:200;" class="laymem"></div>
<div class="page">
	<div style="position:fixed;top:90px;background-color:white;height:auto;overflow-x:hidden;margin-left:auto;margin-right:auto;left:0px;right:0px;width:340px;border-radius:9px;border:1px solid black;display:none;z-index:220;padding-top:10px;box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);" class="popmem">
		<b style="padding-left:7px;padding-top:12px;padding-right:12px;font-size:18px;">Group Members</b>
		<hr style="width:100%;border:1px solid grey;margin-top:10px;margin-bottom:0px;">
		<div style="max-height:390px;overflow-y:auto;">
			<table class="viewmym">
			</table>
		</div>
	</div>
</div>

{% if messages %}
<script type="text/javascript">
	
	$(function(){
	


$(".msgng").show();

$(".msgng").css("margin-top","150px");


setInterval(function(){


$(".msgng").css("margin-top","-1000px");

},2800);
	});
</script>

{% endif %}

<style type="text/css">
.msgng{
background-color:white; height:40px;position: fixed;box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);border:1px solid black;font-size:15px;padding-top:10px;margin-top: 10000px;display: none;top:0px;
	transition:all 1s ;
	margin-left: auto;margin-right: auto;left: 0px;right:0px;
	width: 340px;
  	padding-left:20px;
  	height: 100px;
  	
  		padding-left:15px;
  		padding-right:15px;
  	
  	font-size: 20px;
  	border-radius: 8px;border: none;
}
/* @media screen and (min-width: 1100px){
  .msgng{top: 163px;
  	width: 400px;
  	padding-left:20px;
  	height: 100px;
  	padding: 30px;
  		padding-left:15px;
  		padding-right:15px;
  	
  	font-size: 20px;
  	border-radius: 8px;border: none;
  }

  }

 @media screen and (max-width: 1100px){
  .msgng{top: 43px;
  	width:100%;
  	left:0px;
  	padding-left:-50px;
  }
*/
/*  }*/
</style>

{% if messages %}


<!-- <div class="blacklayer" style="width: 100%;height: 1000px;background-color: rgba(0,0,0,0);position: fixed;top: 0px;display: none;"></div>
 -->	
 <div class="msgng" style="display:block;">
		<!-- <ul class="messages">
     -->
<center>
     {% for message in messages %}
    <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> --><!-- </li> -->
   
    <script type="text/javascript">
	
$(function(){


	$(".okmsg").show();

$(".msgng").click(function(){

$(".msgng").slideUp();
});


$("html").click(function(){

$(".msgng").slideUp();
});





});

</script>

<style type="text/css">
	

@media screen (max-width: 1100)and (min-width:680px){
	#gettonew{
		margin-left:10px;
	}



}

@media screen and (max-width:680px){


.zsrch{
max-height: 200px;

}

}
</style>
<b {% if message.tags %} class="{{ message.tags }}"{% endif %} style="" id="gettonew">{{ message }}</b>
<!-- 
<a class="msgfade"><u class="okmsg " style="margin-right: 200px;margin-bottom: 2px;display: none;float: right;">OK</u></a> -->

	

<!-- <a href="../prof/"><u class="errmsg " style="margin-right: 200px;margin-bottom: 2px;display: none;float: right;">OK</u></a>
 -->	
 {% endfor %}
</center>

{% endif %}




	</div>





<script type="text/javascript">
$.get("http://maps.googleapis.com/maps/api/geocode/json?latlng={{i.latitude}},{{i.longitude}}&sensor=true",function(data){
  $("#myloc").val(data.results[0].formatted_address);
  $("#pac-input").val(data.results[0].formatted_address);
  $(".crntlo").html(data.results[0].formatted_address.substring(0,70)+"...");
});



		

document.cookie = "username={{title}}";
document.cookie = "photo=/media/file_{{counter}}.thumbnail";
 var x="{{counter}}";
  x=parseInt(x.split("_")[0].split("p")[1])
localStorage.setItem('name', '{{title}}');
 
localStorage.setItem('foto', '/media/file_{{counter}}.thumbnail');
localStorage.setItem('id', x);
 
 	  getLocation();
var x = document.getElementById("demo");
function getLocation() {
    if (navigator.geolocation) {
   navigator.geolocation.getCurrentPosition(showPosition, showError);
    } 
  

}


function directchat(q){


 

        $.ajax({
               type: "GET",
               url: "../teamcht/",
               data: {'sluge':q},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       var naam=[];
                       var chtiid=[];
                       naam.push(response.naam);
                       chtiid.push("t_"+q);
                       chatdel(naam,chtiid,rep);
                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    }



function showError(error) {
    }
function showPosition(position) {
 $(".locate").fadeOut();
	//console.log(position.coords.latitude);

	//console.log(position.coords.longitude);



		
if(localStorage.getItem('location')=="on")
	{

	
   $.ajax({
               type: "POST",
               url: "../positionupdate/",
               data: {'lat':position.coords.latitude,'long':position.coords.longitude,'csrfmiddlewaretoken': '{{csrf_token}}'},
               dataType: "json",
               success: function(response) {
             			
                  //   alert("Success");
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 

}


}
</script>

<audio id="audiodoor" autostart="false" ></audio>

<style>

	.zsrch{
	position:fixed;
	height:auto;
	background-color:white;
	border:1px #BAC4D2;
	display:none;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;

}

@media screen and (min-width:1100px){
	.zsrch{
		top:3em;
		width:520px;
		margin-left:18.350%;
	max-height: 470px;
	

	}
}


@media screen and (max-width:1100px){
	.zsrch{
		top:73px;`
		width:100%;
		left:0px;
	
		height: auto;
max-height: 470px;
		overflow-y: scroll;
	

	}
}

.mobnote{
	background-color: white;
	width: 100%;
	height: 300px;
	overflow-y: scroll;
	display:none;
	position: fixed;
	top:45px;
}

#nav1{
	cursor: pointer;
}



.bubble1{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    width:450px;
    

    padding-left:5px;
    height:auto;
border: 1px #B6D9EC;
    border-top:none;

}

.bubble1::before {
    background-color: white;
    content: "\00a0"; 
    height: 8px;
    position: absolute;
    top: -2px;
   right: 50px;
    transform:             skew( 20deg ) rotate( -35deg );
        -moz-transform:    skew( 20deg ) rotate( -35deg );
        -ms-transform:     skew( 20deg ) rotate( -35deg );
        -o-transform:      skew( 20deg ) rotate( -35deg );
        -webkit-transform: skew( 20deg ) rotate( -35deg );
         width:  18px;

}

textarea{
	background-color: rgba(255,255,255,0.3);
	color: black;
}
.frame4{
		background-color: rgba(255,255,255,0);

}
#f4w{
		background-color: rgba(255,255,255,0);

}

/*
body
{
    background: url(/media/back.png) no-repeat fixed 100% 100%;
}
.ver
{
    background: url(/media/back.png) no-repeat fixed 100% 100%;
    height: 300%;
}*/
body{
	background: white;
}
.ver
{
    background: white;
    height: 300%;
}
.frame5{
	background-color: rgba(255,255,255,0.5);
}


.chat {
    width: 400px;
}


/*.bubble{
 
   border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
   position:fixed;
    padding-left:5px;
    height:auto;
    border: 1px solid black;
    border-top:none;
    top:50px;
}

.frqst{
	height: 300px;
	overflow: scroll;
	padding-top: 20px;
}

.notif{
	height: 300px;
	overflow: scroll;
	padding-top: 20px;
}
.mssg{
	height: 250px;
	overflow: auto;
	padding-top: 0px;
	width: 500px;
	border-radius: 7px;

	
}

.notif tr:hover{
	background-color: rgba(123, 173, 243, 1);
}
.pmsg{
	width: 500px;
}
.pmsg tr:hover{
	background-color: rgba(123, 173, 243, 1);
}

@media screen and (min-width: 1100px){
 .bubble{
 
    left:650px;
    width: 500px;
	
 }


}
/*.bubble::after {
	display: none;
    background-color: #F2F2F2;
    content: "\00a0"; 
    height: 8px;
    position: absolute;
    top: -2px;
    left: 400px;
    transform:             skew( 20deg ) rotate( -35deg );
        -moz-transform:    skew( 20deg ) rotate( -35deg );
        -ms-transform:     skew( 20deg ) rotate( -35deg );
        -o-transform:      skew( 20deg ) rotate( -35deg );
        -webkit-transform: skew( 20deg ) rotate( -35deg );
         width:  18px;

*/



	#ff{
      display:none;
      opacity:0;
      }


.success{
	color: green;
}
.error{
	color: red;
}

.button1{
	background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);
	border: 1px solid rgba({{cov_r}},{{cov_g}},{{cov_b}},1); 
}
.button1:hover{
	border: 1px solid border-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1); 

}
.topi{
background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}

#nav1{
	background-color: rgba(1,76,66,1);

}

.frame2{
	background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}
.top{
		background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}

#nav3{
		background-color: rgba(1,76,66,1);;

}
#nav4{
		background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}


body{
		background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},0.3);

}

.frame5{
		background-color: rgba(255,255,255,1);

}

.inti{
		background-color: rgba(255,255,255,1);

}


#interest{
		background-color: rgba(255,255,255,0.35);

}
.frame4{

		background-color: rgba(255,255,255,0.45);

}

.frame6{
		background-color: rgba(255,255,255,1);

}

.pccht{
			background-color: rgba(255,255,255,0.65);

}

.frame{
			background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},0.3);


}
.f4w{
			background-color: rgba(255,255,255,0.3);

}


#up1,#up2,#up3{
	background-color: rgba(1,76,66,1);

}
#textarea11,#texrarea2,#textarea3{
	background-color: white;
}
.invite{
	background-color: red;
}



@media screen and (min-width: 1100px) and (max-width: 1100px) {

}


</style>

<script>
$(document).ready(function(){


var w = window,
	d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    h = w.innerHeight|| e.clientHeight|| g.clientHeight;

//alert($("html").css("height"));
var mpin,mnote,mfr,mnotef,mfmsg,map,mdd,mpint=0;
mpin=0;
		mnote=0;
		mfr=0;
mnotef=0;
mfmsg=0;
map=0;
mdd=0;
if(x<680)
mf6=0;

	$("html").click(function(){
		$("#down").hide();
		$(".frqst").hide();
		$(".notif").hide();$(".notable").hide();

		$(".mssg").hide();$(".msgtable").hide();
		$("#mssg").hide();
		$(".mobnote").hide();
		$(".zsrch").hide();
		$(".zeeleymob").hide();

	mpint=0;
		mpin=0;
		mnote=0;
		mfr=0;
mnotef=0;
mfmsg=0;
map=0;
mdd=0;
		if(x<680)
	{
$(".frame6").hide();
mf6=0;
	}	
			$(".apple").hide();
		

	});

$(".mypushpin").click(function(){

  event.stopPropagation();


if(mpin==0){

$(".zeeleymob").show();
mpin=1;
}
else{
$(".zeeleymob").hide();
mpin=0;
}

});
$(".zeeleymob").click(function(){

  event.stopPropagation();

$(".zeeleymob").show();

});
$(".mobnotiff").click(function(){

  event.stopPropagation();
 	$(".mssg").hide();$(".msgtable").hide();
 	$("#mssg").hide();

 	
 	

if(mnote==0){

	fnotif();
$(".mobnote").show();
mnote=1;
}
else{
$(".mobnote").hide();
mnote=0;
}



});
$(".newchaat").click(function(){
  event.stopPropagation();
 	$(".notif").hide();$(".notable").hide();
 



if(mnote==0){

	fmsg();

$(".mobnote").show();
mnote=1;
}
else{
$(".mobnote").hide();
mnote=0;
}




});

$(".newchat").click(function(event){

   event.stopPropagation();


if(mf6==0){

 	$(".frame6").slideDown();
mf6=1;
}
else{
 	$(".frame6").hide();
mf6=0;
}



 	$(".apple").hide();
 	

});





$(".frrqst").click(function(event){
	//alert("frnd");
	   event.stopPropagation();
 

if(mfr==0){

frqst();

	$(".frqst").show();

mfr=1;
}
else{
	$(".frqst").hide();
mfr=0;
}



	$("#down").hide();
	
		$(".notif").hide();$(".notable").hide();
		$(".mssg").hide(); $(".msgtable").hide();
		$("#mssg").hide();
		
		


});


$(".notif").click(function(event){
    event.stopPropagation();
fnotif();

	$(".notif").show();

});
$(".notiff").click(function(event){
	   event.stopPropagation();

if(mnotef==0){

	fnotif();

	$(".notif").show();

mnotef=1;
}
else{
	$(".notif").hide();$(".notable").hide();
mnotef=0;
}

 
	$("#down").hide();
		$(".frqst").hide();
	
		$(".mssg").hide();$(".msgtable").hide();
		$("#mssg").hide();
		
		


});


$(".fbmsg").click(function(event){   
	event.stopPropagation();
 
$("#down").hide();





		$(".frqst").hide();
		$(".notif").hide();$(".notable").hide();
		


if(mfmsg==0){

fmsg();

	$(".mssg").show();

	$("#mssg").show();

mfmsg=1;
}
else{

	$(".mssg").hide();$(".msgtable").hide();

	$("#mssg").hide();

mfmsg=0;
}


});

$(".fbchatmsg").click(function(event){   
	event.stopPropagation();
 
fmsg();




});

$('.dropdown').click(function(event){
    event.stopPropagation();
    	$("#down").hide();
		$(".frqst").hide();
		$(".notif").hide();$(".notable").hide();
		$(".mssg").hide();$(".msgtable").hide();

		$("#mssg").hide();
	

if(mdd==0){

    	$("#down").show();

mdd=1;
}
else{

	    	$("#down").hide();


mdd=0;
}



});
$('#down').click(function(event){
    event.stopPropagation();
    

});


$('.dropdownm').click(function(event){
    event.stopPropagation();


if(map==0){

    		$(".apple").show();
 
map=1;
}
else{

   		$(".apple").hide();
 

map=0;
}

    		$(".frame6").hide();
    		


});
$('.apple').click(function(event){
    event.stopPropagation();
    
    
});

	$(".exitchat").click(function(){
			$("#chatmobi").hide();

		});


$(".myfour").click(function(){

$(".news").hide();
$(".info").show();
$(".frame4").show();

});


$(".myfive").click(function(){

$(".news").show();
$(".info").hide();


});

var downd=1;

$("#zeeley").keyup(function(event){
	
if(event.which==40){


$("#srch"+downd).css("background-color","aqua");
$("#srch"+(downd-1)).css("background-color","white");
downd++;

}

if(event.which==38){


downd--;
$("#srch"+(downd-1)).css("background-color","aqua");
$("#srch"+(downd)).css("background-color","white");

}

if(event.which==13){

$("#srch"+(downd-1)).click();

}

if(event.which>45){
	downd=1;
	//alert("asd");
	$("#resrch").html("<tr style='background-color:white;'><td style='width:16%;overflow:hidden;padding:3px;'><img src='/static/486.gif' style='width:80%;'></td><td style='width:84%;overflow:hidden;padding:3px;'>Searching..</td><td><span class='glyphicon glyphicon-search'></span></td></tr>");

$(".zsrch").show();

var typed=$("#zeeley").val();
//alert(typed);
if(typed!=""){
$.ajax({
               type: "POST",
               url: "../searching/",
               data: {'typed':typed , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       $("#resrch").html(response.z);
                       $("#zeeley1").val(response.s);
if(response.z==""){
	$("#resrch").html("<tr style='background-color:white;'><td style='width:16%;overflow:hidden;padding:3px;'></td><td style='width:84%;overflow:hidden;padding:3px;'>No Match Found..</td><td><span class='glyphicon glyphicon-search'></span></td></tr>");
}
                     //  alert(response.z);
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); }
else{
	$("#resrch").html("");
}
}

});




$("#zeeleymob").keyup(function(event){
	event.stopPropagation();
if(event.which==40){


$("#srch"+downd).css("background-color","aqua");
$("#srch"+(downd-1)).css("background-color","white");
downd++;

}

if(event.which==38){


downd--;
$("#srch"+(downd-1)).css("background-color","aqua");
$("#srch"+(downd)).css("background-color","white");

}

if(event.which==13){

$("#srch"+(downd-1)).click();

}

if(event.which>45){
	downd=1;
	//alert("asd");

  event.stopPropagation();
$(".zsrch").show();

var typed=$("#zeeleymob").val();
//alert(typed);
if(typed!=""){
$.ajax({
               type: "POST",
               url: "../searching/",
               data: {'typed':typed , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       $("#resrch").html(response.z);
                    

                      // alert(response.z);
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); }
else{
	$("#resrch").html("");
}
}

});




$("#zeeleyint").keyup(function(){

$(".zsrch").show();

var typed=$("#zeeleyint").val();
//alert(typed);
if(typed!=""){
$.ajax({
               type: "POST",
               url: "../searching_intrest/",
               data: {'typed':typed , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       $("#resrch").html(response.z);
                       $("#zeeley3").val(response.s);
                       
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); }
else{
	$("#resrch").html("");
}


});


$(".mypin").keyup(function(){

$(".zsrch").show();

var typed=$(".mypin").val();
//alert(typed);
if(typed!=""){
$.ajax({
               type: "POST",
               url: "../searching_intrest/",
               data: {'typed':typed , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       $("#resrch").html(response.z);
                       $("#zeeley3").val(response.s);
                       
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); }
else{
	$("#resrch").html("");
}


});



});

</script>

<style type="text/css">
	.apple li a{
		padding-left: 15px;
		text-decoration: none;
		font-size: 20px;
		height: 30px;
	}
	.apple li a span{
		margin-right: 10px;
	}
	
</style>




<!-- <div style="display: block;top: 0px;" class="mobnote bubble">
	
</div> -->
<input type="text" style="display:none;position:fixed;height:40px;width:100%;top:43px;padding: 10px;
box-shadow: -moz-box-shadow:    inset 0 0 10px #1D4458;-webkit-box-shadow: inset 0 0 10px #1D4458;box-shadow:         inset 0 0 10px #1D4458;
   " placeholder="Search any Person or Interest here"   id="zeeleymob"  class="zeeleymob" >



<div style="width:100%;height:100%;position:fixed;top:0px;background-color:rgba(0,0,0,0.3);z-index:30;display:none;" class="overqtp">
<div style="color:white;font-size:20px;position:absolute;top:0px;right:20px;cursor:pointer;">X</div>
</div>


<style type="text/css">
.ok-sign{
	transition: all 1s;
}
.ok-sign:hover{
color:rgb(0,0,0);
}
	.pfriend tr:hover{
		background-color: rgba(123, 173, 243, 1);
	}
	.pmsg tr:hover{
background-color: rgba(123, 173, 243, 0.2);
	}
	.pnote tr:hover{
background-color: rgba(123, 173, 243, 0.2);
	}
	.pnote tr:hover td .showsgn{
opacity: 1;
	}
	.pnote tr:hover td .okcric{
margin-left: 0px;
	}
	.pnote tr:hover td .delcom{
margin-right: 0px;	}
	.mssg{
		overflow: auto;
		border-radius:6px;
		top:54px;
		
		box-shadow: 0 0 50px #16394C;
		



	}
.notif{
		overflow: auto;
		border-radius:6px;
		top:54px;
		

		
		box-shadow: 0 0 50px #16394C;
  	

		
	}
	.frqst{
		overflow: auto;
		border-radius:6px;
		top:54px;
		background-color: #FAFBFB;
		box-shadow: 0 0 6px #B2B2B2;
  	

   

		
	}

.mssg::after{
	border-top: 1px solid black;
	border-right: 1px solid black;
	background-color: #FAFBFB;
    content: "\00a0"; 
    height: 13px;
    width: 10px;
    position: fixed;
    z-index: -20;
    top: 48px;
    margin-left: 230px;
    transform:             skew( 20deg ) rotate( -35deg );
        -moz-transform:    skew( 20deg ) rotate( -35deg );
        -ms-transform:     skew( 20deg ) rotate( -35deg );
        -o-transform:      skew( 20deg ) rotate( -35deg );
        -webkit-transform: skew( 20deg ) rotate( -35deg );
         width:  18px;
z-index: 100000000;
}


.notif::after{
	border-top: 1px solid black;
	border-right: 1px solid black;
	background-color: white;
    content: "\00a0"; 
    height: 13px;
    width: 10px;
    position: fixed;
    top: 48px;
    z-index: -20;
    margin-left: 230px;
    transform:             skew( 20deg ) rotate( -35deg );
        -moz-transform:    skew( 20deg ) rotate( -35deg );
        -ms-transform:     skew( 20deg ) rotate( -35deg );
        -o-transform:      skew( 20deg ) rotate( -35deg );
        -webkit-transform: skew( 20deg ) rotate( -35deg );
         width:  18px;
z-index: 100000000;
}

.frqst::after{
	
	
	background-color: #FAFBFB;
    content: "\00a0"; 
    height: 13px;
    width: 10px;
    position: fixed;
    top: 48px;
    z-index: -20;
    left: 935px;
    transform:             skew( 20deg ) rotate( -35deg );
        -moz-transform:    skew( 20deg ) rotate( -35deg );
        -ms-transform:     skew( 20deg ) rotate( -35deg );
        -o-transform:      skew( 20deg ) rotate( -35deg );
        -webkit-transform: skew( 20deg ) rotate( -35deg );
         width:  18px;

}

@media screen and (min-width:1100px){
.mssg{
		width:380px;
			margin-left:735px;
	}
.notif{
		width:380px;
		margin-left:665px;
		
	}
	.frqst{
		width:316px;
		left:835px;
	}

}
@media screen and (max-width:1100px) and (min-width: 640px){
.mssg{
		width:70%;
		left: 100px;
		margin-top: -10px;
	}
.notif{
		width:80%;
		left:60px;
		margin-top: -10px;
		
	}
	.frqst{
		width:70%;
		left: 100px;
		margin-top: -10px;
	}

}

@media screen and (max-width:640px){
.mssg{
		width:90%;
		left: 0%;
		margin-top: -10px;
	}
.notif{
		width:90%;
		left:0%;
		margin-top: -10px;
		
	}
	.frqst{
		width:47%;
		left: 440px;
		margin-top: -10px;
	}

}
div.myautoscroll {
  
       overflow: hidden;
  
    }
    div.myautoscroll:hover {
        overflow: auto;
    }
    div.myautoscroll  {
        padding-right: 7px;
    }
    div.myautoscroll:hover  {
        padding-right: 0px;
    }

</style>

	<div class="frqst">
	<center><b>Friend Requests:
		</b></center>
		<table class="pfriend" style="">
		</table></div>
<div class="page">
<div class="notif" style="overflow-x:hidden;max-height:380px;overflow-y:auto;">
		<div style="position:fixed;background-color:white;border-top-left-radius:8px;border-top-right-radius:8px;width:380px">
		<b style="margin-left: 10px;padding: 5px;padding-top: 10px;">Notifications
		</b>
		<br><hr style="width:380px;margin-top: 0px;margin-bottom: 0px;border:1px solid rgba(0,0,0,0.19);"></div>
		<br><div class="notable" style="display:none;">
		<table class="pnote" style="width: 100%;">
		</table>
	</div>
		</div>
	</div>
		<style type="text/css">
		.glyphicon-ok-sign:hover{
			color: green;
		}
		.glyphicon-remove-sign:hover{
			color: red;
		}

.glyphicon-ok-sign{
			
			transition:all 1s;	
			color: grey;
	opacity: 0;	}
		.glyphicon-remove-sign{
			
			transition:all 1s;
			color: grey;
		opacity: 0;
		}

			.pnote tr td{
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid rgba(0,0,0,0.05);
				cursor: pointer;
				padding-left: 10px;
			}
			.openchat td{

				padding: 12px;
				border-bottom: 1px solid rgba(0,0,0,0.05);
			}
		</style>
		<div class="page">
		<div class="mssg myautoscroll" id="slimscroll" style="padding-top: 0px;max-height:340px;height:auto;overflow-y:auto;">
		<div style="position:fixed;width:315px;background-color:white;border-top-left-radius:8px;border-top-right-radius:8px;">
		<center><b>Messages</b></center>
		<hr style="margin-top: 0px;margin-bottom: 0px;border:1px solid rgba(0,0,0,0.19);width:380px;">
		</div><br>
	<div style="display:none;" class="msgtable">
		<table class="pmsg" style="padding-left: 4px;
         padding-right: 2px;width: 100%;">
         <tr class="openchat chatting1" style="display:none;"></tr>
         <tr class="openchat chatting2" style="display:none;"></tr>
         <tr class="openchat chatting3" style="display:none;"></tr>
         <tr class="openchat chatting4" style="display:none;"></tr>
         <tr class="openchat chatting5" style="display:none;"></tr>
         <tr class="openchat chatting6" style="display:none;"></tr>
         <tr class="openchat chatting7" style="display:none;"></tr>
         <tr class="openchat chatting8" style="display:none;"></tr>
         <tr class="openchat chatting9" style="display:none;"></tr>
         <tr class="openchat chatting10" style="display:none;"></tr>
         <tr class="openchat chatting11" style="display:none;"></tr>
         <tr class="openchat chatting12" style="display:none;"></tr>
         <tr class="openchat chatting13" style="display:none;"></tr>
         <tr class="openchat chatting14" style="display:none;"></tr>
		 <tr class="openchat chatting15" style="display:none;"></tr>
		</table>
		</div>
	</div>
</div>

			<ul class="apple" style="opacity: 1;position:fixed;z-index:4;">
		<li><input type="text"  class="mypin" style="width: 100%;height:33px;margin-top: -4px;border-radius: 3px;border-color:#BAC4D2;background-color: rgba(255,255,255,0.6);z-index: 100000;display:none;" placeholder="Choose any Interest"></li>
		<li><a  href="../prof/" style="text-decoration:none;"><img src="/media/file_{{counter}}.thumbnail" style="width:30px;height:30px;border-radius:50px;margin-left: -4px;"><b style="font-size:20px;margin-left:8px;">{{title}}</b></a></li>
		<li><a  href="../your_group/"><span class="glyphicon glyphicon-user" style="margin-top: 3px;"></span>  Groups Chat</a></li>
		<li><a href="../interest/"><span class="glyphicon glyphicon-home"></span> All Interests</a></li>
		
		<li><a href="../location/?z="><span class="glyphicon glyphicon-home"></span> Set Location</a></li>
		<li><a  href="#1" class="newchat"><span class="glyphicon glyphicon-comment"></span> Chat <span class="countchat"></span></a></li>
		<li><a href="../setting/"><img src='/media/icons/settings.png' style='width:20px;'> Settings</a></li>
		
		<li><a href="../logout"><span class="glyphicon glyphicon-off"></span> LogOut</a></li>
		</ul>
		</li></ul>

	<div class="page">
<div class="zsrch" style="z-index: 20000;height:auto;overflow: auto;padding-left: 2px;padding-right: 2px;background-color: transparent;	">
<table id="resrch" style="border: none;background-color: rgba(255,255,255,0.8);border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;">

</table>
</div></div>

<div class="cshide" style="display: none;">{{csrf_token}}</div>
	<div class="frame22">
	<ul id="nav1" style="padding-left:0px;padding-right:0px;">
	<div class="page">
		<li style="width:20.28%;overflow:hidden;margin-top:4px;padding-left: 24px; " title="View Profile"><a href="../prof/" style="padding-top:5px;text-decoration:none;color:white;" ><img src="/media/file_{{counter}}.thumbnail" style="padding-top:px;width:32px;height:32px;border-radius:16px;margin-top:3px;"><b style="font-size:12px;padding-top: 2px;">&nbsp;&nbsp;{{title}}</b></a></li>
		

	
		<li style="width:29.66%" title="Search"><a id="a2" ><!-- <form method="post" action="../search/" enctype="multipart/form-data">{% csrf_token %} -->

		<input name="searchbox" type="text" class="box" placeholder="Search" id="zeeley" autocomplete="off">
		<!-- <input name="searchbox1" type="text" class="box" style="opacity:1;" placeholder="Search1" id="zeeley1" autocomplete="off"> -->
		</a></li>
		<button style="display:none;position:relative;left:-100px;;" type="submit"><span class="glyphicon glyphicon-search"></span></button>
<!-- </form>
 -->		<li style="width:1.4%;margin-left:-41px;"></button></a></li>
 <li style="width:6.66%"  title="{{ i.current_intrest}}"><a id="a11" href="../open_intrest/?q={{ i.current_intrest}}"><img id="logo" src="{%static 'image/logo.png'%}" style="height: 30px;"></a></li>
		
		<li style="padding-left:10px;padding-right:10px;width:23.34%"  title="Change Current Interest"><a id="a2">

		


		<input name="searchbox2" type="text" class="box" placeholder="{{ i.current_intrest}}" id="zeeleyint" autocomplete="off" alt="Change Your Interest">


 		</a>

</li>
		

	
	
	<!-- 	
<li style="width:6.68%"  title="Go to Home Page"><a id="a1" href="../home{{page}}/" ><span class="glyphicon glyphicon-home"></span></a></li>
	 -->
	

		<li style="width:6.68%"  title="Notifications"><a id="a1"  class="notiff">
			<img src="/media/newmedia/alarm.png" style="width:25px;">
			<b style="font-size:12px;background-color:red;border-radius:500px;" id="rldn"  class="rldn">{%if r %}{{r}}{%endif%}</b></a></li>



	<li style="width:6.68%" title="Recent Messages"><a id="a1" class="fbmsg"><img src="/media/newmedia/chat2.png" style="width:25px;">
			<b style="font-size:12px;background-color:red;border-radius:500px;" id="rldm"  class="rldm">{%if q %}{{q}}{%endif%}</b></a></li>
	<li style="width:6.68%;z-index:5;" ><a id="a1" class="dropdown"><img src="/media/newmedia/down-arrow.png" style="width:25px;"></a>

	<style type="text/css">
	#down li{
		z-index: 2000;
	}
	</style>
	<div class="page">
		<ul id="down" class="bubble1" style="right: 70px;top: 45px;border-radius: 5px;background-color: white;z-index: 200000000;border:1px solid grey;font-size:14px;width:160px;">
	
		<li><a id="a3" href="../interest/" style="padding-left: 10px;font-size:18px;padding-top:6px;">
			<img src='/media/icons/grid.png' style='width:22px;'>
			&nbsp;All interests</a></li>
		 <li><a id="a3" href="../setting" style="padding-left: 10px;font-size:18px;padding-top:6px;">
		 	<img src='/media/icons/settings.png' style='width:25px;'>&nbsp;&nbsp;&nbsp;Setting</a></li>
		
		<li><a id="a3" href="../logout/" style="padding-left: 10px;font-size:18px;padding-top:6px;">
			<span class="glyphicon glyphicon-off" style="color:green;"></span>&nbsp;&nbsp;&nbsp;LogOut</a></li>
		</ul>
	</div>

		</li>
		</div>

		</ul>

<ul id="nav3" style="padding-left:0px;padding-right:0px;">
	<div class="page">
	<li style="width:14.28%;background-color: rgba(1,76,66,1);
"><a id="a1" href="../near_by/?interest={{ i.current_intrest}}" ><img src="/media/icons/grid.png" style="width:25px;"></a></li>
	 <li style="width:14.28%;background-color: rgba(1,76,66,1);
"><a id="a1" class="mypushpin"><span class="glyphicon glyphicon-pushpin"></span></a></li>
	
	  <li style="width:14.28%;background-color: rgba(1,76,66,1);
"><a id="a1" href="../prof/"><span class="glyphicon glyphicon-user"></span></a></li>
	
	<li style="width:14.28%;background-color: rgba(1,76,66,1);
"><a id="a11" href="../"><img id="logo" src="{%static 'image/logo.png'%}" style="height: 30px;"></a></li>
	
	<!-- <li style="width:14.28%"><a id="a1" class="gog"><span class="glyphicon glyphicon-search"></span></a></li>
	 -->
	 
		<li style="width:14.28%;background-color: rgba(1,76,66,1);
"><a id="a1"  class="" href="../notification/">
		<img src="/media/newmedia/alarm.png" style="width:25px;">
		<b style="font-size:12px;background-color:red;border-radius:500px;" id="rldn" class="rldn">{%if r %}{{r}}{%endif%}</b></a></li>


	
	
	
	<li style="width:14.28%;background-color: rgba(1,76,66,1);"><a id="a1" class="" href="../msgpanel/"><img src="/media/newmedia/chat2.png" style="width:25px;"><b style="font-size:12px;background-color:red;border-radius:500px;" id="rldm"  class="rldm">{%if q %}{{q}}{%endif%}</b></a></li>
	<li style="width:14.28%;background-color: rgba(1,76,66,1);"><a id="a1" class="dropdownm"><img src="/media/icons/more.png" style="width:25px;"></a></li>
		
	</ul>
</div>
</div>




<div class="cshide" style="display:none;">{{ csrf_token }}</div>


<script type="text/javascript">
$(function(){
	$(".okmsg").click(function(){

$(".meslay").fadeOut();
$(".msgng").fadeOut();


	});

});
</script>


 <div class="google" id="zeeley1"><input type="text" placeholder="Search Any Person here..." class="gbox">
<button class="button1 gg" style="width:9%;height:35px;"><span class="glyphicon glyphicon-search"></span></button></div>

<!-- 
mobile chatbox -->

<div id="chatmobi" style="display: none;width: 100%;height: 150%;background-color: white;">
<div id="nav3" style="background:rgba(0, 86, 134, 1);color:white;padding-left: 10px;padding-top: 5px;border-bottom:1px solid grey;">
<center>
<span class="glyphicon glyphicon-chevron-left exitchat" style="margin-right: 10px;cursor: pointer;float:left;margin-left:10px;" style="color:black;"></span>
<span id="ishita" style="color:white;"></span></center>
</div>
<div style="z-index:800;width: 100%;height: 88%;position: fixed;top:3em;background:white;background-size: 100% 100%;overflow: auto;padding-left:15px;padding-right:15px;padding-bottom:80px;" id="dutta"></div>
<div style="position: fixed;z-index:2000;bottom: 0px;width:100%;font-size:0px;">
<input type="text" id="sahimsg" style="width: 80%;padding:3px;height: 37px;color:black;font-size:16px;border:none;border-top:1px solid grey;" placeholder="Type your Message Here...">

<button style="width:20%;font-size:13px;height:37px;color:white;background:rgba(0, 86, 134, 1);border:none;outline:none;" class="sendsahi" >Send</button></div>
</div>
<div id="idutta" style="display:none;"></div>


<!-- 
mobile chatbox url('/media/mm4.jpg') -->

<style type="text/css">
	.confirmdel{
		border-radius: 8px;
		width: 450px;
		position: fixed;
		top:1800px;
		left:425px;
		background-color: rgba(255,255,255,0.94);
		height: 150px;

		box-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000, 3px 3px 5px #333;padding-left: 15px;
		transition:all 1s; 
	}
	.confirmdelcomm{
		border-radius: 8px;
		width: 450px;
		position: fixed;
		top:1800px;
		left:425px;
		background-color: rgba(255,255,255,0.94);
		height: 150px;

		box-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000, 3px 3px 5px #333;padding-left: 15px;
		transition:all 1s; 
		z-index: 1000000;
	}
@media screen and (min-width: 1100px) {
.confirmdel{
		border-radius: 8px;
		width: 450px;
		position: fixed;
		top:1800px;
		left:425px;
		background-color: rgba(255,255,255,0.94);
		height: 150px;

		box-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000, 3px 3px 5px #333;padding-left: 15px;
		transition:all 1s; 
	}
	.confirmdelcomm{
		border-radius: 8px;
		width: 450px;
		position: fixed;
		top:1800px;
		left:425px;
		background-color: rgba(255,255,255,0.94);
		height: 150px;

		box-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000, 3px 3px 5px #333;padding-left: 15px;
		transition:all 1s; 
		z-index: 1000000;
	}
}

@media screen and (max-width: 1100px) and (min-width: 680px) {
.confirmdel{
		border-radius: 8px;
		width: 70%;
		
		top:1800px;
		left:15%;
		
		height: auto;

		
		
	}
	.confirmdelcomm{
		border-radius: 8px;
		width: 70%;
		
		top:1800px;
		left:15%;
	
		height: auto;


	}}



@media screen and (max-width: 680px) {
.confirmdel{
		border-radius: 8px;
		width:100%;
	
		top:1800px;
		left:0px;
		
		height: auto;


	}
	.confirmdelcomm{
		border-radius: 8px;
		width: 100%;
		
		top:1800px;
		left:0px;
	
		height: auto;

	}
}
</style>
<script type="text/javascript">


</script>

<div class="page">
<div  style="display:none;" class="confirmdel">
<div style="float: right;margin-right: 15px;margin-top: 15px;cursor: pointer;" class="nodel"><b>X</b></div>
            <br>
<h4>This post will be Deleted permanently.<br></h4><h4>Are You Sure you want to Delete this Post?</h4>
      <br>  <button class="button1 nodel" style="float:right;margin-right:10px;width: 100px;">No</button>   <button class="button1 yesdel" style="float:right;margin-right:10px;width: 100px">Yes</button>  </div>	
</div>
<div class="page">
<div  style="display:none;" class="confirmdelcomm">
<div style="float: right;margin-right: 15px;margin-top: 15px;cursor: pointer;" class="nodelcomm"><b>X</b></div>
            <br>
<h4>This Comment will be Deleted permanently.<br></h4><h4>Are You Sure you want to Delete this Comment?</h4>
      <br> <button class="button1 nodelcomm" style="float:right;margin-right:10px;width: 100px;">No</button> <button class="button1 yesdelcomm" style="float:right;margin-right:10px;width: 100px">Yes</button>     </div>	
</div>

<div class="mysend" style="display:none;">{{counter}}</div>




<style type="text/css">
 @media screen and (min-width: 1100px){

.scroller{
	position:fixed;bottom:20px;right:80px;border:2px solid black;cursor:pointer;width:40px;border-radius:20px;height:40px;background:white;padding:5px;font-size:23px;padding-top:2px;display:none;
}
}

@media screen and (max-width: 1100px){

.scroller{
	position:fixed;bottom:20px;right:20px;border:2px solid black;cursor:pointer;width:40px;border-radius:20px;height:40px;background:white;padding:2px;font-size:17px;padding-top:2px;display:none;
}
}
</style>
<div style="" title="Scroll To Top" class="scroller">
	<center><span class="glyphicon glyphicon-chevron-up"></span></center></div>

<script type="text/javascript">
$(function(){

$(".scroller").click(function(){
$('body,html').animate({
          scrollTop: '0px'
        }, 1000);


});
$(window).scroll(function(){

if($(window).scrollTop()>0){
	$(".scroller").show();
}

else{
	$(".scroller").hide();
}
});

});
</script>