
{% load static %}
{% load i18n %}
{% load extras %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" 
 href="{%static 'css/css2t.css'%}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
 
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<body  style='background-color:rgba(100,100,255,0.1);'>

<br><br><br>
<button style="float:left;border-top-right-radius:16px;border-bottom-right-radius:16px;height:32px;background-color:#058c7a;color:white;padding:4px;border:none;padding-left:30px;padding-right:10px;">{{m}}</button><br><br><br>
<div style="padding-left:25px;"><form action="" method="GET"> <b>View Nearby People for</b>
<select name="interest">
<option value="Cricket" {% if m == 'Cricket'%} selected="selected" {%endif%}>Cricket</option>

<option value="Football" {% if m == 'Football'%} selected="selected" {%endif%}>Football</option>
<option value="Travelling" {% if m == 'Travelling'%} selected="selected" {%endif%}>Travelling</option>
<option value="Cab_Sharing" {% if m == 'Cab_Sharing'%} selected="selected" {%endif%}>Cab Sharing</option>
<option value="Quicky" {% if m == 'Quicky'%} selected="selected" {%endif%}>Quicky</option>
<option value="Gaming" {% if m == 'Gaming'%} selected="selected" {%endif%}>Gaming</option>
<option value="Film" {% if m == 'Film'%} selected="selected" {%endif%}>Film</option>
<option value="Restaurant" {% if m == 'Restaurant'%} selected="selected" {%endif%}>Restaurant</option>
<option value="Pizza" {% if m == 'Pizza'%} selected="selected" {%endif%}>Pizza</option>
<option value="Guitar" {% if m == 'Guitar'%} selected="selected" {%endif%}>Guitar</option>
<option value="Singing" {% if m == 'Singing'%} selected="selected" {%endif%}>Singing</option>
<option value="Badminton" {% if m == 'Badminton'%} selected="selected" {%endif%}>Badminton</option>
</select> <button style="width:40px;height:32px;border-radius:16px;padding:4px;background-color:rgb(1,76,66);color:white;border:none;ouyline:none;"><center>GO</center></button></form>

</div>
<br>
   <div class="panel panel-default" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);margin-left:20px;margin-right:20px;">
      <div class=""  style="background-color:#058c7a;color:white;padding:10px;">Nearby People of {{m}}</div>

   <style type="text/css">
        #up1 a{
          color: white;
        }
        #t tr td div a{
          color:black;
        }
      </style>

      <script type="text/javascript">

        
        $(function(){

          $(".inviting").click(function(){


            var id=$(this).attr("value");
        $.ajax({
               type: "GET",
               url: "../invitesportee/",
               data: {'invited':id},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                    $(".invite"+id).hide();
                       },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 

          });

        });
      </script>
      <style type="text/css">

div.myautoscroll {
  
       overflow: hidden;
  
    }
    div.myautoscroll:hover {
        overflow: auto;
    }
    div.myautoscroll  {
        padding-right: 6px;
    }
    div.myautoscroll:hover  {
        padding-right: 0px;
    }
    #t tr{
      transition:all 0.8s;
    }
    #t tr:hover{

        background-color: rgba(20,200,100,0.35);

      }
      </style>
  <div id="slimscroll" style="height:auto;">
          <table id="t" style="width:100%;">
 {%for c,d in zip%}
      
        <tr id="t1" class="myrang" style="padding-left:10px;cursor:pointer;border-bottom:1px solid rgba(0,0,0,0.06);">
      <td width="20%" style="padding-left:10px;"><div id="" ><img src="/media/file_{{c.id}}.thumbnail"  style="width:40px;height:40px;border-radius:8px;"></div></td><td width="60%"><div style="font-size:12px;"><a href="../{{c.id}}">{{c.first_name}} {{c.last_name}}</a></div><div id="n" style="font-size:10px;float:left;opacity:0.5;color: blue;"><b><span class="getdot{{c.id}}"></span> {{d|floatformat}}m Away, <span class="puttime{{c.id}}">{{c.logout|timesince}}</span>
      <script type="text/javascript">
      var fordot="{{c.logout|timesince}}";
      if(fordot[0]=='0'){
        $(".getdot{{c.id}}").html("<img src='/static/image/dot.png' style='width:16px;' title='Online Now'>");
        $(".puttime{{c.id}}").hide();
      }
      </script>
      </b> </div></div></td><td width="20%" style="">
      <button style="border-top-left-radius:14px;border-bottom-left-radius:14px;font-size:12px;background-color:transparent;color:white;border:none;height:36px;margin-top:12px;"  onclick="directmsg('{{c.first_name}} {{c.last_name}}','{{c.id}}');" title="Message">
      <img src='/media/icons/bubble.png' style='width:20px;'></button>
      
      {% if i.current_intrest == m.intrest_name %}
      {% if c.id not in ttmemb %}
      {% if c.id in mythisteam.team_memb %}
      

      <button style="border-radius:14px;font-size:12px;background-color:#279c76;color:white;border:none;height:36px;margin-top:12px;" title="Already in Group">
      <span class="glyphicon glyphicon-ok-sign" style="font-size:17px;"></span><span class="invit"></span></button>
      
      {% elif c.id in mythisteam.team_invites %}
      

      <button style="border-radius:14px;font-size:12px;background-color:white;color:white;border:none;height:36px;margin-top:12px;" title="Already Invited">
      <span class="glyphicon glyphicon-exclamation-sign" style="font-size:17px;color:rgb(200,200,0);"></span><span class="invit"></span></button>
      {%else%}

      
      
      <button style="border-top-left-radius:14px;border-bottom-left-radius:14px;font-size:12px;background-color:transparent;color:white;border:none;height:36px;margin-top:12px;" class="inviting invite{{c.id}}" value="{{c.id}}" title="Invite">
      <img src='/media/icons/invite.png' style='width:30px;'></button>

      
      {%endif%}
      {%endif%}
      {%endif%}
      <br><br>
      
      <!-- <img src="/static/image/dot.png" style="width: 8px; display: inline;" id="" class="dotchat dotchat{{c.id}}"> -->
<!-- {% if c.id in i.f_list%}
      <span class="glyphicon glyphicon-user" title="Your Friend" style="color: black;"></span>{% endif %} --></td>
    </tr>
    {%endfor%}
   
<style type="text/css"> 
.myrang:hover .invit{
display: block;
}

.m:hover{
background-color:  rgba(75,172,238,0.4);
  }</style>
  </table></div>
         </div>

<div class="page">
	{% include 'nav.html'%}
</div>

{% include 'frame6.html'%}
{% include 'chatbox.html'%}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>


</body>
