{% load static %}

{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>New Subject| Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <script type="text/javascript">
    $(function(){

      
$("#chnge").click(function(){
        var chang=$("#chng").val();
        chang=chang.split("\n").join("<br>");
        var patt=/\[[0-9]+\]/;
        while(patt.test(chang)){chang=chang.replace(patt,"");}
        
        $("#chng").val(chang);
      //alert(chang);
      document.forms["addsub"].submit();
      });
    


    });
    </script>

    <style type="text/css">

.noint{
  height:520px;background:url();margin-top:100px;padding-left:30px;padding-right:30px;padding-top:8px;padding-bottom:14px;box-shadow:1px 2px 3px 3px;border-radius:5px;overflow: auto;
}

@media screen and (max-width: 680px){
.noint{width: 70%;margin-left: 13%;margin-right: 13%; height:550px;}
}
@media screen and (min-width: 680px) and (max-width: 1100px){
.noint{width: 80%;margin-left: 10%;margin-right: 10%;}
}

@media screen and (min-width: 1100px){
.noint{width: 90%;margin-left: 5%;margin-right: 5%;}
}

    </style>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>
  <body style="background:transparent;"> 
  <div class="fading1" style="background-color:rgba(0,0,0,0); width:100%;height:100%;position:fixed;top:0em;z-index:1;">
  <div class="page" style="background-color: transparent;">

  <div class="noint" style="" class="texts">
    <center><h4 style="margin-bottom:6px;"><b><h2><div><center>Add New Subject for Study</center></div></h2></b></h4></center>
    <form method="post" action="" enctype="multipart/form-data" name="addsub">
          {% csrf_token %}
          <center>
<input type="text" style="width:70%;border-radius:3px;background-color: rgba(255,255,255,0.6);border:1px solid grey;margin-bottom:3px;height:35px;" placeholder="Subject's Name" name="subject_name"  required="required"><br><br>
<textarea type="text" style="width:70%;border-radius:3px;height:200px;background-color: rgba(255,255,255,0.6);" placeholder="Subject's Description" name="subject_descript" id="chng" required="required">
</textarea></center>
<div style="margin-left:15%;">
<b>Select photo for the Subject:</b><input type="file" name="files"><br><br></div> 
<br><center><input type="submit" id="chnge" class="button1" style="width:auto;" value="Create New Subject" required="required"></center>&nbsp;&nbsp;
</form>
</div>

  </div>

  {% include 'nav.html' %}
{% include 'picframe.html'%}

<div class="cshide" style="display:none;">{{ csrf_token }}</div>
   


   </body>
</html>




