
{% load static %}
{% load i18n %}
{% load extras %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" 
 href="{%static 'css/css2t.css'%}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
 
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<script type="text/javascript">
  $(function(){

    fnotif();

  });
</script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<body  style='background-color:rgba(100,100,255,0.1);'>

<br>
<br>
<div style="position:fixed;background-color:white;border-top-left-radius:8px;border-top-right-radius:8px;width:100%;margin-top: 4px;">
    <b style="margin-left: 10px;padding: 5px;padding-top: 10px;">Notifications
    </b>
    <br><hr style="width:100%;margin-top: 0px;margin-bottom: 0px;border:1px solid rgba(0,0,0,0.19);"></div>
    <br><div class="notable" style="display:none;height:auto;">
    <table class="pnote" style="width: 100%;">
    </table>
  </div>
   
<style type="text/css"> 
.myrang:hover .invit{
display: block;
}

.m:hover{
background-color:  rgba(75,172,238,0.4);
  }</style>


<div class="page">
  {% include 'nav.html'%}
</div>

{% include 'frame6.html'%}
{% include 'chatbox.html'%}




</body>
