
{% load static %}


{% load i18n %}


{% load extras %}


<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" 
 href="{%static 'css/css2t.css'%}"/>
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">


<style type="text/css">
	.coverpic{
		height:300px;background-color:;margin-top:45px;overflow:hidden;border-bottom:1px solid red;background:url('/static/interests/{{i.current_intrest}}.jpg') 100% fixed;background-size:cover;display:inline-block;
		
-webkit-filter: blur(12px);
-moz-filter: blur(12px);
-o-filter: blur(12px);
-ms-filter: blur(12px);z-index:1;
	}
	.frame5{
		box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
		border-radius:0px;
	}
</style>
<script type="text/javascript">
	
	$(function(){

		$(".myname").html($(".myname").html().toLowerCase());

		$(".myname").css("text-transform","capitalize");
		$(".ptoedit").click(function(){

			$(".stoedit").show();
			$(".goedit").hide();
		})
	});

</script>


<style type="text/css">]

#up1,#up2,#up3{
	background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}

.textarea{
	background-color: rgba(255,255,255,1);

}

</style>

<script>





$(document).ready(function(){
	$(".frame1").scroll(function(){
							$(".frame1").scrollTop({{i.cov_fix|first}});
					//s		$(window).scrollTop($(window).scrollTop()+5);

						}); 



var post=0;

$.ajax({
               type: "POST",
               url: "../studs/",
               data: {'id':'{{i.id}}','csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      
               		//console.log(response[0].pk);
                      // alert(response[1].fields.identity);
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });





	$(".frame1").scrollTop({{i.cov_fix|first}});
			

$(".frame1").css("cursor","hand");


var down=false;
var scrollTop=0;
var x = 0;







});


</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body style="background-color:rgba(100,100,255,0.1);">
<div class="page" style="background:transparent;">
	<div style="display:inline-block;" class="adjust">
	<div class="coverpic" style="">
	</div>
	<div style="background-color:rgba(0,0,0,0.4);height:347px;" class="mynewdp"><br><br>
	<br>
		<center>
		<div style="width:190px;height:190px;background-color:white;padding:5px;border-radius:190px;overflow:hidden;">
		<img src="/media/file_p{{i.id}}_{{i.prof_pic|last}}.jpg" class="img-responsive"   onclick="port(this);" value="{{c.post_time}}" id="mydp" style="width:180px;height:180px;border-radius:180px;" id="mydp">
			
		</div>
	
		<br>
		<span style="color:white;font-size:25px;" class="myname">
			{{i.first_name}} {{i.last_name}} 

		</span>
		<center style="color:white;">
		<b> Interested in:</b>&nbsp;&nbsp;&nbsp;{{i.current_intrest}}<br>
		
	</center>
	<br>
	
		</center>
	</div>

<style type="text/css">
  .tabbtn{
    width:25%;margin:0px;height:35px;font-size:15px;background-color:rgba(1,76,66,1);border:none;color:white;border-bottom:2px solid black;border-top:2px solid rgb(1,76,66);transition:all 0.2s;
  }
  .tabbtn:hover{
    background: white;
    color:rgb(1,76,66);
    border-bottom: none;

}
    </style>
<center>

	<div style="font-size:0px;margin-top:-5px;" class="adjust">
		<a href="../about/?q={{i.id}}" style="color:black;">
		<button style=""  class="tabbtn"><b>About</b></button>
	</a><a href="../friends/?q={{i.id}}" style="color:black;">
	<button style="" class="tabbtn"><b>Following</b></button>
	</a>
	<a href="../photo/?q={{i.id}}" style="color:black;"><button style="background-color:transparent;color:rgb(1,76,66);border:2px solid rgb(1,76,66);border-bottom:none;" class="tabbtn"><b>Photos</b></button></a>
	<a href="../allposts/" style="color:black;"><button style="" class="tabbtn"><b>All Posts</b></button></a>
</div>
	<div style="font-size:17px;">
	<div style="width:100%;">
	<br>


<script type="text/javascript">
	
var images=[];


</script>

		
	{% for c in f %}
				

				{% if c.photos >= 1 %}



					{% if c.profile_picture%}
						<script type="text/javascript">
						images.push("/media/file_p{{i.id}}_{{c.photos}}.jpg");
						</script>
						{% elif c.cover_picture%}
						<script type="text/javascript">
						images.push("/media/file_c{{i.id}}_{{c.photos}}.jpg");
						</script>
						{% else %}
						<script type="text/javascript">
						images.push("/media/file_{{i.id}}_{{c.photos}}.jpg");
						</script>
						{%endif%}


				{%endif%}
			{%endfor%}



<script type="text/javascript">

$(function(){
console.log(images);


	var i;
	var string;
	for(i=images.length-1;i>=0;i--){

		$(".fotmob").html($(".fotmob").html()+"<center style='display:inline-block;'><div style='background-color:black;width:150px;height:150px;overflow:hidden;margin-right:6px;'><img src="+images[i]+" class='img-responsive'   onclick='port(this);' style='height:150px;;'></div></center>");

		if(i%3==0){
			
			string="<div style='background-color: rgba(255,255,255,1);margin-bottom:10px;padding: 5px;height: auto;'><img src='/media/pin.png' style='width: 30px;height: 30px;'><img src="+images[i]+" class='img-responsive'   onclick='port(this);' style='width: 100%;'></div>";
			//$("#imgpic1").html("frame1");
			$("#imgpic1").html($("#imgpic1").html()+string);
			
		}
		if(i%3==1){

	
			string="<div style='background-color: rgba(255,255,255,1);margin-bottom:10px;padding: 5px;height: auto;'><img src='/media/pin.png' style='width: 30px;height: 30px;'><img src="+images[i]+" class='img-responsive'   onclick='port(this);' style='width: 100%;'></div>";
			$("#imgpic2").html($("#imgpic2").html()+string);
			
		}
		if(i%3==2){
					
	
			string="<div style='background-color: rgba(255,255,255,1);margin-bottom:10px;padding: 5px;height: auto;'><img src='/media/pin.png' style='width: 30px;height: 30px;'><img src="+images[i]+" class='img-responsive'   onclick='port(this);' style='width: 100%;'></div>";
			$("#imgpic3").html($("#imgpic3").html()+string);
				}
		

	}
});
</script>
<div style="width:30%;display:inline-block;float:left;" class="imgpic"  id="imgpic1"></div>
<div style="width:30%;display:inline-block;float:right;margin-right:1%;" class="imgpic" id="imgpic2"></div>
<div style="width:30%;display:inline-block;float:right;margin-right:4.5%;" class="imgpic" id="imgpic3"></div>
	
		

<style type="text/css">
	.stay{
		margin: 0px;
	}
</style>
	

	<hr style="width:100%;">
</div></div>	</div>
{% include 'quicklink.html'%}
<div class="page">
	{% include 'nav.html'%}
</div>
{% include 'picframe.html'%}
{% include 'frame6.html'%}
{% include 'chatbox.html'%}
     
</body>