
<div id="overlay"></div>
<div id="over">
<div id="picframe">
    <center><img src="" class="hugepic"></center>
  
</div>
<div id="picframe1"style="">
   <div id="c1">
     
    <span style="color:black;position: absolute;top:20px;right:20px;cursor:pointer;" class="hideall">X</span>

    <!-- 
      <div style="float:right;" id="c6">X</div> -->
      <img src="" id="cimg" style="width: 55px;border-radius: 7px;"><a href="../prof/" id="c1a"><b>{{title}}</b></a><br>
      <div id="c11">
           </div>

        <br><br><br>
        <div id="mysaying"></div><br>
      <a  style="color:black;"  id="hos"><a class="counthits" style="color: black;"></a> Hits <a class="countopines" style="color: black;"></a> Opines </a><br>
        <a class="hitted" style="color:black;"><span class="glyphicon glyphicon-heart" style="color:black;">&nbsp;<b class="checkhit"></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <a class="opine"  style="color:black;"><span class="opined"   id='6'><span class="glyphicon glyphicon-align-justify"></span>&nbsp;<b>Opine</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 -->
        <!-- <a id="share"  style="color:black;"><span id="share"><span class="glyphicon glyphicon-share"></span><b>Share</b></a> -->

        <br>
     
      <div id="c12" class="falsed" style="display:none;border:none;background-color: rgba(100,100,255,0.2);"><div id="textarea1" style=""></div></div> 

      <div id="type1">
        <br>
        <textarea style="border-radius:5px;height: 55px; width: 100%;font-size: 14px;" class="box3 porten" placeholder="Write your Opinion here" id="msg1" onkeyup="modernbaba(this,event)"></textarea>
      </div>
      <button class="button1 opines" style="float:right; margin-top:3px;width:80px;height:35px;font-size:15px;" id="opene">Opine</button>
          
    </div> 
  </div>

</div>
