{% load static %}
{% load i18n %}
{% load extras %}



<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="c{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArqXH6o_NM52R7ipu84PKLNoM7uvAuyh0&libraries=places&callback=initAutocomplete"
         async defer></script> 
 
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
 -->
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{m.intrest_name}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style type="text/css">
  .coverpic{
    height:300px;background-color:;margin-top:45px;overflow:hidden;border-bottom:none;background:url("/static/interests/{{m.intrest_name}}.jpg") fixed  no-repeat;background-size:cover;display:inline-block;z-index:1;
  }
  .frame5{
    box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius:0px;
  }
</style>
<style>


.addsubmit{
  height:25px;
  width:90px;
  font-size:12px;
  position:relative;
  top:-65px;
  left:285px;
  border-radius:4px;
}

#fotos{
  height:25px;
  opacity:0; 
  font-size:27px;
  width:90px;
  position:relative;
  top:-42px;
  left:180px;
}

.addphoto{
  height:25px;
  width:90px;
  font-size:12px;
  border-radius:4px;
  position:relative;
  left:180px;
}


@media screen and (max-width: 780px) {

.addsubmit{

  left:68%;



}

.addphoto{
  left:35%;


}

#fotos{
  left:35%;


}



}



#up1,#up2,#up3{
  background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}

.textarea{
  background-color: rgba(255,255,255,1);

}

</style>

<script>
var x = document.getElementById("mapholder");



function showPositions() {
  var image = {
    url: '/static/image/ishi.jpg',
    // This marker is 20 pixels wide by 32 pixels high.
    size: new google.maps.Size(20, 20),
    // The origin for this image is (0, 0).
    origin: new google.maps.Point(0, 0),
    // The anchor for this image is the base of the flagpole at (0, 32).
    anchor: new google.maps.Point(10,10)
  };
    lat = parseFloat({{j.city_lat}});
    lon = parseFloat({{j.city_long}});
  //  lat1 = position.coords.latitude+0.001;
  //  lon1 = position.coords.longitude+0.001;
    latlon = new google.maps.LatLng(lat, lon)
//latlon1 = new google.maps.LatLng(lat1, lon1); 
mapholder = document.getElementById('mapholder');
    mapholder.style.height = '250px';
    mapholder.style.width = '286px';

    var myOptions = {
    center:latlon,zoom:14,
    mapTypeId:google.maps.MapTypeId.ROADMAP,
    mapTypeControl:false,
    navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
    }
    
    var map = new google.maps.Map(document.getElementById("mapholder"), myOptions);
    var marker = new google.maps.Marker({position:latlon,map:map,title:"You are here!"});
//    var marker1 = new google.maps.Marker({position:latlon1,map:map,title:"You were here!"});

}


function callback(results, status) {
  if (status === google.maps.places.PlacesServiceStatus.OK) {
    for (var i = 0; i < results.length; i++) {
      createMarker(results[i]);
    }
  }
}

function createMarker(place) {
  var placeLoc = place.geometry.location;
  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location
  });

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(place.name);
    infowindow.open(map, this);
  });
}

function getweather(){



var url="http://api.openweathermap.org/data/2.5/weather?lat={{j.city_lat}}&lon={{j.city_long}}&appid=d466326d70a24563f194345ffc2045b1&units=metric";
  $.get(url,function(data){


$("#xxml").html("Avg. Temperature: "+data.main.temp+"&deg;C<br> Pressure : "+(parseFloat(data.main.pressure)/1013.25).toFixed(2)+"atm <br>Humidity : "+data.main.humidity+"% <br>Sea Level : "+data.main.sea_level+" m<br>Wind Speed : "+(parseFloat(data.wind.speed)*1.609344).toFixed(2)+"km/h <br>Latitude : "+"{{j.city_lat}}&deg;"+"<br>Longitude : "+"{{j.city_long}}&deg;"+"<br>Weather Desc. : "+data.weather[0].description);

//console.log(data.main.grnd_level);"Min. Temp.:"+data.main.temp_min+"Max Temp.:"+data.main.temp_max+
  });
}
$(document).ready(function(){
  getweather();
  $(".frame1").scrollTop({{i.cov_fix|first}});
  

  $(".frame1").scroll(function(){
              $(".frame1").scrollTop({{i.cov_fix|first}});
          //s   $(window).scrollTop($(window).scrollTop()+5);

            }); 



$("body,html").scrollTop(120);


  $(".sendmsg").click(function(){
    var iid=$(".sendmsg").val();
      $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':iid,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       var rep=response.z;
                       var naam =[];
                     var id1=[];
             id1.push($(".sendmsg").val());

                       naam.push(response.naam) ;
                       chatdel(naam,id1,rep);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 


  });

$(".hoot").keyup(function(event){
  
  if(event.which==13){
    //alert($(this).val());
    $(this).val("");
  }
});

showPositions();



$('.m').click(function(){
  var q = $(this).html();
  var chatid=q.split("_");
  chtid=chatid[1].split(".");
  var naame = q.split("<td width=\"70%\"><div style=\"font-size:14px;\">");
  var naam = "";
  naam=naame[1].split("</div>");


  
        $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background-color:rgba(100,100,255,0.1);">
<div class="page" style="background:transparent;">
  <div style="display:inline-block;" class="adjust">
  <div class="coverpic" style=""><img src="/media/file_city_{{j.id}}.jpg" style="width:100%;">
  </div>
  <div style="background-color:rgba(0,0,0,0.3);height:347px;" class="mynewdp"><br><br>
  <br> <span style="color:white;position:absolute;bottom:0px;font-size:38px;margin-left:20px;">{{j.city_name}}</span><a href='../add_as_interest/?q=Study' style="color:black;">

  <button style="right:30px;position:absolute;bottom:10px;">Make as Current Interest</button>
 </a>
  </div>  
  <div style="font-size:0px;margin-top:-5px;" class="adjust">
    <button style="width:100%;margin:0px;height:5px;font-size:15px;"></button>
  </div>
  <div style="font-size:17px;">
<br>  
      <style type="text/css">
        #up1 a{
          color: white;
        }
        #t tr td div a{
          color:black;
        }
      </style>
    
  <div style="width:37.5%;height:500px;padding-left:10px;" class="mobout">
      <div class="panel panel-default" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);">
      <div class="panel-heading"><b>Live Weather of {{j.city_name}}</b></div>
     <div id="xxml" style="padding:6px;border: none;">
      Loading...
     </div>
         </div>
           <div id="mapholder" style="width:100%;box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);"></div>
<br>

         {% if j.city_descript %}
      <div class="panel panel-default" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);">
      <div class="panel-heading"><b>Description of {{j.city_name}}</b></div>
     <div style="padding-left:10px;text-align: justify;
    text-justify: inter-word;padding-right:10px;">
       {{j.city_descript}}
     </div>
         </div>
         {% endif %}
      <div class="panel panel-default" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);">
      <div class="panel-heading">Nearby People of {{j.subjects_name}}</div>
     
       <table id="t" style="width:100%;">

    {%for c,d in zip%}
      
        <tr id="t1" class="m" style="padding-left:10px;cursor:pointer;">
      <td width="25%" style="padding-left:10px;"><div id="timg" ><img src="/media/file_{{c.id}}.thumbnail"  style="width:100%;"></div></td><td width="70%"><div style="font-size:14px;"><a href="../{{c.id}}">{{c.first_name}} {{c.last_name}}</a></div><div id="n" style="font-size:12px;float:left;opacity:0.5;color: blue;"><b> {{d|floatformat}}m Away</b> </div></div></td><td width="18%" style="padding-right: 4px;"><img src="/static/image/dot.png" style="width: 8px; display: inline;" id="" class="dotchat dotchat{{c.id}}">
<!-- {% if c.id in i.f_list%}
      <span class="glyphicon glyphicon-user" title="Your Friend" style="color: black;"></span>{% endif %} --></td>
    </tr>
    {%endfor%}

<style type="text/css"> 
.m:hover{
background-color:  rgba(75,172,238,0.4);
  }</style>
  </table>
  
         </div>
  
  </div>

  <div style="display:inline-block;height:700px;float:right;padding-left:15px;" class="mobfull">
  {% include 'interestframe.html'%}    
  </div>
  </div>

  <hr style="width:100%;">
  </div>
  
  <div style="overflow:auto;" class="panel panel-default quicklink">
  
   <div class="panel-heading">Quick Links to Interests</div>
  <div class="panel-body">
  <img src="/media/Cricket.png" style="width:35px;height:35px;margin-right:12px;">Cricket<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Football.png" style="width:35px;height:35px;margin-right:12px;">Football<hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Guitar.png" style="width:35px;height:35px;margin-right:12px;">Guitar<hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Travel.png" style="width:35px;height:35px;margin-right:12px;">Travelling<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Study.png" style="width:35px;height:35px;margin-right:12px;">Study<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Singing.png" style="width:35px;height:35px;margin-right:12px;">Singing<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Chatting.png" style="width:35px;height:35px;margin-right:12px;">Chatting<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Dating.png" style="width:35px;height:35px;margin-right:12px;">Dating<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/MusicBand.png" style="width:35px;height:35px;margin-right:12px;">Music Band<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Entrepreneurship.png" style="width:35px;height:35px;margin-right:12px;">Entrepreneurship<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Restaurant.png" style="width:35px;height:35px;margin-right:12px;">Restaurant<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Movie.png" style="width:35px;height:35px;margin-right:12px;">Movie<hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Cricket.png" style="width:35px;height:35px;margin-right:12px;">Cricket<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Football.png" style="width:35px;height:35px;margin-right:12px;">Football<hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Guitar.png" style="width:35px;height:35px;margin-right:12px;">Guitar<hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Travel.png" style="width:35px;height:35px;margin-right:12px;">Travelling<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Study.png" style="width:35px;height:35px;margin-right:12px;">Study<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Singing.png" style="width:35px;height:35px;margin-right:12px;">Singing<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Chatting.png" style="width:35px;height:35px;margin-right:12px;">Chatting<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Dating.png" style="width:35px;height:35px;margin-right:12px;">Dating<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/MusicBand.png" style="width:35px;height:35px;margin-right:12px;">Music Band<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Entrepreneurship.png" style="width:35px;height:35px;margin-right:12px;">Entrepreneurship<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Restaurant.png" style="width:35px;height:35px;margin-right:12px;">Restaurant<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Movie.png" style="width:35px;height:35px;margin-right:12px;">Movie<hr style="margin-top:5px;margin-bottom:5px;"><img src="/media/Cricket.png" style="width:35px;height:35px;margin-right:12px;"><a href="http://10.42.0.12:8800/open_intrest/?q=Cricket">Cricket</a><hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Football.png" style="width:35px;height:35px;margin-right:12px;"><a href="http://10.42.0.12:8800/open_intrest/?q=Football">Football</a><hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Guitar.png" style="width:35px;height:35px;margin-right:12px;"><a href="http://10.42.0.12:8800/open_intrest/?q=Guitar">Guitar</a><hr style="margin-top:5px;margin-bottom:5px;">
  <img src="/media/Travel.png" style="width:35px;height:35px;margin-right:12px;">Travelling<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Study.png" style="width:35px;height:35px;margin-right:12px;">Study<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Singing.png" style="width:35px;height:35px;margin-right:12px;"><a href="http://10.42.0.12:8800/open_intrest/?q=Singing">Singing</a><hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Chatting.png" style="width:35px;height:35px;margin-right:12px;"><a href="http://10.42.0.12:8800/open_intrest/?q=Chat">Chatting</a><hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Dating.png" style="width:35px;height:35px;margin-right:12px;"><a href="http://10.42.0.12:8800/open_intrest/?q=Dating">Dating</a><hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/MusicBand.png" style="width:35px;height:35px;margin-right:12px;">Music Band<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Entrepreneurship.png" style="width:35px;height:35px;margin-right:12px;">Entrepreneurship<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Restaurant.png" style="width:35px;height:35px;margin-right:12px;">Restaurant<hr style="margin-top:5px;margin-bottom:5px;">

  <img src="/media/Movie.png" style="width:35px;height:35px;margin-right:12px;">Movie<hr style="margin-top:5px;margin-bottom:5px;">
    

    </div>
</div>
<div class="page">
  {% include 'nav.html'%}
</div>
{% include 'picframe.html'%}
{% include 'frame6.html'%}
{% include 'chatbox.html'%}
 
</body>
</html>



