{% if zip%}
 {%for c,d in zip%}
      
        <tr id="t1" class="myrang" style="padding-left:10px;cursor:pointer;border-bottom:1px solid rgba(0,0,0,0.06);">
      <td width="20%" style="padding-left:10px;"><div id="" ><img src="/media/file_{{c.id}}.thumbnail"  style="width:40px;height:40px;border-radius:8px;"></div></td><td width="50%"><div style="font-size:12px;"><a href="../{{c.id}}">{{c.first_name}} {{c.last_name}}</a></div><div id="n" style="font-size:10px;float:left;opacity:0.5;color: blue;"><b><span class="getdot{{c.id}}"></span> {{d|floatformat}}m Away, <span class="puttime{{c.id}}">{{c.logout|timesince}}</span>
      <script type="text/javascript">
      var fordot="{{c.logout|timesince}}";
      if(fordot[0]=='0'){
        $(".getdot{{c.id}}").html("<img src='/static/image/dot.png' style='width:16px;' title='Online Now'>");
        $(".puttime{{c.id}}").hide();
      }
      </script>
      </b> </div></div></td><td width="30%" style="">
      <button style="border-top-left-radius:14px;border-bottom-left-radius:14px;font-size:12px;background-color:transparent;color:white;border:none;height:36px;margin-top:12px;"  onclick="directmsg('{{c.first_name}} {{c.last_name}}','{{c.id}}');" title="Message">
      <img src='/media/icons/bubble.png' style='width:20px;'></button>
      
      {% if i.current_intrest == m.intrest_name %}
      {% if c.id not in ttmemb %}
      {% if c.id in mythisteam.team_memb %}
      

      <button style="border-radius:14px;font-size:12px;background-color:#279c76;color:white;border:none;height:36px;margin-top:12px;" title="Already in Group">
      <span class="glyphicon glyphicon-ok-sign" style="font-size:17px;"></span><span class="invit"></span></button>
      
      {% elif c.id in mythisteam.team_invites %}
      

      <button style="border-radius:14px;font-size:12px;background-color:white;color:white;border:none;height:36px;margin-top:12px;" title="Already Invited">
      <span class="glyphicon glyphicon-exclamation-sign" style="font-size:17px;color:rgb(200,200,0);"></span><span class="invit"></span></button>
      {%else%}

      
      
      <button style="border-top-left-radius:14px;border-bottom-left-radius:14px;font-size:12px;background-color:transparent;color:white;border:none;height:36px;margin-top:12px;" class="inviting invite{{c.id}}" value="{{c.id}}" title="Invite">
      <img src='/media/icons/invite.png' style='width:30px;'></button>

      
      {%endif%}
      {%endif%}
      {%endif%}
      <br><br>
      
      <!-- <img src="/static/image/dot.png" style="width: 8px; display: inline;" id="" class="dotchat dotchat{{c.id}}"> -->
<!-- {% if c.id in i.f_list%}
      <span class="glyphicon glyphicon-user" title="Your Friend" style="color: black;"></span>{% endif %} --></td>
    </tr>
    {%endfor%}
    {%else%}
      <tr id="t1" class="myrang" style="padding-left:10px;cursor:pointer;border-bottom:1px solid rgba(0,0,0,0.06);"><td width="100%" style="padding-left:10px;">
        <span><center>No People Available in this Interest But Many more are waiting for you in <a href="/interest/">other Interest</a></center></span>
        </td></tr>
      <tr id="t1" class="myrang" style="padding-left:10px;cursor:pointer;border-bottom:1px solid rgba(0,0,0,0.06);"><td width="100%" style="padding-left:10px;">
        <img style= "width:100%;" src="/media/icons/people.png">
      </td></tr>
    {%endif%}
