{% load i18n %}


{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      #ff{
      display:block;
      opacity: 0.1;
      }

      #ff:hover {
      display:block;
      opacity: 1;
      }
      #red{
        background-color: red;
      }
      #green{
        background-color: green;
      }
      #blue{
        background-color: blue;
      }
      #grey{
        background-color: grey;
      }
      #marg{
        margin-left: 10%;
        margin-right: 10%;
      }
      #pad{
        padding-left: 5%;
        padding-right: 5%;
      }
      #font{
        font: white;
        font-family: sans-serif;
        font-size: 20px;
      }


    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="ffff.css" rel="stylesheet">
    <title>Zeeley</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../prof/">Lifer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <form class="navbar-form navbar-right" method="post" action="/logout/">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">LOGOUT</button>
          </form>


          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Search" class="form-control" style="background: rgba(255,255,255,0.6);">
            </div>
            <!-- <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div> -->
            <button type="submit" class="btn btn-success">Go</button>

            
          </form>

          <form class="navbar-form navbar-right" method="post" action="../edit_prof/">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">{{title}}</button>
          </form>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="row">
      <div class="col-md-1">
        </div>
        <table>
      	<tr>
      	<div class="col-md-2" class="container" style="background-color:#EDEDED;height:256px;width:256px;margin-top:20px;" >

          {% csrf_token %}
          <p><img src="/media/file_{{count}}" width="200px" hieght="200px" /></p>


          <div id="ff">

            
            <form method="post" action="../upload/" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- {{form|crispy}}
              {% if regs.thumbnail %}
              <p><img src="/static/uploaded_files/{{regs.t}}" width="200"></p>
              {% endif %} -->
              <input type="file" name="files" multiple/>
              <button type="submit" class="btn btn-success">Submit</button>

              <!-- <input type="submit" value="upload"/> -->
            </form>
          </div>
        </div>
        </tr>

        
        </table>
        <div class="col-md-3">
        </div>
      
      <div class="col-md-6">
        <h1 style="color:blue">{{ title }}</h1>
        
        <!-- <form method="post" action="">
        {% csrf_token %}
          {{form|crispy}}
         <input type='submit' name='signup' value='{% trans 'title' %}'/> 
          {% if regs.thumbnail %}
          <p><img src="static/uploaded_files/{{regs.thumbnail}}" width="200"></p>
          {% endif %}
        </form> -->
      </div>
      </div>
    </div>


    
    <div class="jumbotron" id="marg">
      {% block bob %}
      {% endblock %}

        <div class="row" id="pad">
          
          <br>
          <nav class="navbar navbar-inverse navbar-fixed">
          <a class="navbar-brand"><u>Sport</u></a> 
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Search" style="background: rgba(255,255,255,0.6);" class="form-control">
            </div>
           
            <button type="submit" class="btn btn-success">Add</button>
            
          </form>
          </nav>
          
          <div class="col-md-3" id="red"><p><center> <form method="post" action="../prof/"> {% csrf_token %} <input type="image" src="/media/file_0" alt="Submit" width="200px" height="200px" name="Cricket" value="True"/></form></p></center></div>
          <div class="col-md-3" id="green"><center><form method="post" action="../prof/"> {% csrf_token %} <input type="image" src="/media/file_1" alt="Submit" width="200px" height="200px" name="Badminton" value="b"/></form></p></center></div>
          <div class="col-md-3" id="blue"><center><form method="post" action="../prof/"> {% csrf_token %} <input type="image" src="/media/file_2" alt="Submit" width="200px" height="200px" name="Volleyball" value="n"/></form></p></center></div>
          <div class="col-md-3" id="grey"><center><form method="post" action="../prof/"> {% csrf_token %} <input type="image" src="/media/logo.png" alt="Submit" width="200px" height="200px" name="Football" value="T"/></form></p></center></div>
        </div>
        <div class="row" id="pad">
          
          <br> <nav class="navbar navbar-inverse navbar-fixed">
          <a class="navbar-brand"><u>Travel</u></a> 
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Search" class="form-control">
            </div>
           
            <button type="submit" class="btn btn-success">Add</button>
            
          </form>
          </nav>
          <div class="col-md-3" id="red"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="green"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="blue"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="grey"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
        </div>
        <div class="row" id="pad">
          <br>
           <nav class="navbar navbar-inverse navbar-fixed">
          <a class="navbar-brand"><u>Music</u></a> 
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Search" style="background: rgba(255,255,255,0.6);" class="form-control">
            </div>
           
            <button type="submit" class="btn btn-success">Add</button>
            
          </form>
          </nav>
          
          <div class="col-md-3" id="red"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="green"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="blue"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="grey"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
        </div>
        <div class="row" id="pad">
          <br>
           <nav class="navbar navbar-inverse navbar-fixed">
          <a class="navbar-brand"><u>Movies</u></a> 
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Search" class="form-control">
            </div>
           
            <button type="submit" class="btn btn-success">Add</button>
            
          </form>
          </nav>
          
          <div class="col-md-3" id="red"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="green"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="blue"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="grey"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
        </div>
        <div class="row" id="pad">
          <br>
           <nav class="navbar navbar-inverse navbar-fixed">
          <a class="navbar-brand"><u>Songs</u></a> 
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Search" class="form-control">
            </div>
           
            <button type="submit" class="btn btn-success">Add</button>
            
          </form>
          </nav>
          
          <div class="col-md-3" id="red"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="green"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="blue"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="grey"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
        </div>
        <div class="row" id="pad">
          <br>
           <nav class="navbar navbar-inverse navbar-fixed">
          <a class="navbar-brand"><u>Artists</u></a> 
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Search" class="form-control">
            </div>
           
            <button type="submit" class="btn btn-success">Add</button>
            
          </form>
          </nav>
          
          <div class="col-md-3" id="red"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="green"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="blue"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
          <div class="col-md-3" id="grey"><center><img src="/media/file_0" width="200px" hieght="200px" /></p></center></div>
        </div>







    </div>

    

      <hr>

      <footer>
        <p>&copy; Lifer.inc 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
