<div class="frame" style="background-color:white;">
	<div class="page">
	<div class="info">

		<div class="frame4 frame41"  style="border:none;color:black;" style="background-color:white;color:black;" id="show">
			<div class="e4"><b>Interested in&nbsp;</b><a  style="color:black;">{{i.current_intrest}}</a><br>
			<b>Works at &nbsp;</b><a style="color:black;">{{i.work}}</a><br>
			<b>Current Place&nbsp;</b><a style="color:black;">{{i.current_place}}</a><br>
			<b>Hometown&nbsp;</b><a style="color:black;">{{i.hometown}}</a></b></div>
			
		</div>
	
	
		
		
		<div class="frame4">

		<div class="top">

		<b>Friends :</b>
		</div>
		<div id="f4w">
		<div class="fho" style="width:auto;">
			{% for c in e %}
			
				{% if not forloop.counter0 >= 9 %}
					
				<a href="../{{c}}"><img src="/media/file_{{c}}.thumbnail" style="height:100px;width:100px;" class="int"></a>
				{% endif %}
				
				
			
			{%endfor%}
</div>
		</div></div>
		<div class="frame4">
				<div class="top" style="width:auto;">

		<b><a href="../photo/?q={{i.id}}">Photos</a> :</b></div>
		<div id="f4w"><div class="fri" style="width:auto;">
			
			{% for c in f %}
				


				{% if c.photos >= 0 %}
					{% if c.profile_picture%}
						<img src="/media/file_p{{c.identity}}_{{c.photos}}.thumbnail" style="width:100px;height:100px;" onclick="port(this)" class="int">
						{% elif c.cover_picture%}
						<img src="/media/file_c{{c.identity}}_{{c.photos}}.thumbnail" style="width:100px;height:100px;" onclick="port(this)" class="int">
						{% else %}
					<img src="/media/file_{{c.identity}}_{{c.photos}}.thumbnail" style="width:100px;height:100px;" onclick="port(this)" class="int">
						{%endif%}
					

				{%endif%}
			{%endfor%}
			</div>
</div></div>
		
			</div>
	<center><div class="tab">
		<a href="../about/?q={{i.id}}"><button class="button1"><span class="glyphicon glyphicon-list-alt"></span> About</button></a>	
		<a href="../photo/?q={{i.id}}"><button class="button1"><span class="glyphicon glyphicon-camera"></span> Photos</button></a>
		<a href="../friends/?q={{i.id}}"><button class="button1"><span class="glyphicon glyphicon-user"></span> Friends</button></a>
		

		<!-- <button class="edit button1" id="edit" onclick="return editprofile(this.id);"  class="button1" style="position:absolute;left:73.75%; width:24%" ><span class="glyphicon glyphicon-pencil"></span>Edit Profile</button>
 -->

		
		</div></center>
<center><div class="tab1">
		<a href="../about/?q={{i.id}}"><button class="button1"><span class="glyphicon glyphicon-camera"></span> About</button></a>	
		 <a href="../photo/?q={{i.id}}">
		<button class="button1"><span class="glyphicon glyphicon-camera"></span>Photos</button></a><a href="../friends/?q={{i.id}}">
		<button class="button1"><span class="glyphicon glyphicon-user"></span> Friends</button></a>
		


		</div></center>

	<div class="news">
	<div class="mob">
			<center>
			<!-- 	<a href="../about/?q={{i.id}}"><button class="button1"><span class="glyphicon glyphicon-list-alt"></span> About</button></a>	
		 -->		<a href="../photo/?q={{i.id}}"><button class="button1"><span class="glyphicon glyphicon-camera"></span> Photos</button></a><a href="../friends/?q={{i.id}}">
		<button class="button1"><span class="glyphicon glyphicon-user"></span> Friends</button></a>

		</center>
		<div class="frame4 frame41m" id="show" style="border: none;background-color: rgba(255,255,255,0.6);">
		</div>
	<div class="frame4 frame42m" style="padding-right:15px;" id="hide" >
		<b>Current Interest</b><br>
		<input type="text" class="box box2" value="Cricket"><br>
		<b>Work</b><br>	
		<input type="text" class="box box2" value="Bollywood" ><br>
		<b>Current Place</b><br>			
		<input type="text" class="box box2" value="Mumbai" ><br>
		<b>Hometown</b>		
		<input type="text" class="box box2" value="Mumbai" ><br>
	</div>
	



		<div class="frame4 frame44m"  style="	border:none;background-color: rgba(255,255,255,0.6);">
			<div style="padding: 7px;" id="mobfri" >



			<b><center><h3 style="margin-bottom: 0px;display: inline-block;margin-top: 0px;">


			Photos</h3></center> 
			</b>
			<!-- <button class="button1" style="float:right;width:30px;position:relative;margin-top: 0px;left:10px;"><span class="glyphicon glyphicon-chevron-down"></span></button> --></b>
			</div>
			<center><div class="mobfri">
		</div></center></div>

		<div class="frame4  frame45m" style="	border:none;background-color:rgba(255,255,255,0.6);">
		<div  style="padding: 7px;" id="mobpho" >
		<b><a style="color:black;"><center><h3 style="margin-bottom: 0px;display: inline-block;margin-top: 0px;">Friends</h3></center></a> 
			</b>
			<!-- buttonclass="button1" style="float:right;width:30px;position:relative;margin-top: 0px;left:10px;"><span class="glyphicon glyphicon-chevron-down"></span></button> -->
			</div>
			
		<center><div class="mobpho" style="width:auto;">
		</div></center></div>
		
		
		

		</div>


	<div class="frame5" style="background-color:rgba(255,255,255,0.5);height:165px;overflow-y:hidden; ">

			<b>Express Yourself</b>

			<form name="upform" method="post" action="../upload/" enctype="multipart/form-data" style="display:none;">
               {% csrf_token %}
              
              <input type="file" name="files" multiple id="foto"/>
              
            </form>
	
			<br>
	
			<form id="abc" name="myform" method="post" action="../uploadpost/" enctype="multipart/form-data">
	              {% csrf_token %}
	              <textarea placeholder="Share something ...." class="say" name="say" style="margin-left:5%; margin-bottom:2%; margin-top:4%; border-radius:5px;height: 58px; width: 90%;color: black;"></textarea><br>
	   

 <button class="button1 addphoto" style="width: auto;" class="addphoto" id="addphoto">Add Photo</button>
<input id="fotos" type="file" name="files" id="fotos">
     

	              

	                <button class="button1 addsubmit" type="submit" id="addsubmit">Share</button>&nbsp;
	      <br>  <b style="color: green;position: relative;top: -105px;display: none;left: 40px;" class="showgreen"><img src="{% static 'green.png' %}" style="width: 10px;height: 10px;" > File Selected</b>     

	        </form>
	         <br>
		
			<div class="time">
				
			</div> 
		</div>




{% include 'frame5prof.html' %}





	</div>
</div>
</div>
</div>
<div class="frame1" style="background-color:rgb(213, 218, 226);overflow-y: hidden;"><CENTER><img src="/media/file_c{{count}}_{{j}}.jpg" style="" id="coverfoto" onclick="port(this);" value="{{c.post_time}}"></CENTER>
	</div>
<div class="frame2">
	<div class="page">	

	<ul id="nav4"></ul>

</div>
</div>
<div class="page">

<script type="text/javascript">
	

	var imge = new Image();
imge.src="/media/file_p{{count}}_{{i.prof_pic|last}}.jpg";
 imge.onload = function() {
 var w = window,
	d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    h = w.innerHeight|| e.clientHeight|| g.clientHeight;

if(x>1100)
{//alert($("#mydp").css("height"));
var imgsize = (188-parseInt($("#mydp").css("height").split("px")[0]))/2;
$("#mydp").css("margin-top",imgsize+"px");

}
else if(w<680)
{//alert($("#mydp").css("height"));
var imgsize = (135-parseInt($("#mydp").css("height").split("px")[0]))/2;
$("#mydp").css("margin-top",imgsize+"px");

}
else{
var imgsize = (135-parseInt($("#mydp").css("height").split("px")[0]))/2;
$("#mydp").css("margin-top",imgsize+"px");

	
}

//alert(imgsize);


 }

</script>

<div class="frame3" style="overflow: hidden;padding: 5px;box-shadow: 1px 1px 0 #ddd, -1px -1px 0 #ddd, 1px -1px 0 #ddd,
            -1px 1px 0 #000, 3px 3px 5px #333;">
	<img src="/media/file_p{{count}}_{{i.prof_pic|last}}.jpg" class="img-responsive"   onclick="port(this);" value="{{c.post_time}}" id="mydp">
	

	<div class="dp1">
		

		<span class="glyphicon glyphicon-camera" style="font-size:30px;color:white;"></span>		
	</div>
	<div class="dp"  onclick="chdp();">
		<div class="txt">
			Change Profile Picture
	
		</div>
	</div>
</div>
<div class="changecover" id="1234" onclick="cover();">
<b style="position:relative;top:-5px;">Change Cover Photo</b>
<span class="glyphicon glyphicon-camera" style="font-size:30px;"></span>		

	</div> 








<script type="text/javascript">
	
	$(function(){

		$(".name").html($(".name").html().toLowerCase());

		$(".name").css("text-transform","capitalize");
	});
</script>
<div class="page">
 <div class="name nameo" style="color:white;left:90px;margin-top:-20px;transition:all 0.5s;
   text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;font-size: 25px;"><br>
{{title | truncatechars:45 }}
</div>
</div>



{% include 'frame6.html'%}





	</div>

{% include 'chatbox.html'%}

{% include 'nav.html'%} 

{% include 'picframe.html' %}

<div style="display:none">

<form name="editcover" method="post" action="../cover/" enctype="multipart/form-data">
	        {% csrf_token %}
<input type="file" name="files" multiple id="cfoto"/>
<button type="submit" style="opacity:0.5" id="coverF">Upload Cover</button></form>


             </div>
<!-- 
<div style="background-color: rgba(0,0,0,0.8);position: fixed;top: 0px;width: 100%;height: 100%;z-index: 100;">
	 -->
</div>
