
{% load static %}
{% load i18n %}
{% load extras %}



<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="c{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">

<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>


<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
 -->
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{i.first_name}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style type="text/css">
	.coverpic{
		height:300px;background-color:;margin-top:45px;overflow:hidden;border-bottom:1px solid red;background:url('/media/intrest/{{i.current_intrest}}.thumbnail') 100% fixed;background-size:cover;display:inline-block;

-webkit-filter: blur(12px);
-moz-filter: blur(12px);
-o-filter: blur(12px);
-ms-filter: blur(12px);z-index:1;
	}
	.frame5{
		box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
		border-radius:0px;
	}
</style>
<style>


.addsubmit{
  height:25px;
  width:90px;
  font-size:12px;
  position:relative;
  top:-65px;
  left:285px;
  border-radius:4px;
}

#fotos{
  height:25px;
  opacity:0; 
  font-size:27px;
  width:90px;
  position:relative;
  top:-42px;
  left:180px;
}

.addphoto{
  height:25px;
  width:90px;
  font-size:12px;
  border-radius:4px;
  position:relative;
  left:180px;
}


@media screen and (max-width: 780px) {

.addsubmit{

  left:68%;



}

.addphoto{
  left:35%;


}

#fotos{
  left:35%;


}



}



#up1,#up2,#up3{
	background-color: rgba({{cov_r}},{{cov_g}},{{cov_b}},1);

}

.textarea{
	background-color: rgba(255,255,255,1);

}

</style>

<script>
$(document).ready(function(){



$(window).scroll(function(){

if($(window).scrollTop()>350){
$(".nbpeople").css("position","fixed");
$(".nbpeople").css("top","50px");
$(".nbpeople").css("width","290px");
$(".seeallp").slideDown();
$(".hideab").slideUp();

}
else{
$(".nbpeople").css("position","initial");
$(".nbpeople").css("width","37.5%");
$(".seeallp").slideUp();
$(".hideab").slideDown();
}

});




	$(".frame1").scrollTop({{i.cov_fix|first}});
	

	$(".frame1").scroll(function(){
							$(".frame1").scrollTop({{i.cov_fix|first}});
					//s		$(window).scrollTop($(window).scrollTop()+5);

						}); 



$("body,html").scrollTop(120);


	$(".sendmsg").click(function(){
		var iid=$(".sendmsg").val();
		  $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':iid,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       var rep=response.z;
                       var naam =[];
                	   var id1=[];
					   id1.push($(".sendmsg").val());

                       naam.push(response.naam) ;
                       chatdel(naam,id1,rep);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 


	});

$(".hoot").keyup(function(event){
	
	if(event.which==13){
		//alert($(this).val());
		$(this).val("");
	}
});





$('.m').click(function(){
	var q = $(this).html();
	var chatid=q.split("_");
	chtid=chatid[1].split(".");
	var naame = q.split("<td width=\"70%\"><div style=\"font-size:14px;\">");
	var naam = "";
 	naam=naame[1].split("</div>");


	
	      $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                       		

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes counter is now ' + response.likes_counter);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background-color:rgba(100,100,255,0.1);">
<div class="page" style="background:transparent;">
	<div style="display:inline-block;" class="adjust">
	<div class="coverpic" style="">
	</div>
	<div style="background-color:rgba(0,0,0,0.4);height:347px;" class="mynewdp"><br>
	<br><br>
		<center>
		<div style="width:190px;height:190px;background-color:white;padding:5px;border-radius:190px;overflow:hidden;">
		<img src="/media/file_{{bomb}}.jpg" class="img-responsive"   onclick="port(this);" value="{{c.post_time}}" id="mydp" style="width:180px;height:180px;border-radius:180px;" id="mydp">
		
		
			
		</div>
	
		<span style="color:white;font-size:26px;" class="myname texts">
			<a href="../{{i.id}}/" style="color:white;text-decoration:none;">{{name | truncatechars:34 }}
</a>
		</span>
		<style type="text/css">
			.sendmsg{
				margin-bottom:-20px;
			}
			.frnds{
				float: right;margin-right:10px;
			}
		</style>
		<br><span style="font-size:13px;color:white;">
			<b> Interested in:</b>&nbsp;&nbsp;&nbsp;<a href="../open_intrest/?q={{i.current_intrest}}" style="color:white">{{i.current_intrest}}</a><br>
		 
		</span>
		<script type="text/javascript">
			function follow(abc,pqrs){

 $.ajax({
               type: "GET",
               url: "../sendrequest/"+abc,
               data: {},
               dataType: "json",
               success: function(response) {
                   //   $(".mygrp"+id).fadeOut(1000);
                   $(pqrs).html(response.z);

                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });   


			}
		</script>
		<style type="text/css">
  .tabbtn{
    width:25%;margin:0px;height:35px;font-size:15px;background-color:rgba(1,76,66,1);border:none;color:white;border-bottom:2px solid black;border-top:2px solid rgb(1,76,66);transition:all 0.2s;
  }
  .tabbtn:hover{
    background: white;
    color:rgb(1,76,66);
    border-bottom: none;

}
    </style>
		<center>
	<!-- 	<button style="width:100px;margin-top:0px;" class="btun">Invite</button>
		 --> <button style="width:100px;margin-top:0px;" onclick="follow({{i.id}},this)" class="btun">{% if i.id in e %}Un{% endif %}Follow</button>
				{% if i.priv_mess == 1 %}
		<button class="sendmsg btun" id="sendmsg" value="{{i.id}}" style="width:100px;margin-top:0px;" class="btun"><b>Chat</b></button>
		{% endif %}
		{% if i.priv_mess == 2 %}
		{% if b.id in i.f_list %}
		
		<button class="sendmsg btun" id="sendmsg" value="{{i.id}}" style="width:100px;margin-top:0px;" class="btun"> Chat</button>{% endif %}
		{% endif %}
		{% if i.priv_mess == 3 %}
		{% if b.id in grm %}
		<button class="sendmsg btun" id="sendmsg" value="{{i.id}}" style="width:100px;margin-top:0px;" class="btun"> Chat</button>{% endif %}
		{% endif %}
		<!-- {% if b.id in i.accept_f_list%}
		 <a href="../deleterequest/{{i.id}}"><button class="frnds"><span style="font-size:15px;" class="glyphicon glyphicon-remove"></span><b>Delete Request</b></button></a>
		{% elif not i.id in b.f_list %}
		 <a href="../sendrequest/{{i.id}}"><button class="frnds"><span style="font-size:15px;" class="glyphicon glyphicon-plus"></span><b>Add Friend</b></button></a>0
		 {% endif %}
 -->

		</center>
	</div>
	<div style="font-size:0px;margin-top:-5px;" class="adjust">
		<a href="../about/?q={{i.id}}" style="color:black;">
		<button style=""  class="tabbtn"><b>About</b></button>
	</a><a href="../friends/?q={{i.id}}" style="color:black;">
	<button style="" class="tabbtn"><b>Following</b></button>
	</a>
	<a href="../photo/?q={{i.id}}" style="color:black;"><button style="" class="tabbtn"><b>Photos</b></button></a>
	<a href="../allposts/" style="color:black;"><button style="" class="tabbtn"><b>All Posts</b></button></a>	
	</div>
	<div style="font-size:17px;">
<br>	
		
<div style="width:290px;height:500px;padding-left:10px;" class="mobout nbpeople">
	<!-- <div style="display:none;padding-left:15px;" class="seeallp" ><a href="../allposts/" style="color:black;"><button  class="">See All Posts</button></a></div>
 -->
  <div class="myalter seeallp" style="background-color:transparent;margin-top:7px;margin-bottom:12px;font-size:18px;padding:3px;padding-bottom:5px;display:none;">
    <img src="/media/file_{{bomb}}.thumbnail" style="width:30px;height:30px;border-radius:6px;"> {{i.first_name|truncatechars:15}}
    <div class="dropdownn" style="float:right;margin-right:10px;">
   <a style="color:black;">
    <button class="btn threeq" style="border:none;">
	<img src="/media/icons/more.png" style="width:20px;">
    </button></a>
  <div class="dropdownn-content" style="">

    <div style="text-decoration:none;width:100%;padding-left:10px;" class="dropdrm" onclick="document.location='../about/?q={{i.id}}'">About</div>
<div style="text-decoration:none;width:100%;padding-left:10px;" class="dropdrm" onclick="document.location='../friends/?q={{i.id}}'">Friends</div>
<div style="text-decoration:none;width:100%;padding-left:10px;" class="dropdrm" onclick="document.location='../photos/?q={{i.id}}'">Photos</div>

  </div>
</div>
<script type="text/javascript">
$(function(){

$(".threeq").click(function(){
$(".dropdownn-content").show();
});
});

</script>
<style>
.dropdownn {
    position: relative;
    display: inline-block;
}

.dropdownn-content {
	cursor:pointer;
   display:none;

    background-color: #f9f9f9;
    min-width: 130px;
    
    padding: 0px 0px;
    border:1px solid grey;
    border-radius: 6px;
    transition: all 0.7s;
}

.dropdownn:hover .dropdownn-content {
    display: block;
}
.dropdownn-content .dropdrm:hover{
	background-color: rgba(100,186,180,1);
	color: white;

} 
</style>

   
  </div>

        <div class="panel panel-default hideab" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);" >
      <div class="panel-heading"  style="background-color:rgb(1,76,66);color:white;">About</div>
      <div style="width: 100%;padding: 12px;">
        <b>Gender :</b> {%if i.male%}Male{%else%}Female{%endif%}<br>
        <b>Age :</b> {{i.year|age}} <br>
        <b>Place :</b> {{i.hometown}}<br>
        <b>Followed By :</b> {{i.accept_f_list|length}} People<br>


      </div>

      </div>



          <div class="panel panel-default" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);">
      <div class="panel-heading"  style="background-color:rgb(1,76,66);color:white;">Nearby People of {{m.intrest_name}}</div>
     
      <style type="text/css">
        #up1 a{
          color: white;
        }
        #t tr td div a{
          color:black;
        }
      </style>

      <script type="text/javascript">

        
        $(function(){

          $(".inviting").click(function(){

            var id=$(this).attr("value");
        $.ajax({
               type: "GET",
               url: "../invitesportee/",
               data: {'invited':id,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                    $(".invite"+id).hide();
                       },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 

          });

        });
      </script>
      <div id="slimscroll" style="max-height:450px;overflow-y:auto;">
      

       <table id="t" style="width:100%;">

         {% include 'pnear.html'%}

<style type="text/css"> 
.myrang:hover .invit{
display: block;
}

.m:hover{
background-color:  rgba(75,172,238,0.4);
  }</style>
  </table></div>
         </div>
  </div>
	
	<div style="display:inline-block;height:700px;float:right;padding-left:15px;" class="mobfull">
	{% if not f%}
	<div class="frame5" style="height:100px;">
		No Posts to Show...
	</div>
	{% endif %}

{% for c in f %}

		{% if not c.anonymous %}
			
		{% if c.id in i.shared_posts %}


			{% if c.profile_picture %}
				<div class="frame5" style="background-color:rgba(255,255,255,0.5);">
					<a href="/{{c.identity}}/">
			<img src="/media/file_{{bomb}}.thumbnail" class="img-responsive" style="border-radius:50px;width:50px; height:50px; float:left; margin-right:10px;"></a>
			<b style="font-size: 17px;font-weight: 600;" id="{{c.identity}}.{{c.photos}}liked"><a href="../{{i.id}}" style="color:rgb(1,76,66);">{{i.first_name}} {{i.last_name}}</a></b> shared {% for thing in a|gory:c.identity %}
    			<b>{{ thing.first_name }}'s</b> 
  			{% endfor %} profile picture.
			<br>
			<div class="time">

				{{c.post_time}}<br><br><br>
			</div> 
			{% if c.photos >= 0 %}
			{{c.say}}
			<br><br>
			<!-- <video style="width:400px;" controls ><source src="/media/file_{{bomb}}.{{c.photos}}" type="video/mp4"><source src="/media/file_{{bomb}}.{{c.photos}}" type="video/ogg"></video> -->
			<div style="max-height:400px;overflow:hidden;">
			
			<img src="/media/file_p{{c.identity}}_{{c.photos}}.jpg" style="width:400px;" id="{{c.photos}}"  onclick="port(this);" class="img-responsive" ></div>
			{%else%}
			{{c.say}}
			{%endif%}
			<br><b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}_{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b><b  id="com{{c.identity}}l{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{c.comments}} Opines</b><br>

			

			

			<!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
	              {% csrf_token %} --> 
				<button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span      class="glyphicon glyphicon-heart">&nbsp;{%if counter in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
			



			





			<b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b id="share"><span id="share"><img src="/media/icons/share.png" style="width:20px;"</span>Share</b></a><br>
			<div  class="commentbox" id="commentbox{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;"><img src="/media/file_{{bomb}}.thumbnail" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

			
			<textarea class="{{c.photos}} hoot {{c.identity}}d{{c.photos}}" id="{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

			<div class="commentsss"></div>


			<button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

			 </div>
			</div>



			{% elif c.cover_picture %}
			<div class="frame5" style="background-color:rgba(255,255,255,0.5);">
				
			<a href="/{{c.identity}}/">

			<img src="/media/file_{{bomb}}.thumbnail" class="img-responsive" style="border-radius:50px;width:50px; height:50px; float:left; margin-right:10px;"></a>
			<b style="font-size: 17px;font-weight: 600;" id="{{c.identity}}.{{c.photos}}liked"><a href="../{{i.id}}" style="color:rgb(1,76,66);">{{i.first_name}} {{i.last_name}}</a></b> shared {% for thing in a|gory:c.identity %}
    			<b>{{ thing.first_name }}'s</b> 
  			{% endfor %} coverphoto.
			<br>
			<div class="time">

				{{c.post_time}}<br><br><br>
			</div> 
			{% if c.photos >= 0 %}
			{{c.say}}
			<br><br>
			<!-- <video style="width:400px;" controls ><source src="/media/file_{{bomb}}.{{c.photos}}" type="video/mp4"><source src="/media/file_{{bomb}}.{{c.photos}}" type="video/ogg"></video> -->
			<div style="max-height:400px;overflow:hidden;">
			
			<img src="/media/file_c{{c.identity}}_{{c.photos}}.jpg" style="width:400px; " id="{{c.photos}}"  onclick="port(this);" class="img-responsive"></div>
			{%else%}
			{{c.say}}
			{%endif%}
			<br><b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}_{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b><b id="com{{c.identity}}l{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{c.comments}} Opines</b><br>

			

			

			<!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
	              {% csrf_token %} --> 
				<button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if counter in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
			



			





			<b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b ><span id="share"><img src="/media/icons/share.png" style="width:20px;"</span>Share</b></a><br>
			<div  class="commentbox" id="commentbox{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;"><img src="/media/file_{{bomb}}.thumbnail" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

			
			<textarea class="{{c.photos}} hoot {{c.identity}}d{{c.photos}}" id="{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

			<div class="commentsss"></div>


			<button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

			 </div>
			</div>

			{% else %}

			<div class="frame5" style="background-color:rgba(255,255,255,0.5);">
				<a href="/{{c.identity}}/">
			<img src="/media/file_{{bomb}}.thumbnail" class="img-responsive" style="border-radius:50px;width:50px; height:50px; float:left; margin-right:10px;"></a>
			<b style="font-size: 17px;font-weight: 600;" id="{{c.identity}}.{{c.photos}}liked"><a href="../{{i.id}}" style="color:rgb(1,76,66);">{{i.first_name}} {{i.last_name}}</a></b> shared {% for thing in a|gory:c.identity %}
    			<b>{{ thing.first_name }}'s</b> 
  			{% endfor %} picture.
			<br>
			<div class="time">

				{{c.post_time}}<br><br>
			</div> 
			{% if c.photos >= 1 %}
			{% if "#" in c.say %}
			hallo
			<script type="text/javascript">

			var l={{c.say}}.split("#");
			var d=l[1].split(" ");
			document.write(l[0]+"<a href='../open/?q='"+d[0]+"'><b>#"+d[0]+" </b></a>"+d[1]);
			</script>
			{%else%}
			{{c.say}}
			{%endif%}<br><br>
			<!-- <video style="width:400px;" controls ><source src="/media/file_{{bomb}}.{{c.photos}}" type="video/mp4"><source src="/media/file_{{bomb}}.{{c.photos}}" type="video/ogg"></video> -->
			<div style="max-height:400px;overflow:hidden;">
			
			<img src="/media/file_{{c.identity}}_{{c.photos}}.jpg"  style="width:400px;" id="{{c.photos}}"  onclick="port(this);" class="img-responsive"></div>
			{%else%}
			{{c.say}}<br>
			{%endif%}
			<br><b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}_{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b><b id="com{{c.identity}}l{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{c.comments}} Opines</b><br>

			

			

			<!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
	              {% csrf_token %} --> 
				<button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if counter in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
			



			





			<b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b id="share"><span id="share"><img src="/media/icons/share.png" style="width:20px;"</span>Share</b></a><br>
			<div  class="commentbox" id="commentbox{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;"><img src="/media/file_{{bomb}}.thumbnail" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

			
			<textarea class="{{c.photos}} hoot {{c.identity}}d{{c.photos}}" id="{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

			<div class="commentsss"></div>


			<button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

			 </div></div>
			 {%endif%}

		{% else %}

			{% if c.profile_picture %}
				<div class="frame5" style="background-color:rgba(255,255,255,0.5);">
					<a href="/{{c.identity}}/">
			<img src="/media/file_{{bomb}}.thumbnail" class="img-responsive" style="border-radius:50px;width:50px; height:50px; float:left; margin-right:10px;"></a>
			<b style="font-size: 17px;font-weight: 600;" id="{{c.identity}}.{{c.photos}}liked"><a href="../{{i.id}}" style="color:rgb(1,76,66);">{{i.first_name}} {{i.last_name}}</a></b> changed {{l}} profile picture.
			<br>
			<div class="time">

				{{c.post_time}}<br><br>
			</div> 
			{% if c.photos >= 0 %}
			{{c.say}}
			<br><br>
			<!-- <video style="width:400px;" controls ><source src="/media/file_{{bomb}}.{{c.photos}}" type="video/mp4"><source src="/media/file_{{bomb}}.{{c.photos}}" type="video/ogg"></video> -->
			<div style="max-height:400px;overflow:hidden;">
			
			<img src="/media/file_p{{c.identity}}_{{c.photos}}.jpg" class="img-responsive" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" ></div>
			{%else%}
			{{c.say}}
			{%endif%}
			<br><b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}_{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b><b  id="com{{c.identity}}l{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{c.comments}} Opines</b><br>

			

			

			<!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
	              {% csrf_token %} --> 
				<button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if counter in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
			



			





			<b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b id="share"><span id="share"><img src="/media/icons/share.png" style="width:20px;"</span>Share</b></a><br>
			<div  class="commentbox" id="commentbox{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;"><img src="/media/file_{{bomb}}.thumbnail" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

			
			<textarea class="{{c.photos}} hoot {{c.identity}}d{{c.photos}}" id="{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

			<div class="commentsss"></div>


			<button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

			 </div>
			</div>



			{% elif c.cover_picture %}
			<div class="frame5" style="background-color:rgba(255,255,255,0.5);">
				<a href="/{{c.identity}}/">
			<img src="/media/file_{{bomb}}.thumbnail" class="img-responsive" style="border-radius:50px;width:50px; height:50px; float:left; margin-right:10px;"></a>
			<b  style="font-size: 17px;font-weight: 600;" id="{{c.identity}}.{{c.photos}}liked"><a href="../{{i.id}}" style="color:rgb(1,76,66);">{{i.first_name}} {{i.last_name}}</a></b> changed {{l}} coverphoto.
			<br>
			<div class="time">

				{{c.post_time}}<br><br>
			</div> 
			{% if c.photos >= 0 %}
			{{c.say}}
			<br><br>
			<!-- <video style="width:400px;" controls ><source src="/media/file_{{bomb}}.{{c.photos}}" type="video/mp4"><source src="/media/file_{{bomb}}.{{c.photos}}" type="video/ogg"></video> -->
			<div style="max-height:400px;overflow:hidden;">
			
			<img src="/media/file_c{{c.identity}}_{{c.photos}}.jpg" class="img-responsive" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" ></div>
			{%else%}
			{{c.say}}
			{%endif%}
			<br><b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}_{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b><b id="com{{c.identity}}l{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{c.comments}} Opines</b><br>

			

			

			<!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
	              {% csrf_token %} --> 
				<button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span  class="glyphicon glyphicon-heart">&nbsp;{%if counter in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
			



			





			<b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b ><span id="share"><img src="/media/icons/share.png" style="width:20px;"</span>Share</b></a><br>
			<div  class="commentbox" id="commentbox{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;"><img src="/media/file_{{bomb}}.thumbnail" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

			
			<textarea class="{{c.photos}} hoot {{c.identity}}d{{c.photos}}" id="{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

			<div class="commentsss"></div>


			<button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

			 </div>
			</div>

			{% else %}

			<div class="frame5" style="background-color:rgba(255,255,255,0.5);">
				<a href="/{{c.identity}}/">
			<img src="/media/file_{{bomb}}.thumbnail" class="img-responsive" style="border-radius:50px;width:50px; height:50px; float:left; margin-right:10px;"></a>
			<b style="font-size: 17px;font-weight: 600;" id="{{c.identity}}.{{c.photos}}liked"><a href="../{{i.id}}" style="color:rgb(1,76,66);">{{i.first_name}} {{i.last_name}}</a> </b> {% if c.photos >= 1 %} shared a picture.{%else%}shared {{l}} view.{%endif%}
			<br>
			<div class="time">

				{{c.post_time}}<br><br><br>
			</div> 
			{% if c.photos >= 1 %}
			{% if "#" in c.say %}
			<script type="text/javascript">
			var bol="{{c.say}}";
			if(bol.indexOf("&#")>-1){
			var j = bol.split("&#");
			var z="";
			for(i =0;i<j.length;i++){
				if(j[i].indexOf("#")>-1){
				var l=j[i].split("#");
			
			var d=l[1].split(" ");
			d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
			j[i]=d.join(" ");
			}
			

			}
			z=j.join("&#");
			
			document.write(z);
		}
		else{
			var l=bol.split("#");
			for(var i=1;i<l.length;i++){
				var d=l[i].split(" ");
				d[0]="<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
				l[i]=d.join(" ");
			}
				z=l.join("");
				document.write(z);
		}
		
			</script>
			{%else%}
			{{c.say}}
			{%endif%}
			<br><br>
			<!-- <video style="width:400px;" controls ><source src="/media/file_{{bomb}}.{{c.photos}}" type="video/mp4"><source src="/media/file_{{bomb}}.{{c.photos}}" type="video/ogg"></video> -->
			<div style="max-height:400px;overflow:hidden;">
			
			<img src="/media/file_{{c.identity}}_{{c.photos}}.jpg" class="img-responsive" style="width:400px;  " id="{{c.photos}}"  onclick="port(this);" ></div>
			{%else%}
			{% if "#" in c.say %}
			<script type="text/javascript">
			var bol="{{c.say}}";
			if(bol.indexOf("&#")>-1){
			var j = bol.split("&#");
			var z="";
			for(i =0;i<j.length;i++){
				if(j[i].indexOf("#")>-1){
				var l=j[i].split("#");
			
			var d=l[1].split(" ");
			d[0]=l[0]+"<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
			j[i]=d.join(" ");
			}
			

			}
			z=j.join("&#");
			
			document.write(z);
		}
		else{
			var l=bol.split("#");
			for(var i=1;i<l.length;i++){
				var d=l[i].split(" ");
				d[0]="<a href='../open/?q="+d[0]+"'><b style='color:black;'>#"+d[0]+" </b></a>";
				l[i]=d.join(" ");
			}
				z=l.join("");
				document.write(z);
		}
		
			</script>

			{%else%}
			{{c.say}}
			{%endif%}
			<br>
			{%endif%}
			<br><b id="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}.{{c.photos}}" class="hits{{c.identity}}_{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;{{c.hits}} Hits </b><b id="com{{c.identity}}l{{c.photos}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{c.comments}} Opines</b><br>

			

			

			<!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
	              {% csrf_token %} --> 
				<button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{c.identity}}.{{c.photos}}"><b id="{{c.identity}}hit{{c.photos}}" class="hit"><span class="glyphicon glyphicon-heart">&nbsp;{%if counter in c.hitters %}Unhit{%else%}Hit{%endif%}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
			



			





			<b class="opine" id="{{c.photos}}abc" value="{{c.identity}}.{{c.photos}}"><span onclick="comm(this.id)" id='{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b id="share"><span id="share"><img src="/media/icons/share.png" style="width:20px;"</span>Share</b></a><br>
			<div  class="commentbox" id="commentbox{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;"><img src="/media/file_{{bomb}}.thumbnail" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

			
			<textarea class="{{c.photos}} hoot {{c.identity}}d{{c.photos}}" id="{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

			<div class="commentsss"></div>


			<button class="comment" value="{{c.identity}}d{{c.photos}}" id="{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

			 </div></div>
			 {%endif%}

		{%endif%}
		{%endif%}

		{% endfor %}
		
		
	</div>
	</div>
	<hr style="width:100%;">
	</div>
{% include 'quicklink.html'%}
<div class="page">
	{% include 'nav.html'%}
</div>
{% include 'picframe.html'%}
{% include 'frame6.html'%}
{% include 'chatbox.html'%}

</body>
</html>



