
<div style="position:fixed;background:transparent;height:97%;overflow:hidden;box-shadow: none;border:none;padding-left:15px;padding-right:5px;padding-top:50px;" class="quicklink">
    <input type="text" style="width:220px;border-radius:9px;border:1px solid grey;padding-right:10px;padding-left:5px;height:30px;outline:none;" placeholder="Change Location"  title="Change Location" class="qtp" id="myloc" readonly>
    <button style="width:30px;height:30px;border-radius:6px;background-color:transparent;color:black;outline:none;border:none;margin-top:15px;margin-left:6px;" title="Change Location" class="qtp">
      <img src="/media/icons/placeholder(1).png" style="width:35px;">
    </button>
    <br><br>
  {%if myteam%}
  <div class="panel panel-default" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);">
     
     <div class="" style="background-color:rgb(1,76,66);color:white;padding:10px;">Groups Chat</div>
     <div class="" id="slimscroll" style="max-height:140px;overflow-y:auto;cursor:pointer;overflow-x:hidden;">

    {% for k in myteam %}
    {%if i.id in k.team_memb%}
      <div class="panel-body mygrp{{k.id}}" style="width:260px;">
      <table>

        <tr style=""><td style="width:160px;" id="teamchat" onclick="directchat({{k.id}});" value="{{k.id}}">
          <img src="/media/icons/{{k.team_category|cut:" "}}.png" style="width:35px;height:35px;margin-right:12px;">{{k.team_category|truncatechars:14}}</td>
        <td style=""><a style="text-decoration:none;width:100%;padding-left:10px;" class="dropdrm" onclick="viewmemb({{k.id}})" title="View Members"><img src="/media/newmedia/group.png" style="width:23px;display:inline-block;" alt="View Members"></a>
          <a style="text-decoration:none;width:100%;padding-left:10px;" class="dropdrm" onclick="leavegrp({{k.id}})"  value="{{k.id}}" title="Leave Group"><img src="/media/newmedia/remove.png" style="width:23px;display:inline-block;" alt="Leave Group"></a>
</td>
</tr>
      </table>
        
        </div>
        {%endif%}
      {%endfor%}
    </div>
    
    </div>
{%endif%}

<style>
#slimscroll::-webkit-scrollbar{
  width:6px;
  background-color: transparent;
}
#slimscroll::-webkit-scrollbar-track {

  /*display: none;
    */


    border-radius: 10px;
width:3px;
opacity: 0;
}
 
/* Handle */
#slimscroll::-webkit-scrollbar-thumb {
  width:2px;
    /*display: none;
    */-webkit-border-radius: 10px;
 
    background: rgba(0,0,0.4); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
#slimscroll::-webkit-scrollbar-thumb:window-inactive {
  /*display: none;
  */background: rgba(0,0,0,0.2); 
  opacity: 0;
}

.dropdownn {
    position: relative;
    display: inline-block;
}

.dropdownn-content {
  cursor:pointer;
    display: none;
    position: fixed;
    margin-left: -100px;
    background-color: #f9f9f9;
    min-width: 130px;
    
    padding: 0px 0px;
    border:1px solid grey;
    border-radius: 6px;
    transition: all 0.7s;
    z-index: 200;
}

.dropdownn:hover .dropdownn-content {
    display: block;
}
.dropdownn-content .dropdrm:hover{
  background-color: rgba(100,186,180,1);
  color: white;

} 
.hoverqck{
  transition:all 2s;
  cursor: pointer;
padding-left: 15px;
padding-top: 10px;
}
.hoverqck:hover{
  background-color: rgba(20,200,100,0.5);

}

#quickbody::-webkit-scrollbar{
  width:6px;
  background-color: transparent;
}
#quickbody::-webkit-scrollbar-track {

  /*display: none;
    */


    border-radius: 10px;
width:3px;
opacity: 0;
}
 
/* Handle */
#quickbody::-webkit-scrollbar-thumb {
  width:2px;
    /*display: none;
    */-webkit-border-radius: 10px;
 
    background: rgba(0,0,0.4); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
#quickbody::-webkit-scrollbar-thumb:window-inactive {
  /*display: none;
  */background: rgba(0,0,0,0.2); 
  opacity: 0;
}



div.myautoscroll {
  
       overflow: hidden;
  
    }
    div.myautoscroll:hover {
        overflow: auto;
    }
    div.myautoscroll p {
        padding-right: 16px;
    }
    div.myautoscroll:hover p {
        padding-right: 0px;
    }
</style>
<script type="text/javascript">
</script>

  <div class="panel panel-default" style="
box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);padding:0px;" >
     <div class="" style="background-color:rgb(1,76,66);color:white;padding:10px;">Quick Links to Interests</div>
  <div class="panel-body myautoscroll" id="quickbody" style="height:220px;padding:0px;padding-top:6px;">

    <div class="hoverqck" onclick="document.location='../cotravelling/?place_from='"style="width:100%;">
<img src="/media/icons/Travelling.png" style="width:35px;height:35px;margin-right:12px;"><a href="../cotravelling/?place_from=" style="color:black;">Travelling</a><hr style="margin-top:5px;margin-bottom:5px;opacity:1;">
    </div>

  
  <div class="hoverqck" onclick="document.location='../cab_sharing/?place_from'"style="width:100%;">
<img src="/media/icons/Cab_Sharing.png" style="width:35px;height:35px;margin-right:12px;"><a href="../cab_sharing/?place_from" style="color:black;">Cab Sharing</a><hr style="margin-top:5px;margin-bottom:5px;opacity:1;">
</div>
  <div class="hoverqck" onclick="document.location='../rest_share/?restaurant'"style="width:100%;">
<img src="/media/Restaurant.png" style="width:35px;height:35px;margin-right:12px;"><a href="../rest_share/?restaurant" style="color:black;">Restaurant</a><hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div>
  <div class="hoverqck" onclick="document.location='../movie_share/?film'"style="width:100%;">
  <img src="/media/icons/Film.png" style="width:35px;height:35px;margin-right:12px;"><a href="../movie_share/?film" style="color:black;">Movie</a><hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div>
  <div class="hoverqck" onclick="document.location='../pcgame_share/?game'"style="width:100%;">
<img src="/media/icons/Gaming.png" style="width:35px;height:35px;margin-right:12px;"><a href="../pcgame_share/?game" style="color:black;">PC Gaming</a><hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div>
  <div class="hoverqck" onclick="document.location='../quicky_share/?quicky'"style="width:100%;">
<img src="/media/Movie.png" style="width:35px;height:35px;margin-right:12px;"><a href="../quicky_share/?quicky" style="color:black;">Quick Travel</a><hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div>
  <div class="hoverqck" onclick="document.location='../open_intrest/?q=Cricket'"style="width:100%;">
 <img src="/media/newmedia/cricket.png" style="width:35px;height:35px;margin-right:12px;"><a href="../open_intrest/?q=Cricket" style="color:black;">Cricket</a><hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div>
  <div class="hoverqck" onclick="document.location='../open_intrest/?q=Football'"style="width:100%;">
  <img src="/media/newmedia/football.png" style="width:35px;height:35px;margin-right:12px;"><a href="../open_intrest/?q=Football" style="color:black;">Football</a><hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div>
    <div class="hoverqck" onclick="document.location='../open_intrest/?q=Guitar'"style="width:100%;">
  <img src="/media/Guitar.png" style="width:35px;height:35px;margin-right:12px;"><a href="../open_intrest/?q=Guitar" style="color:black;">Guitar</a><hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div>
    <div class="hoverqck" onclick="document.location='../open_intrest/?q=Study'"style="width:100%;">
  
  <img src="/media/Study.png" style="width:35px;height:35px;margin-right:12px;">Study<hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div>
  
    <div class="hoverqck" onclick="document.location='../open_intrest/?q=Pizza'"style="width:100%;">
  <img src="/media/icons/pizza.png" style="width:35px;height:35px;margin-right:12px;">Pizza<hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div>
    
  <div class="hoverqck" onclick="document.location='../open_intrest/?q=Singing'"style="width:100%;">
  <img src="/media/Singing.png" style="width:35px;height:35px;margin-right:12px;"><a href="../open_intrest/?q=Singing" style="color:black;">Singing</a><hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div>
  <div class="hoverqck" onclick="document.location='../open_intrest/?q=Chat'"style="width:100%;">
  <img src="/media/Chatting.png" style="width:35px;height:35px;margin-right:12px;"><a href="../open_intrest/?q=Chat" style="color:black;">Chatting</a><hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div>
  <div class="hoverqck" onclick="document.location='../open_intrest/?q=Dating'"style="width:100%;">
  <img src="/media/Dating.png" style="width:35px;height:35px;margin-right:12px;"><a href="../open_intrest/?q=Dating" style="color:black;">Dating</a><hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div>
  <!-- <div class="hoverqck" onclick="document.location='../startups'"style="width:100%;">
  

  <img src="/media/Entrepreneurship.png" style="width:35px;height:35px;margin-right:12px;"><a href="../startups" style="color:black;">Entrepreneurship</a><hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div>
    <div class="hoverqck" onclick="document.location='../bands'"style="width:100%;">
  <img src="/media/MusicBand.png" style="width:35px;height:35px;margin-right:12px;">Music Band<hr style="margin-top:5px;margin-bottom:5px;opacity:1;"></div> -->
    


    </div>




</div>


</div>

   <script>

function initAutocompleted() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: {{i.latitude}}, lng: {{i.longitude}}},
    zoom: 16,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // Create the search box and link it to the UI element.
  var input = document.getElementById('pac-input');
  var searchBox = new google.maps.places.SearchBox(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  markers.push(myMark = new google.maps.Marker({
        map: map,
        title: 'Current',
        draggable:true,
        animation: google.maps.Animation.DROP,
        position: {lat: parseFloat($("#lat").val()),lng:  parseFloat($("#long").val())}
      }));
google.maps.event.addListener(myMark, 'dragend', function(evt){

  $("#lat").val(evt.latLng.lat().toFixed(5));
  $("#long").val(evt.latLng.lng().toFixed(5));
  
    document.getElementById('current').innerHTML=" ";
});

google.maps.event.addListener(myMark, 'dragstart', function(evt){
    document.getElementById('current').innerHTML = '<p>Currently dragging marker...</p>';
});
  // [START region_getplaces]
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    // Clear out the old markers.
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
    markers = [];

    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    var markno=0;
    places.forEach(function(place) {
 
      // Create a marker for each place.
      markers=[];
 markno++;
 if(markno==1){

      markers.push(myMarker = new google.maps.Marker({
        map: map,
        title: place.name,
        draggable:true,
        animation: google.maps.Animation.DROP,
        position: place.geometry.location
      }));
    }
      $("#lat").val(place.geometry.location.lat().toFixed(5));
  $("#long").val(place.geometry.location.lng().toFixed(5));
  console.log(place.geometry.location.lat().toFixed(5)+","+place.geometry.location.lng().toFixed(5));
google.maps.event.addListener(myMarker, 'dragend', function(evt){

  $("#lat").val(evt.latLng.lat().toFixed(5));
  $("#long").val(evt.latLng.lng().toFixed(5));
  
    document.getElementById('current').innerHTML=" ";
});

google.maps.event.addListener(myMarker, 'dragstart', function(evt){
    document.getElementById('current').innerHTML = '<p>Currently dragging marker...</p>';
});

map.setCenter(myMarker.position);
myMarker.setMap(map);


      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });
  // [END region_getplaces]
}


$(function(){

var loadl=1;

 // alert(localStorage.getItem('location'));
 $(".overqtp").click(function(){
  $(".overqtp").hide();
  $(".qtpa").css("margin-left","2000px");
  $(".qtpa").delay(1000).fadeOut();
  loadl=0;
  

 });


$(document).keyup(function(e) {
     if (e.keyCode == 27) { // escape key maps to keycode `27`
        // <DO YOUR WORK HERE>
    $(".overqtp").hide();
  $(".qtpa").css("margin-left","2000px");
  $(".qtpa").delay(1000).fadeOut();
  loadl=0;
    }
});


  $(".skiploc").click(function(){
  $(".overqtp").hide();
  $(".qtpa").css("margin-left","2000px");
  $(".qtpa").delay(1000).fadeOut();
  loadl=0;
  

 });

$(".chngloc").click(function(){

  $.ajax({
               type: "POST",
               url: "../positionupdate/",
               data: {'lat':$("#lat").val(),'long':$("#long").val(),'csrfmiddlewaretoken': '{{csrf_token}}'},
               dataType: "json",
               success: function(response) {
                  
                  //   alert("Success");
                  document.location="../";
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 

  
  localStorage.setItem('location','off');

});

$(".qtp").click(function(){
  $(".overqtp").show();
  $(".qtpa").show();
  $(".qtpa").css("margin-left","200px");
  $(".movelt").delay(500).animate({"margin-top":"0px"});
  $(".movert").delay(500).animate({"margin-bottom":"0px"});

  // $(".movelt").css("margin-top","0px");
  // $(".movert").css("margin-top","0px");
  if(loadl==1){
 url = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyArqXH6o_NM52R7ipu84PKLNoM7uvAuyh0&libraries=places&callback=initAutocompleted';
      $.getScript(url); 
   
  }
 

});

});
</script>

 

     <style>
     .qtpa{
      transition:all 1s;
      margin-left: 2500px;
      overflow: hidden;
     }

      #map {
        height: 100%;
      }
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

    </style>


<div class="page">
<div style="position:fixed;top:2.5%;background-color:white;mwidth:700px;z-index:50;height:95%;padding:15px; box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);display:none;color:white;background-color:#056b5d;border-radius:5px;" class="qtpa">
  <div style="position:absolute;right:10px;top:6px;cursor:pointer;color:white;" class="overqtp"><b>X</b></div>
<center>
  <h1 style="margin-top:-2000px;font-size:23px;transition:all 1s;" class="movelt">Set your Exact Location</h1><br>
</center>  
  <center><div class="movert" style="margin-bottom:-1000px;transition:all 1s;">
    <b style="float:left;">Current Location:</b>
    <div class="crntlo" style="margin-bottom:15px;"></div>
    <div style="font-size:17px;clear:both;">Drag and Drop Pink <img src="/media/newmedia/map.png" style="width:30px;"> Pin to Your Location in Map.</div></div>
    <br>
  <div style="border:none;width:600px;height:350px;padding:2px;border-radius:7px;padding-right:2px;color:black;">
   <input id="pac-input" class="controls" type="text" placeholder="Search Box" value="" style="background: rgba(255,255,255,0.6);"> 
    

  <div id="map"></div>
 
  </div>
</center>
<button class="bttun chngloc movert" style="margin-bottom:-1000px;float:right;margin-right:25px;">Change</button>

<button class="bttun skiploc movert" style="width:130px;margin-bottom:-1000px;float:right;margin-right:25px;">Back</button>

</div>
</div>

  </div>

<style type="text/css">
.bttun{
  margin-top: 10px;
  padding: 5px;
    font-size: 15px;
    width: 160px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #053e36;
    transition: all 0.8s;
    color: white;
}
.bttun:hover{

    background-color: rgb(228, 228, 223);
    color: #083e36;
    font-size: larger;
    font-weight: 700;
}
</style>

<input type="text" style="width:50px;background: rgba(255,255,255,0.6);display:none;" id="lat" value="{{i.latitude}}" name="city_lat" readonly="readonly"> 
<input type="text" style="width:50px;background: rgba(255,255,255,0.6);display:none;" id="long" value="{{i.longitude}}" name="city_long" readonly="readonly">
