{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/cssh.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
 --><script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<script src="{% static 'js/jssh.js'%}"></script>
<title>Restaurant | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style>
	#ff{
      display:none;
      opacity:0;
      }
</style>
<script>
$(document).ready(function(){

$(".hoot").keyup(function(event){
	
	if(event.which==13){
		//alert($(this).val());
		$(this).val("");
	}
});

$('.like').click(function(){
	var abc = $(this).attr('value');
	var def = abc.split(".");
	//alert(abc);
      $.ajax({
               type: "POST",
               url: "../hit/",
               data: {'sluge':def[0],'slug': def[1] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       //alert(response.z);
                       $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          }); 
    });

$('.m').click(function(){
	var q = $(this).html();
	var chatid=q.split("_");
	chtid=chatid[1].split("\"");
	var naame = q.split("<td width=\"70%\"><div style=\"font-size:14px;\">");
	var naam = "";
 	naam=naame[1].split("</div>");


	
	      $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                       		

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          }); 
    });


	

	$('.comment').click(function(){
	var abc = $(this).attr('value');

	var d = abc.split(".");
	var def = $('.'+d[1]).val();
	 if(def!=""){
	 
      $.ajax({
               type: "POST",
               url: "../comment/",
               data: {'sluge': d[0] ,'slug': d[1] ,'coment': def , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {

               			var dataa = response;
               			//dataa=dataa.replace(/[\n+]/,"\n");
               			var dat=dataa.split("@#$");
						var str="";

						for(i=0;i<dat.length-1;i++){

							if(i%4==0){
						str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
							}
						if(i%4==1){

						str+=" <b>"+dat[i]+" :: </b>";
							}
						if(i%4==2){

						str+=dat[i]+"<br>";
							}
						

						}
						var pqr = $(".commentsss").html();
						$(".commentsss").html(pqr+str);
                       $("#textarea1").html(pqr+str);
                       
                       console.log(response.z+"abc");
                        // alert(response.z);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          });
          } 
    });
    $('.opine').click(function(){
	var abc = $(this).attr('value');

	var def = abc.split(".");



      $.ajax({
               type: "POST",
               url: "../opine/",
               data: {'sluge': def[0] ,'slug': def[1] ,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
               			//alert(response.z);
               			var dataa = response.z;
               			//dataa=dataa.replace(/[\n+]/,"\n");
               			var dat=dataa.split("@#$");
						var str="";

						for(i=0;i<dat.length-1;i++){

							if(i%4==0){
						str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
							}
						if(i%4==1){

						str+=" <b>"+dat[i]+" ::</b>";
							}
						if(i%4==2){

						str+=dat[i]+"<br>";
							}
						

						}
						$(".commentsss").html(str);
						$("#textarea1").html(str);
					 if(response.z!="NO"){
                       	
						 $("#c12").show();
							
						}
						else{
						$("#c12").hide();
							
						}
						$("#c12").scrollTop($("#textarea1").prop("scrollHeight"));
						
                       console.log(dataa);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          }); 
    });

});

</script>
<script> $(document).ready(function(){ 
	$("#crtm").click(function(){
	 $(".ficrtm").fadeIn(1500); 
	 $(".focrtm").fadeIn(1000); 
	});


	  $(".focrtm").click(function(){
	   $(".ficrtm").fadeOut(); 
	   $(".focrtm").fadeOut();
	   $(".fijntm").fadeOut(); 
	   
	    });

	   $("#jntm").click(function(){ 
	   	$(".fijntm").fadeIn(1500); 
	   	$(".focrtm").fadeIn(1000); 
		});
		 $(".jntm").click(function(){
		  $(".ficrtm").fadeOut(); 
		  $(".focrtm").fadeOut();
		   });

	$("#jcrtm").click(function(){
	 $(".jficrtm").fadeIn(1500); 
	 $(".jfocrtm").fadeIn(1000);
	  }); 
	$(".jfocrtm").click(function(){
	 $(".jficrtm").fadeOut(); 
	 $(".jfocrtm").fadeOut(); 
	}); 


	  }); 

function putlog(id){

alert(id.src);
 $("#putlogo").attr("src",id.src); $("#hidlogo").val(id.src);

}


</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background-color:rgb(213, 218, 226);">
	<div class="page">
	<div class="info" style="top:3.5em;position:fixed;height:100%;">
		

		<div class="frame4" style="color:black;border-radius:7px;height:100%;"><div id="f4w">


<!-- <div class="him" style="height:80px;" onclick="openin();">
<img src="/media/file_{{count}}"  style="width:87px;height:87px;margin-top:-10px;margin-left:-8px;">
<div class="himt">&nbsp;<b style="font-size:18px;">{{title}}</b>
<br>&nbsp;<b>Interested in:</b>Cricket
</div>
</div>
 -->

 <div class="him" onclick="openin();">
<img src="{%static 'image/sports.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<span><b>Football</b></span></div><b>96</b>

<div class="hfri" style="display:none;">
<hr style="margin-top:7px;margin-bottom:2px;color:black;background-color:black;">
 <button class="button1" id="crtm" style="height:25px;width:140px;font-size:15px;position:relative;">Go for Cafe</button>
 <button class="button1" id="jntm" style="height:25px;width:140px;font-size:15px;position:relative;left:10px;">Join A Cafe</button>


<table id="t" style="width:100%;">

{%for c in a%}
{% if c.id in e %}
<tr id="t1" class="m" style="padding-left:10px;width:100%;">
<td width="25%"><div id="timg" ><img src="/media/file_{{c.id}}"  style="width:100%;"></div></td><td width="70%"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td><td width="5%"></td>
</tr>
{%endif%}
{%endfor%}

</table>
	</div>
</div>
<div class="him" onclick="openin();">
<img src="{%static 'image/chess.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<b>Chess</b></div><b>84</b>
<div class="hfri" style="display:none;">
<hr style="margin-top:7px;margin-bottom:2px;color:black;background-color:black;">



<table id="t" style="width:100%;">

{%for c in a%}
{% if c.id in e %}
<tr id="t1" class="m" style="padding-left:10px;">
<td width="25%"><div id="timg" ><img src="/media/file_{{c.id}}"  style="width:100%;"></div></td><td width="70%"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td><td width="5%"></td>
</tr>
{%endif%}
{%endfor%}

</table>
	</div>

</div>

<div class="him" onclick="openin();">
<img src="{%static 'image/guitar.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<b>Guitar</b></div><b>70</b>
<div class="hfri" style="display:none;">

<hr style="margin-top:7px;margin-bottom:2px;color:black;background-color:black;">
<table id="t">

{%for c in a%}
{% if c.id in e %}
<tr id="t1" class="m" style="padding-left:10px;">
<td width="25%"><div id="timg" ><img src="/media/file_{{c.id}}"  style="width:100%;"></div></td><td width="70%"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td><td width="5%"></td>
</tr>
{%endif%}
{%endfor%}

</table>
	</div>

</div>
<div class="him" onclick="openin();">
<img src="{%static 'image/study.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<b>Study</b></div><b>54</b>

</div>
<div class="him" onclick="openin();">
<img src="{%static 'image/party.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<b>Party</b></div><b>42</b>
</div>
<div class="him" onclick="openin();">
<img src="{%static 'image/tour.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<b>Tourism</b></div><b>20</b>
</div>
<div class="him" onclick="openin();">
<img src="{%static 'image/dance.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<b>Dance</b></div><b>14</b>
</div>
<div class="him" onclick="openin();">
<img src="{%static 'image/other.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<b>Others</b></div><b>02</b>
</div>
<div class="him" onclick="openin();">
<img src="{%static 'image/tour.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<b>Tourism</b></div><b>20</b>
</div>
<div class="him" onclick="openin();">
<img src="{%static 'image/dance.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<b>Dance</b></div><b>14</b>
</div>
<div class="him" onclick="openin();">
<img src="{%static 'image/other.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<b>Others</b></div><b>02</b>
</div>
<div class="him" onclick="openin();">
<img src="{%static 'image/tour.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<b>Tourism</b></div><b>20</b>
</div>
<div class="him" onclick="openin();">
<img src="{%static 'image/dance.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<b>Dance</b></div><b>14</b>
</div>
<div class="him" onclick="openin();">
<img src="{%static 'image/other.jpg'%}" class="himg"><div class="himt">&nbsp;&nbsp;<b>Others</b></div><b>02</b>
</div>

		<!-- <table id="t6">

				<tr id="t1" class="m6" style="padding-left:10px;">
		<img src="/media/file_{{count}}" class="img-responsive" style="width:80px;height:80px;" onclick="port(this);">{{title}}
		</tr><br><br>
		{%for c in a%}
			{% if c.id in e %}
				<tr id="t1" class="m6" style="padding-left:10px;"><td width="5%">
					<td width="25%"   style="padding-right:10px;"><div id="timgh" ><img src="/media/file_{{c.id}}"  style="width:100%;"></div></td>
			 -->	<!-- <img src="{% static 'image/dot.png'%}" style="width:100%;"> -->
				<!-- </td>
			<td width="70%"   style="padding-left:10px;"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
		</tr>
			{%endif%}
		{%endfor%}
			{%for c in a%}
			{% if c.id in e %}
				<tr id="t1" class="m6" style="padding-left:10px;"><td width="5%">
					<td width="25%"   style="padding-right:10px;"><div id="timgh" ><img src="/media/file_{{c.id}}"  style="width:100%;"></div></td>
<img src="{% static 'image/dot.png'%}" style="width:100%;"></td>
			<td width="70%"   style="padding-left:10px;"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
		</tr>
			{%endif%}
		{%endfor%}
 --> 


<!-- 	</table>
 -->
		</div>
		
</div>
		
			</div>
	
	<div class="news" style="top:3.5em;">
		<div class="frame5" style="background-color:#EFEFEF;height:165px;">

			<b>Expresses Yourself</b>

			<form name="upform" method="post" action="../upload/" enctype="multipart/form-data" style="display:none;">
               {% csrf_token %}
              
              <input type="file" name="files" multiple id="foto"/>
              
            </form>
	
			<br>
	
			<form id="abc" name="myform" method="post" action="../uploadpost/" enctype="multipart/form-data">
	              {% csrf_token %}
	              <textarea placeholder="Share something ...." class="say" name="say" style="margin-left:5%; margin-bottom:2%; margin-top:4%; border-radius:5px;height: 58px; width: 362px;"></textarea><br>
	         <button class="button1" style="height:35px;width:120px;font-size:15px;position:relative;left:130px;">Add Photo</button>
<input id="fotos" type="file" name="files" style=" opacity:0; font-size:27px;width:120px;position:relative;top:-52px;left:130px;"  multiple/>
     

	              

	              <button class="button1" style="height:35px;width:120px;font-size:15px;position:relative;top:-81px;left:255px;" type="submit">Share</button>&nbsp;
	         
	        </form>
	         <br>
		
			<div class="time">
				
			</div> 
		</div>


		{% for c in f %}
		
			<div class="frame5">
			<img src="/media/file_{{count}}" class="img-responsive" style="border-radius:50px;width:50px; height:50px; float:left; margin-right:10px;">
			<b>{{title}}</b> shared a picture.
			<br>
			<div class="time">

				September 7 at 10:16am<br><br><br>
			</div> 
			{% if c.photos >= 1 %}
			{{c.say}}
			<br><br>
			<img src="/media/file_{{count}}.{{c.photos}}" class="img-responsive" style="width:400px;" id="{{c.photos}}"  onclick="port(this);" >
			{%else%}
			{{c.say}}
			{%endif%}
			<br><b id="{{c.photos}}hits">{{c.hits}} Hits </b><b> {{c.comments}} Opines</b><br>

			

			

			<!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
	              {% csrf_token %} --> 
				<button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{count}}.{{c.photos}}"><b class="hit"><span class="glyphicon glyphicon-heart">&nbsp;Hit</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
			



			





			<b class="opine" id="{{c.photos}}abc" value="{{count}}.{{c.photos}}"><span onclick="comm(this.id)" id='{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b id="share"><span id="share"><span class="glyphicon glyphicon-share"></span>Share</b></a><br>
			<div  class="commentbox" id="commentbox{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;"><img src="/media/file_{{count}}" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

			<!-- {% if c.comnt %}

				{{ c.comnt|first }}

			{% endif %} -->
			
			
			<textarea class="{{c.photos}} hoot" id="{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

			<div class="commentsss"></div>


			<button class="comment" value="{{count}}.{{c.photos}}" id="{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

			 </div></div>

		{% endfor %}





		

		<div class="frame5">
			<img src="/media/file_{{count}}" class="img-responsive" style="border-radius:50px;width:50px; height:50px; float:left; margin-right:10px;">
			<b>{{title}}</b> changed {{l}} profile picture.
		
			<br>
			<div class="time">
				September 7 at 10:16am<br><br><br>
			</div> 
			<img src="/media/file_{{count}}" class="img-responsive" style="width:400px; height:400px;" id="a"  onclick="port(this);" >
			<br><a href="">99 Likes 2 Comments</a><br>
			<a class="hit"><span class="glyphicon glyphicon-heart">&nbsp;<b>Hit</b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="opine"><span class="opine"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;<b>Opine</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="share"><span id="share"><span class="glyphicon glyphicon-share"></span><b>Share</b></a><br>
			<div class="commentbox" style="background-color:#F0F0F0;height:50px;width:90%;"><img src="/media/file_{{count}}" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">
			<textarea style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea> </div></div>
</div>
</div>
</div><!-- 
<div class="frame66">
<div class="pccht" style="padding-top:10px;padding-left:0px">
		<table id="t6">

		{%for c in a%}
			{% if c.id in e %}
				<tr id="t1" class="m6" style="padding-left:10px;"><td width="5%"><img src="{% static 'image/dot.png'%}" style="width:100%;"></td>
			<td width="70%"   style="padding-left:10px;"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td><td width="25%"   style="padding-right:10px;"><div id="timg" ><img src="/media/file_{{c.id}}"  style="width:100%;"></div></td>
		</tr>
			{%endif%}
		{%endfor%}


	</table>
	<div id="search"><input type="text" class="box" id="chtsrch" style="width:210px;border-radius-top:10px;height:100%;" placeholder="Search" onclick=""></div>
</div></div> -->
<div class="frame6">
	<div class="pccht" style="padding-top:2px;padding-left:0px">
		<table id="t">

		{%for c in a%}
			{% if c.id in e %}
				<tr id="t1" class="m" style="padding-left:10px;">
			<td width="25%"   style="padding-left:10px;"><div id="timg" ><img src="/media/file_{{c.id}}"  style="width:100%;"></div></td><td width="70%"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td><td width="5%"><img src="{% static 'image/dot.png'%}" style="width:100%;"></td>
		</tr>
			{%endif%}
		{%endfor%}


	</table>
	<div id="search"><input type="text" class="box" id="chtsrch" style="width:210px;border-radius-top:10px;height:100%;" placeholder="Search" onclick=""></div></div>


<div class="mobcht">

<div class="frame4" style="	border: 1px solid rgba(0, 86, 134, 1);background-color: white;"><b><span id="timg" ><img src="image/pro.jpg" style="width:50px;border-radius:50px"></span><span style="font-size:14px;">  Ishita Dutta</span><img src="{% static 'image/dot.png'%}" style="width:20px;position:relative;left:80%;" >
		
				<button id="mobint1" class="button1 int1"  style="float:right;width:30px;position:relative;top:-5px;left:10px;opacity:1;"><span class="glyphicon glyphicon-chevron-down"></span></button></b>
		<div class="mobint1">
		<hr style="border-color:#A5A5A3;margin-top:10px;margin-bottom:15px">
			<div id="textarea" class="textarea">
		<table id="c7"></table>
		</div>
		<div id="type"><input class="msg" type="text" placeholder="Type Your message here" class="box" style=""></div>
	
		</div>
		</div>

<div class="frame4" style="	border: 1px solid rgba(0, 86, 134, 1);background-color: white;"><b><span id="timg" ><img src="image/a.jpg" style="width:50px;border-radius:50px"></span><span style="font-size:14px;">  Gaurav Ranjan</span><img src="{% static 'image/dot.png'%}" style="width:20px;position:relative;left:90%;" >
		
				<button id="mobint1" class="button1 int1"  style="float:right;width:30px;position:relative;top:-5px;left:10px;opacity:1;"><span class="glyphicon glyphicon-chevron-down"></span></button></b>
		<div class="mobint1">
		<hr style="border-color:#A5A5A3;margin-top:10px;margin-bottom:15px">
		<div id="textarea" class="textarea">
		<table id="c7"></table>
		</div>
		<div id="type"><input class="msg" type="text" placeholder="Type Your message here" class="box" style=""></div>
	
				</div>
		</div>

<div class="frame4" style="	border: 1px solid rgba(0, 86, 134, 1);background-color: white;"><b><span id="timg" ><img src="image/nit.jpg" style="width:50px;height:50px;border-radius:50px"></span><span style="font-size:14px;">  Nitin Vishwari</span><img src="{% static 'image/dot.png'%}" style="width:20px;position:relative;left:90%;" >
		
				<button id="mobint1" class="button1 int1"  style="float:right;width:30px;position:relative;top:-5px;left:10px;opacity:1;"><span class="glyphicon glyphicon-chevron-down"></span></button></b>
		<div class="mobint1">
		<hr style="border-color:#A5A5A3;margin-top:10px;margin-bottom:15px">
		<div id="textarea" class="textarea">
		<table id="c7"></table>
		</div>
		<div id="type"><input class="msg" type="text" placeholder="Type Your message here" class="box" style=""></div>
		
		</div>
		</div>


<div class="frame4" style="	border: 1px solid rgba(0, 86, 134, 1);background-color: white;"><b><span id="timg" ><img src="image/mohan.jpg" style="width:50px;border-radius:50px"></span><span style="font-size:14px;">  Mohan Kumar Singh</span><img src="{% static 'image/dot.png'%}" style="width:20px;position:relative;left:90%;" >
		
				<button id="mobint1" class="button1 int1"  style="float:right;width:30px;position:relative;top:-5px;left:10px;opacity:1;"><span class="glyphicon glyphicon-chevron-down"></span></button></b>
		<div class="mobint1">
		<hr style="border-color:#A5A5A3;margin-top:10px;margin-bottom:15px">
		<div id="textarea" class="textarea">
		<table id="c7"></table>
		</div>
		<div id="type"><input class="msg" type="text" placeholder="Type Your message here" class="box" style=""></div>
		
		</div>
		</div>


<div class="frame4" style="	border: 1px solid rgba(0, 86, 134, 1);background-color: white;"><b><span id="timg" ><img src="image/monu.jpg" style="width:50px;border-radius:50px"></span><span style="font-size:14px;">  Monu Mittal</span><img src="{% static 'image/dot.png'%}" style="width:20px;position:relative;left:90%;" >
		
				<button id="mobint1" class="button1 int1"  style="float:right;width:30px;position:relative;top:-5px;left:10px;opacity:1;"><span class="glyphicon glyphicon-chevron-down"></span></button></b>
		<div class="mobint1">
		<hr style="border-color:#A5A5A3;margin-top:10px;margin-bottom:15px">
		<div id="textarea" class="textarea">
		<table id="c7"></table>
		</div>
		<div id="type"><input type="text" placeholder="Type Your message here" class="box msg" style=""></div>
		
		</div>
		</div>


<div class="frame4" style="	border: 1px solid rgba(0, 86, 134, 1);background-color: white;"><b><span id="timg" ><img src="image/pro.jpg" style="width:50px;border-radius:50px"></span><span style="font-size:14px;">  Ishita Dutta</span><img src="{% static 'image/dot.png'%}" style="width:20px;position:relative;left:90%;" >
		
				<button id="mobint1" class="button1 int1"  style="float:right;width:30px;position:relative;top:-5px;left:10px;opacity:1;"><span class="glyphicon glyphicon-chevron-down"></span></button></b>
		<div class="mobint1">
		<hr style="border-color:#A5A5A3;margin-top:10px;margin-bottom:15px">
		<div id="textarea" class="textarea">
		<table id="c7"></table>
		</div>
		<div id="type"><input class="msg" type="text" placeholder="Type Your message here" class="box" style=""></div>
	
		</div>
		</div>
</div>
	</div>
	</div>
 	<div class='page'>{% include 'nav.html' %}
</div>
{% include 'frame6.html' %}
	</div>
	{% include 'chatbox.html' %}
		
</div>
</div>
<div id="overlay"></div>
<div id="over">
<div id="picframe">
		<center><img src=""></center>
	
</div>
<div id="picframe1">
		<div id="c1"><!-- 
			<div style="float:right;" id="c6">X</div> -->
			<img src="/media/file_{{count}}" id="cimg"><a href="profile.html" id="c1a"><b>{{title}}</b></a><br>
			<div id="c11">
					September 19
				</div>
				<br><br><br>
			<a  style="color:black;">102 Hits 56 Opines 10 Shares</a><br>
				<a class="hit" style="color:black;"><span class="glyphicon glyphicon-heart">&nbsp;<b>Hit</b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="opine"  style="color:black;"><span class="opine"  onclick="comm(this.id);"  id='6'><span class="glyphicon glyphicon-align-justify"></span>&nbsp;<b>Opine</b></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="share"  style="color:black;"><span id="share"><span class="glyphicon glyphicon-share"></span><b>Share</b></a><br>
			
			<div id="c12" style="display:none;"><div id="textarea1"><img src="/media/file_{{count}}" style="height:32px;width:32px;"></div></div>	

			<div id="type1">
				<br>
				<textarea style="border-radius:5px;height: 55px; width: 100%;" class="box3 porten" placeholder="Write your Opinion here" id="msg1"></textarea>
			</div>
			<button class="button1" style="float:right; margin-top:3px;width:80px;height:35px;font-size:15px;" id="opene">Opine</button>
					
		</div> 
	</div>

</div>

<div class="google"><input type="text" placeholder="Search Any Person here..." class="gbox">
<button class="button1 gg" style="width:9%;height:35px;"><span class="glyphicon glyphicon-search"></span></button></div>
<div class="cshide" style="display:none;">{{ csrf_token }}</div>
<div class="sqre"></div>


<div style="width:100%;height:100%;background-color:black;opacity:0.5;position:fixed;top:0px;display:none;" class="focrtm" ></div>
<div class="page"> <div style="position:fixed;top:50px;width:700px;margin-left:200px;background-color:white;height:600px;display:none;" class="ficrtm"> <center><h3> Select Place for Tour </h3>

Select place so that other members can join you on this.

<br><br>

<table>


<!-- <tr><td style="width:200px;"> <h4>Enter Tour's Name </h4> </td><td> <input type="text" style="width:250px;height:40px;"></td></tr> <td></td><td>Give a Name to your Tour </td>
</tr>
 --><tr>
	<td colspan="2" style="padding: 0px;">
	<input type="text" style="width:500px;height:40px;border:1px solid black;border-bottom: none;padding-left: 5px;" placeholder="Search a place to Visit...">	


	</td>

</tr>

 </table>
<table style="width:500px;">
	

	
<tr style="border:1px solid black;" onclick="document.location='../place';">
	
<td style="width:16%;overflow:hidden;padding:3px;">
	<img src="/static/4.jpg" class="img-responsive" style="width:60px;height:60px;border-radius:0px;" >
	

</td>

<td style="width:84%;overflow:hidden;padding:3px;">
<h4 style="margin-bottom:2px;"><b>Shimla</b></h4>	
Temp.: 16&deg;C<br>
16 Tours Available	
</td>

<td style="width:6%;overflow:hidden;padding:3px;">
<span class="glyphicon glyphicon-search">	
	</span>
</td>

</tr>
	
<tr style="border:1px solid black;" onclick="document.location='../place';">
	
<td style="width:16%;overflow:hidden;padding:3px;">
	<img src="/static/4.jpg" class="img-responsive" style="width:60px;height:60px;border-radius:0px;" >
	

</td>

<td style="width:84%;overflow:hidden;padding:3px;">
<h4 style="margin-bottom:2px;"><b>Shimla</b></h4>	
Temp.: 16&deg;C<br>
16 Tours Available	
</td>

<td style="width:6%;overflow:hidden;padding:3px;">
<span class="glyphicon glyphicon-search">	
	</span>
</td>

</tr>
	
<tr style="border:1px solid black;" onclick="document.location='../place';">
	
<td style="width:16%;overflow:hidden;padding:3px;">
	<img src="/static/4.jpg" class="img-responsive" style="width:60px;height:60px;border-radius:0px;" >
	

</td>

<td style="width:84%;overflow:hidden;padding:3px;">
<h4 style="margin-bottom:2px;"><b>Shimla</b></h4>	
Temp.: 16&deg;C<br>
16 Tours Available	
</td>

<td style="width:6%;overflow:hidden;padding:3px;">
<span class="glyphicon glyphicon-search">	
	</span>
</td>

</tr>
	
<tr style="border:1px solid black;" onclick="document.location='../place';">
	
<td style="width:16%;overflow:hidden;padding:3px;">
	<img src="/static/4.jpg" class="img-responsive" style="width:60px;height:60px;border-radius:0px;" >
	

</td>

<td style="width:84%;overflow:hidden;padding:3px;">
<h4 style="margin-bottom:2px;"><b>Shimla</b></h4>	
Temp.: 16&deg;C<br>
16 Tours Available	
</td>

<td style="width:6%;overflow:hidden;padding:3px;">
<span class="glyphicon glyphicon-search">	
	</span>
</td>

</tr>
	
<tr style="border:1px solid black;" onclick="document.location='../place';">
	
<td style="width:16%;overflow:hidden;padding:3px;">
	<img src="/static/4.jpg" class="img-responsive" style="width:60px;height:60px;border-radius:0px;" >
	

</td>

<td style="width:84%;overflow:hidden;padding:3px;">
<h4 style="margin-bottom:2px;"><b>Shimla</b></h4>	
Temp.: 16&deg;C<br>
16 Tours Available	
</td>

<td style="width:6%;overflow:hidden;padding:3px;">
<span class="glyphicon glyphicon-search">	
	</span>
</td>

</tr>

</table>


 <br>
<br>

<!--  <button class="button1">Create Team</button>
 -->
</center>


 </div>

</div>
 <div class="page">
  <div style="position:fixed;top:50px;width:700px;margin-left:200px;background-color:white;height:550px;display:none;" class="fijntm">
   <center>
   	<h3> Find Your Fellow Traveller </h3>
   	 Fun with your Local Friends
   	 
   	</center> 
   	<h4><center>Available Tours in Your Area</center></h4> 
   	<center>
   			<table style="width:650px;border:1px solid black;">
   	 <tr style="color:white;background-color: rgba(123, 173, 243, 1);"><b>
 			
   	 	<td style="font-size:17px;width:30%;padding-left:25px;">Destination</td>
   	 	<td style="width:15%;font-size:17px">Mode</td>
   	 	<td style="width:15%;font-size:17px">From</td>
   	 	<td style="width:15%;font-size:17px">To</td>
   	 	<td style="width:30%;font-size:17px;padding-right:10px;">View Travellers</td>
   	 	</table>
   	 </b></tr> 
   	 <div style="overflow:scroll;height:400px;">
	<table style="width:650px;" >
   	   	  <tr>
   	  	<td align="right" style="width:10%;padding-left:px;"><img src="{%static 'image/team1.jpg'%}" style="height:70px;width:70px;"></td>
   	  	<td style="width:20%;padding-left:0px;"><a href="">New Delhi</a>
   	  		</td>
   	  	<td style="width:15%;padding-left:0px;">Train</td>
   	  	<td style="width:15%;padding-left:0px;">27-1-2017</td>
   	  	<td style="width:15%;padding-right:0px;">17-2-2017</td>
   	  	<td style="width:30%;padding-right:10px;"><center><button id="jcrtm">View Traveller</button></center></td>
   	  </tr>
   	  	
   	  </table></center></div></div>
   	  <div style="width:100%;height:100%;background-color:black;opacity:0.5;position:fixed;top:0px;display:none;" class="jfocrtm"></div> 
   	  <div class="page"> 
   	  	<div style="position:fixed;width:600px;top:20px;background-color:white;height:95%;margin-left:250px;display:none;" class="jficrtm"> 
   	  		<center>
   	  		 <h2 style="margin-bottom:-30px;"><div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;"class="logtm">
   	  		  <img src="{%static 'image/team2.jpg'%}" onclick="putlog(this)" style="width:80px;height:80px;"> 
   	  		</div> 
   	  		 Shilma Traveller</h2> 
   	  		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome in Shimla Tours</center> 
   	  		<br> <br><center> <h4>Travel & Enjoy with Fellow Travellers</h4> 
   	  		<div style="border:1px solid black;width:60%;border-radius:10px;height:400px;overflow-y:scroll;">
   	  		 <table style="width:100%;"> {%for c in a%} {% if c.id in e %} 
   	  		 	<tr style="padding-left:30px;width:100%;"> 
   	  		 		<td width="15%" align="right"><div id="timg" ><img src="/media/file_{{c.id}}" style="width:100%;"></div></td>
   	  		 		<td width="50%" style="padding-left:15px;"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>

   	  		 		<td width="5%"></td>
   	  		 		<td style="width:30%;">2 Female<br>3 Male</td> 
   	  		 	</tr> {%endif%} {%endfor%} </table></div> <button class="button1" style="margin-top:10px;height:30px;">Book Your Seat</button> </center> </div> </div>



</body>
