{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<script type="text/javascript">
  function summit(){

    $("#clicked").click();
  }
</script>
<title>Groups | Zeely</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>
  <body style="background-color: #EFE5D7;"> 
<style>
  
@media screen and (max-width: 1100px)and (min-width: 640px){
.noint{

  height:95%;overflow:scroll;background-color:rgba(255,255,255,0.2);z-index:0;width:85%;position:absolute;top:30px;border-radius:7px;padding:5px;overflow: auto;min-height: 80%;margin-left: 9%;
}
.srcgroup{

  width:500px; 
}
.button1{

  margin-top: 7px;
}
}
@media screen and (max-width: 640px){

.noint{

  height:95%;overflow:scroll;background-color:rgba(255,255,255,0.2);z-index:0;width:93%;position:absolute;top:30px;border-radius:7px;padding:5px;overflow: auto;min-height: 80%;margin-left: 3%;
}
.srcgroup{

  width:80%; 
}
.button1{

  margin-top: 7px;

}
@media screen and (min-width: 1100px){



.srcgroup{

  width:90%; 
}


}
.newbtn1
  {
    border:1px solid rgb(75,172,238); padding:0px 20px 0px 20px; border-radius:15px;font-size:20px;transition: all 0.6s;height:30px;margin-left: 125px;

  color: white;
  background-color:rgb(75,172,238);

  }
  .newbtn1:hover,.newbtn1:active 
  {
    background:transparent;color:rgb(75,172,238);
  }

 .question label {
  transform-origin: left center;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}
 .question input[type="text"] {
  appearance: none;
  background-color: transparent;
  border: 1px solid white;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
 .question input[type="text"]:focus {
  outline: none;
  color: white;
  margin-top: 30px;
}
 .question input[type="text"]:valid {
  margin-top: 30px;
}
 .question input[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
 .question input[type="text"]:valid ~ label {
  text-transform: uppercase;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}

</style>
<div style="position: fixed;top: 0px;width: 100%;height: auto;background-color: white;box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);">
  <div class="page">
    
<h2 style="margin-top:70px;margin-bottom: 10px;font-size: 38px;display: inline-block;">Invite Friends</h2>

<br>
<h3 style="margin-top:5px;color: #144C5D;font-size: 15px;color: black;clear: both;display: inline-block;" class="">Mark &amp; Click on Send Invites to invite</h3>
<button style="height: 45px;width: auto;float: right;margin-right: 10px;border:none;font-size: 24px;"
 onclick="summit()" class="newbtn1 proceed">Send Invites</button>

</div>
</div>
 
  <div class="page" style="background-color: rgba(255,255,255,0);margin-top: 145px;">

  <div class="noint" style="">
<form method="post" action="" enctype="multipart/form-data" style="display: none;" name="checkto">
{% csrf_token %}

{% for c in g %}

<input type="checkbox" value="{{c.id}}" id="group_{{c.id}}" name="sel_group" class="checksell">
<button id="clicked" onclick="">clicked</button>

{%endfor%}





</form>




<script type="text/javascript">
  $(function(){


$(".srcgroup").keyup(function(){


var delgroups=document.getElementsByClassName("delgroups");
for (var i = 0; i < delgroups.length; i++) {

  delgroups[i].style.display='inline-block';

}
for (var i = 0; i < delgroups.length; i++) {
  var dd=delgroups[i].innerHTML;

dd=dd.split("<b id=\"grp\">")[1];
 dd=dd.split("</b>")[0];
var s=$(".srcgroup").val();


if((" "+dd).toLowerCase().indexOf((" "+s).toLowerCase())<0)
{
  delgroups[i].style.display='none';
}


// alert(dd);
}


});

  });

</script>


<center>
  <div style="">
{% for c in g %}



{% if c.cg_name %}

  <div style="border:1px solid #EFE5D7;width:300px;height:80px;overflow:hidden;border-radius:0px;display:inline-block;margin-left:3px; cursor:pointer;background-color:rgba(255,255,255,1);box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);margin-right: 11px;margin-bottom: 11px;" onclick="selgrp(this);" value="group_{{c.id}}" class="delgroups"><img src="/media/file_g{{c.cg_memb_id|first}}_{{c.id}}.thumbnail" style="width:100px;height:100px;display:inline-block;margin-top:-10px;margin-left:-10px;"><div style="display:inline-block;padding:4px;width: 190px;height:60px;overflow: hidden;margin-top: -5px;"> <b id="grp">{{c.cg_name}}</b><br>{{c.cg_memb_id|length}} members
 </div>
<img src="/media/blue.png" style="position: relative;top: -95px;width: 30px;left: 125px;display: none;" id="bluegroup_{{c.id}}">
 

  </div>
  {% endif %}
{%endfor%}
<br><br>
<br><br>
</div>
</center>






  </div>
</div>
<div class="cshide" style="display:none;">{{ csrf_token }}</div>
   

{% include 'picframe.html' %}
<div class="page">{% include 'nav.html'%}</div>

   </body>
</html>