{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" 
 href="{%static 'css/css2t.css'%}"/>
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<script type="text/javascript">

 
$(document).ready(function(){

$(".checktag").click(function(){

  var password=$("#tagname").val();
  


 $.ajax({
               type: "POST",
               url: "../checktag/",
               data: {'new_tag':password, 'csrfmiddlewaretoken': '{{csrf_token}}'},
               dataType: "json",
               success: function(response) {
                      
                if(response.z=="true"){
                  $(".chktag").html("<b style='color:green;'>"+password+" is Available !!</b>");

              $(".chksub").show();
                }
                else{
                    $(".chktag").html("<b style='color:red;'>"+password+" is Not Available !! Try Again...</b>");
              $(".chksub").hide();
                }

                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
   

});


$(".chksub").click(function(){

  var password=$("#tagname").val();
  
  

 $.ajax({
               type: "POST",
             url: "../checktag/",
               data: {'new_tag':password, 'csrfmiddlewaretoken': '{{csrf_token}}'},
               dataType: "json",
               success: function(response) {
                      
            if(response.z=="true"){
                  $(".chktag").html("<b style='color:green;'>"+password+" is Available !!</b>");

              $(".chksub").show();

document.forms["hashtag"].submit();
                }
                else{
                    $(".chktag").html("<b style='color:red;'>"+password+" is Not Available !! Try Again...</b>");
              $(".chksub").hide();
                }

                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
   

});




  function checkpass(){
    var password=$("#cpwd").val();
    alert(password);
    if(password.length<8){
      alert("Password length should be greater tha 8 Characters!!");
      return false;
    }
    else{
      return true;
    }

  }


$("#cpwd").keyup(function(){
if($("#cpwd").val()==$("#npwd").val())
{if($("#cpwd").val()!="")
{
  $("#chkpwd").html("Passwords Match!!!");
  $("#chkpwd").css("color","green");
  $("#showpwd").fadeIn();
}
}
else{
  $("#chkpwd").html("Passwords do not Match!!!");
  $("#chkpwd").css("color","red");
  $("#showpwd").fadeOut();


}
});

$("#pswd").click(function(){
  $(".newpwd").show();
  $(".newpwd").css("top","70px");
  $(".overpwd").fadeIn(500);

});

$("#tname").click(function(){
  $(".tgname").show();
  $(".tgname").css("top","70px");
  $(".overpwd").fadeIn(500);

});

$(".overpwd").click(function(){
  $(".tgname").fadeOut(1000);
  $(".overpwd").fadeOut(500);

});


$(".overpwd").click(function(){
  $(".newpwd").fadeOut(1000);
  $(".overpwd").fadeOut(500);

});
});
</script>
<style type="text/css">
.newboxx{
    width:220px;height:30px;border:1px solid rgba(0,0,0,0.20);padding-left:10px;border-radius:15px;padding-right:8px;font-size:13px;padding-top:1px;padding-bottom:1px;  outline: 0;
  }
  
  .newboxx:hover, .newboxx:focus 
  {
        border:2px solid rgba(75,172,238,0.5);

  }
  .newbtn1
  {
    border:1px solid rgb(75,172,238); padding:0px 20px 0px 20px; border-radius:15px;font-size:20px;transition: all 0.6s;height:30px;margin-left: 125px;

  color: white;
  background-color:rgb(75,172,238);

  }
  .newbtn1:hover,.newbtn1:active 
  {
    background:transparent;color:rgb(75,172,238);
  }
</style>
<title>Settings | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style type="text/css">
  @media screen and (min-width: 1100px){
    .tgname{
width:600px;margin-left:250px;
    }
    .newpwd{
      width:600px;margin-left:250px;
    }
.setit{
  width:750px;
  margin-left:175px;
}
.setright{
  float:right;display:inline-block;
}
}
  @media screen and (max-width: 1100px)and (min-width: 785px){
     .tgname{
width:80%;margin-left:10%;
    }
    .newpwd{
      width:80%;margin-left:10%;
    }
.setit{
  width:100%;
  margin-left:0px;
  padding-left:20px;
}

.setright{
  float:right;display:inline-block;
}
}
@media screen and (max-width: 785px){
   .tgname{
width:90%;margin-left:5%;
    }
    .newpwd{
width:90%;margin-left:5%;
    }
.setit{
  width:100%;
  margin-left:0px;

  padding-left:20px;
}

.setright{
  float:none;display:block;
  border:none;
}
}
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background-color: white;">
<br><br>
<h1 style="color:rgb(75,172,238);font-size:32;margin-left:20px;">Settings</h1>
<hr style="border:1px solid rgb(75,172,238);">
<div class="page">
  <div class="setit" style="height:auto;font-size:18px;margin-top:60px;">
  <div style="width:500px;display:inline-block;">
    <b style="float:left;">Manage your Privacy Settings</b><br>
  <div align="left" style="font-size:15px;margin-top:6px;margin-bottom:12px;"><br>Manage the audience to get your information on Zeeley:</div>
  <form  method="post" action="../privacy/" enctype="multipart/form-data" style="display:inline-block;">
               {% csrf_token %}
			
  <table style="width:100%;">
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        Who can see your profile<span style="color:red;font-size:12px;">*</span>
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
      <select class="newboxx" name="priv_prof"> 
						<option  value="1" {% if i.priv_prof == 1%} selected="selected" {%endif%}>Everyone</option>
						<option value="2" {% if i.priv_prof == 2%} selected="selected" {%endif%}>Followers Only</option>
						<option value="3" {% if i.priv_prof == 3%} selected="selected" {%endif%}>Followers and Group Members Only</option>
					</select>
        
      </td>
    </tr>
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        Location Settings<span style="color:red;font-size:12px;">*</span>
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
      <select class="newboxx" name=""> 
            <option  value="1"  selected="selected" >Show Location</option>
            <option value="2">Hide Location fom Nearby</option>
            <option value="3">Show Adjusted Distance </option>
          </select>
        
      </td>
    </tr>
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        Invitation Settings<span style="color:red;font-size:12px;">*</span>
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
      <select class="newboxx" name=""> 
            <option  value="1"  selected="selected" >ON</option>
            <option value="2">OFF</option>
          </select>
        
      </td>
    </tr>
    
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        Who can message you<span style="color:red;font-size:12px;">*</span>
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
          <select class="newboxx" name="priv_mess"> 
						<option value="1" {% if i.priv_mess == 1%} selected="selected" {%endif%}>Everyone</option>
						<option value="2" {% if i.priv_mess == 2%} selected="selected" {%endif%}>Followers Only</option>
						<option value="3" {% if i.priv_mess == 3%} selected="selected" {%endif%}>Followers and Group Members Only</option>
					</select>
        </div>
        
      </td>
    </tr>
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        Who can send you friend request
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
          <select  class="newboxx" name="priv_frnd"> 
						<option value="1" {% if i.priv_frnd == 1%} selected="selected" {%endif%}>Everyone</option>
						<option value="2" {% if i.priv_frnd == 2%} selected="selected" {%endif%}>Followers of Followers Only</option>
						<option value="3" {% if i.priv_frnd == 3%} selected="selected" {%endif%}>Followers of Followers and Group Members Only</option>
					</select>
      </td>
    </tr>
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        Who can see your email and Date of Birth
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
       <select  class="newboxx" name="priv_email"> 
						<option value="1" {% if i.priv_email == 1%} selected="selected" {%endif%}>Everyone</option>
						<option value="2" {% if i.priv_email == 2%} selected="selected" {%endif%}>Followers of Followers Only</option>
						<option value="3" {% if i.priv_email == 3%} selected="selected" {%endif%}>Followers of Followers and Group Members Only</option>
					</select> 
      </td>
    </tr>
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
        Who can see your groups Joined
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
        <select  class="newboxx" name="priv_groups"> 
						<option value="1" {% if i.priv_groups == 1%} selected="selected" {%endif%}>Everyone</option>
						<option value="2" {% if i.priv_groups == 2%} selected="selected" {%endif%}>Followers of Followers Only</option>
						<option value="3" {% if i.priv_groups == 3%} selected="selected" {%endif%}>Followers of Followers and Group Members Only</option>
					</select>
        
      </td>
    </tr>
    <tr>
      <td style="width:32%;padding:5px 0px 5px 0px;font-size:15px;">
      </td>
      <td style="width:68%;padding:5px 0px 5px 0px;">
      <button class="newbtn1">Submit</button>
      </td>
    </tr>
  </table></form> 
  </div>
  <div style="width:250px;border-left:1px solid rgba(0,0,0,0.3);padding-left:20px;" class="setright">
  
  <div style=""><b>Useful Links:</b>
</div>
<a href="../interest" style="color:black;">View Interests</a><br>
<a style="color:black;cursor:pointer;" id="pswd">Change Password</a><br>
<!-- <a style="color:black;cursor:pointer;margin-bottom:20px;" id="tname">Change #TagName</a><br>
 -->
  </div>
 
 </div>
</div>
<div class="page">
  {% include 'nav.html'%}
</div>
{% include 'picframe.html'%}
{% include 'frame6.html'%}
{% include 'chatbox.html'%}
<div style="width: 100%;background-color: black;opacity: 0.5;height: 100%;position: fixed;top: 0px;left: 0px;display: none;" class="overpwd">
      </div>
<div class="page">
<div  class="newpwd" style="position:fixed;top:70px;background:white;border-radius:7px;box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);height:auto;transition:all 1s;display:none;top:-100px;">
<center><h2><div>Change Password</div></h2>
<form  method="post" action="" enctype="multipart/form-data" onsubmit="return checkpass()">{% csrf_token %}
<input type="password" placeholder="Old Password" name="oldpassword" id="opwd" class="newboxx"><br><br>
<input type="password"  placeholder="New Password" name="newpassword" id="npwd" class="newboxx" required="required"><br><br>
<input type="password" placeholder="Confirm Password" name="confpassword" id="cpwd" class="newboxx" required="required"><br><br>
<div id="chkpwd"></div>

<button class="newbtn1" style="margin-left:0px;margin-bottom:40px;" id="showpwd">Submit</button><br>
</form>
</center>

</div>

<div style="position:fixed;top:70px;background:white;border-radius:7px;box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);height:auto;transition:all 1s;display:none;top:-100px;" class="tgname">
<center><h2><div>Change #TagName</div></h2>
<form  method="post" action="" enctype="multipart/form-data" name="hashtag">{% csrf_token %}
<input type="text" class="newboxx" value="{{ i.tagword }}" name="new_tag" id="tagname"><br>
<a style="color: black;" class="checktag">Check Availability !!</a>
<br>

<div class="chktag"></div>
<br></form>

<button class="newbtn1" style="margin-left: 0px;margin-bottom:40px;">Submit</button>
</center>

</div>
  
</div>
	
</body>
</html>