{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="c{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
    <link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
    <link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
    <script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/js2.js'%}"></script>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">

    <title>
      {{title}} | Zeeley
    </title>
    <link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <style>

      .interest
      {
        background-color: rgba(255,255,255,1);
        border: none;
      }
      .inti
      {
        background-color: rgba(255,255,255,1);
        border: none;
        cursor: pointer;
      }
      </style>
    <script type="text/javascript">
      $(function()
      {
        $(window).scrollTop(0);
      });
        $(document).ready(function(){
        $(".load").fadeOut(function(){

        $("#interest").show();
        $("#interest").css("opacity","1");

        $("#interest").css("margin-top","0px");  
        });
        
      });
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background:#ffffff;">
  <div class="frame" style="background-color:transparent;">
    <div class="page" style="background-color: transparent;">
 <center><h1 class="load"><i class="fa fa-spinner" aria-hidden="true"></i>Loading...</h1></center>
      <div id="interest" style="border: none;padding-left: 0px;background:transparent;opacity:0;margin-top:-100px;transition:all 1.5s;display:none;">
            <CENTER>
          <h3 style="margin-bottom: 8px;font-size:30px;color:black;"><b>MAKE YOUR CURRENT INTEREST</b></h3> 
          <B>
            <i style="color:blue;">Click on the pic. to make it as your Current Interest</i><br>
         
            <i style="color:purple;">Click on the interest name to view the interest</i><br>
          </B><br>
          {% for c in t %}

          <div class="inti" style="background-color: rgba(255,255,255,0.6);" onclick="document.location='../add_as_interest/?q={{c.intrest_name}}'" >

            <img src="/media/intrest/{{c.intrest_name}}.thumbnail">
            <b><a href="../open_intrest/?q={{c.intrest_name}}" style="color:rgb(7,172,238);">{{c.intrest_name}}</a></b><br>
            <span style="color:blue;">{{c.intrest_memb_id|length}} people Available</span>
          </div> 

          {% endfor %}


          <!-- <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/sports.jpg'%}">
            <b>Sports</b><br>10034 people Available
          </div> 
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/food.jpg'%}"> 
            <b>Food</b><br>1084 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/movie.jpg'%}">
            <b>Entertainment</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/guitar.jpg'%}">
            <b>Music</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/love.jpg'%}">
            <b>Love</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/party.jpg'%}">
            <b>Party</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" onclick="document.location='../open_intrest/?q=Dance'">
            <img src="{%static 'image/dance.jpg'%}">
            <b>Dance</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/tour.jpg'%}">
            <b>Travel</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/study.jpg'%}">
            <b>Study</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/pizza.jpg'%}">
            <b>Pizza</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/pcgame.jpg'%}">
            <b>PC Gaming</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/outdoors.jpg'%}">
            <b>Outdoors</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/mband.jpg'%}">
            <b>Music Band</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/entrepreneurship.jpg'%}">
            <b>Entrepreneurship</b><br>10034 people Available
          </div>

          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/chat.jpg'%}">
            <b>Chatting</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/quick.jpg'%}">
            <b>Quick Interests</b><br>10034 people Available
          </div> -->
        </center>
      </div>
    </div>
  </div>
</div>
<div class="google">
  <input type="text" placeholder="Search Any Person here..." class="gbox">
  <button class="button1 gg" style="width:9%;height:35px;">
    <span class="glyphicon glyphicon-search"></span>
  </button>
</div>
<div class="cshide" style="display:none;">{{ csrf_token }}</div>
{% include 'picframe.html'%}
{% include 'nav.html'%}
{% include 'chatbox.html' %}
</body>

  



