{% load static %}
{% load widget_tweaks %}
{% load i18n %}



<div style="width:100%;height:100%;background-color:black;opacity:0.5;position:fixed;top:0px;display:none;" class="focrtm" ></div>
<form method="post" action="" enctype="multipart/form-data">
               {% csrf_token %}
<div class="page"> <div style="background:url('/media/vv1.jpg');background-size: 100% 100%;
    background-repeat: no-repeat;border-radius: 5px;text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;color: white;" class="ficrtm"> <center><h4 style="margin-bottom:6px;"><b>Create new StartUp in <span class="teamgrp"></span></b></h4></center>
<input type="text" name="stup_name" style="width:100%;border-radius:0px;box-shadow:0px;margin-bottom:3px;background-color: rgba(255,255,255,0.6);color: black;  " placeholder="StartUp Name">
<textarea type="text" name="stup_des" style="width:100%;border-radius:0px;height:100px;" placeholder="About your StartUp(optional)">
</textarea><b>
StartUp members Required for Post of</b><br>
<table><tr><td width="10%">
<input type="checkbox" name="design" value="ceo"  ></td><td width="80%">CEO</td><td width="10%"> <select style='color:black;'  name="ceo" ><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input type="checkbox"name="design" value="techops"></td><td width="80%">Tech Ops</td><td width="10%"> <select style='color:black;'  name="techops" ><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input type="checkbox"name="design" value="sales"></td><td width="80%">Sales &amp; Marketing</td><td width="10%"> <select style='color:black;'  name="sales" ><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input type="checkbox"name="design" value="hr"></td><td width="80%">HR</td><td width="10%"> <select style='color:black;'  name="hr" ><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input type="checkbox"name="design" value="busdev"></td><td width="80%">Business Development</td><td width="10%"> <select style='color:black;'  name="busdev" ><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input type="checkbox"name="design" value="custser"></td><td width="80%">Customer Service</td><td width="10%"> <select style='color:black;'  name="custser" ><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input type="checkbox"name="design" value="salesman"></td><td width="80%">Sales</td><td width="10%"> <select style='color:black;'  name="salesman" ><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input type="checkbox"name="design" value="rnd"></td><td width="80%">R & D</td><td width="10%"> <select style='color:black;'  name="rnd" ><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr><tr><td width="10%">
<input type="checkbox"name="design" value="adm"></td><td width="80%">Admin</td><td width="10%"> <select style='color:black;'  name="adm" ><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</tr>
</tr><tr><td width="10%">
<input type="checkbox"name="design" value="other"></td><td width="80%">Other<input type="text" name="stup_other" style="width:100px;height:18px;"></td><td width="10%"> <select style='color:black;'  name="other" ><option value="1">1</option><option value="2">2</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td>
</table>
<br>
<b>Select photo for the Band:</b> <input type="file" name="files" style="display:inline;"><br><br>
<input class="teamg" type="hidden" name="team_group" >
<br><center><button class="button1" style="width:150px;font-size: 16px;">Create StartUp</button>&nbsp;&nbsp;&nbsp;
<button class="button1 back1" onclick="return false" style="width:150px; ">Back</button></center>
</div>

</div>


 <div class="page">
  <div style="background:url('/media/vv111.jpg');background-size: 100% 100%;
    background-repeat: no-repeat;border-radius: 5px;" class="fijntm">
   <center class='texts'>
    <h3> View StartUps </h3>
     Open StartUp with your Local Friends
     
    </center> 
    <h4 class='texts'><center>Available StartUps in Your Area</center></h4> 
    <center>
        <table style="width:100%;border:1px solid black;">
     <tr style="background-color: rgba(255,255,255, 0.8);"><b>
      <td style="font-size:17px;width:15%;"></td>
      <td style="font-size:17px;width:30%;padding-left:10px;">StartUp Name</center></td>
      <td style="width:20%;font-size:17px">Category</center></td>
      <td style="width:17%;font-size:17px">Vacancy</center></td>
      <td style="width:18%;font-size:17px">Join!!!</center></td></tr> 
      </table>
     </b>
     <div style="overflow:auto;;height:400px;">
  <table style="width:100%;" >
      
    {% for c in bands %} 
       <tr style="background-color: rgba(255,255,255, 0.6);">
        <td align="right"  style="width:15%;"><img src="/media/file_startup_{{c.id}}.thumbnail" style="height:70px;width:70px;"></td>
        <td style="width:30%;padding-left:10px;"><a href="../entrepreneurship/?q={{c.startup_name}}" style="color: black;">{{c.startup_name}}</a>
          </td>
      <td style="width:20%;">{{c.startup_descript}}</td>        
        <td style="width:17%;">{{c.startup_V_guitar|add:c.startup_V_ceo|add:c.startup_V_techop|add:c.startup_V_salesmark|add:c.startup_V_hr|add:c.startup_V_busdev|add:c.startup_V_custser|add:c.startup_V_adm|add:c.startup_V_salesman|add:c.startup_V_rnd|add:c.startup_V_other}}</td>
        <td style="width:18%;"><button><a href="../entrepreneurship/?q={{c.startup_name}}" style="color: black;">View Team</a></button></td>
      </tr>
      {%endfor%}
      
      
        </div>
      </table><br><br><button class="button1 back1" onclick="return false" style="width:150px; ">Back</button></center></div></div>