
{% load static %}

{% load i18n %}


{% load extras %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="c{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
    <link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
    <link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">

    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
    <script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/js2.js'%}"></script>
    <title>
      Companies | Zeeley
    </title>
    <link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <style>

      .interest
      {
        background-color: rgba(255,255,255,0.5);
        border: none;
      }
      .inti
      {
        background-color: rgba(255,255,255,0.1);
        border: none;
        cursor: pointer;
      }
      </style>
    <script type="text/javascript">
      $(function()
      {
        $(window).scrollTop(0);
      });
      $(document).ready(function(){
        $(".load").fadeOut(function(){

        $("#interest").show();
        $("#interest").css("opacity","1");

        $("#interest").css("margin-top","180px");  
        });
        
      });
    </script>
</head>
<body style="background: #ffffff;">
  <div class="frame" style="background-color:transparent;">
       <div style="width:100%;position:fixed;background: #E9EBEE;top:40px;padding-left:150px;box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);">
          <h3 style="margin-bottom: 8px;font-size:30px;color:black;"><b>Create or Join Companies</b></h3> 
          <B>
            <i style="color:blue;">Click on a Company to View it</i><br>
          </b><br>
          </div>
 
    <div class="page" style="background-color: transparent;">
    <center><h1 class="load"><i class="fa fa-spinner" aria-hidden="true"></i> Loading...</h1></center>
      <div id="interest" style="border: none;padding-left: 0px;background:transparent;opacity:0;margin-top:-100px;transition:all 1.5s;display:none;">
        <CENTER>
        <div class="inti" style="background-color: rgba(255,255,255,0.6);" onclick="document.location='../homestartup/'"><center>
            <img src="/media/new.ico" style="width:100px;"></center><br>
            <b>Create Your New Company</b><br>So others can join you
          </div> 
       {% for c in t %}

          <div class="inti" style="background-color: rgba(255,255,255,0.6);" onclick="document.location='../entrepreneurship/?q={{c.startup_name}}'">
            <img src="/media/file_startup_{{c.id}}.jpg">
            <b>{{c.startup_name}}</b><br>{{c.startup_memb|length}} people Available
          </div> 

          {% endfor %}
           

           </center>
      </div>
    </div>
  </div>
</div>
<div class="google">
  <input type="text" placeholder="Search Any Person here..." class="gbox">
  <button class="button1 gg" style="width:9%;height:35px;">
    <span class="glyphicon glyphicon-search"></span>
  </button>
</div>
<div class="cshide" style="display:none;">{{ csrf_token }}</div>
{% include 'nav.html'%}

{% include 'chatbox.html'%}
{% include 'picframe.html'%}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');
</script>
</body>

  



