{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/cssin.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>


<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
 --><script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<title>Profile | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style>
	#ff{
      display:none;
      opacity:0;
      }
</style>

<script>
$(document).ready(function(){

$(".hoot").keyup(function(event){
	
	if(event.which==13){
		//alert($(this).val());
		$(this).val("");
	}
});

$('.like').click(function(){
	var abc = $(this).attr('value');
	var def = abc.split(".");
	//alert(abc);
      $.ajax({
               type: "POST",
               url: "../hit/",
               data: {'sluge':def[0],'slug': def[1] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       //alert(response.z);
                       $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          }); 
    });

$('.m').click(function(){
	var q = $(this).html();
	var chatid=q.split("_");
	chtid=chatid[1].split("\"");
	var naame = q.split("<td width=\"70%\"><div style=\"font-size:14px;\">");
	var naam = "";
 	naam=naame[1].split("</div>");


	
	      $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                       		

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          }); 
    });


	

	$('.comment').click(function(){
	var abc = $(this).attr('value');

	var d = abc.split(".");
	var def = $('.'+d[1]).val();
	 if(def!=""){
	 
      $.ajax({
               type: "POST",
               url: "../comment/",
               data: {'sluge': d[0] ,'slug': d[1] ,'coment': def , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {

               			var dataa = response;
               			//dataa=dataa.replace(/[\n+]/,"\n");
               			var dat=dataa.split("@#$");
						var str="";

						for(i=0;i<dat.length-1;i++){

							if(i%4==0){
						str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
							}
						if(i%4==1){

						str+=" <b>"+dat[i]+" :: </b>";
							}
						if(i%4==2){

						str+=dat[i]+"<br>";
							}
						

						}
						var pqr = $(".commentsss").html();
						$(".commentsss").html(pqr+str);
                       $("#textarea1").html(pqr+str);
                       
                       console.log(response.z+"abc");
                        // alert(response.z);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          });
          } 
    });
    $('.opine').click(function(){
	var abc = $(this).attr('value');

	var def = abc.split(".");



      $.ajax({
               type: "POST",
               url: "../opine/",
               data: {'sluge': def[0] ,'slug': def[1] ,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
               			//alert(response.z);
               			var dataa = response.z;
               			//dataa=dataa.replace(/[\n+]/,"\n");
               			var dat=dataa.split("@#$");
						var str="";

						for(i=0;i<dat.length-1;i++){

							if(i%4==0){
						str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
							}
						if(i%4==1){

						str+=" <b>"+dat[i]+" ::</b>";
							}
						if(i%4==2){

						str+=dat[i]+"<br>";
							}
						

						}
						$(".commentsss").html(str);
						$("#textarea1").html(str);
					 if(response.z!="NO"){
                       	
						 $("#c12").show();
							
						}
						else{
						$("#c12").hide();
							
						}
						$("#c12").scrollTop($("#textarea1").prop("scrollHeight"));
						
                       console.log(dataa);
                 },
                  error: function(rs, e) {

                   alert(rs.responseText);
                  }
          }); 
    });

});

</script>

 <script>

$(function(){


$(window).scroll(function(){
		console.log($(window).scrollTop());
	//	if($(window).scrollTop()>0)
		 $("#coverfoto").css("top",40-$(window).scrollTop()/3+"px");
	//	else {
	//		$("#coverfoto").css("top",40-document.getElementById("myDiv").scrollTop/3+"px");
	//	}
		 if($(window).scrollTop()>=310){
		$("#coverf").show();
		$(".rod").css("position","fixed");
		$(".rod").css("top","140px");
			$(".naam").css("position","fixed");
		 	$(".naam").css("top","52px");
			 
				$(".button1").css("position","fixed");
			$(".button1").css("top","67px");


		}
		 if($(window).scrollTop()<310){
		$("#coverf").hide();
			$(".rod").css("position","absolute");
			$(".rod").css("top","450px");
				$(".naam").css("position","absolute");
		 	$(".naam").css("top","362px");
			 
				$(".button1").css("position","absolute");
			$(".button1").css("top","375px");

			
}
	

	
});




});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background-color:rgb(255,255,255);">
<div style="width:100%;height:440px;overflow:hidden;" id="coverfoto">
<img src="{% static 'football.jpg'%}" style="width:100%;" >
</div>

<div style="width:100%;height:10px;background-color:rgba(0, 86, 134, 1);position:absolute;top:440px;" class="rod"></div>

<div class="ovver" style="opacity:0.2;"></div>


<br><br>
<div class="ver" id="myDiv">
	<div class="page">
		<div class="info" style="top:0px;">
			<br>
			<div class="frame4" id="xxml">
				<div class="top"><h4><b>Live Football News :</b></h4></div>

			</div>
		</div>
		<div class="news"  style="top:0px;">
		<br>
	


			<div class="frame5" style="padding:0px;">
				<div id="mapholder"></div>

			</div>
			
				<div class="frame5"> 
	<iframe src="http://www.omnibet.ro/livescore/"  frameborder="0" height="8000" width="650" style="overflow-x:hidden; overflow-y:hidden;"></iframe>
			
				</div>

					{% for c in f %}
	
			<div class="frame5">
			<img src="{% static 'image/sports.jpg' %}" class="img-responsive" style="border-radius:50px;width:50px; height:50px; float:left; margin-right:10px;">
			<b>Football</b> shared a picture.
			<br>
			<div class="time">

				September 7 at 10:16am<br><br><br>
			</div> 
			{% if c.photos >= 1 %}
			{{c.say}}
			<br><br>
			<img src="/media/file_{{count}}.{{c.photos}}" class="img-responsive" style="width:400px;" id="{{c.photos}}"  onclick="port(this);" >
			{%else%}
			{{c.say}}
			{%endif%}
			<br><b id="{{c.photos}}hits">{{c.hits}} Hits </b><b> {{c.comments}} Opines</b><br>

			

			

			<!-- <form name="hits" method="post" action="" enctype="multipart/form-data">
	              {% csrf_token %} --> 
				<button class="like" style="background-color:Transparent;border-color:Transparent; " name="hit" value="{{count}}.{{c.photos}}"><b class="hit"><span class="glyphicon glyphicon-heart">&nbsp;Hit</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>


			<b class="opine" id="{{c.photos}}abc" value="{{count}}.{{c.photos}}"><span onclick="comm(this.id)" id='{{c.photos}}' value="{{c.photos}}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Opines</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b id="share"><span id="share"><span class="glyphicon glyphicon-share"></span>Share</b></a><br>
			<div  class="commentbox" id="commentbox{{c.photos}}" style="background-color:#F0F0F0;width:90%;height:auto;"><img src="/media/file_{{count}}" class="img-responsive" style="width:40px; height:40px; float:left;margin-top:5px;border-radius:50px;margin-left:10px;">

			
			<textarea class="{{c.photos}} hoot" id="{{c.photos}}b" onkeyup="baba(this,event)" name="comnt"  style="margin-left:15%; margin-bottom:4%; margin-top:-30%; border-radius:5px;height: 40px; width: 81%;" class="box3" placeholder="Write your Opine here"></textarea>

			<div class="commentsss"></div>


			<button class="comment" value="{{count}}.{{c.photos}}" id="{{c.photos}}ba" style="display:none; position:absolute;right:110px;font-size:12px;">Submit</button>

			 </div></div>

		{% endfor %}


		</div>
	</div>
</div>
<div style="width:100%;height:214px;overflow-y:hidden;display:none;position:fixed;top:-66px;" id="coverf">
<img src="{% static 'football.jpg'%}" style="width:100%;" >
</div>
<div style="width:100%;height:10px;position:absolute;top:440px;background-color:rgba(0, 86, 134, 1);" class="rod"></div>

<i style="position:absolute;top:362px;color:white;left:150px;font-size:40px;transition:all 0.5s;z-index:1;" class="naam">Football</i>

<button class="button1" style="background-color:transparent;position:absolute;top:375px;border-color:white;right:150px;"><b><strong>Add as Interest</strong></b></button>
<button class="button1" style="background-color:transparent;position:absolute;top:375px;border-color:white;right:350px;
"><b><strong>Photos</strong></b></button>
 
{% include 'nav.html' %}
{% include 'frame6.html' %}
	</div>
{% include 'chatbox.html' %}
 	
</div>
<div class="cshide" style="display:none;">{{ csrf_token }}</div>
<div class="foot" style="display:none;"></div>
{% include 'picframe.html'%}

</body>