{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="c{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
    <link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
    <link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
    <script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">

    <script src="{% static 'js/js2.js'%}"></script>
    <title>
      Study | Zeeley
    </title>
    <link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <style>

      .interest
      {
        border: none;
      }
      .inti
      {
        border: none;
        cursor: pointer;
      }
      </style>
    <script type="text/javascript">
      $(function()
      {
        $(window).scrollTop(0);
      });
          $(document).ready(function(){
        $(".load").fadeOut(function(){

        $("#interest").show();
        $("#interest").css("opacity","1");

        $("#interest").css("margin-top","0px");  
        });
      });
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body  style="background:#E9EBEE;">
  <div class="frame" style="background-color:transparent;">
    <div class="page" style="background-color: transparent;">
     <center><h1 class="load"><i class="fa fa-spinner" aria-hidden="true"></i> Loading...</h1></center>
      <div id="interest" style="border: none;padding-left: 0px;background:transparent;opacity:0;margin-top:-100px;transition:all 1.5s;display:none;">
     <CENTER>
          <h3 style="margin-bottom: 3px;color:rgb(0,160,172);font-size:30px;">CHOOSE A SUBJECT</h3> 
          <B>
            <i style="color:purple">Click on a subject to View it </i><br>
          </B><br>
          {% for c in t %}

          <div class="inti" style="background-color: rgba(255,255,255,1);" onclick="document.location='../subject/?q={{c.subjects_name}}'">
            <img src="/media/file_sub_{{c.id}}.jpg">
            <b style="color:rgb(0.150,152);">{{c.subjects_name}}</b><br>
            <span style="color:purple;">
            {{c.subjects_memb_id|length}} people Available
            </span>
          </div> 

          {% endfor %}


         
        </center>
      </div>
    </div>
  </div>
</div>
<div class="google">
  <input type="text" placeholder="Search Any Person here..." class="gbox">
  <button class="button1 gg" style="width:9%;height:35px;">
    <span class="glyphicon glyphicon-search"></span>
  </button>
</div>
<div class="cshide" style="display:none;">{{ csrf_token }}</div>
{% include 'picframe.html'%}
{% include 'nav.html'%}
</body>

  



