<div class="info">
		<div class="frame4 frame41"  style="border: 1px solid rgba(0, 86, 134, 1);background-color: white;color:black;" style="background-color:white;color:black;" id="show">
		<div class="e4">
			<b>Interested in</b>&nbsp;<a style="color:black;">{{i.current_intrest}}</a><br>
			<b>Works at</b> &nbsp;<a style="color:black;">{{i.work}}</a><br>
			<b>Current Place</b>&nbsp;<a style="color:black;">{{i.current_place}}</a><br>
			<b>Hometown</b>&nbsp;<a style="color:black;">{{i.hometown}}</a></div>
	
		</div><div class="frame4 fr frame42" style="padding-right:15px;background-color:white;color:black;" id="hide" >
		<form name="editprof" method="post" action="" enctype="multipart/form-data">
	        {% csrf_token %}
			<b>Current Interest</b><br>
			<input type="text" class="box box1 box2" name="currentintrest" value="{{i.current_intrest}}"><br>
			<b>Work</b><br>	
			<input type="text" class="box box1 box2" name="work" value="{{i.work}}" ><br>
			<b>Current Place</b><br>			
			<input type="text" class="box box1 box2" name="currentplace" value="{{i.current_place}}" ><br>
			<b>Hometown</b>		
			<input type="text" class="box box1 box2" name="hometown" value="{{i.hometown}}" ><br>
			<button type="submit" id="edpf" style="position:absolute;right:110px;font-size:12px;">Share</button>
		</form>
	
	</div>
		<div class="frame4"><b>
<div class="top">
		<a href="../interest.html" style="color:white;">Interests</a></div></b><div id="f4w" class="f4w"><div class="inntt">

			<!-- <img src="image\unedited images\Sports\main\8.jpg" style="width:100px;height:100px;" class="int"><img src="image\unedited images\Sports\main/4.jpg" style="width:100px;height:100px;" class="int"><img src="image/sex.jpg" style="width:100px;height:100px;"  class="int"><br><img src="image/lesb.jpg" style="width:100px;height:100px;" class="int"><img src="image\unedited images\Sports\main/5.jpg" style="width:100px;height:100px;" class="int"> --><img src="/media/file_{{count}}" style="width:100px;height:100px;" class="int"><br>
		</div>
		</div></div>
		<div class="frame4">
			<div class="top">
		<b>Friends :</b></div><div id="f4w" class="f4w">
<div class="fho">
			{% for c in e %}
			
				
				<img src="/media/file_{{c}}" style="width:100px;height:100px;" class="int">
		
			
			{%endfor%}
</div>
		</div></div>
		<div class="frame4">
		<div class="top"><b><a href="../photo" style="color:white;">Photos :</a> :</b></div><div id="f4w" class="f4w">
		<div class="fri">
			<img src="/media/file_{{count}}" style="width:100px;height:100px;" class="int">
			{% for c in f %}
				

				{% if c.photos >= 1 %}
					<img src="/media/file_{{count}}.{{c.photos}}" style="width:100px;height:100px;" onclick="port(this)" class="int">
				{%endif%}
			{%endfor%}
			</div>
</div></div>
	
			</div>
	<div class="tab">
		<center><a href="../photo">
		<button class="button1" style="position:absolute;left:1%;"><span class="glyphicon glyphicon-camera"></span> Photos :</button></a>
		<a href="../friends"><button class="button1" style="position:absolute;left:25.25%;"><span class="glyphicon glyphicon-user"></span> Friends</button></a><a href="../interest.html">
		<button class="button1" style="position:absolute;left:49.50%;"><span class="glyphicon glyphicon-glass"></span> Interests</button></a>
		<button class="edit button1" id="edit" onclick="return editprofile(this.id);"  class="button1" style="position:absolute;left:73.75%; width:24%" ><span class="glyphicon glyphicon-pencil"></span>Edit Profile</button>
	<button id="edit2" style="position:absolute;left:73.75%; width:24%;display:none;"  class="edit1 button1" onclick="return editprofile(this.id);" >Save Changes</button>

		</center>
		</div>
<div class="tab1">
		 <a href="../photo">
		<button class="button1"><span class="glyphicon glyphicon-camera"></span>Photos :</button>
		</a>
		<a href="../friends">
		<button class="button1"><span class="glyphicon glyphicon-user"></span> Friends</button></a><a href="../interest.html">
		<button class="button1"><span class="glyphicon glyphicon-glass"></span> Interests</button></a>
		<button id="edit" onclick="return editprofile(this.id);"  class="button1 edit"><span class="glyphicon glyphicon-pencil"></span>Edit Profile</button>
		<button id="edit2" style="display:none;" class="edit1 button1" onclick="return editprofile(this.id);" >Save Changes</button>

		</div>

	<div class="news">
	<div class="mob">
			<center> <a href="../photo">
			<button class="button1"><span class="glyphicon glyphicon-camera"></span>Photos :</button></a><a href="../friends">
		<button class="button1"><span class="glyphicon glyphicon-user"></span> Friends</button></a><a href="../interest.html">
		<button class="button1"><span class="glyphicon glyphicon-glass"></span> Interests</button></a>
		</center>
		<div class="frame4 frame41m" id="show" style="border: 1px solid rgba(0, 86, 134, 1);background-color: white;">
		</div>
	<div class="frame4 frame42m" style="padding-right:15px;" id="hide" >
		<b>Current Interest</b><br>
		<input type="text" class="box box1 box2" value="Cricket"><br>
		<b>Work</b><br>	
		<input type="text" class="box box1 box2" value="Bollywood" ><br>
		<b>Current Place</b><br>			
		<input type="text" class="box box1 box2" value="Mumbai" ><br>
		<b>Hometown</b>		
		<input type="text" class="box box1 box2" value="Mumbai" ><br>
	</div>
	
		<div class="frame4 frame43m" style="	border: 1px solid rgba(0, 86, 134, 1);background-color: white;"><b><a href="../interest.html">Interests</a> :
			<button id="mobint" class="button1"  style="float:right;width:30px;position:relative;top:-5px;left:10px;"><span class="glyphicon glyphicon-chevron-down"></span></button></b>
		<div class="mobint">
		</div></div>
		<div class="frame4 frame44m"  style="	border: 1px solid rgba(0, 86, 134, 1);background-color: white;">
			<b>Friends :
			<button id="mobfri"  class="button1" style="float:right;width:30px;position:relative;top:-5px;left:10px;"><span class="glyphicon glyphicon-chevron-down"></span></button></b>
			<div class="mobfri">
		</div></div>

		<div class="frame4  frame45m" style="	border: 1px solid rgba(0, 86, 134, 1);background-color: white;"><b><a href="../photo">Photos :</a> :
			<button id="mobpho" class="button1" style="float:right;width:30px;position:relative;top:-5px;left:10px;"><span class="glyphicon glyphicon-chevron-down"></span></button></b>
			
		<div class="mobpho">
		</div></div></div>
<div id="interest" style="padding-right:15px;">
	<h3 style="margin-left:20px;">Friends :<br>
	</h3><br>



					


			{% for c in h %}
				<div class="frame7" id="show" style="border: 1px solid rgba(0, 86, 134, 1);background-color: white;">
			
				
				<img src="/media/file_{{c.id}}" style="width:100px;height:100px;" class="int">
		<div class="e5">
			<div class="frnds" style="font-size:16px;"><b>{{c.first_name}} {{c.last_name}}</b></div>
			

			Interested in&nbsp;<a>{{c.current_intrest}}</a><br>
		<p id="mut_f"></p>
			</div>
		
		</div>
			{%endfor%}

			{% for c in d %}
				<div class="frame5" style="height:auto;">
				

			
			<img src="/media/file_{{c.id}}" class="img-responsive" style="border-radius:10px;width:100px; height:100px; margin-right:10px;float:right">
			<a href="../get/{{c.id}}"><h> <b style="font-size:18px;">{{c.first_name}} {{c.last_name}}</b> </h></a><br><span> Interested in&nbsp;<a>{{c.current_intrest}}</a></span><br>
			<span>Works at &nbsp;<a>{{c.work}}</a><br></span>
			<span>Current Place</b>&nbsp;<a>{{c.current_place}}</a><br></span> 
			<span>Hometown</b>&nbsp;<a>{{c.hometown}}</a></span>
			Hometown</b>&nbsp;<a>{{c.hometown}}</a><br>
			
			<a href="../../../acceptrequest/{{c.id}}" ><button style="position:absolute;right:250px;font-size:15px;">Accept request</button>
			<a href="../../../deleterequest/{{c.id}}" ><button style="position:absolute;right:110px;font-size:15px;">Delete request</button>
			
</div><br>
			{%endfor%}

			{% for c in b %}
				<div class="frame5 abcd" style="height:auto;">
				

			
			<img src="/media/file_{{c.id}}" class="img-responsive" style="border-radius:10px;width:100px; height:100px; margin-right:10px;float:right">
			<a href="../get/{{c.id}}"><h> <b style="font-size:18px;">{{c.first_name}} {{c.last_name}}</b> </h></a><br><span> Interested in&nbsp;<a>{{c.current_intrest}}</a></span><br>
			<span>Works at &nbsp;<a>{{c.work}}</a><br></span>
			<span>Current Place</b>&nbsp;<a>{{c.current_place}}</a><br></span> 
			<span>Hometown</b>&nbsp;<a>{{c.hometown}}</a></span>
			Hometown</b>&nbsp;<a>{{c.hometown}}</a><br>
			
			<a href="../../../sendrequest/{{c.id}}" ><button style="position:absolute;right:130px;font-size:15px;">Add Friend</button>
			
</div><br>
			{%endfor%}
	</div>


		
		
		</div>
		
		
</div>
</div>
</div> 
<div class="frame1" style="background-color:rgb(213, 218, 226);"><CENTER><img src="{%static 'image/macA.png'%}" style="" onclick="port(this);" ></CENTER>
	</div>
<div class="frame2">
	<div class="page">	<ul id="nav4"></ul>
</div>
</div>
<div class="page">
<div class="frame3">
	<img src="/media/file_{{count}}" class="img-responsive"  onclick="port(this);">
	
	<div class="dp1">
		
		<span class="glyphicon glyphicon-camera" style="font-size:30px;"></span>		
	</div>
	<div class="dp"  onclick="chdp();">
		<div class="txt">
			Change Profile Picture
	
		</div>
	</div>
</div>





<button id="edit" onclick="return editprofile(this.id);" >Edit Profile</button>
	<button id="edit2" class="edit1" onclick="return editprofile(this.id);" >Save Changes</button>




 <div class="name" style="font-size:1.8em;"><br>
{{title}}
</div>

	</div>
 	{% include 'nav.html' %}
 	{% include 'chatbox.html' %}
</div>
{% include 'picframe.html'%}
<div class="google"><input type="text" placeholder="Search Any Person here..." class="gbox">
<button class="button1 gg" style="width:9%;height:35px;"><span class="glyphicon glyphicon-search"></span></button></div>