{% load static %}
{% load i18n %}
{% load extras %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/cssin.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
 --><script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>Travelling | Zeeley</title>
<link rel="icon" href="/media/file_{{count}}.jpg" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<script>

      function initAutocomplete() {
        var input = document.getElementById('pac-input');
        var input1 = document.getElementById('pac-input1');
        var searchBox = new google.maps.places.SearchBox(input);
     var searchBox1 = new google.maps.places.SearchBox(input1);
    
       
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();
         $("#fromlat").val(places[0].geometry.location.lat());

          $("#fromlong").val(places[0].geometry.location.lng());
          if (places.length == 0) {
            return;
          }


        });
        searchBox1.addListener('places_changed', function() {
          var places = searchBox1.getPlaces();
           $("#tolat").val(places[0].geometry.location.lat());

          $("#tolong").val(places[0].geometry.location.lng());

         
          if (places.length == 0) {
            return;
          }

        });

      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArqXH6o_NM52R7ipu84PKLNoM7uvAuyh0&libraries=places&callback=initAutocomplete"
         async defer></script>
<style>
  #ff{
      display:none;
      opacity:0;
      }
      #nav1,#nav2,#nav3,#nav4,.rod,.top{
        background-color: rgb(22,57,76);
      }
      .rod{
        background-color: rgb(22,57,76);
        
      }
      
</style>

<meta charset="utf-8">
 
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="{% static 'jquery-ui.js' %}"></script>

  <script>
  $(function() {
var asd=0;

    $(window).scroll(function(){
        if($(window).scrollTop()>250 && asd<1){

          $(".mycabins").css("position","fixed");
         $(".mycabins").css("top","45px");
         $(".mycabins").css("background-color","black");
           asd=1;
        }
         if($(window).scrollTop()<250 && asd>0){

          $(".mycabins").css("position","absolute");
         $(".mycabins").css("top","300px");
         $(".mycabins").css("background-color","rgba(0,0,0,0.7)");
           asd=0;
        }


    });

    $(".sendmsg").click(function(){

    var iid=$(this).val();
  //  alert(iid);

      $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':iid,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       var naam =[];
                
    var id1=[];
    id1.push($(".sendmsg").val());

                       naam.push(response.naam) ;
                       chatdel(naam,id1,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                          

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes counter is now ' + response.likes_counter);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });

          $(".sendjoin").click(function(){

            var iid=$(this).val();
  //  alert(iid);

      $.ajax({
               type: "POST",
               url: "../cab_request/",
               data: {'cab_id':iid,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       alert(response.z);
    
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 


       }); 

    $( "#id_trip_form" ).datepicker();
  });
  </script>
<style type="text/css">
  .cass::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.cass:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
.cass::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
.cass:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
</style>


</head>
<body style="background:url('http://10.9.10.3:8000/static/Travelling.png') no-repeat fixed 100% !important; ">
<div class="" style="position: absolute;top: 0px;width:100%;height:100%;background-color: rgba(0,0,0,0.65);background-image:url('http://10.9.10.3:8000/static/Travelling.png');">

</div>
 
<div style="position: absolute;top:100px;width: 100%;height: 80px;padding-top: 10px;">
<center><h1 style="color: white;font-size: 70px;margin-bottom: 5px;">Share Your Cab</h1></center>
<center><hr style="width: 500px;margin-top: -7px;"></center>
</div> 
<div style="position: absolute;top: 300px;width: 100%;background-color: rgba(0,0,0,0.25);height: 80px;padding-top: 10px;z-index: 2;transition: all 0.4s;" class="mycabins">
<form name="upform" method="post" action="" enctype="multipart/form-data" >
               {% csrf_token %}
  <input type="text" name="place_from" style="width: 200px;border:2px solid white;background-color: transparent;height: 60px;font-size: 25px;padding-left:4px;margin-left: 45px;color: white;font-weight: 200;border-radius: 2px;" id="pac-input" placeholder="From" required="required" class="cass">
  <input type="hidden" id="fromlat" name="from_lat">

  <input type="hidden" id="fromlong" name="from_long">

  <input type="hidden" id="tolat" name="to_lat">

  <input type="hidden" id="tolong" name="to_long">

<input type="text" name="place_to" style="width: 200px;border:2px solid white;background-color: transparent;height: 60px;font-size: 25px;padding-left:4px;margin-left: 25px;color: white;font-weight: 200;border-radius: 2px;" id="pac-input1" placeholder="To"  required="required" class="cass">
<input type="text" name="date" style="width: 180px;border:2px solid white;background-color: transparent;height: 60px;font-size: 25px;padding-left:4px;margin-left: 25px;color: white;font-weight: 200;border-radius: 2px;" placeholder="Date" id="datepicker" required="required" readonly  class="cass">   
<input type="text" name="max_memb" style="width: 180px;border:2px solid white;background-color: transparent;height: 60px;font-size: 25px;padding-left:4px;margin-left: 25px;color: white;font-weight: 200;border-radius: 2px;" placeholder="Max. Members" required="required" class="cass">   

<script>
  $(function() {
var a=0;
 
 
    
     $( "#datepicker" ).datepicker();
  });
  </script>
<select name="time" style="width: 200px;border:2px solid white;background-color: transparent;height: 60px;font-size: 25px;padding-left:4px;margin-left: 25px;color: white;font-weight: 200;border-radius: 2px;" placeholder="Time"  required="required" class="cass" >

<option value="00:00:00">Any Time</option>
<option value="00:30:00">12:00-1:00 AM</option>
<option value="1:30:00">1:00-2:00 AM</option>
<option value="2:30:00">2:00-3:00 AM</option>
<option value="3:30:00">3:00-4:00 AM</option>
<option value="4:30:00">4:00-5:00 AM</option>
<option value="5:30:00">5:00-6:00 AM</option>
<option value="6:30:00">6:00-7:00 AM</option>
<option value="7:30:00">7:00-8:00 AM</option>
<option value="8:30:00">8:00-9:00 AM</option>
<option value="9:30:00">9:00-10:00 AM</option>
<option value="10:30:00">10:00-11:00 AM</option>
<option value="11:30:00">11:00-12:00 AM</option>
<option value="12:30:00">12:00-1:00 PM</option>
<option value="13:30:00">1:00-2:00 PM</option>
<option value="14:30:00">2:00-3:00 PM</option>
<option value="15:30:00">3:00-4:00 PM</option>
<option value="16:30:00">4:00-5:00 PM</option>
<option value="17:30:00">5:00-6:00 PM</option>
<option value="18:30:00">6:00-7:00 PM</option>
<option value="19:30:00">7:00-8:00 PM</option>
<option value="20:30:00">8:00-9:00 PM</option>
<option value="21:30:00">9:00-10:00 PM</option>
<option value="22:30:00">10:00-11:00 PM</option>
<option value="23:30:00">11:00-12:00 PM</option>

</select>
<button class="button1" style="margin-top: -15px;margin-left: 10px;height: 50px;border-radius: 30px;background-color: transparent;border:2px solid white;"><b>Find Cabs</b></button>
</form>
</div>

<div style="width: 100%;position: absolute;top: 500px;color: white;">
  <center><h1><span>LIKE </span><span style="margin-left: 33%;">COMMENT </span><span style="margin-left: 33%;">SHARE</span></h1></center>
</div>

{% if cabs or your_cabs %}
<style type="text/css">
  .cabsrc{
    width: 650px;height: 180px;border-radius: 3px;margin-bottom: 18px;background-color: rgba(0,0,0,1);color: white;font-size: 20px;transition: all 1s;
  }
  .cabsrc {
     }
  .buts{

    background-color:rgba(74,129,122,0.6);border:none;width: 100px;float: right;margin-right: 10px;transition: all 1s;
  }
  .buts:hover{
    background-color: white;color: black;
  }
</style>

<div style="width: 100%;min-height: 100%;background-color:rgba(0,0,0,0.8);position: absolute;top: 100%;color: black;border-top: 2px solid rgb(74,129,122);padding-top: 70px;" class="cabs">

<div style="margin-top: 70px;">
  



</div>
{% if cabs or your_cabs %}
<script type="text/javascript">

$(function(){

var a=0;
 var w = window,
  d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    h = w.innerHeight|| e.clientHeight|| g.clientHeight;

  if(a==0)
   { $("body").animate({
          scrollTop: h+"px"
        }, 700);
 a=1;
  }

  $(".delcabb").click(function(){

var iid = $(this).attr("value");
var myid = $(this).children(".delcabid").attr("value");
  
  $.ajax({
               type: "POST",
               url: "../cab_request/",
               data: {'cab_id':iid,'cab_id':myid,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       alert(response.z);
    
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 

  });

});

</script>
{% endif %}
{% if your_cabs %}

<center><span style="font-size: 32px;color: white;">Your Cabs</span></center>
{% endif %}
{% for k in your_cabs %}
<center>
  <table class="cabsrc" style="">
    
      <tr>
      {%with k.cab_memb|first as p%}{% for thing in a|gory:p %}
      <td style="width: 150px;padding: 10px;padding-top: 25px;background-color: rgba(74,129,122,0.6)">
      <center><img src="/media/file_p{{thing.id}}_{{thing.prof_pic|last}}.thumbnail" style="width: 80px;height: 80px;border-radius: 7px;margin-bottom: 8px;"><br>{{thing.first_name}} {{thing.last_name}} </center></td>
      {%endfor%}{%endwith%}
      <td style="width: 500px;padding-left: 18px;">
         <span style="float: left;margin-left: 0px;">  </span>
        <span style="float: right;margin-right: 60px;font-size: 16px;"><!-- MEMBERS : 2/6 -->{{k.depart_time}} </span> <br>

       <span class="glyphicon glyphicon-flag" style="color: green;"></span>
        <span style=""> {{k.place_from}}</span> <br>
       <span class="glyphicon glyphicon-flag" style="color: red;"></span><span> {{k.place_to}}</span> <br>
        
        <table style="display: none;" class="cabbers{{k.id}}">
         {%for x in k.cab_memb%}{% for thing in a|gory:x %}
        <span style="font-size: 15px;" class="delcabs{{k.id}}"> <img src="/media/carseat.png" style="width: 20px;cursor: pointer;" title="{{thing.first_name}} {{thing.last_name}}"> </span>
        <tr>
        <td style="width: 45px;"><img src="/media/file_p{{thing.id}}_{{thing.prof_pic|last}}.thumbnail" style="width: 30px;height: 30px;border-radius: 30px;"></td>
        <td style="width: 300px;margin-left: 25px;">{{thing.first_name}} {{thing.last_name}}</td><td style="cursor: pointer;" title="Delete" class="delcabb" value="{{k.id}}"><span style="display: none;" value="{{thing.id}}" class="delcabid"></span> X</td>
        </tr>


         {%endfor%}{%endfor%} 
         </table>
        <br>
           <button class="buts sendmsg" id="sendmsg" value="{{thing.id}}" >Invite</button>
         <button class="buts editcab editcab{{k.id}}" value="{{k.id}}">Edit</button>
         <button class="buts donecab donecab{{k.id}}" value="{{k.id}}" style="display: none;">Done</button>
     <br><br>

      </td>
      </tr>
    </table>
    


  </center>
  
{%endfor%}
<script type="text/javascript">
  $(function(){

    $(".editcab").click(function(){
      var add=$(this).attr("value");
        $(".delcabs"+add).fadeOut();

      $(".cabbers"+add).delay(700).fadeIn();

      $(".editcab"+add).hide();
      $(".donecab"+add).show();

    });


    $(".donecab").click(function(){
      var add=$(this).attr("value");
      
        $(".cabbers"+add).fadeOut();

      $(".delcabs"+add).delay(700).fadeIn();

      $(".donecab"+add).hide();
      $(".editcab"+add).show();

    });

  });
</script>
{% if cabs %}

<center><span style="font-size: 32px;color: white;">Cabs Found</span></center>
{%endif%}
{% for k in cabs %}
<center>{%with k.cab_memb|first as p%}{% for thing in a|gory:p %}
  <table class="cabsrc" style="">
    
      <tr>
      <td style="width: 150px;padding: 10px;padding-top: 25px;background-color: rgba(74,129,122,0.6)">
      <center><img src="/media/file_p{{thing.id}}_{{thing.prof_pic|last}}.thumbnail" style="width: 80px;height: 80px;border-radius: 7px;margin-bottom: 8px;"><br>{{thing.first_name}} {{thing.last_name}} </center></td>
      <td style="width: 500px;padding-left: 18px;">
         <span style="float: left;margin-left: 0px;">  </span>
        <span style="float: right;margin-right: 60px;font-size: 16px;"><!-- MEMBERS : 2/6 -->{{k.depart_time}} </span> <br>

       <span class="glyphicon glyphicon-flag" style="color: green;"></span>
        <span style=""> {{k.place_from}}</span> <br>
       <span class="glyphicon glyphicon-flag" style="color: red;"></span><span> {{k.place_to}}</span>  <br>
        <span style="font-size: 15px;">Only {{k.cab_memb|length}} Seats left</span><br>
       <button class="buts sendmsg" id="sendmsg" value="{{thing.id}}" >Message</button>
         <button class="buts sendjoin" value="{{k.id}}">Join</button>   <br><br>
      </td>
      </tr>
    </table>
    {%endfor%}{%endwith%}


  </center>
  
{%endfor%}{% endif %}
</div>



    
<div class='page'>{% include 'nav.html' %}
</div>


    
<div class='page'>{% include 'chatbox.html' %}
</div>


    












 



<div class="cshide" style="display:none;">{{ csrf_token }}</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');
</script>

</body>