
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="c{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
    <link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
    <link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
    <script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
        <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">

    <script src="{% static 'js/js2.js'%}"></script>
    <title>
      Places | Zeeley
    </title>
    <link rel="icon" href="/media/file_{{count}}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <style>
    .srcgroup :focus{
      border-bottom:2px solid black;
    }
      .interest
      {
     
        border: none;
      }
      .inti
      {
        border: none;
        cursor: pointer;
      }
      </style>
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
    
</head>
<body style="background: #ffffff;">
  <div class="frame" style="background-color:transparent;">
        <div style="width:100%;position:fixed;background: #E9EBEE;top:40px;padding-left:150px;">
          <h3 style="margin-bottom: 0px;font-size:30px;color:rgb(0,152,153);">Choose City to Travel</h3> 
          <B>

<input type="text" placeholder="Search any tourist place here.." style="width:500px;height:30px;border:none;border-bottom: 2px solid grey; outline:none;background-color: transparent;transition:all 1s;" class="srcgroup"><br>
<br>
          </B>
          </div>
 
    <div class="page" style="background-color: transparent;">
    
      <div id="interest" style="border: none;padding-left: 0px;background-color: rgba(255,255,255,0);">
    <CENTER>
       
          <script type="text/javascript">
  $(function(){



$(".srcgroup").keyup(function(){
var check= 0;

var delgroups=document.getElementsByClassName("inti");
for (var i = 0; i < delgroups.length; i++) {

  //delgroups[i].style.display='inline-block';
$(delgroups[i]).fadeIn();
}
for (var i = 0; i < delgroups.length; i++) {
  var dd=delgroups[i].innerHTML;


dd=dd.split("<b>")[1];
//alert(dd);
 dd=dd.split("</b>")[0];
var s=$(".srcgroup").val();


if((" "+dd).toLowerCase().indexOf((" "+s).toLowerCase())<0)
{
  $(delgroups[i]).fadeOut();
}
if((" "+dd).toLowerCase().indexOf((" "+s).toLowerCase())>0)
{
  check=1;
  $(".nores").hide();
}



// alert(dd);
}

if(check==0){
  $(".nores").fadeIn();
}
});

  });

</script>
<div style="width:100%;margin-top:180px;">
<div class="nores" style="display:none;"><a href="../create_city">No Such City Found.. Click Here to Add a New City</a></div>          {% for c in t %}

          <div class="inti" style="background-color: rgba(255,255,255,0.6);" onclick="document.location='../city/?q={{c.city_name}}'">
            <img src="/media/file_city_{{c.id}}.thumbnail">
            <b>{{c.city_name}}</b><br>
            <span style="color:purple;">{{c.city_memb_id|length}} people Available</span>
          </div> 

          {% endfor %}
</div>

          <!-- <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/sports.jpg'%}">
            <b>Sports</b><br>10034 people Available
          </div> 
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/food.jpg'%}"> 
            <b>Food</b><br>1084 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/movie.jpg'%}">
            <b>Entertainment</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/guitar.jpg'%}">
            <b>Music</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/love.jpg'%}">
            <b>Love</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/party.jpg'%}">
            <b>Party</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" onclick="document.location='../open_intrest/?q=Dance'">
            <img src="{%static 'image/dance.jpg'%}">
            <b>Dance</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/tour.jpg'%}">
            <b>Travel</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/study.jpg'%}">
            <b>Study</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/pizza.jpg'%}">
            <b>Pizza</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/pcgame.jpg'%}">
            <b>PC Gaming</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/outdoors.jpg'%}">
            <b>Outdoors</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/mband.jpg'%}">
            <b>Music Band</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/entrepreneurship.jpg'%}">
            <b>Entrepreneurship</b><br>10034 people Available
          </div>

          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/chat.jpg'%}">
            <b>Chatting</b><br>10034 people Available
          </div>
          <div class="inti" style="background-color: rgba(255,255,255,0.6);" >
            <img src="{%static 'image/quick.jpg'%}">
            <b>Quick Interests</b><br>10034 people Available
          </div> -->
        </center>
      </div>
    </div>
  </div>
</div>
<div class="google">
  <input type="text" placeholder="Search Any Person here..." style="background: rgba(255,255,255,0.6);" class="gbox">
  <button class="button1 gg" style="width:9%;height:35px;">
    <span class="glyphicon glyphicon-search"></span>
  </button>
</div>
<div class="cshide" style="display:none;">{{ csrf_token }}</div>
{% include 'nav.html'%}
{% include 'chatbox.html'%}
</body>

  



