{% load static %}
{% load i18n %}
{% load extras %}


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/css2t.css'%}/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
 --><script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<script src="{% static 'js/jssh.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style>
	#ff{
      display:none;
      opacity:0;
      }
      .ficrtm{
        position:fixed;
        top:0px;
        background-color:white;
        height:100%;
          }

      
@media screen and (min-width: 1100px) {
.ficrtm{
width: 50%;
margin-left:20%;
margin-right:20%; 
    height: 95%;
    top:20px;
    padding-left: 5px;
    padding-right: 5px;
    position:fixed;
    background-color:white;overflow:auto;
  }
#bnu{
position:absolute;margin-top: 415px;margin-left: -66px;
}
}
@media screen and (min-width: 640px) and (max-width: 1100px) {
.ficrtm{
width: 80%;
margin-left:10%;
margin-right:10%; 
    height: 95%;
    top:20px;
    padding-left: 5px;
    padding-right: 5px;
    position:fixed;
    background-color:white;overflow:auto;
  }
#bnu{
position:absolute;margin-top: 406px;margin-left: -100px;
}
}
@media screen and (max-width: 640px) {
.ficrtm{
width: 90%;
margin-left:5%;
margin-right:5%; 
    height: 95%;
    top:20px;
    padding-left: 5px;
    padding-right: 5px;
    position:fixed;
    background-color:white;overflow:auto;
  }
#bnu{
position:absolute;margin-top: 405px;margin-left: -70px;
}
}



</style>
<script>

function putlog(id){

	//alert(id.src);
$("#putlogo").attr("src",id.src);
$("#hidlogo").val(id.src);


}

$(document).ready(function(){

 $(".focrtm").click(function(){
document.location='../home/';

});

});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body style="background-color:rgb(213, 218, 226);">
 	{% include 'nav.html' %}
</div>
<div style="width:100%;height:100%;background-color:black;opacity:0.5;position:fixed;top:0px;" class="focrtm"  ></div>

<div class="page">
	
<div style="background:url('/media/ii.jpg');background-size: 100% 100%;
    background-repeat: no-repeat;border-radius: 5px;text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;color: white;" class="ficrtm">	
<center>
   	  		 <h2 style="margin-bottom:-30px;"><div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;"class="logtm">
   	  		  <img src="/static/{{t.team_logo}}/" onclick="putlog(this)" style="width:80px;height:80px;"> 
   	  		</div> 
   	  		{{t.team_name}} </h2> 
   	  		</center> 
   	  		<br> <br><center> <h4>Join our Team &amp; Show your talent</h4> 
   	  		<div style="border:1px solid black;width:90%;border-radius:10px;height:400px;overflow-y:scroll;">
   	  		 <table style="width:100%;"><form method="post" action="" enctype="multipart/form-data" style="display:none;">
               {% csrf_token %} {%for c in a%}  <tr style="padding-left:30px;width:100%;"> <td width="15%" align="right"><div id="timg" ><img src="/media/file_{{c.id}}.jpg" style="width:100%;"></div></td><td width="70%" style="padding-left:15px;"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td><td width="5%"></td> </tr>  {%endfor%} {% if not i.id in t.team_memb %} </table></div><input type="text" style="display:none;background: rgba(255,255,255,0.6);" name="player" value="{{count}}" > <button type="submit" class="button1" style="margin-top:10px;height:30px;">Join Team</button>{%endif%}</form> </center>
               <center><a  href="../home/"><button class="button1" id="bnu" style="">Back</button></a></center>
</div>
</div>
{% include 'picframe.html'%}
</body>
