{% load static %}
{% load i18n %}

{% load extras %}


<!DOCTYPE html>
<html>
<head>
<audio id="audio" src="http://www.soundjay.com/button/beep-07.wav" autostart="false" ></audio>
    <script>
    </script>
<link rel="stylesheet" type="text/css" href="{%static 'css/cssh.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/csshm.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" href={%static 'css/cssht.css'%}/>
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'css/bootstrap-3.3.5/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<script src="{% static 'js/jssh.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width" />

<style>
.fijntm{
  position:fixed;
  top:30px;
  background-color:white;
  
  display:none;
}

body
{
    background: url(/media/back.png) no-repeat fixed 100% 100%;
}
textarea{
  background-color: rgba(255,255,255,0.5);
}
.him{
background-color: rgba(255,255,255,0.5);
}

.f4w{
  background: transparent;
}
#ff{
      display:none;
      opacity:0;
      }
    @media screen and (max-width: 680px){

.fijntm{
    width: 400px;
  margin-left:5%;
  margin-right:5%;
  height: 90%;
  }
.ficrtm{
  position:fixed;top:30px;background-color:white;height:92%;overflow:auto;display:none;margin-left:5%;margin-right:5%;
  width: 90%;
}
  .frame4{
  margin-top: 5px;
  width: 98%; 
  position: inline;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  overflow: hidden;
  /*border: 1px solid rgba(0, 86, 134, 1); 
*/}

    }

@media screen and (min-width: 680px) and (max-width: 1100px){
.ficrtm{
  position:fixed;top:30px;background-color:white;height:92%;overflow:auto;display:none;margin-left:5%;margin-right:5%;
  width: 80%;
}
.fijntm{
    width: 600px;
  margin-left:20%;
  margin-right:10%;
  height: 90%;
   }



}

@media screen and (min-width: 1100px) {
  .pdleft{
    padding-right: 50px;
    padding-left: 50px;
  }

  .ficrtm{
    position:fixed;top:30px;background-color:white;height:92%;overflow:auto;display:none;margin-left:12%;margin-right:15%;
  width: 70%;
  }

 .fijntm{
    width: 600px;
  margin-left:20%;
  margin-right:10%;
  height: 90%;
 
  }
 
  .himt{
    width: 205px;
  }
  .info{
    margin-left: -30px;
  }


      .news{
        margin-left: 310px;
      }

}
.addsubmit{
  height:25px;
  width:90px;
  font-size:12px;
  position:relative;
  top:-65px;
  left:280px;
  border-radius:4px;
}

#fotos{
  height:25px;
  opacity:0; 
  font-size:27px;
  width:90px;
  position:relative;
  top:-42px;
  left:180px;
}

.addphoto{
  height:25px;
  width:90px;
  font-size:12px;
  border-radius:4px;
  position:relative;
  left:180px;
}


@media screen and (max-width: 780px) {

.addsubmit{

  left:65%;



}

.addphoto{
  left:35%;


}

#fotos{
  left:35%;


}



}



      
      .info{
        margin-top: -2px;
        padding: 0px;
        background-color: rgba(0,0,0,0);
      }
      .shim:hover{
        background: rgba(123, 173, 243, 1);
        color: white;

transition:all 1s;
      }
      .frame4{
          background-color: rgba(0,0,0,0);
     
      }
      #f4w{
        background-color: transparent;
     padding: 0px;  
      }
      .him{margin: 0px;
        border: 3px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255,255,255,0.4); 
      }
      

</style>

<script> 

function creatm(maand){

 $(".ficrtm").fadeIn(1500); 
   $(".focrtm").fadeIn(1000);
   var k =(maand.value).split(".");
   $(".teamgrp").html(k[1]);
   $(".teamg").val(k[0]);
   
  
//console.log();

}
function jointm(maand){

  $(".fijntm").fadeIn(1500); 
      $(".focrtm").fadeIn(1000); 
      var k =(maand.value).split(".");
    $(".teamgrp").html(k[1]);



    $.ajax({
               type: "POST",
               url: "",
               data: {'typed':k[0] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       $(".vwtm").html(response.z);
                       
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });
  
//console.log();

}

function cljntm(maand){

  $(".ficljntm").fadeIn(1500); 
      $(".focrtm").fadeIn(1000); 
      var k =(maand.value).split(".");
   $(".teamgrp").html(k[1]);

     $.ajax({
               type: "POST",
               url: "",
               data: {'typedd':k[0] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       $(".clgtm").html(response.z);
                       
                       

                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });

  
//console.log();

}



$(document).ready(function(){ 

$(".back").click(function(){
  $(".ficrtm").fadeOut();
     $(".fijntm").fadeOut();
     $(".ficljntm").fadeOut(); 
     $(".focrtm").fadeOut();

});

  
    $(".focrtm").click(function(){
     $(".ficrtm").fadeOut();
     $(".fijntm").fadeOut();
     $(".ficljntm").fadeOut(); 
     $(".focrtm").fadeOut();

     
      });


  $("#jcrtm").click(function(){
   $(".jficrtm").fadeIn(1500); 
   $(".jfocrtm").fadeIn(1000);
    }); 
  $(".jfocrtm").click(function(){
   $(".jficrtm").fadeOut(); 
   $(".jfocrtm").fadeOut(); 
  }); 


    }); 

function putlog(id){

// alert(id.src);
//  $("#putlogo").attr("src",id.src); $("#hidlogo").val(id.src);
var k = id.src.split("static/");
//alert (k[1]);
 $("#putlogo").attr("src","{%static '"+k[1]+"'%}"); 
 $("#hidlogo").val(k[1]);

}
function directchat(){


  var q = $("#teamchat").val();
  //alert(q);
  
        $.ajax({
               type: "POST",
               url: "../teamcht/",
               data: {'sluge':q,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       var naam=[];
                       var chtiid=[];
                       naam.push(response.naam);
                       chtiid.push("t_"+q);
                       chatdel(naam,chtiid,rep);
                      
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    }



</script>


<script>
$(document).ready(function(){


$(".hoot").keyup(function(event){
  
  if(event.which==13){
    //alert($(this).val());
    $(this).val("");
  }
});

$('.like').click(function(){
  var abc = $(this).attr('value');
  var def = abc.split(".");
  //alert(abc);
      $.ajax({
               type: "POST",
               url: "../hit/",
               data: {'sluge':def[0],'slug': def[1] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       //alert(response.z);
                       //alert(abc);
                       //$("#hits"+abc).html(response.z+" Hits");
                       document.getElementById("hits"+abc).innerHTML="&nbsp;&nbsp;&nbsp;&nbsp;"+response.z+" Hits";
                       $("#"+def[0]+"hit"+def[1]).html("<span class='glyphicon glyphicon-heart'>&nbsp;"+response.k);

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });


$('.share').click(function(){
  var abc = $(this).attr('value');
  var def = abc.split("m");
  //alert(abc);
      $.ajax({
               type: "POST",
               url: "../share/",
               data: {'sluge':def[1],'slug': def[2] , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       alert(response.z);
                       
                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });



$('.m').click(function(){
  var q = $(this).html();
  var chatid=q.split("_");
  chtid=chatid[1].split(".");
  var naame = q.split("<td width=\"70%\"><div style=\"font-size:14px;\">");
  var naam = "";
  naam=naame[1].split("</div>");


  
        $.ajax({
               type: "POST",
               url: "../msglist/",
               data: {'sluge':chtid[0],'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       chatdel(naam,chtid,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                          

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });



$('.chtgrp').click(function(){
  var q = $(this).val();
 


  
        $.ajax({
               type: "POST",
               url: "../groupcht/",
               data: {'sluge':q,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                       
                      // $('.hid').html(response.z);
                       var rep=response.z;
                       var naam=[];
                       var chtiid=[];
                       naam.push(response.naam);
                       chtiid.push("g_"+q);
                       chatdel(naam,chtiid,rep);
                       // $("#textarea11").scrollTop($("#textarea11").prop("scrollHeight"));
                          

                       
                       // var k=$('#textarea11').html();
                       // $('#textarea11').html(k+"<br>"+response.z);
                       // $("#"+def[1]+"hits").html(response.z+" Hits")

                      // alert('Company likes count is now ' + response.likes_count);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });

  

  $('.comment').click(function(){
  var abc = $(this).attr('value');
  alert(abc);
  var d = abc.split("d");
  var def = $('.'+abc).val();
  //alert(def);
   if(def!=""){
   
      $.ajax({
               type: "POST",
               url: "../comment/",
               data: {'sluge': d[0] ,'slug': d[1] ,'coment': def , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {

                    var dataa = response.z;
                    var n = response.n;
                    //dataa=dataa.replace(/[\n+]/,"\n");
                    var dat=dataa.split("@#$");
            var str="";

            for(i=0;i<dat.length-1;i++){

              if(i%4==0){
            str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
              }
            if(i%4==1){

            str+=" <b>"+dat[i]+" :: </b>";
              }
            if(i%4==2){

            str+=dat[i]+"<br>";
              }
            

            }
            var pqr = $(".commentsss").html();
            $(".commentsss").html(pqr+str);
                       $("#textarea1").html(pqr+str);
                       $("#com"+d[0]+"l"+d[1]).html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+n+" Opines");
                       
                       console.log(response.z+"abc");
                        // alert(response.z);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          });
          } 
    });


    $('.opine').click(function(){
  var abc = $(this).attr('value');

  var def = abc.split(".");



      $.ajax({
               type: "POST",
               url: "../opine/",
               data: {'sluge': def[0] ,'slug': def[1] ,'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                    //alert(response.z);
                    var dataa = response.z;
                    //dataa=dataa.replace(/[\n+]/,"\n");
                    var dat=dataa.split("@#$");
            var str="";

            for(i=0;i<dat.length-1;i++){

              if(i%4==0){
            str+="<img src='"+dat[i]+"' style='height:40px;width:40px;border-radius:50px;'>";
              }
            if(i%4==1){

            str+=" <b>"+dat[i]+" ::</b>";
              }
            if(i%4==2){

            str+=dat[i]+"<br>";
              }
            

            }
            $(".commentsss").html(str);
            $("#textarea1").html(str);
           if(response.z!="NO"){
                        
             $("#c12").show();
              
            }
            else{
            $("#c12").hide();
              
            }
            $("#c12").scrollTop($("#textarea1").prop("scrollHeight"));
            
                       console.log(dataa);
                 },
                  error: function(rs, e) {

                   console.log(rs.responseText);
                  }
          }); 
    });

});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77401395-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
<div style="position: absolute;top: 0px;">


</div>
  <div class="page">



  
<div class="info" style="top:3.5em;position:fixed;height:100%;">
      
<div class="frame4" style="color:black;border-radius:7px;height:100%;background-color: transparent;">
<div id="f4w" style="border: none;padding:0px;">

 {% if play %}

 <b>Team Joined:
</b><br>


<div class="him" onclick="directchat();" style="border-radius: 0px;margin: 0px;border-bottom:none;padding: 0px;">
<div  style="border-radius: 0px;margin: 0px;border-bottom:none;padding: 3px;" class="shim">



<img src="/static/{{tm.team_logo}}" class="himg" style="border-radius: 4px;"><div class="himt" style="">&nbsp;&nbsp;<span><b>{{tm.team_name}}</b></span></div>


<div class="himt" style="width: 20px;"><b>{{tm.team_memb|length}}</b> </div><button style="color: black;" class="" value="{{tm.id}}" id="teamchat"><span class="glyphicon glyphicon-comment"></span></button>

</div>
<div class="hfri" style="padding: 3px;">


<br>

     <button class="button1 crtm" style="height:25px;width:140px;font-size:15px;position:relative;" value="{{c.id}}.{{c.cg_name}}" onclick="document.location='../view_team/?q={{play}}'">View Team</button>
     <button class="button1 jntm" style="height:25px;width:140px;font-size:15px;position:relative;left:10px;" value="{{c.cg_name}}" onclick="document.location='../leaveteam/'">Leave Team</button>
    {% if capt %}
    <br>
    <center>
    
    <button class="button1 jntm" style="height:25px;width:140px;font-size:15px;position:relative;left:10px;" value="{{tm.team_group}}.{{gr|search:tm.team_group}}" onclick="cljntm(this)">Challenge</button></center>

   {%endif%}


  </div>

</div>

    {% endif %}



<b>Groups Joined:
</b><br>



{%for c in gr%}











<div class="him" onclick="openin();" style="border-radius: 0px;margin: 0px;border-bottom:none;padding: 0px;">
<div  style="border-radius: 0px;margin: 0px;border-bottom:none;padding: 3px;" class="shim">



<img src="/media/file_g{{c.cg_memb_id|first}}_{{c.id}}.thumbnail" class="himg" style="border-radius: 4px;"><div class="himt" style="width: 60%">&nbsp;&nbsp;<span><b>{{c.cg_name}}</b></span></div>


<div class="himt" style="width: 20px;"><b>{{c.cg_memb_id|length}}</b> </div><button style="color: black;" class="chtgrp" value="{{c.id}}"><span class="glyphicon glyphicon-comment"></span></button>

</div>
<div class="hfri" style="display:none;padding: 3px;">


<br>

 
{% if not play %}

<button class="button1 crtm" style="background-color:rgba(70,40,250,1);height:auto;width:45%;font-size:15px;position:relative;border-radius: 4px;" value="{{c.id}}.{{c.cg_name}}" onclick="creatm(this)">Create Team</button>
 <button class="button1 jntm" style="background-color:rgba(70,40,250,1);height:25px;width:45%;font-size:15px;position:relative;left:10px;border-radius: 4px;" value="{{c.id}}.{{c.cg_name}}" onclick="jointm(this)">Join Team</button>
 {% endif %}

 
<table id="t" style="width:100%;">

{%for k in c.cg_memb_id%}

{% for thing in a|gory:k %}
{% if thing.current_intrest == i.current_intrest %}
{% if not thing.logout|delay >= 18000%}
<tr id="t1" class="m" style="padding-left:10px;width:100%;">
<td width="25%"><div id="timg" ><img src="/media/file_{{k}}.thumbnail"  style="width:100%;"></div></td><td width="70%"><div style="font-size:14px;">
          <b>{{ thing.first_name }} {{thing.lastname}}</b>
        </div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{thing.current_intrest}} </div></div></td><td width="5%"></td>
</tr>{%endif%}{% endif %}{% endfor %}
{%endfor%}
</table>
  </div>

</div>
{%endfor%}


    <!-- <table id="t6">

        <tr id="t1" class="m6" style="padding-left:10px;">
    <img src="/media/file_{{count}}" class="img-responsive" style="width:80px;height:80px;" onclick="port(this);">{{title}}
    </tr><br><br>
    {%for c in a%}
      {% if c.id in e %}
        <tr id="t1" class="m6" style="padding-left:10px;"><td width="5%">
          <td width="25%"   style="padding-right:10px;"><div id="timgh" ><img src="/media/file_{{c.id}}"  style="width:100%;"></div></td>
       -->  <!-- <img src="{% static 'image/dot.png'%}" style="width:100%;"> -->
        <!-- </td>
      <td width="70%"   style="padding-left:10px;"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
    </tr>
      {%endif%}
    {%endfor%}
      {%for c in a%}
      {% if c.id in e %}
        <tr id="t1" class="m6" style="padding-left:10px;"><td width="5%">
          <td width="25%"   style="padding-right:10px;"><div id="timgh" ><img src="/media/file_{{c.id}}"  style="width:100%;"></div></td>
<img src="{% static 'image/dot.png'%}" style="width:100%;"></td>
      <td width="70%"   style="padding-left:10px;"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td>
    </tr>
      {%endif%}
    {%endfor%}
 --> 


<!--  </table>
 -->
    </div>
    
</div>
    
      </div>
  
  

<div class="adsectn" style="height: auto;width: 258px;padding-top: 0px;padding-bottom: 30px;padding-left:0px;position: fixed;margin-left: 812px;top:4.2em;">
  


<!-- ads here  -->

</div>

</div>
</div>



  </div>
  </div>

{% include 'nav.html' %}
{% include 'frame6.html' %}

{% include 'chatbox.html' %}



<div class="google"><input type="text" placeholder="Search Any Person here..." class="gbox">
<button class="button1 gg" style="width:9%;height:35px;"><span class="glyphicon glyphicon-search"></span></button></div>

<div class="cshide" style="display:none;">{{ csrf_token }}</div>




<div style="width:100%;height:100%;background-color:black;opacity:0.5;position:fixed;top:0px;display:none;" class="focrtm" ></div>

<div class="page"> <div style="background:url('/media/ii.jpg');background-size: 100% 100%;
    background-repeat: no-repeat;border-radius: 5px;text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;color: white;" class="ficrtm"> <center><h3> Create New Team </h3>

Create new team so that other members of <span class="teamgrp"></span> can join it to play with you.
<br><br>

<table> <tr><td style="width:200px;"> <h4>Enter Team's Name </h4> </td><td><form name="editprof" method="post" action="../create_team/" enctype="multipart/form-data">
          {% csrf_token %} <input type="text" placeholder="Give a Name to your Team" style="width:250px;height:40px;background-color: rgba(255,255,255,0.6);color: black;border:non"name="team_name"></td></tr> <td></td> </table> <h4> Select logo for your team

</h4> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);background-color: rgba(255,255,255,0.6);" class="logtm"> <img src="{%static 'bb15.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb20.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb3.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb4.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'team4.jpg'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb5.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb6.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb7.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb8.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb9.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb10.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb11.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb12.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb13.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb19.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb15.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb18.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div> <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);"class="logtm"> <img src="{%static 'bb16.png'%}" onclick="putlog(this)" style="width:80px;height:80px;"> </div>
<h4> Selected logo: <div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;background-color:rgba(255,255,255,0.6);background-color: rgba(255,255,255,0.6);"class="logtm"> <img id="putlogo" onclick="putlog(this)" style="width:80px;height:80px;"> </div>


<input type="hidden" id="hidlogo" name="team_logo">
<input class="teamg" type="hidden" name="team_group" >

<br> <button class="button1" style="margin-top: 50px;">Create Team</button>


</form>
<button class="button1 back" style="">Back</button>
<!-- <div style="display:inline-block;width:55%;height:100%;margin-right:0px;border-right:1px solid black;"> <h4><center>Select Players for your Team</center></h4>

<table style="border:1px solid black;width:100%;"> <tr style="color:white;background-color: rgba(255,255,255, 0.6);"><b><td style="width:20%;">Player</td><td>Name</td><td style="width:15%;">Rating</td><td style="width:15%;">Select</td></b></tr> <tr><td>Player</td><td>Name</td><td>Rating</td><td>Select</td></tr> <tr><td>Player</td><td>Name</td><td>Rating</td><td>Select</td></tr> <tr><td>Player</td><td>Name</td><td>Rating</td><td>Select</td></tr> <tr><td>Player</td><td>Name</td><td>Rating</td><td>Select</td></tr> <tr><td>Player</td><td>Name</td><td>Rating</td><td>Select</td></tr> <tr><td>Player</td><td>Name</td><td>Rating</td><td>Select</td></tr> <tr><td>Player</td><td>Name</td><td>Rating</td><td>Select</td></tr> <tr><td>Player</td><td>Name</td><td>Rating</td><td>Select</td></tr> <tr><td>Player</td><td>Name</td><td>Rating</td><td>Select</td></tr> <tr><td>Player</td><td>Name</td><td>Rating</td><td>Select</td></tr> <tr><td>Player</td><td>Name</td><td>Rating</td><td>Select</td></tr> <tr><td>Player</td><td>Name</td><td>Rating</td><td>Select</td></tr> <tr><td>Player</td><td>Name</td><td>Rating</td><td>Select</td></tr>

</table>

</div> <div style="display:inline-block;width:44%;height:100%;margin-left:0px;"><h4><center>Selected Players</center></h4> </div> --> </div>

</div>


 <div class="page">








<div style="background:url('/media/ii.jpg');background-size: 100% 100%;
    background-repeat: no-repeat;border-radius: 5px;text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 3px 3px 5px #333;color: white;" class="fijntm">
   <center>
    <h2 style="margin-bottom: 0px;"> View Teams </h2>
     Play with other members of the group
     <br>
    </center> 
   


      <h5><center>Available Teams in Your Area</center></h5> 
    <center><div style="" class="pdleft">
        <table style="width:100%;border:none;">
     <tr style="color:white;background-color: #0078d7;"><b>
      <td style="font-size:17px;width:50%;padding-left: 30px;">Teams</td>
      <td style="width:35%;font-size:17px">Availablity</td>
      <td style="width:15%;font-size:17px"></td>
      </table>
     </div> 
     <div style="overflow-y:auto;height:auto;" class="pdleft">
  
  <table class="vwtm" style="width:100%;" >
      
    <!-- {% for c in teams %}
      
      <tr><form name="upform" method="post" action="../view_team/?q={{c.id}}" enctype="multipart/form-data" style="display:none;">
               {% csrf_token %}
        <td align="right"  style="width:10%;padding-left:50px;"><img src="{{c.team_logo}}" style="height:70px;width:70px;"></td>
        <td style="width:30%;padding-left:20px;"><a href="../view_team/?q={{c.id}}">{{c.team_name}}</a>
          </td>
        <td style="width:10%;padding-right:20px;">{{c.team_memb|length}}/11</td>
        <td style="width:30%;padding-left:90px;"><input type="text" style="display:none;" name="player" value="{{count}}" ><button type="submit">Join Team</button></td></form>
      </tr>

      {% endfor %} -->



        
      
      </table></div>
      <br><br><br><button class="button1 backposition: absolute;bottom: 0px;left:250px;">Back</button></center></div></div>
      <div style="width:100%;height:100%;background-color:black;opacity:0.5;position:fixed;top:0px;display:none;" class="jfocrtm"></div> 
      <!-- <div class="page"> 
        <div style="position:fixed;width:600px;top:20px;background-color:white;height:95%;margin-left:220px;display:none;" class="jficrtm"> 
          <center>
           <h2 style="margin-bottom:-30px;"><div style="border:1px solid black;width:90px;padding:5px;height:auto;border-radius:15px;display:inline-block;margin-top:5px;cursor:pointer;"class="logtm">
            <img src="{%static 'team2.jpg'%}" onclick="putlog(this)" style="width:80px;height:80px;"> 
          </div> 
          Rajputana Warriers </h2> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome in Rajputana Warriers</center> 
          <br> <br><center> <h4>Join our Team & Show your talent</h4> 
          <div style="border:1px solid black;width:60%;border-radius:10px;height:400px;overflow-y:scroll;">
           <table style="width:100%;"> {%for c in a%} {% if c.id in e %} <tr style="padding-left:30px;width:100%;"> <td width="15%" align="right"><div id="timg" ><img src="/media/file_{{c.id}}" style="width:100%;"></div></td><td width="70%" style="padding-left:15px;"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td><td width="5%"></td> </tr> {%endif%} {%endfor%} {%for c in a%} {% if c.id in e %} <tr style="padding-left:30px;width:100%;"> <td width="15%" align="right"><div id="timg" ><img src="/media/file_{{c.id}}" style="width:100%;"></div></td><td width="70%" style="padding-left:15px;"><div style="font-size:14px;">{{c.first_name}} {{c.last_name}}</div><div id="n" style="font-size:12px;float:left;opacity:0.5;"> {{c.current_intrest}} </div></div></td><td width="5%"> </td> </tr> {%endif%} {%endfor%} </table></div> <button class="button1" style="margin-top:10px;height:30px;">Join Team</button> </center> </div> </div> -->


<div class="page">
  <div style="position:fixed;top:50px;width:600px;margin-left:220px;background-color:white;height:550px;display:none;" class="ficljntm">
   <center>
    <h3> View Team </h3>
     Play with your Local Friends
     
    </center> 
    <h4><center>Available Teams in <span class="teamgrp"></span></center></h4> 
    <center>
        <!-- <table style="width:600px;border:1px solid black;">
     <tr style="color:white;background-color: rgba(255,255,255, 0.6);"><b>
      <td style="font-size:17px;width:10%;"></td>
      <td style="font-size:17px;width:30%;padding-left:10px;"><center>Team Name</center></td>
      <td style="width:20%;font-size:17px"><center>Available Players</center></td>
      <td style="width:30%;font-size:17px"><center>Join!!!</center></td>
      </table> -->
     </b></tr> 
    <div style="border:1px solid black;width:60%;border-radius:10px;height:450px;overflow-y:scroll;">
<!-- <table style="width:100%;">
<form name="upform" method="post" action="../challenge/" enctype="multipart/form-data" style="display:none;">
               {% csrf_token %}
               <input type="text" style="display:none;" name="teamid" value="{{tm.id}}">


{%for c in teams %}
{% if not c.team_capt == i.id %}


          

<tr>
<td align="right"  style="width:10%;padding-left:50px;"><img src="{%static '{{c.team_logo}}'%}" style="height:70px;width:70px;"></td>
        <td style="width:30%;padding-left:20px;"><a href="../view_team/?q={{c.id}}">{{c.team_name}}</a>
          </td>
        <td style="width:10%;padding-right:20px;">{{c.team_memb|length}}/11</td>
        <td style="width:30%;padding-left:90px;"><td width="5%">
<input type="checkbox" name="invited" value="{{c.id}}">

</td>
</tr>
{%endif%}


{%endfor%}


</table></div>

<button class="button1" style="margin-top:10px;height:30px;">Submit</button></form> -->
<form name="upform" method="post" action="../challenge/" enctype="multipart/form-data" style="">
               {% csrf_token %}
               <input type="text" style="display:none;" name="teamid" value="{{tm.id}}">

<table style="width:100%;">
<div class="clgtm">
</div>
</table>
<button class="button1" style="margin-top:10px;height:30px;">Submit</button></form>

</center></div></div>

{% include 'picframe.html'%}
</body>

</html>






