
{% load static %}
{% load i18n %}
{% load extras %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/css2.css'%}">
<link rel="stylesheet"  type="text/css"  type="text/css" href="{%static 'css/bootstrap-3.3.5/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css"  href="{%static 'css/bootstrap-3.3.5/css/bootstrap-theme.min.css'%}">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link media="only screen and (max-width: 680px)" rel="stylesheet" href="{%static 'css/css2m.css'%}" />
<link media="only screen and (min-width: 680px) and (max-width:1100px)" rel="stylesheet" 
 href="{%static 'css/css2t.css'%}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
 
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js'%}"></script>
<script src="{% static 'js/js2.js'%}"></script>
<title>{{title}} | Zeeley</title>
<link rel="icon" href="{% static 'newlogo.png' %}" type="image/x-icon">
<body>
<br><br><br>
{% if not myteam%}<br><br><br><br><br>
      <div style='width:100%;height:120px;padding:40px;font-size22px;'><center>Oops!! No Groups found... <br>Invite or Join Someone to Create Groups.</center></div>
      {% endif %}
 {%if myteam%}
  <div class="panel panel-default" style="box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);background:rgba(255,255,255,0.6);">
     
     <div class="" style="background-color:rgb(1,76,66);color:white;padding:10px;">Groups Chat</div>
     <div class="" style="max-height:140px;overflow-y:auto;cursor:pointer;">
      
    {% for k in myteam %}
    {%if i.id in k.team_memb%}
      <div class="panel-body mygrp{{k.id}}" style="width:260px;">
      <table>
        <tr style="border0bottom:1px solid rgba(0,0,0,0.3);"><td style="width:160px;" id="teamchat" onclick="directchat({{k.id}});" value="{{k.id}}">
          <img src="/media/intrest/{{k.team_category}}.thumbnail" style="width:35px;height:35px;margin-right:12px;">{{k.team_name|truncatechars:14}}</td>
        <td style=""><a style="text-decoration:none;width:100%;padding-left:10px;" class="dropdrm" onclick="viewmemb({{k.id}})" title="View Members"><img src="/media/newmedia/viewgrp.png" style="width:30px;display:inline-block;" alt="View Members"></a>
          <a style="text-decoration:none;width:100%;padding-left:10px;" class="dropdrm" onclick="leavegrp({{k.id}})"  value="{{k.id}}" title="Leave Group"><span class="glyphicon glyphicon-trash"></span></a>

<!--          <div class="dropdownn" style="float:right;margin-right:10px;">
   <a style="color:black;">
    <button class="btn" style="border:none;background:transparent;">
  <img src="/media/intrest/3dot.png" style="width:10px;">
    </button></a>
  <div class="dropdownn-content" style="z-index:3000;">

    <div style="text-decoration:none;width:100%;padding-left:10px;" class="dropdrm" onclick="viewmemb({{k.id}})">View Members</div>
<div style="text-decoration:none;width:100%;padding-left:10px;" class="dropdrm" onclick="leavegrp({{k.id}})"  value="{{k.id}}">Leave Group</div>

  </div>
</div>
+
 -->

       </td></tr>
      </table>
        
        </div>
        {%endif%}
      {%endfor%}
    </div>
    
    </div>
{%endif%}
<div class="page">
  {% include 'nav.html'%}
</div>

{% include 'frame6.html'%}
{% include 'chatbox.html'%}

</body>
</html>